@model Kartverket.DOK.Models.ThemeGroup

@{
    ViewBag.Title = "Slett temagruppe";
}
<h1>@ViewBag.Title</h1>

<h3>Er du sikker på at du vil slette denne?</h3>

<div class="alert alert-danger">OBS! OBS! Ved sletting av temagruppe vil alle tilknyttede datasett også slettes!!</div>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Slett" class="btn btn-default" />
        </div>
    }
    <br/><br/>
    <p>@Html.ActionLink("Tilbake til oversikten", "Index")</p>
</div>
