@using Kartverket.Register.Helpers
@using Kartverket.Register.Models
@model Kartverket.Register.Models.Organization
﻿@using Kartverket.Register.Helpers

@{
    ViewBag.Title = "Foreslå ny organisasjon";
}

@section breadcrumb {

    @foreach (var register in HtmlHelperExtensions.registers(Model.register))
    {
        <li><a href="@register.GetObjectUrl()">@register.name</a></li>
    }
    <li><a href="@Model.register.GetObjectUrl()">@Html.DisplayFor(model => model.register.name)</a></li>
    <li>Ny</li>
}
<section class="heading">
    <div class="row">
        <div class="col-sm-12">
            <h2>
                Ny Organisasjon
            </h2>
        </div>
        <div class="col-sm-12">
            <span class="separator-lg"></span>
        </div>
    </div>
</section>

@using (Html.BeginForm("Create", "Organizations", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    
    if (Model.register.parentRegister != null)
{
    <input type="hidden" value="@Model.register.parentRegister.seoname" id="registerParent" name="registerParent" />
}

    <input type="hidden" value="@Model.register.seoname" id="registername" name="registername" />
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})

        @Html.Partial("_Fields", Model)
    </div>
    <div class="form-group">
        <hr />
        <input type="submit" value="@Registers.Propose" class="btn btn-default pull-right" />
        <a href="@Model.GetObjectUrl()">@Shared.Back</a>
    </div>

}

@section scripts
{
    <script src="~/Scripts/register-organization-crud.js"></script>
}
