@model Kartverket.Register.Models.Organization
﻿@using Kartverket.Register.Helpers

@{
    ViewBag.Title = UI.Edit;
}

@section breadcrumb {
    <li><a href="/register/@Model.register.seoname"> @Html.DisplayFor(model => model.register.name)</a></li>
    <li><a href="/register/@Model.register.seoname/@Model.submitter.seoname/@Model.seoname"> @Html.DisplayFor(model => model.name)</a></li>
    <li class="active">Rediger</li>
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm("Edit", "Organizations", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @*@Html.AntiForgeryToken()*@

    <div class="form-horizontal">
        <h4>@Html.DisplayName(Model.name)</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.systemId)
        @Html.HiddenFor(model => model.registerId)
        @*@Html.HiddenFor(model => model.number)*@

        <div class="form-group">
            <label class="control-label col-md-2" for="SubmitterID">Innsender: </label>
            <div class="col-md-10">
                @Html.DropDownList("SubmitterID", String.Empty)
                @Html.ValidationMessageFor(model => model.submitterId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessage("ErrorMessage")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.shortname, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.shortname, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.shortname, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.number, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.number, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.number, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.logoFilename, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.contact, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.contact, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.contact, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="statusId">Status: </label>
            <div class="col-md-5">
                @Html.DropDownList("statusId")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.logoFilename, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <br />
                <p><img src="@Url.Content("~/data/organizations/" +  Model.logoFilename)" /></p>
                <input type="file" name="fileSmal" />
                @Html.ValidationMessageFor(model => model.logoFilename, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.largeLogo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <br />
                <p><img src="@Url.Content("~/data/organizations/" +  Model.largeLogo)" /></p>
                <input type="file" name="fileLarge" />
                @Html.ValidationMessageFor(model => model.largeLogo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lagre" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<hr />
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <p>
        <a href="/register/@Model.register.seoname/@Model.submitter.seoname/@Model.seoname/">Tilbake</a>
    </p>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
