@model IEnumerable<Kartverket.Register.Models.Organization>

@{
    ViewBag.Title = UI.Organizations;
}

<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-8">
        <p><b>ID</b> <a href="/organisasjon/">http://register.geonorge.no/organisasjon</a></p>
        <p>Inneholder organisasjoner og logoer</p>
        <p><b>Administrator</b>: Kartverket     <b>Kontrollorgan</b>: Kartverket</p>
    </div>
    <div class="col-md-4 text-right">
        <p>Maskinelt tilgjengelige format (ikke navigerbar/implementert)</p>
        <a class="btn btn-warning" href="atom.xml">Atom</a>
        <a class="btn btn-warning" href="rdf.xml">RDF</a>
        <a class="btn btn-warning" href="data.json">Json</a>
    </div>
</div>

<p>
    @Html.ActionLink(UI.CreateNew, "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LogoFilename)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <img src="@Url.Content("~/data/organizations/" + item.LogoFilename)"/>
        </td>
        <td>
            @Html.ActionLink(UI.Edit, "Edit", new { id=item.Number }) |
            @Html.ActionLink(UI.Details, "Details", new { id = item.Number }) |
            @Html.ActionLink(UI.Delete, "Delete", new { id = item.Number })
        </td>
    </tr>
}

</table>
