@model Kartverket.Register.Models.InspireDataset

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>InspireDataset</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.DokStatus.description)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DokStatus.description)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.InspireDeliveryAtomFeed.StatusId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.InspireDeliveryAtomFeed.StatusId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.InspireDeliveryDistribution.StatusId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.InspireDeliveryDistribution.StatusId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.InspireDeliveryHarmonizedData.StatusId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.InspireDeliveryHarmonizedData.StatusId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.InspireDeliveryMetadata.StatusId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.InspireDeliveryMetadata.StatusId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.InspireDeliveryMetadataService.StatusId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.InspireDeliveryMetadataService.StatusId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.InspireDeliverySpatialDataService.StatusId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.InspireDeliverySpatialDataService.StatusId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.InspireDeliveryWfs.StatusId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.InspireDeliveryWfs.StatusId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.InspireDeliveryWfsOrAtom.StatusId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.InspireDeliveryWfsOrAtom.StatusId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.InspireDeliveryWms.StatusId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.InspireDeliveryWms.StatusId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Owner.name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Owner.name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Register.name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Register.name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Status.description)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Status.description)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Submitter.name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Submitter.name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Theme.description)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Theme.description)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Uuid)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Uuid)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Notes)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Notes)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SpecificUsage)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SpecificUsage)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ProductSheetUrl)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ProductSheetUrl)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PresentationRulesUrl)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PresentationRulesUrl)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ProductSpecificationUrl)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ProductSpecificationUrl)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MetadataUrl)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MetadataUrl)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DistributionFormat)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DistributionFormat)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DistributionUrl)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DistributionUrl)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DistributionArea)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DistributionArea)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.WmsUrl)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.WmsUrl)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DatasetThumbnail)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DatasetThumbnail)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DokStatusDateAccepted)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DokStatusDateAccepted)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Seoname)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Seoname)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DateSubmitted)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DateSubmitted)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Modified)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Modified)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
