@model IEnumerable<Kartverket.Register.Models.InspireDataset>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DokStatus.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InspireDeliveryAtomFeed.StatusId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InspireDeliveryDistribution.StatusId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InspireDeliveryHarmonizedData.StatusId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InspireDeliveryMetadata.StatusId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InspireDeliveryMetadataService.StatusId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InspireDeliverySpatialDataService.StatusId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InspireDeliveryWfs.StatusId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InspireDeliveryWfsOrAtom.StatusId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InspireDeliveryWms.StatusId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Register.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Submitter.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Theme.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uuid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecificUsage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductSheetUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PresentationRulesUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductSpecificationUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MetadataUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DistributionFormat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DistributionUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DistributionArea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WmsUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatasetThumbnail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DokStatusDateAccepted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seoname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateSubmitted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modified)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DokStatus.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InspireDeliveryAtomFeed.StatusId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InspireDeliveryDistribution.StatusId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InspireDeliveryHarmonizedData.StatusId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InspireDeliveryMetadata.StatusId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InspireDeliveryMetadataService.StatusId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InspireDeliverySpatialDataService.StatusId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InspireDeliveryWfs.StatusId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InspireDeliveryWfsOrAtom.StatusId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InspireDeliveryWms.StatusId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Register.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Submitter.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Theme.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uuid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpecificUsage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductSheetUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PresentationRulesUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductSpecificationUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MetadataUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DistributionFormat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DistributionUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DistributionArea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WmsUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatasetThumbnail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DokStatusDateAccepted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seoname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateSubmitted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modified)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.SystemId }) |
                @Html.ActionLink("Details", "Details", new { id=item.SystemId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.SystemId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
