@model PagedList.IPagedList<RegisterItem>
@using Kartverket.Register.Models
@using Kartverket.Register.Helpers

<div class="table-view">
    <div class="table-heading search-results-table-heading col-md-12">
        <div class="col-md-3 col-sm-12 col">@HtmlHelperExtensions.OrderByLink(Request.QueryString["sorting"], Request.QueryString["text"], Alerts.ServiceName, "name")</div>
        <div class="col-md-2 col-sm-12 col">@HtmlHelperExtensions.OrderByLink(Request.QueryString["sorting"], Request.QueryString["text"], Alerts.TableHeder_alert, "alert")</div>
        <div class="col-md-3 col-sm-12 col">@HtmlHelperExtensions.OrderByLink(Request.QueryString["sorting"], Request.QueryString["text"], Registers.Owner, "owner")</div>
        <div class="col-md-1 col-sm-12 col">@HtmlHelperExtensions.OrderByLink(Request.QueryString["sorting"], Request.QueryString["text"], Alerts.TableHeader_description, "description")</div>
        <div class="col-md-1 col-sm-12 col">@HtmlHelperExtensions.OrderByLink(Request.QueryString["sorting"], Request.QueryString["text"], Alerts.TableHeader_alertDate, "alertdate")</div>
        <div class="col-md-2 col-sm-12 col text-right">@HtmlHelperExtensions.OrderByLink(Request.QueryString["sorting"], Request.QueryString["text"], Alerts.TableHeader_effektivedate, "effektivedate")</div>
    </div>

    @foreach (Alert item in Model)
    {
        <div class="resultItemRow col-md-12">
            <div class="col-sm-12 col-md-3 col">
                <a href="@item.UrlExternal" class="show-loading-animation" data-loading-message="@Registers.LoadingMessage">@item.NameTranslated()</a>
            </div>
            <div class="col-md-2 col-sm-12 col">
                <p>@item.AlertTypeTranslated()</p>
            </div>
            <div class="col-md-3 col-sm-12 col">
                <p>@item.OwnerTranslated()</p>
            </div>
            <div class="col-md-1 col-sm-12 col">
                <a href="@item.GetObjectUrl()" title="Beskrivelse av @item.NameTranslated()" class="show-loading-animation" data-loading-message="@Registers.LoadingMessage">@Shared.Details</a>
            </div>
            <div class="col-md-1 col-sm-12 col">
                <p>@Html.DisplayFor(model => item.AlertDate)</p>
            </div>
            <div class="col-md-2 col-sm-12 col text-right">
                <p>@Html.DisplayFor(model => item.EffectiveDate)</p>
            </div>
        </div>
    }
</div>