﻿@using Kartverket.Register.Helpers
@model PagedList.IPagedList<Kartverket.Register.Models.RegisterItem>
@using PagedList;
@using PagedList.Mvc;
@using Kartverket.Register.Models

<div class="search-filter-wrapper">
    <ul class="nav nav-tabs col-sm-12 col-md-12 col-lg-12">
        <li class="active">
            <span>Viser @Model.FirstItemOnPage - @Model.LastItemOnPage av @Model.TotalItemCount treff</span>
        </li>
        <li class="pull-right">
            @Html.PagedListPager(Model, page => Url.Action("Details", new { page, sorting = ViewBag.SortOrder, text = Session["text"].ToString(), filterVertikalt = Session["filterVertikalt"].ToString(), filterHorisontalt = Session["filterHorisontalt"].ToString(), InspireRequirement = Session["InspireRequirement"].ToString(), nationalRequirement = Session["nationalRequirement"].ToString(), nationalSeaRequirement = Session["nationalSeaRequirement"].ToString() }))
        </li>
    </ul>
    @Html.Partial("_visningstyper")
</div>

<h3>Kodeliste</h3>
<hr/>
<div class="register codelist search-results">

    @foreach (Kartverket.Register.Models.CodelistValue item in Model)
    {
        <div class="row result-row metadata">
            <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12" style="height: auto; border: medium none; box-shadow: none;">
                <div class="col-title col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    @if (item.register.parentRegister != null)
                    {
                        <a class="" href="/subregister/@item.register.parentRegister.seoname/@item.register.parentRegister.owner.seoname/@item.register.seoname/@item.submitter.seoname/@item.seoname">
                            <h3 class="role-button" style="font-size: 15px;">
                                @item.name
                            </h3>
                        </a>
                    }
                    else
                    {
                        <a class="" href="/register/@item.register.seoname/@item.submitter.seoname/@item.seoname">
                            <h3 class="role-button" style="font-size: 15px;">
                                @item.name
                            </h3>
                        </a>
                    }
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-descripton">
                    <p>@item.description</p>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-actions">
                    @if (item.value != null)
                    {
                        <p title="Kodeverdi: @item.value"><span>Kodeverdi: </span>@item.value</p>
                    }
                    else
                    {
                        <p title="Kodeverdi: Ikke angitt"><span>Kodeverdi: </span>Ikke angitt</p>
                    }
                </div>
                <div class="col-no-padding-xs col-information col-md-2 col-lg-2">
                    @if (item.status == null)
                    {
                        <p title="Status: Ikke angitt"><span>Status: </span>Ikke angitt</p>
                    }
                    else
                    {
                        <p title="Status: @item.status.description"><span>Status: </span>@Html.DisplayFor(model => item.status.description) <i class="statusIcon-@Html.DisplayFor(model => item.statusId)"></i></p>
                    }
                </div>
            </div>

        </div>
        <hr />
    }
    
</div>

<br />

<div class="search-filter-wrapper">

    <div class="margin-top nav nav-pills col-sm-12 col-md-12 col-lg-12">
        @*TODO! Gjør det samme som med skos!*@
        <a href="@Request.Url&export=csv" class="btn btn-sm btn-default" title="Eksporter til CSV"><span class="glyphicon glyphicon-export"></span>CSV</a>
        <a href="@Request.Url&export=gml" class="btn btn-sm btn-default" title="Eksporter til GML (Beta)"><span class="glyphicon glyphicon-export"></span>GML (Beta)</a>
        <a href="@HtmlHelperExtensions.urlFormat(Request, "skos")" class="btn btn-sm btn-default" title="Eksporter til SKOS(Beta)"><span class="glyphicon glyphicon-export"></span>SKOS (Beta)</a>
        <br /><br /><br />   
    </div>
    
    <ul class="nav nav-tabs col-sm-12 col-md-12 col-lg-12">
        <li class="active">
            <span>Viser @Model.FirstItemOnPage - @Model.LastItemOnPage av @Model.TotalItemCount treff</span>
        </li>
        <li class="pull-right">
            @Html.PagedListPager(Model, page => Url.Action("Details", new { page, sorting = ViewBag.SortOrder, text = Session["text"].ToString(), filterVertikalt = Session["filterVertikalt"].ToString(), filterHorisontalt = Session["filterHorisontalt"].ToString(), InspireRequirement = Session["InspireRequirement"].ToString(), nationalRequirement = Session["nationalRequirement"].ToString(), nationalSeaRequirement = Session["nationalSeaRequirement"].ToString() }))
        </li>
    </ul>
</div>
