@using Kartverket.Register.Helpers
@model PagedList.IPagedList<Kartverket.Register.Models.RegisterItem>

<h3 style="margin-top: 0px;">Kodeliste</h3>
<div class="register codelist search-results">
    @foreach (Kartverket.Register.Models.CodelistValue item in Model)
    {
        <div class="row result-row metadata">
            <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12" style="height: auto; border: medium none; box-shadow: none;">

                <div class="col-title col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    @if (item.register.parentRegister != null)
                    {
                        <a href="/subregister/@item.register.parentRegister.seoname/@item.register.parentRegister.owner.seoname/@item.register.seoname/@item.submitter.seoname/@item.seoname" class="show-loading-animation" data-loading-message="Henter innhold">
                            @item.name
                        </a>
                    }
                    else
                    {
                        <a class="" href="/register/@item.register.seoname/@item.submitter.seoname/@item.seoname">
                            @item.name
                        </a>
                    }
                </div>

                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-descripton">
                    <p>@item.description</p>
                </div>

                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-actions">
                    @if (item.value != null)
                    {
                        <p title="Kodeverdi: @item.value"><span>Kodeverdi: </span>@item.value</p>
                    }
                    else
                    {
                        <p title="Kodeverdi: Ikke angitt"><span>Kodeverdi: </span>Ikke angitt</p>
                    }
                </div>

                <div class="col-no-padding-xs col-information col-md-2 col-lg-2">
                    @if (item.status == null)
                    {
                        <p title="@Html.Raw(HtmlHelperExtensions.StatusBeskrivelse(item.register))"><span>Status: </span>Ikke angitt</p>
                    }
                    else
                    {
                        <p title="@Html.Raw(HtmlHelperExtensions.StatusBeskrivelse(item.register))"><span>Status: </span>@Html.DisplayFor(model => item.status.description) <i class="statusIcon-@Html.DisplayFor(model => item.statusId)"></i></p>
                    }
                </div>

            </div>
        </div>
        <hr />
    }
</div>
