@using Kartverket.Register.Helpers
@model Kartverket.Register.Models.ViewModels.DocumentViewModel
﻿@using Kartverket.Register.Helpers

@{
    string thumb;
    thumb = Model.Thumbnail ?? "/Content/pdf.jpg";
}

<article>
    <div class="row">
        <div class="col-sm-12">
            <h3>@Registers.Current</h3>
        </div>
        <div class="col-md-12">
            <div class="col-sm-12 col-md-2 col">
                @if (Model.DocumentUrl.Contains("ikke angitt") && !string.IsNullOrEmpty(Model.ApplicationSchema))
                {
                <span class="custom-icon custom-icon-l custom-icon-file-xml"></span>
                }
                else if (Model.DocumentUrl.Contains("ikke angitt"))
                {
                <img src="@HtmlHelperExtensions.GetThumbnail(Model.Thumbnail)" class="img-thumbnail img-responsive pull-left" alt="forside pdf" />
                }
                else
                {
                <a href="@Html.DisplayFor(model => Model.DocumentUrl)"><img src="@thumb" class="img-thumbnail img-responsive pull-left" alt="forside pdf" /></a>
                }
            </div>
            <div class="col-sm-12 col-md-4 col">
                <p title="@Html.Raw(HtmlHelperExtensions.StatusBeskrivelse(Model.Register))">
                    <strong>Status: </strong>@Model.Status.DescriptionTranslated() <i class="statusIcon-@Model.StatusId"></i>
                </p>
                <p><strong>@Html.DisplayNameFor(i => Model.VersionNumber) : </strong>@Model.VersionNumber</p>
                <p><strong>@Registers.VersionName: </strong>@Model.VersionName</p>
            </div>
            <div class="col-sm-12 col-md-2 col">
                @if (Model.DocumentUrl.Contains("ikke angitt"))
                {
                    <a href="@Html.DisplayFor(modelItem => Model.DocumentUrl)" class="btn disabled btn-block" title="@Documents.NoDocumentFor @Model.Name">
                        <span class="glyphicon glyphicon-download-alt"> </span>@Shared.Download
                    </a>
                }
                else
                {
                    <a href="@Html.DisplayFor(modelItem => Model.DocumentUrl)" class="btn btn-block" title="Last ned dokument for @Model.Name">
                        <span class="glyphicon glyphicon-download-alt"> </span>@Shared.Download
                    </a><br />
                }

                @if (!string.IsNullOrEmpty(Model.ApplicationSchema))
                {
                    <a href="@Html.DisplayFor(modelItem => Model.ApplicationSchema)" class="btn btn-block" title="Vis UML-modell for @Model.Name" target="_blank">
                        <span class="custom-icon custom-icon-eksternlink"> </span> Vis UML-modell
                    </a><br />
                }

                @if (!string.IsNullOrEmpty(Model.GmlApplicationSchema))
                {
                    <a href="@Html.DisplayFor(modelItem => Model.GmlApplicationSchema)" class="btn btn-block" title="Vis UML-modell for @Model.Name" target="_blank">
                        <span class="custom-icon custom-icon-eksternlink"> </span> Vis GML-skjema
                    </a><br />
                }

                @if (!string.IsNullOrEmpty(Model.CartographyFile))
                {
                    <a href="@Html.DisplayFor(modelItem => Model.CartographyFile)" class="btn btn-block" title="Vis kartografi-fil for @Model.Name" target="_blank">
                        <span class="custom-icon custom-icon-eksternlink"> </span> Vis kartografi-fil
                    </a><br />
                }
            </div>
            <div class="col-sm-12 col-md-4 col">
                <p><strong>@Registers.Updated: </strong>@Html.DisplayFor(modelItem => Model.Modified)</p>

                @if (Model.DateAccepted != null)
                {
                    <p><strong>@Registers.Accepted: </strong>@Html.DisplayFor(modelItem => Model.DateAccepted)</p>
                }
                @if (Model.ApprovalDocument != null)
                {
                    <p><strong>@Registers.ApprovalDocument: </strong><br />@Html.DisplayFor(modelItem => Model.ApprovalDocument)</p>
                }
                @if (Model.ApprovalReference != null)
                {
                    <p>
                        <strong>@Registers.ApprovalReference: </strong><a href="@Html.DisplayFor(modelItem => Model.ApprovalReference)">@Shared.Details <i class="custom-icon-sm custom-icon-eksternlink"></i></a>
                    </p>
                }
                @if (Model.DateSuperseded != null)
                {
                    <p><strong>@Registers.Superseded: </strong>@Html.DisplayFor(modelItem => Model.DateSuperseded)</p>
                }
                @if (Model.DateRetired != null)
                {
                    <p><strong>@Registers.Retired: </strong>@Html.DisplayFor(modelItem => Model.DateRetired)</p>
                }
                @if (Model.DateNotAccepted != null)
                {
                    <p><strong>@Registers.Draft </strong>@Html.DisplayFor(modelItem => Model.DateNotAccepted)</p>
                }
            </div>
        </div>
    </div>
</article>