@using Kartverket.Register.Helpers
@model Kartverket.Register.Models.ViewModels.DocumentViewModel
﻿@using Kartverket.Register.Helpers




<article class="col-md-12">
    <h3>Gjeldende versjon</h3>
</article>


<div class="col-sm-12 row">
    <div class="col-sm-12 col-md-2 col">
        @{
            string thumb;
            thumb = Model.Thumbnail ?? "/Content/pdf.jpg";
        }
        @if (Model.DocumentUrl.Contains("ikke angitt") && !string.IsNullOrEmpty(Model.ApplicationSchema))
        {
            <span class="custom-icon custom-icon-l custom-icon-file-xml"></span>
        }
        else if (Model.DocumentUrl.Contains("ikke angitt"))
        {
            <img src="@HtmlHelperExtensions.GetThumbnail(Model.Thumbnail)" class="img-thumbnail img-responsive pull-left" alt="forside pdf" />
        }
        else
        {
            <a href="@Html.DisplayFor(model => Model.DocumentUrl)"><img src="@thumb" class="img-thumbnail img-responsive pull-left" alt="forside pdf" /></a>
        }
    </div>
    <div class="col-sm-12 col-md-4">
        <p>
            @Model.Name
        </p>

        
        <p>
            @Model.Description
        </p>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3">
        @if (Model.DocumentUrl.Contains("ikke angitt"))
            {
            <a href="@Html.DisplayFor(modelItem => Model.DocumentUrl)" class="btn disabled" title="@Documents.NoDocumentFor @Model.Name">
                <span class="glyphicon glyphicon-download-alt"> </span>@Shared.Download
            </a><br />
        }
        else
        {
            <a href="@Html.DisplayFor(modelItem => Model.DocumentUrl)" class="btn" title="Last ned dokument for @Model.Name">
                <span class="glyphicon glyphicon-download-alt"> </span>@Shared.Download
            </a><br />
        }

        @if (!string.IsNullOrEmpty(Model.ApplicationSchema))
            {
            <a href="@Html.DisplayFor(modelItem => Model.ApplicationSchema)" class="btn" title="Vis UML-modell for @Model.Name" target="_blank">
                <span class="custom-icon custom-icon-eksternlink"> </span> Vis UML-modell
            </a><br />
        }

        @if (!string.IsNullOrEmpty(Model.GmlApplicationSchema))
            {
            <a href="@Html.DisplayFor(modelItem => Model.GmlApplicationSchema)" class="btn" title="Vis UML-modell for @Model.Name" target="_blank">
                <span class="custom-icon custom-icon-eksternlink"> </span> Vis GML-skjema
            </a><br />
        }

        @if (!string.IsNullOrEmpty(Model.CartographyFile))
            {
            <a href="@Html.DisplayFor(modelItem => Model.CartographyFile)" class="btn" title="Vis kartografi-fil for @Model.Name" target="_blank">
                <span class="custom-icon custom-icon-eksternlink"> </span> Vis kartografi-fil
            </a><br />
        }

        @*@if (Request.IsAuthenticated)
            {
                if (HtmlHelperExtensions.AccessRegisterItem(item))
                {
                    if ((Model.currentVersion.statusId == "Submitted" || Model.currentVersion.statusId == "Draft" || HtmlHelperExtensions.IsAdmin()))
                    {
                        if (Model.currentVersion.register.parentRegister != null)
                        {
                            if (Model.currentVersion.statusId != "Retired" && Model.currentVersion.statusId != "Superseded")
                            {
                            <a href="/dokument/@Model.currentVersion.register.parentRegister.seoname/@Model.currentVersion.register.parentRegister.owner.seoname/@Model.currentVersion.register.seoname/@item.documentowner.seoname/@item.seoname/rediger?vnr=@item.versionNumber" class="btn btn-default btn-sm" title="Rediger @item.name">@Shared.Edit</a>
                        }
                        <a href="/dokument/@Model.currentVersion.register.parentRegister.seoname/@Model.currentVersion.register.parentRegister.owner.seoname/@Model.currentVersion.register.seoname/@item.documentowner.seoname/@item.seoname/slett?vnr=@item.versionNumber" class="btn btn-default btn-sm" title="Slett @item.name">@Shared.Delete</a>
                    }
                    else
                    {
                        if (Model.currentVersion.statusId != "Retired" && Model.currentVersion.statusId != "Superseded")
                        {
                            <a href="/dokument/@Model.currentVersion.register.seoname/@item.documentowner.seoname/@item.seoname/rediger?vnr=@item.versionNumber" class="btn" title="Rediger @item.name">@Shared.Edit</a>
                        }
                        <a href="/dokument/@Model.currentVersion.register.seoname/@item.documentowner.seoname/@item.seoname/slett?vnr=@item.versionNumber" class="btn" title="Slett @item.name">@Shared.Delete</a>
                    }
                }
            }
        }*@
    </div>
    <div class="col-sm-12 col-md-3">
        <p title="@Html.Raw(HtmlHelperExtensions.StatusBeskrivelse(Model.Register))"><span>Status: </span>@Model.Status.DescriptionTranslated() <i class="statusIcon-@Model.StatusId"></i></p>
        <p><span>@Html.DisplayNameFor(i => Model.VersionNumber) : </span>@Model.VersionNumber</p>
        @if (!string.IsNullOrWhiteSpace(Model.VersionName))
            {
            <p><span>@Registers.VersionName: </span>@Model.VersionName</p>
        }
        <p>@Registers.Updated: @Html.DisplayFor(modelItem => Model.Modified)</p>
        @if (Model.ApprovalDocument != null)
            {
            <p>@Registers.ApprovalDocument: @Html.DisplayFor(modelItem => Model.ApprovalDocument)</p>
        }
        @if (Model.ApprovalReference != null)
            {
            <p>@Registers.ApprovalReference: <a href="@Html.DisplayFor(modelItem => Model.ApprovalReference)">@Shared.Details <i class="custom-icon-sm custom-icon-eksternlink"></i></a></p>
        }
        @if (Model.DateAccepted != null)
            {
            <p>@Registers.Accepted: @Html.DisplayFor(modelItem => Model.DateAccepted)</p>
        }
        @if (Model.DateSuperseded != null)
            {
            <p>@Registers.Superseded: @Html.DisplayFor(modelItem => Model.DateSuperseded)</p>
        }
        @if (Model.DateRetired != null)
            {
            <p>@Registers.Retired: @Html.DisplayFor(modelItem => Model.DateRetired)</p>
        }
        @if (Model.DateNotAccepted != null)
            {
            <p>@Registers.Draft: @Html.DisplayFor(modelItem => Model.DateNotAccepted)</p>
        }
    </div>
</div>