@model PagedList.IPagedList<Kartverket.Register.Models.RegisterItem>
﻿@using Kartverket.Register.Helpers
@using PagedList;
@using PagedList.Mvc;
@using Kartverket.Register.Models

<div class="search-filter-wrapper">
    <ul class="nav nav-tabs col-sm-12 col-md-12 col-lg-12">
        <li class="active">
            <span>Viser @Model.FirstItemOnPage - @Model.LastItemOnPage av @Model.TotalItemCount treff</span>
        </li>
        <li class="pull-right">
            @Html.PagedListPager(Model, page => Url.Action("Details", new { page, sorting = ViewBag.SortOrder, text = Session["text"].ToString(), filterVertikalt = Session["filterVertikalt"].ToString(), filterHorisontalt = Session["filterHorisontalt"].ToString(), InspireRequirement = Session["InspireRequirement"].ToString(), nationalRequirement = Session["nationalRequirement"].ToString(), nationalSeaRequirement = Session["nationalSeaRequirement"].ToString() }))
        </li>
    </ul>
    @Html.Partial("_visningstyper")
</div>

<div class="register dataset search-results">
    @foreach (Dataset item in Model)
    {
        <div class="row result-row metadata">
            <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12" style="height: auto; border: medium none; box-shadow: none;">
                <div class="col-img col-xs-12 col-sm-12 col-md-2 col-lg-2">

                    @if (item.register.parentRegister != null)
                    {
                        <a class="" href="/subregister/@item.register.parentRegister.seoname/@item.register.parentRegister.owner.seoname/@item.register.seoname/@item.datasetowner.seoname/@item.seoname/">
                            <img src="@item.datasetthumbnail" class="img-responsive pull-left" alt="Thumbnail for @item.name">
                        </a>
                    }
                    else
                    {
                        <a class="" href="/register/@item.register.seoname/@item.datasetowner.seoname/@item.seoname/">
                            <img src="@item.datasetthumbnail" class="img-responsive pull-left" alt="Thumbnail for @item.name" />
                        </a>
                    }

                </div>
                <div class="col-title col-xs-12 col-sm-12 col-md-5 col-lg-5">
                    @if (item.register.parentRegister != null)
                    {
                        <a class="" href="/subregister/@item.register.parentRegister.seoname/@item.register.parentRegister.owner.seoname/@item.register.seoname/@item.datasetowner.seoname/@item.seoname/">
                            <h3 class="role-button" style="font-size: 15px;">
                                @item.name
                            </h3>
                        </a>
                    }
                    else
                    {
                        <a class="" href="/register/@item.register.seoname/@item.datasetowner.seoname/@item.seoname/">
                            <h3 class="role-button" style="font-size: 15px;">
                                @item.name
                            </h3>
                        </a>
                    }
                    <a href="/register/@item.register.seoname/@item.datasetowner.seoname/" title="Datasett eier: @item.datasetowner.name">
                        <img src="@Url.Content("~/data/organizations/" +  item.datasetowner.logoFilename)" class="img-responsive img-small-logo hidden-print" alt="@Html.DisplayFor(modelItem => item.datasetowner.name)" />
                    </a>
                    <div class="orglogo">
                        <a href="/register/@item.register.seoname/@item.datasetowner.seoname/" title="Datasett eier: @item.datasetowner.name">
                            @Html.DisplayFor(modelItem => item.datasetowner.name)
                        </a>
                    </div>

                    <a class="beskrivelse-print visible-print" href="/register/@item.register.seoname/@item.datasetowner.seoname/" title="Datasett eier: @item.datasetowner.name">
                        <p>Eier: @Html.DisplayFor(modelItem => item.datasetowner.name)</p>
                    </a>

                    <br class="hidden-print" />
                    <div class="hidden-print">
                        @if (item.description != null)
                        {
                            <p>
                                @if (item.description.Length < 80)
                                {
                                    @item.description.Substring(0, item.description.Length)
                                    <a class="hidden-print" href="/register/@Html.ToUrl(item.register.name)/@Html.ToUrl(item.datasetowner.name)/@Html.ToUrl(item.name)/" title="Vis mer info om @item.name">vis mer info</a>
                                }
                                else
                                {
                                    @item.description.Substring(0, 80)<text>...</text>
                                    <a class="hidden-print" href="/register/@Html.ToUrl(item.register.name)/@Html.ToUrl(item.datasetowner.name)/@Html.ToUrl(item.name)/" title="Vis mer info om @item.name">vis mer info</a>
                                }
                            </p>
                        }
                    </div>
                    <p class="visible-print">@item.description</p>
                </div>
                <div class="col-actions col-xs-6 col-sm-3 col-md-2 col-lg-2">
                    <ul style="list-style-type:none">
                        @if (!string.IsNullOrWhiteSpace(item.MetadataUrl))
                        {
                            <li>
                                <a href="@item.MetadataUrl" class="btn btn-sm btn-fresh-green" title="Vis metadata for @item.name"><span class="glyphicon glyphicon-globe"></span>Metadata</a>
                            </li>
                        }
                        else
                        {
                            <li>
                                &nbsp;
                            </li>
                        }
                        @if (!string.IsNullOrWhiteSpace(item.ProductSheetUrl))
                        {
                            <li>
                                <a href="@item.ProductSheetUrl" class="btn btn-sm btn-fresh-blue" title="Last ned produktark for @item.name"><span class="glyphicon glyphicon-info-sign"></span>Produktark</a>
                            </li>
                        }
                        else
                        {
                            <li>
                                &nbsp;
                            </li>
                        }
                        @if (!string.IsNullOrWhiteSpace(item.PresentationRulesUrl))
                        {
                            <li>
                                <a href="@item.PresentationRulesUrl" class="btn btn-sm btn-fresh-green" title="Last ned tegneregler for @item.name"><span class="glyphicon glyphicon-picture"></span>Tegneregler</a>
                            </li>
                        }
                        else
                        {
                            <li>
                                &nbsp;
                            </li>
                        }
                        @if (!string.IsNullOrWhiteSpace(item.ProductSpecificationUrl))
                        {
                            <li>
                                <a href="@item.ProductSpecificationUrl" class="btn btn-sm btn-fresh-blue" title="Last ned produktspesifikasjon for @item.name"><span class="glyphicon glyphicon-list-alt"></span>Produktspesifikasjon</a>
                            </li>
                        }
                        else
                        {
                            <li>
                                &nbsp;
                            </li>
                        }

                    </ul>
                </div>
                <div class="col-information col-xs-6 col-sm-3 col-md-3 col-lg-3 col-actions">
                    <ul style="list-style-type:none">
                        @if (!string.IsNullOrWhiteSpace(item.DistributionFormat) && item.DistributionFormat.Trim().ToLower().Equals("sosi"))
                        {
                            <li title="Sosi: Ja">
                                <span>SOSI:</span> ja
                            </li>
                        }
                        else
                        {
                            <li title="Sosi: Nei">
                                <span>SOSI:</span> Nei
                            </li>
                        }

                        @if (!string.IsNullOrWhiteSpace(item.WmsUrl))
                        {
                            <li>
                                <a href="@item.WmsUrl" title="WMS lag for @item.name">WMS</a>
                            </li>

                        }
                        else
                        {
                            <li>
                                &nbsp;
                            </li>
                        }
                        @if (item.status == null)
                        {
                            <li title="Status: Ikke angitt"><span>Status: </span>Ikke angitt</li>
                        }
                        else
                        {
                            <li title="Status: @item.status.description"><span>Status: </span>@Html.DisplayFor(model => item.status.description) <i class="statusIcon-@Html.DisplayFor(model => item.statusId)"></i></li>
                        }
                        @if (item.ThemeGroupId != null)
                        {
                            <li title="Temagruppe: @item.theme.description">
                                <span>Gruppe: </span>@item.theme.description
                            </li>
                        }
                        else
                        {
                            <li title="Temagruppe: Ikke angitt"><span>Gruppe: </span>Ikke angitt</li>
                        }
                    </ul>

                </div>

            </div>

        </div>
        <hr />
    }
</div>

<div class="search-filter-wrapper">
    <br /><br />
    <ul class="nav nav-tabs col-sm-12 col-md-12 col-lg-12">
        <li class="active">
            <span>Viser @Model.FirstItemOnPage - @Model.LastItemOnPage av @Model.TotalItemCount treff</span>
        </li>
        <li class="pull-right">
            @Html.PagedListPager(Model, page => Url.Action("Details", new { page, sorting = ViewBag.SortOrder, text = Session["text"].ToString(), filterVertikalt = Session["filterVertikalt"].ToString(), filterHorisontalt = Session["filterHorisontalt"].ToString(), InspireRequirement = Session["InspireRequirement"].ToString(), nationalRequirement = Session["nationalRequirement"].ToString(), nationalSeaRequirement = Session["nationalSeaRequirement"].ToString() }))
        </li>
    </ul>
</div>




