@using Kartverket.Register.Helpers
@model Kartverket.Register.Models.ViewModels.MareanoDatasetViewModel

@helper Status(bool criteria)
{
    if (criteria)
    {
       <i class="fa fa-check"></i>
    }
    else
    {
       <i class="fa fa-times"></i>
    }
}

@if (!string.IsNullOrEmpty(Model.SpecificUsage))
{
    <article class="col-md-12">
        <h3>@Html.DisplayNameFor(model => Model.SpecificUsage)</h3>
        <p> @Model.SpecificUsage</p>
    </article>
}

<article class="col-md-12">
    <h3>DOK-status</h3>
    <p title="@Html.Raw(HtmlHelperExtensions.DokStatusBeskrivelse())"><strong>DOK-status: </strong>@Model.DokStatus.DescriptionTranslated() <i class="statusIcon-@Model.DokStatusId"></i></p>
    <p><strong>@Html.DisplayNameFor(model => Model.DokStatusDateAccepted): </strong>@Html.DisplayFor(modelItem => Model.DokStatusDateAccepted)</p>
    <p><strong>@Registers.Updated: </strong>@Html.DisplayFor(model => model.Modified)</p>
</article>

<article class="col-md-12">
    <h3>FAIR status: @Model.FAIRStatus.DescriptionTranslated() (@Model.FAIRStatusPerCent<span>%</span>)</h3>
    <div class="row">
        <div class="col-md-12"><p>@MareanoDataSet.Findable_Label</p></div>
    </div>
    <div class="col-md-12">
        <div class="col-md-offset-1 col-md-11">@MareanoDataSet.F1_Label</div>
    </div>
    <div class="col-md-12">
        <div class="col-md-offset-2 col-md-10">@Status(Model.F1_a_Criteria)@MareanoDataSet.F1_a_Criteria</div>
    </div>
    <div class="col-md-12">
        <div class="col-md-offset-1 col-md-11">@MareanoDataSet.F2_Label</div>
    </div>
    <div class="col-md-12">
        <div class="col-md-offset-2 col-md-10">@MareanoDataSet.F2_a_Criteria</div>
    </div>
    <div class="col-md-12">
        <div class="col-md-offset-2 col-md-10">@MareanoDataSet.F2_b_Criteria</div>
    </div>
    <div class="col-md-12">
        <div class="col-md-offset-2 col-md-10">@MareanoDataSet.F2_c_Criteria</div>
    </div>
    <div class="col-md-12">
        <div class="col-md-offset-1 col-md-11">@MareanoDataSet.F3_Label</div>
    </div>
    <div class="col-md-12">
        <div class="col-md-offset-2 col-md-10">@MareanoDataSet.F3_a_Criteria</div>
    </div>
    <div class="col-md-12">
        <div class="col-md-offset-1 col-md-11">@MareanoDataSet.F4_Label</div>
    </div>
    <div class="col-md-12">
        <div class="col-md-offset-2 col-md-10">@MareanoDataSet.F4_a_Criteria</div>
    </div>
    <div class="row">
        <div class="col-md-12"><p>@MareanoDataSet.Accesible_Label</p></div>
    </div>
    <div class="col-md-12">
        <div class="col-md-offset-1 col-md-11">@MareanoDataSet.A1_Label</div>
    </div>
    <div class="col-md-12">
        <div class="col-md-offset-2 col-md-10">@MareanoDataSet.A1_a_Criteria</div>
    </div>
    <div class="col-md-12">
        <div class="col-md-offset-2 col-md-10">@MareanoDataSet.A1_b_Criteria</div>
    </div>
    <div class="col-md-12">
        <div class="col-md-offset-2 col-md-10">@MareanoDataSet.A1_c_Criteria</div>
    </div>
    <div class="col-md-12">
        <div class="col-md-offset-2 col-md-10">@MareanoDataSet.A1_d_Criteria</div>
    </div>
    <div class="col-md-12">
        <div class="col-md-offset-2 col-md-10">@MareanoDataSet.A1_e_Criteria</div>
    </div>
    <div class="col-md-12">
        <div class="col-md-offset-2 col-md-10">@MareanoDataSet.A1_f_Criteria</div>
    </div>
    <div class="col-md-12">
        <div class="col-md-offset-1 col-md-11">@MareanoDataSet.A2_Label</div>
    </div>
    <div class="col-md-12">
        <div class="col-md-offset-2 col-md-10">@MareanoDataSet.A2_a_Criteria</div>
    </div>
    <div class="row">
        <div class="col-md-12"><p>@MareanoDataSet.Interoperable_Label</p></div>
    </div>
    <div class="col-md-12">
        <div class="col-md-offset-1 col-md-11">@MareanoDataSet.I1_Label</div>
    </div>
    <div class="col-md-12">
        <div class="col-md-offset-2 col-md-10">@MareanoDataSet.I1_a_Criteria</div>
    </div>
    <div class="col-md-12">
        <div class="col-md-offset-2 col-md-10">@MareanoDataSet.I1_b_Criteria</div>
    </div>
    <div class="col-md-12">
        <div class="col-md-offset-2 col-md-10">@MareanoDataSet.I1_c_Criteria</div>
    </div>
    <div class="col-md-12">
        <div class="col-md-offset-1 col-md-11">@MareanoDataSet.I2_Label</div>
    </div>
    <div class="col-md-12">
        <div class="col-md-offset-2 col-md-10">@MareanoDataSet.I2_a_Criteria</div>
    </div>
    <div class="col-md-12">
        <div class="col-md-offset-2 col-md-10">@MareanoDataSet.I2_b_Criteria</div>
    </div>
    <div class="col-md-12">
        <div class="col-md-offset-1 col-md-11">@MareanoDataSet.I3_Label</div>
    </div>
    <div class="col-md-12">
        <div class="col-md-offset-2 col-md-10">@MareanoDataSet.I3_a_Criteria</div>
    </div>
    <div class="col-md-12">
        <div class="col-md-offset-2 col-md-10">@MareanoDataSet.I3_b_Criteria</div>
    </div>
    <div class="row">
        <div class="col-md-12"><p>@MareanoDataSet.ReUseable_Label</p></div>
    </div>
    <div class="col-md-12">
        <div class="col-md-offset-1 col-md-11">@MareanoDataSet.R1_Label</div>
    </div>
    <div class="col-md-12">
        <div class="col-md-offset-2 col-md-10">@MareanoDataSet.R1_a_Criteria</div>
    </div>
    <div class="col-md-12">
        <div class="col-md-offset-1 col-md-11">@MareanoDataSet.R2_Label</div>
    </div>
    <div class="col-md-12">
        <div class="col-md-offset-2 col-md-10">@MareanoDataSet.R2_a_Criteria</div>
    </div>
    <div class="col-md-12">
        <div class="col-md-offset-2 col-md-10">@MareanoDataSet.R2_b_Criteria</div>
    </div>
    <div class="col-md-12">
        <div class="col-md-offset-2 col-md-10">@MareanoDataSet.R2_c_Criteria</div>
    </div>
    <div class="col-md-12">
        <div class="col-md-offset-2 col-md-10">@MareanoDataSet.R2_d_Criteria</div>
    </div>
    <div class="col-md-12">
        <div class="col-md-offset-2 col-md-10">@MareanoDataSet.R2_e_Criteria</div>
    </div>
    <div class="col-md-12">
        <div class="col-md-offset-2 col-md-10">@MareanoDataSet.R2_f_Criteria</div>
    </div>
    <div class="col-md-12">
        <div class="col-md-offset-1 col-md-11">@MareanoDataSet.R3_Label</div>
    </div>
    <div class="col-md-12">
        <div class="col-md-offset-2 col-md-10">@MareanoDataSet.R3_a_Criteria</div>
    </div>
    <div class="col-md-12">
        <div class="col-md-offset-2 col-md-10">@MareanoDataSet.R3_b_Criteria</div>
    </div>
</article>

<article class="col-md-12">
    <h3>Mareano status</h3>
    <div class="row">
        <div class="col-md-12"><p><a href="@Html.DokEvaluationCriteriaUrl()" target="_blank">@DataSet.DOK_EvaluationCriteria</a></p></div>
    </div>
    <div class="table-heading col-md-12">
        <div class="col-md-3 col">@DataSet.DOK_AssessmentPoint.ToUpper()</div>
        <div class="col-md-2 col">@DataSet.DOK_StatusValueHeader.ToUpper()</div>
        <div class="col-md-7 col">@DataSet.Comment.ToUpper()</div>
    </div>
    <div class="resultItemRow col-md-12">
        <div class="col-md-3 col">@Html.DisplayNameFor(model => Model.MetadataStatusId)</div>
        <div class="col-md-2 col"> @Model.MetadataStatus.DescriptionTranslated()</div>
        <div class="col-md-7 col">@Html.DisplayFor(model => Model.MetadataNote)</div>
    </div>
    <div class="resultItemRow col-md-12">
        <div class="col-md-3 col">@Html.DisplayNameFor(model => Model.ProductSpesificationStatusId)</div>
        <div class="col-md-2 col">@Model.ProductSpesificationStatus.DescriptionTranslated()</div>
        <div class="col-md-7 col">@Html.DisplayFor(model => Model.ProduktspesifikasjonNote)</div>
    </div>
    <div class="resultItemRow col-md-12">
        <div class="col-md-3 col">@Html.DisplayNameFor(model => Model.SosiDataStatusId)</div>
        <div class="col-md-2 col">@Model.SosiDataStatus.DescriptionTranslated()</div>
        <div class="col-md-7 col">@Html.DisplayFor(model => Model.SosiDataNote)</div>
    </div>
    <div class="resultItemRow col-md-12">
        <div class="col-md-3 col">@Html.DisplayNameFor(model => Model.GmlDataStatusId)</div>
        <div class="col-md-2 col">@Model.GmlDataStatus.DescriptionTranslated()</div>
        <div class="col-md-7 col">@Html.DisplayFor(model => Model.GmlDataNote)</div>
    </div>
    <div class="resultItemRow col-md-12">
        <div class="col-md-3 col">@Html.DisplayNameFor(model => Model.WmsStatusId)</div>
        <div class="col-md-2 col">@Model.WmsStatus.DescriptionTranslated()</div>
        <div class="col-md-7 col">@Html.DisplayFor(model => Model.WmsNote)</div>
    </div>
    <div class="resultItemRow col-md-12">
        <div class="col-md-3 col">@Html.DisplayNameFor(model => Model.WfsStatusId)</div>
        <div class="col-md-2 col">@Model.WfsStatus.DescriptionTranslated()</div>
        <div class="col-md-7 col">@Html.DisplayFor(model => Model.WfsNote)</div>
    </div>
    <div class="resultItemRow col-md-12">
        <div class="col-md-3 col">@Html.DisplayNameFor(model => Model.AtomFeedStatusId)</div>
        <div class="col-md-2 col">@Model.AtomFeedStatus.DescriptionTranslated()</div>
        <div class="col-md-7 col">@Html.DisplayFor(model => Model.AtomFeedNote)</div>
    </div>
    <div class="resultItemRow col-md-12">
        <div class="col-md-3 col">@Html.DisplayNameFor(model => Model.CommonStatusId)</div>
        <div class="col-md-2 col">@Model.CommonStatus.DescriptionTranslated()</div>
        <div class="col-md-7 col">@Html.DisplayFor(model => Model.CommonNote)</div>
    </div>
</article>


@if (!string.IsNullOrWhiteSpace(Model.MetadataUrl))
{
    <article class="col-md-12">
        <h3>@DataSet.ProductInformation</h3>
        <p><a href="@Model.MetadataUrl" class="btn btn-fresh-green"><span class="glyphicon glyphicon-globe"></span> @DataSet.DisplayKartkatalogen</a></p>
    </article>
}