@model Kartverket.Register.Models.EPSG

<article class="col-md-12">
    <h3>@EPSGs.EpsgCode</h3>
    <p><strong>EPSG: </strong>@Html.DisplayFor(modelItem => Model.epsgcode)</p>
    <p><strong>@Html.DisplayNameFor(m => m.externalReference): </strong><a href="@Model.externalReference">@Shared.Details<i class="custom-icon-sm custom-icon-eksternlink"></i></a></p>
</article>

<article class="col-sm-12 col-md-6">
    <h3>Referansesystem</h3>
    <p><strong>@Html.DisplayNameFor(m => m.sosiReferencesystem): </strong>@Html.DisplayFor(modelItem => Model.sosiReferencesystem)</p>
    <p><strong>@Html.DisplayNameFor(m => m.verticalReferenceSystem): </strong>@Html.DisplayFor(modelItem => Model.verticalReferenceSystem)</p>
    <p><strong>@Html.DisplayNameFor(m => m.horizontalReferenceSystem): </strong>@Html.DisplayFor(modelItem => Model.horizontalReferenceSystem)</p>
    <p><strong>@Html.DisplayNameFor(m => m.dimensionId): </strong>@Model.dimension.DescriptionTranslated()</p>
</article>

<article class="col-sm-12 col-md-6">
    <h3>Krav</h3>
    <p><strong>@Html.DisplayNameFor(m => m.inspireRequirementId): </strong>@Model.inspireRequirement.DescriptionTranslated()</p>
    <p><strong>@Html.DisplayNameFor(m => m.nationalRequirementId): </strong>@Model.nationalRequirement.DescriptionTranslated()</p>
    <p><strong>@Html.DisplayNameFor(m => m.nationalSeasRequirementId): </strong>@Model.nationalSeasRequirement.DescriptionTranslated()</p>
</article>

