@model Kartverket.Register.Models.Organization

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            Liten logo:
        </div>
        <div class="col-lg-9 col-md-9 col-sm-6 col-xs-6">
            <img src="@Url.Content("~/data/organizations/" +  Model.logoFilename)" class="img-small" alt="logo" />
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            Stor logo:
        </div>
        <div class="col-lg-9 col-md-9 col-sm-6 col-xs-6">
            <img src="@Url.Content("~/data/organizations/" +  Model.largeLogo)" class="img-large" alt="logo" />
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <p>Kontaktperson: @Html.DisplayFor(m => m.contact)</p>
        <p>Epost: @Html.DisplayFor(m => m.epost)</p>
        <p>
            Norge digitalmedlem:
            @if (Model.member == true)
            {
                <span>Ja</span>
            }
            else if (Model.member == false)
            {
                <span>Nei</span>
            }
            else
            {
                <span>Ikke angitt</span>
            }
        </p>
        <p>Avtale godkjent år: @Html.DisplayFor(m => m.agreementYear)</p>
        <p>
            Avtaledokument:
            @if (!string.IsNullOrWhiteSpace(Model.agreementDocumentUrl))
            {   
                if (Model.agreementDocumentUrl.Contains("http://"))
                {
                    <a href="@Model.agreementDocumentUrl">Vis</a>
                }
                else
                {
                    <a href="http://@Model.agreementDocumentUrl">Vis</a>
                }
            }
            else
            {
                <span>Ikke angitt</span>
            }
        </p>
        <p>
            Prisskjema/Kalkulator:
            @if (!string.IsNullOrWhiteSpace(Model.priceFormDocument))
            {
                if (Model.priceFormDocument.Contains("http://"))
                {
                    <a href="@Model.priceFormDocument">Vis</a>
                }
                else
                {
                    <a href="http://@Model.priceFormDocument">Vis</a>
                }
            }
            else
            {
                <span>Ikke angitt</span>
            }
        </p>
    </div>

</div>
