@using Kartverket.Register.Helpers
@model Kartverket.Register.Models.ViewModels.FairDatasetViewModel
<script>
    var show = true;
    function ToogleContent(element) {

        if ($(element).hasClass("active")) {
            $(element).removeClass("active");
            $(element).closest(".dataset-list").removeClass("active");
            $(element).closest(".toggle-content-button").removeClass("active");
            show = true;
        } else {
            $(element).addClass("active");
            $(element).closest(".dataset-list").addClass("active");
            $(element).closest(".toggle-content-button").addClass("active");
            show = false;
        }
    }
</script>
@helper RawText(string s)
{
    @(new HtmlString(s))
}
@helper Status(bool? criteria)
{
    if (criteria == null)
    {
        <i class="fa fa-minus"></i>
    }
    else if (criteria.HasValue && criteria.Value)
    {
        <i class="fa fa-check"></i>
    }
    else
    {
        <i class="fa fa-times"></i>
    }
}


@if (!string.IsNullOrEmpty(Model.SpecificUsage))
{
    <article class="col-md-12">
        <h3>@Html.DisplayNameFor(model => Model.SpecificUsage)</h3>
        <p> @Model.SpecificUsage</p>
    </article>
}
<article id="fair" class="col-md-12 nested">
    <h3 onclick="ToogleContent(this)">@FairDataSet.RatingLabel</h3>
    <p>@FairDataSet.RatingDescription</p>
    <div class="dataset-list metadata">
        <p class="toggle-content-button" onclick="ToogleContent(this)">
            <span class="showmore">@FairDataSet.lesmer</span>
            <span class="showless">@FairDataSet.lesmindre</span>

        </p>

        <div class="criteria-list no-indent">
            <div class="row">
                <div class="col-md-1 icon"><span data-toggle="tooltip" data-placement="bottom" title="100%"><span class="custom-icon custom-icon-smile-green"></span></span></div>
                <div class="col-md-11"><p>@FairDataSet.RatingGood</p></div>
            </div>
            <div class="row">
                <div class="col-md-1 icon"><span data-toggle="tooltip" data-placement="bottom" title="80%"><span class="custom-icon custom-icon-smile-yellow-satisfactory"></span></span></div>
                <div class="col-md-11"><p>@FairDataSet.RatingSatisfactory</p></div>
            </div>
            <div class="row">
                <div class="col-md-1 icon"><span data-toggle="tooltip" data-placement="bottom" title="65%"><span class="custom-icon custom-icon-smile-yellow"></span></span></div>
                <div class="col-md-11"><p>@FairDataSet.RatingEmoprovements</p></div>
            </div>
            <div class="row">
                <div class="col-md-1 icon"><span data-toggle="tooltip" data-placement="bottom" title="30%"><span class="custom-icon custom-icon-smile-red"></span></span></div>
                <div class="col-md-11"><p>@FairDataSet.RatingBad</p></div>
            </div>
        </div>
    </div>
</article>
<article class="col-md-12 nested">
    <section>
    <h3>FAIR-status: @HtmlHelperExtensions.GetDokDeliveryStatusSymbol(Model.FAIRStatus.value, null, Model.FAIRStatusPerCent + "%", "fair") @Model.FAIRStatusPerCent%</h3>
    <div class="dataset-list metadata">
        <div class="row">
            <div class="col-md-1 icon">@HtmlHelperExtensions.GetDokDeliveryStatusSymbol(Model.FindableStatus.value, null, Model.FindableStatusPerCent + "%", "fair") @Model.FindableStatusPerCent%</div>
            <div class="col-md-11">
                <p><strong>@FairDataSet.Findable_Label: </strong>@FairDataSet.Findable_Description</p>
                <p class="toggle-content-button" onclick="ToogleContent(this)">

                    <span class="showmore">@FairDataSet.sedetaljer</span>
                    <span class="showless">@FairDataSet.lesmindre</span>
                </p>
            </div>

        </div>
        <div class="criteria-list col-md-push-2">
            <ul>
                <li>
                    @FairDataSet.F1_Label
                <ul>
                    <li>@Status(Model.F1_a_Criteria)@FairDataSet.F1_a_Criteria</li>
                </ul>
            </li>
        </ul>
        <ul>
            <li>
                @FairDataSet.F2_Label
                <ul>
                    <li>@Status(Model.F2_a_Criteria)@FairDataSet.F2_a_Criteria</li>

                    <li>@Status(Model.F2_b_Criteria)@FairDataSet.F2_b_Criteria</li>

                    <li>@Status(Model.F2_c_Criteria)@FairDataSet.F2_c_Criteria</li>

                    <li>@Status(Model.F2_d_Criteria)@FairDataSet.F2_d_Criteria</li>

                    <li>@Status(Model.F2_e_Criteria)@FairDataSet.F2_e_Criteria</li>
                </ul>
        <li>
    </ul>

    <ul>
        <li>
            @FairDataSet.F3_Label
        <ul>
            <li>@Status(Model.F3_a_Criteria)@FairDataSet.F3_a_Criteria</li>
        </ul>
    </li>
</ul>

<ul>
    <li>
        @FairDataSet.F4_Label
    <ul>
        <li>@Status(Model.F4_a_Criteria)@FairDataSet.F4_a_Criteria</li>
    </ul>
</li>
</ul>

</div>
</div>
<div class="dataset-list metadata">
    <div class="row">
        <div class="col-md-1 icon">@HtmlHelperExtensions.GetDokDeliveryStatusSymbol(Model.AccesibleStatus.value, null, Model.AccesibleStatusPerCent + "%", "fair") @Model.AccesibleStatusPerCent%</div>
        <div class="col-md-11">
            <p><strong>@FairDataSet.Accesible_Label:</strong> @FairDataSet.Accesible_Description </p>
            <p onclick="ToogleContent(this)" class="toggle-content-button">
                <span class="showmore">@FairDataSet.sedetaljer</span>
                <span class="showless">@FairDataSet.lesmindre</span>
            </p>
        </div>

    </div>
    <div class="criteria-list">
        <ul>
            <li>
                @FairDataSet.A1_Label
            <ul>
                <li>@Status(Model.A1_a_Criteria)@FairDataSet.A1_a_Criteria</li>
                <li>@Status(Model.A1_b_Criteria)@FairDataSet.A1_b_Criteria</li>
                <li>@Status(Model.A1_c_Criteria)@FairDataSet.A1_c_Criteria</li>
                <li>@Status(Model.A1_d_Criteria)@FairDataSet.A1_d_Criteria</li>
                <li>@Status(Model.A1_e_Criteria)@FairDataSet.A1_e_Criteria</li>
                <li>@Status(Model.A1_f_Criteria)@FairDataSet.A1_f_Criteria</li>
            </ul>
        </li>
    </ul>

    <ul>
        <li>@FairDataSet.A2_Label</li>
    </ul>
</div>
</div>
<div class="dataset-list metadata">
    <div class="row">
        <div class="col-md-1 icon">@HtmlHelperExtensions.GetDokDeliveryStatusSymbol(Model.InteroperableStatus.value, null, Model.InteroperableStatusPerCent + "%", "fair") @Model.InteroperableStatusPerCent%</div>
        <div class="col-md-11">
            <p><strong>@FairDataSet.Interoperable_Label:</strong> @FairDataSet.Interoperable_Description</p>
            <p onclick="ToogleContent(this)" class="toggle-content-button">
                <span class="showmore">@FairDataSet.sedetaljer</span>
                <span class="showless">@FairDataSet.lesmindre</span>
            </p>
        </div>

    </div>
    <div class="criteria-list">
        <ul>
            <li>
                @FairDataSet.I1_Label
            <ul>
                <li>@Status(Model.I1_a_Criteria)@FairDataSet.I1_a_Criteria</li>

                <li>@Status(Model.I1_b_Criteria)@FairDataSet.I1_b_Criteria</li>

                <li>@Status(Model.I1_c_Criteria)@FairDataSet.I1_c_Criteria</li>
            </ul>
        </li>
    </ul>

    <ul>
        <li>
            @FairDataSet.I2_Label
        <ul>
            <li>@Status(Model.I2_a_Criteria)@FairDataSet.I2_a_Criteria</li>
            <li>@Status(Model.I2_b_Criteria)@FairDataSet.I2_b_Criteria</li>
        </ul>
    </li>
</ul>

<ul>
    <li>
        @FairDataSet.I3_Label
    <ul>
        <li>@Status(Model.I3_a_Criteria)@FairDataSet.I3_a_Criteria</li>
        <li>@Status(Model.I3_b_Criteria)@FairDataSet.I3_b_Criteria</li>
    </ul>
</li>
</ul>

</div>
</div>
<div class="dataset-list metadata">
    <div class="row">

        <div class="col-md-1 icon"> @HtmlHelperExtensions.GetDokDeliveryStatusSymbol(Model.ReUseableStatus.value, null, Model.ReUseableStatusPerCent + "%", "fair") @Model.ReUseableStatusPerCent%</div>
        <div class="col-md-11">
            <p><strong>@FairDataSet.ReUseable_Label:</strong> @FairDataSet.ReUseable_Description</p>
            <p onclick="ToogleContent(this)" class="toggle-content-button">
                <span class="showmore">@FairDataSet.sedetaljer</span>
                <span class="showless">@FairDataSet.lesmindre</span>
            </p>
        </div>
    </div>
    <div class="criteria-list">
        <ul>
            <li>
                @FairDataSet.R1_Label
                <ul>
                    <li>@Status(Model.R1_a_Criteria)@FairDataSet.R1_a_Criteria</li>
                    <li>@Status(Model.R1_a_Criteria)@FairDataSet.R1_b_Criteria</li>
                </ul>
        </li>
    </ul>
    <ul>
        <li>
            @FairDataSet.R2_Label
            <ul>
                <li>@Status(Model.R2_a_Criteria)@FairDataSet.R2_a_Criteria</li>
                <li>@Status(Model.R2_b_Criteria)@FairDataSet.R2_b_Criteria</li>
                <li>@Status(Model.R2_c_Criteria)@FairDataSet.R2_c_Criteria</li>
                <li>@Status(Model.R2_d_Criteria)@FairDataSet.R2_d_Criteria</li>
                <li>@Status(Model.R2_e_Criteria)@FairDataSet.R2_e_Criteria</li>
                <li>@Status(Model.R2_f_Criteria)@FairDataSet.R2_f_Criteria</li>
                <li>@Status(Model.R2_f_Criteria)@FairDataSet.R2_g_Criteria</li>
                <li>@Status(Model.R2_f_Criteria)@FairDataSet.R2_h_Criteria</li>
            </ul>
    </li>
</ul>
<ul>
    <li>
        @FairDataSet.R3_Label
    <ul>
        <li>@Status(Model.R3_a_Criteria)@FairDataSet.R3_a_Criteria</li>

        <li>@Status(Model.R3_b_Criteria)@FairDataSet.R3_b_Criteria</li>
    </ul>
</li>
</ul>
</div>
</div>
</section>
</article>


@if (!string.IsNullOrWhiteSpace(Model.MetadataUrl))
{
    <article class="col-md-12">
        <h3>@DataSet.ProductInformation</h3>
        <p><a href="@Model.MetadataUrl" class="btn btn-fresh-green"><span class="glyphicon glyphicon-globe"></span> @DataSet.DisplayKartkatalogen</a></p>
    </article>
}