@using Kartverket.Register.Helpers
@model Kartverket.Register.Models.ViewModels.DocumentViewModel

@{
    string thumb = HtmlHelperExtensions.GetThumbnail(Model.Thumbnail, Model.DocumentUrl);
}

<article>
        <div class="col-md-12">
            <div class="col-sm-12 col-md-2 col">
                @if (Model.DocumentUrl.Contains("ikke angitt") && !string.IsNullOrEmpty(Model.ApplicationSchema))
                {
                    <span class="custom-icon custom-icon-l custom-icon-file-xml"></span>
                }
                else if (Model.DocumentUrl.Contains("ikke angitt"))
                {
                    <img src="@HtmlHelperExtensions.GetThumbnail(Model.Thumbnail)" class="img-thumbnail img-responsive pull-left" alt="forside pdf" />
                }
                else
                {
                    <a href="@Html.DisplayFor(model => Model.DocumentUrl)"><img src="@thumb" class="img-thumbnail img-responsive pull-left" alt="forside pdf" /></a>
                }
            </div>
            <div class="col-sm-12 col-md-2 col">
                @if (!string.IsNullOrEmpty(Model.DocumentUrl2))
                {
                    <a href="@Html.DisplayFor(modelItem => Model.DocumentUrl2)" class="btn btn-block" target="_blank" title="Dokument for @Model.Name">
                        <span class="glyphicon glyphicon-link"> </span>@Shared.DisplayDocument
                    </a><br />

                    if (!Model.DocumentUrl.Contains("ikke angitt"))
                    {
                        <a href="@Html.DisplayFor(modelItem => Model.DocumentUrl)" class="btn btn-block" title="Last ned dokument for @Model.Name">
                            <span class="glyphicon glyphicon-download-alt"> </span>@Shared.Download
                        </a><br />
                    }
                }

                else
                {
                    if (Model.DocumentUrl.Contains("ikke angitt"))
                    {
                        <a href="@Html.DisplayFor(modelItem => Model.DocumentUrl)" class="btn disabled btn-block" title="@Documents.NoDocumentFor @Model.Name">
                            <span class="glyphicon glyphicon-download-alt"> </span>@Shared.Download
                        </a>
                    }
                    else
                    {
                        <a href="@Html.DisplayFor(modelItem => Model.DocumentUrl)" class="btn btn-block" title="Last ned dokument for @Model.Name">
                            <span class="glyphicon glyphicon-download-alt"> </span>@Shared.Download
                        </a><br />
                    }
                }
                @if (!string.IsNullOrEmpty(Model.UmlModelTreeStructureLink))
                {
                    <a href="@Html.DisplayFor(modelItem => Model.UmlModelTreeStructureLink)" class="btn btn-block" title="Vis datamodell for @Model.Name" target="_blank">
                        <span class="custom-icon custom-icon-eksternlink"> </span> Vis UML-modell
                    </a><br />
                }
                @if (!string.IsNullOrEmpty(Model.ApplicationSchema))
                {
                    <a href="@Html.DisplayFor(modelItem => Model.ApplicationSchema)" class="btn btn-block" title="Vis datamodell for @Model.Name" target="_blank">
                        <span class="custom-icon custom-icon-eksternlink"> </span> Vis datamodell
                    </a><br />
                }
                @if (!string.IsNullOrEmpty(Model.GmlApplicationSchema))
                {
                    <a href="@Html.DisplayFor(modelItem => Model.GmlApplicationSchema)" class="btn btn-block" title="Vis datamodell for @Model.Name" target="_blank">
                        <span class="custom-icon custom-icon-eksternlink"> </span> Vis GML-skjema
                    </a><br />
                }
                @if (!string.IsNullOrEmpty(Model.CartographyDetailsUrl))
                {
                    <a href="@Html.DisplayFor(modelItem => Model.CartographyDetailsUrl)" class="btn btn-block" title="Vis kartografi-fil for @Model.Name" target="_blank">
                        <span class="custom-icon custom-icon-eksternlink"> </span> <small>Vis digital kartografi</small>
                    </a><br />
                }
            </div>
        </div>
</article>