@model Kartverket.Register.Models.ServiceAlert

<div class="row result-row metadata">
    <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12" style="height: auto; border: medium none; box-shadow: none;">
        <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
            <p><b>Type varsel: </b>@Model.AlertType</p>
            <p><b>Tjenestetype: </b>@Model.ServiceType</p>
            <p><b>Siste varsel: </b>@Html.DisplayFor(model => model.AlertDate)</p>
            <p><b>Ikrafttredelse: </b>@Html.DisplayFor(model => model.EffectiveDate)</p>
            <p><b>Varselet gjelder:</b> @Model.Note</p>
            <p><b>Tjenestebeskrivelse: </b> <a href="@Model.ServiceMetadataUrl" title="Beskrivelse av @Model.name">@Shared.Details</a></p>
        </div>
    </div>
</div>

