@using Kartverket.Register.Helpers
@model Kartverket.Register.Models.ViewModels.InspireDatasetViewModel


@if (!string.IsNullOrEmpty(Model.SpecificUsage))
{
    <article class="col-md-12">
        <h3>@Html.DisplayNameFor(model => Model.SpecificUsage)</h3>
        <p> @Model.SpecificUsage</p>
    </article>
}

<article class="col-md-12">
    <p><strong>@Html.DisplayNameFor(model => Model.InspireThemes): </strong>@Model.InspireThemsAsString()</p>
</article>


<article class="col-md-12">
    <h3>Areal</h3>
    <p><strong>Areal: </strong>@Model.Area</p>
    <p><strong>Relevant areal: </strong>@Model.RelevantArea</p>
</article>

<article class="col-md-12">
    <h3>Inspire status</h3>
 
    <div class="table-heading col-md-12">
        <div class="col-md-3 col">@DataSet.DOK_AssessmentPoint.ToUpper()</div>
        <div class="col-md-2 col">@DataSet.DOK_StatusValueHeader.ToUpper()</div>
        <div class="col-md-7 col">@DataSet.Comment.ToUpper()</div>
    </div>
    <div class="resultItemRow col-md-12">
        <div class="col-md-3 col">@Html.DisplayNameFor(model => Model.MetadataStatusId)</div>
        <div class="col-md-2 col"> @Html.DisplayFor(model => Model.MetadataStatus.DescriptionTranslated())</div>
        <div class="col-md-7 col">@Html.DisplayFor(model => Model.MetadataNote)</div>
    </div>
    <div class="resultItemRow col-md-12">
        <div class="col-md-3 col">@Html.DisplayNameFor(model => Model.MetadataServiceStatusId)</div>
        <div class="col-md-2 col">@Html.DisplayFor(model => Model.MetadataServiceStatus.DescriptionTranslated())</div>
        <div class="col-md-7 col">@Html.DisplayFor(model => Model.MetadataServiceNote)</div>
    </div>
    <div class="resultItemRow col-md-12">
        <div class="col-md-3 col">@Html.DisplayNameFor(model => Model.DistributionStatusId)</div>
        <div class="col-md-2 col">@Html.DisplayFor(model => Model.DistributionStatus.DescriptionTranslated())</div>
        <div class="col-md-7 col">@Html.DisplayFor(model => Model.DistributionNote)</div>
    </div>
    <div class="resultItemRow col-md-12">
        <div class="col-md-3 col">@Html.DisplayNameFor(model => Model.WmsStatusId)</div>
        <div class="col-md-2 col">@Html.DisplayFor(model => Model.WmsStatus.DescriptionTranslated())</div>
        <div class="col-md-7 col">@Html.DisplayFor(model => Model.WmsNote)</div>
    </div>
    <div class="resultItemRow col-md-12">
        <div class="col-md-3 col">@Html.DisplayNameFor(model => Model.WfsStatusId)</div>
        <div class="col-md-2 col">@Html.DisplayFor(model => Model.WfsStatus.DescriptionTranslated())</div>
        <div class="col-md-7 col">@Html.DisplayFor(model => Model.WfsNote)</div>
    </div>
    <div class="resultItemRow col-md-12">
        <div class="col-md-3 col">@Html.DisplayNameFor(model => Model.AtomFeedStatusId)</div>
        <div class="col-md-2 col">@Html.DisplayFor(model => Model.AtomFeedStatus.DescriptionTranslated())</div>
        <div class="col-md-7 col">@Html.DisplayFor(model => Model.AtomFeedNote)</div>
    </div>
    <div class="resultItemRow col-md-12">
        <div class="col-md-3 col">@Html.DisplayNameFor(model => Model.WfsOrAtomStatusId)</div>
        <div class="col-md-2 col">@Html.DisplayFor(model => Model.WfsOrAtomStatus.DescriptionTranslated())</div>
        <div class="col-md-7 col">@Html.DisplayFor(model => Model.WfsOrAtomNote)</div>
    </div>
    <div class="resultItemRow col-md-12">
        <div class="col-md-3 col">@Html.DisplayNameFor(model => Model.HarmonizedDataStatusId)</div>
        <div class="col-md-2 col">@Html.DisplayFor(model => Model.HarmonizedDataStatus.DescriptionTranslated())</div>
        <div class="col-md-7 col">@Html.DisplayFor(model => Model.HarmonizedDataNote)</div>
    </div>
    <div class="resultItemRow col-md-12">
        <div class="col-md-3 col">@Html.DisplayNameFor(model => Model.SpatialDataServiceStatusId)</div>
        <div class="col-md-2 col">@Html.DisplayFor(model => Model.SpatialDataServiceStatus.DescriptionTranslated())</div>
        <div class="col-md-7 col">@Html.DisplayFor(model => Model.SpatialDataServiceNote)</div>
    </div>
</article>


@if (!string.IsNullOrWhiteSpace(Model.MetadataUrl))
{
    <article class="col-md-12">
        <h3>@DataSet.ProductInformation</h3>
        <p><a href="@Model.MetadataUrl" class="btn btn-fresh-green"><span class="glyphicon glyphicon-globe"></span> @DataSet.DisplayKartkatalogen</a></p>
    </article>
}