@model Kartverket.Register.Models.CodelistValue

<article class="col-md-12">
    <p><strong>@CodelistValues.CodeValue:</strong> @Model.CodelistvalueTranslated()</p>
    @if (Model.ValidFromDate.HasValue)
    {
        <p><strong>@CodelistValues.ValidFromDate:</strong> @Html.DisplayFor(c => c.ValidFromDate)</p>
    }
    @if (Model.ValidToDate.HasValue)
    {
        <p><strong>@CodelistValues.ValidToDate:</strong> @Html.DisplayFor(c => c.ValidToDate)</p>
    }
    </article>

<article class="col-sm-12">
    <h3 style="margin-top: 10px;">@CodelistValues.HierarchicalCodelists</h3>
    <div class="col-sm-12 col-md-6 col">
        <p><strong>@CodelistValues.BroaderItem</strong></p>
        @if (Model.broaderItemId != null)
        {
            <a href="@Model.broaderItem.GetObjectUrl()">
                @Model.broaderItem.name
            </a>
        }
    </div>
    <div class="col-sm-12 col-md-6 col">
        <p><strong>@CodelistValues.NarrowerItems</strong></p>

        @foreach (Kartverket.Register.Models.CodelistValue narrower in Model.narrowerItems)
        {
            <p>
                <a href="@narrower.GetObjectUrl()">
                    @narrower.name
                </a>
            </p>
        }
    </div>
</article>

