@model Kartverket.Register.Models.EPSG

<div class="row result-row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="hidden-xs col-sm-3 col-md-3 col-lg-3 top-padding">
            @if (Model.epsgcode == null)
            {
                <p title="@EPSGs.EpsgCode: @Model.epsgcode"><span>EPSG: </span> - </p>
            }
            else
            {
                <p title="@EPSGs.EpsgCode: @Model.epsgcode"><b><span>EPSG: </span>@Html.DisplayFor(modelItem => Model.epsgcode)</b></p>
            }
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-actions">

            @if (Model.sosiReferencesystem == null)
            {
                <p title="@EPSGs.SosiReferencesystem: @Model.sosiReferencesystem"><span>@Html.DisplayNameFor(m => m.sosiReferencesystem): </span> - </p>
            }
            else
            {
                <p title="@EPSGs.SosiReferencesystem: @Model.sosiReferencesystem"><span>@Html.DisplayNameFor(m => m.sosiReferencesystem): </span>@Html.DisplayFor(modelItem => Model.sosiReferencesystem)</p>
            }

            @if (Model.verticalReferenceSystem == null)
            {
                <p title="@EPSGs.VerticalReferenceSystem: @Model.verticalReferenceSystem"><span>@Html.DisplayNameFor(m => m.verticalReferenceSystem): </span> - </p>
            }
            else
            {
                <p title="@EPSGs.VerticalReferenceSystem: @Model.verticalReferenceSystem"><span>@Html.DisplayNameFor(m => m.verticalReferenceSystem): </span>@Html.DisplayFor(modelItem => Model.verticalReferenceSystem)</p>
            }

            @if (Model.horizontalReferenceSystem == null)
            {
                <p title="@EPSGs.HorizontalReferenceSystem: @Model.horizontalReferenceSystem"><span>@Html.DisplayNameFor(m => m.horizontalReferenceSystem): </span> - </p>
            }
            else
            {
                <p title="@EPSGs.HorizontalReferenceSystem: @Model.horizontalReferenceSystem"><span>@Html.DisplayNameFor(m => m.horizontalReferenceSystem): </span>@Html.DisplayFor(modelItem => Model.horizontalReferenceSystem)</p>
            }

            @if (Model.dimensionId == null)
            {
                <p title="@EPSGs.Dimension: "><span>@EPSGs.Dimension: </span> - </p>
            }
            else
            {
                <p title="@EPSGs.Dimension: @Model.dimension.description"><span>@Html.DisplayNameFor(m => m.dimensionId): </span>@Html.DisplayFor(modelItem => Model.dimension.description)</p>
            }

        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-information">
            @if (Model.inspireRequirement == null)
            {
                <p title="@EPSGs.InspireRequirement: @Registers.NotSet"><span>@Html.DisplayNameFor(m => m.inspireRequirementId): </span>@Registers.NotSet</p>
            }
            else
            {
                <p title="@EPSGs.InspireRequirement: @Model.inspireRequirement.description"><span>@Html.DisplayNameFor(m => m.inspireRequirementId): </span>@Model.inspireRequirement.DescriptionTranslated()</p>
            }

            @if (Model.nationalRequirement == null)
            {
                <p title="@EPSGs.NationalRequirement: @Registers.NotSet"><span>@Html.DisplayNameFor(m => m.nationalRequirementId): </span>@Registers.NotSet</p>
            }
            else
            {
                <p title="@EPSGs.NationalRequirement: @Model.nationalRequirement.description"><span>@Html.DisplayNameFor(m => m.nationalRequirementId): </span>@Model.nationalRequirement.DescriptionTranslated()</p>
            }

            @if (Model.nationalSeasRequirement == null)
            {
                <p title="@EPSGs.NationalSeasRequirement: @Registers.NotSet"><span>@Html.DisplayNameFor(m => m.nationalSeasRequirementId): </span>@Registers.NotSet</p>
            }
            else
            {
                <p title="@EPSGs.NationalSeasRequirement: @Model.nationalSeasRequirement.description"><span>@Html.DisplayNameFor(m => m.nationalSeasRequirementId): </span>@Model.nationalSeasRequirement.DescriptionTranslated()</p>
            }

            @if (Model.externalReference == null)
            {
                <p title="@EPSGs.ExternalReference @Model.name"><span>@Html.DisplayNameFor(m => m.externalReference): </span> - </p>
            }
            else
            {
                <p title="@EPSGs.ExternalReference @Model.name"><span>@Html.DisplayNameFor(m => m.externalReference): </span><a href="@Model.externalReference">@Shared.Details<i class="custom-icon-sm custom-icon-eksternlink"></i></a></p>
            }
        </div>
    </div>
</div>
