@model Kartverket.Register.Models.EPSG

<div class="row result-row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="hidden-xs col-sm-3 col-md-3 col-lg-3 top-padding">
            @if (Model.epsgcode == null)
            {
                <p title="EPSG-kode: @Model.epsgcode"><span>EPSG: </span> - </p>
            }
            else
            {
                <p title="EPSG-kode: @Model.epsgcode"><b><span>EPSG: </span>@Html.DisplayFor(modelItem => Model.epsgcode)</b></p>
            }
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-actions">

            @if (Model.sosiReferencesystem == null)
            {
                <p title="Sosi-referansesystem: @Model.sosiReferencesystem"><span>Sosi referansesystem: </span> - </p>
            }
            else
            {
                <p title="Sosi-referansesystem: @Model.sosiReferencesystem"><span>Sosi referansesystem: </span>@Html.DisplayFor(modelItem => Model.sosiReferencesystem)</p>
            }

            @if (Model.verticalReferenceSystem == null)
            {
                <p title="Vertikaltreferansesystem: @Model.verticalReferenceSystem"><span>Vertikaltreferansesystem: </span> - </p>
            }
            else
            {
                <p title="Vertikaltreferansesystem: @Model.verticalReferenceSystem"><span>Vertikaltreferansesystem: </span>@Html.DisplayFor(modelItem => Model.verticalReferenceSystem)</p>
            }

            @if (Model.horizontalReferenceSystem == null)
            {
                <p title="Horisontaltreferansesystem: @Model.horizontalReferenceSystem"><span>Horisontaltreferansesystem: </span> - </p>
            }
            else
            {
                <p title="Horisontaltreferansesystem: @Model.horizontalReferenceSystem"><span>Horisontaltreferansesystem: </span>@Html.DisplayFor(modelItem => Model.horizontalReferenceSystem)</p>
            }

            @if (Model.dimensionId == null)
            {
                <p title="Dimensjon: "><span>Dimensjon: </span> - </p>
            }
            else
            {
                <p title="Dimensjon: @Model.dimension.description"><span>Dimensjon: </span>@Html.DisplayFor(modelItem => Model.dimension.description)</p>
            }

        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-information">
            @if (Model.inspireRequirement == null)
            {
                <p title="Inspire krav: ikke angitt"><span>Inspire krav: </span>Ikke angitt</p>
            }
            else
            {
                <p title="Inspire krav: @Model.inspireRequirement.description"><span>Inspire krav: </span>@Html.DisplayFor(modelItem => Model.inspireRequirement.description)</p>
            }

            @if (Model.nationalRequirement == null)
            {
                <p title="Nasjonalt krav: ikke angitt"><span>Nasjonalt krav: </span>Ikke angitt</p>
            }
            else
            {
                <p title="Nasjonalt krav: @Model.nationalRequirement.description"><span>Nasjonalt krav: </span>@Html.DisplayFor(modelItem => Model.nationalRequirement.description)</p>
            }

            @if (Model.nationalSeasRequirement == null)
            {
                <p title="Nasjonalt krav for havområde: ikke angitt"><span>Nasjonalt krav for havområder: </span>Ikke angitt</p>
            }
            else
            {
                <p title="Nasjonalt krav for havområde: @Model.nationalSeasRequirement.description"><span>Nasjonalt krav for havområder: </span>@Html.DisplayFor(modelItem => Model.nationalSeasRequirement.description)</p>
            }

            @if (Model.externalReference == null)
            {
                <p title="Vis ekstern referanse for @Model.name"><span>Ekstern referanse: </span> - </p>
            }
            else
            {
                <p title="Vis ekstern referanse for @Model.name"><span>Ekstern referanse: </span><a href="@Model.externalReference">Vis<i class="custom-icon-sm custom-icon-eksternlink"></i></a></p>
            }
        </div>
    </div>
</div>
