@using Kartverket.Register.Helpers;
@using System.Web.Configuration;
@model Kartverket.Register.Models.NameSpace
@{
    var url = Model.name;
    var environment = WebConfigurationManager.AppSettings["EnvironmentName"];
    if (!string.IsNullOrEmpty(environment))
    {
        url = url.Replace("https://data", "https://data." + environment);
    }

    @functions {

        public string FixProtocol(string url)
        {
            //if (Request.IsSecureConnection && !url.StartsWith("https://"))
            //{
            url = url.Replace("http://", "https://");
            //}

            return url;
        }
    }

}
<article class="col-md-12">
    @if (Model.description != null && Model.serviceUrl == null)
    {
        <p title="@Namespace.LinkToContentOf @Model.name"><strong>@Namespace.Content: </strong>@Model.description</p>
    }
    else if (Model.description == null || Model.serviceUrl == null)
    {
        <p title="@Namespace.NoContentFor @Model.name."><strong>@Namespace.Content: </strong>@Registers.NotSet</p>
    }
    else
    {
        <p title="@Namespace.LinkToContentOf @Model.name"><strong>@Namespace.Content: </strong>@Model.description <a href="@url">@Shared.Details <i class="custom-icon-sm custom-icon-eksternlink"></i></a></p>
    }

    @if (Model.serviceUrl == null)
    {
        <p title="@Namespace.UrlOfServiceNotSpecified"><strong>@Namespace.Service: </strong>@Registers.NotSet</p>
    }
    else
    {
        <p title="@Namespace.URLForServiceInNamespace @Model.name"><strong>@Namespace.Service: </strong><a href="@Model.serviceUrl">@Shared.Details <i class="custom-icon-sm custom-icon-eksternlink"></i></a></p>
    }


</article>

<h3>@DataSet.Dataset</h3>
<div class="container">
    <div class="row resultItemRow">
        <div class="col-sm-5"><b>Metadatanavn</b></div>
        <div class="col-sm-2"><b>Organisasjon</b></div>
        <div class="col-sm-5"><b>Link</b></div>
    </div>
    <div class="w-100"></div>
    @for (int d = 0; d < Model.NameSpaceDatasets.Count; d++)
    {
        <div class="row resultItemRow">
            <div class="col-sm-5">@Model.NameSpaceDatasets.ElementAt(d).MetadataNavn</div>
            <div class="col-sm-2">@Model.NameSpaceDatasets.ElementAt(d).Organisasjon</div>
            <div class="col-sm-5"><a href="@url/@Model.NameSpaceDatasets.ElementAt(d).DatasettId" target="_blank">@Model.name/@Model.NameSpaceDatasets.ElementAt(d).DatasettId</a></div>
        </div>
        
    }
</div>