@model Kartverket.Register.Models.NameSpace

<div>
    <div class="row result-row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="hidden-xs col-sm-3 col-md-3 col-lg-3 top-padding">

                    @if (Model.description == null)
                    {
                        <p title="@Namespace.NoContentFor @Model.name."><span>@Namespace.Service: </span>@Registers.NotSet</p>
                    }
                    else
                    {
                        <p title="@Namespace.LinkToContentOf @Model.name"><span>@Namespace.Content: </span><a href="@Model.description">@Shared.Details <i class="custom-icon-sm custom-icon-eksternlink"></i></a></p>
                    }

                    @if (Model.serviceUrl == null)
                    {
                        <p title="@Namespace.UrlOfServiceNotSpecified"><span>@Namespace.Service: </span>@Registers.NotSet</p>
                    }
                    else
                    {
                        <p title="@Namespace.URLForServiceInNamespace @Model.name"><span>@Namespace.Service: </span><a href="@Model.serviceUrl">@Shared.Details <i class="custom-icon-sm custom-icon-eksternlink"></i></a></p>
                    }

            </div>
        </div>
    </div>

</div>

