@using Kartverket.Register.Helpers
@model Kartverket.Register.Models.Dataset


@if (!string.IsNullOrEmpty(Model.SpecificUsage))
{
    <article class="col-md-12">
        <h3>@Html.DisplayNameFor(model => Model.SpecificUsage)</h3>
        <p> @Model.SpecificUsage</p>
    </article>
}

<article class="col-md-12">
    <p><strong>@Html.DisplayNameFor(model => Model.DatasetType): </strong>@Model.GetDatasetType()</p>
    <p><strong>@Html.DisplayNameFor(model => Model.ThemeGroupId): </strong>@Model.ThemeGroupIdTranslated()</p>
</article>

<article class="col-md-12">
    <h3>DOK-status</h3>
    <p title="@Html.Raw(HtmlHelperExtensions.DokStatusBeskrivelse())"><strong>DOK-status: </strong>@Model.dokStatus.DescriptionTranslated() <i class="statusIcon-@Model.dokStatusId"></i></p>
    <p><strong>@Html.DisplayNameFor(model => Model.dokStatusDateAccepted): </strong>@Html.DisplayFor(modelItem => Model.dokStatusDateAccepted)</p>
    <p><strong>@Html.DisplayNameFor(model => Model.Kandidatdato): </strong>@Html.DisplayFor(model => Model.Kandidatdato)</p>
    <p><strong>@Registers.Updated: </strong>@Html.DisplayFor(model => model.modified)</p>
    <p><strong>@Html.DisplayNameFor(model => Model.DatasetType): </strong>@Model.GetDatasetType()</p>
    <p><strong>@Html.DisplayNameFor(model => Model.ThemeGroupId): </strong>@Model.ThemeGroupIdTranslated()</p>
</article>

<article class="col-md-12">
    <h3>@DataSet.DOK_DeliveryStatusHeading</h3>
    <div class="row">
        <div class="col-md-12"><p><a href="@Html.DokEvaluationCriteriaUrl()" target="_blank">@DataSet.DOK_EvaluationCriteria</a></p></div>
    </div>
    <div class="table-heading col-md-12">
        <div class="col-md-3 col">@DataSet.DOK_AssessmentPoint.ToUpper()</div>
        <div class="col-md-2 col">@DataSet.DOK_StatusValueHeader.ToUpper()</div>
        <div class="col-md-7 col">@DataSet.Comment.ToUpper()</div>
    </div>
    <div class="resultItemRow col-md-12">
        <div class="col-md-3 col">@Html.DisplayNameFor(model => Model.dokDeliveryMetadataStatusId)</div><div class="col-md-2"> @Model.dokDeliveryMetadataStatus.DescriptionTranslated()</div>
        <div class="col-md-7 col">@Html.DisplayFor(model => Model.dokDeliveryMetadataStatusNote)</div>
    </div>
    <div class="resultItemRow col-md-12">
        <div class="col-md-3 col">@Html.DisplayNameFor(model => Model.dokDeliveryProductSheetStatusId)</div>
        <div class="col-md-2 col">@Model.dokDeliveryProductSheetStatus.DescriptionTranslated()</div>
        <div class="col-md-7 col">@Html.DisplayFor(model => Model.dokDeliveryProductSheetStatusNote)</div>
    </div>
    <div class="resultItemRow col-md-12">
        <div class="col-md-3 col">@Html.DisplayNameFor(model => Model.dokDeliveryPresentationRulesStatusId) </div>
        <div class="col-md-2 col">@Model.dokDeliveryPresentationRulesStatus.DescriptionTranslated()</div>
        <div class="col-md-7 col">@Html.DisplayFor(model => Model.dokDeliveryPresentationRulesStatusNote)</div>
    </div>
    <div class="resultItemRow col-md-12">
        <div class="col-md-3 col">@Html.DisplayNameFor(model => Model.dokDeliveryProductSpecificationStatusId)</div>
        <div class="col-md-2 col">@Model.dokDeliveryProductSpecificationStatus.DescriptionTranslated()</div>
        <div class="col-md-7 col">@Html.DisplayFor(model => Model.dokDeliveryProductSpecificationStatusNote)</div>
    </div>
    <div class="resultItemRow col-md-12">
        <div class="col-md-3 col">@Html.DisplayNameFor(model => Model.dokDeliveryWmsStatusId)</div>
        <div class="col-md-2 col">
            @if (Model.restricted == true)
            {
                <span data-toggle='tooltip' data-placement='bottom' title="Skjermede data" class="custom-icon custom-icon-hengelaas-closed-red"></span>
            }
            else
            {
                @Model.dokDeliveryWmsStatus.DescriptionTranslated()
            }
        </div>
        <div class="col-md-7 col">@Html.DisplayFor(model => Model.dokDeliveryWmsStatusNote)</div>
    </div>
    <div class="resultItemRow col-md-12">
        <div class="col-md-3 col">@Html.DisplayNameFor(model => Model.dokDeliveryWfsStatusId)</div>
        <div class="col-md-2 col">
            @if (Model.restricted == true)
            {
                <span data-toggle='tooltip' data-placement='bottom' title="@DataSet.RestrictedData" class="custom-icon custom-icon-hengelaas-closed-red"></span>
            }
            else
            {
                @Model.dokDeliveryWfsStatus.DescriptionTranslated()
            }
        </div>
        <div class="col-md-7 col">@Html.DisplayFor(model => Model.dokDeliveryWfsStatusNote)</div>
    </div>
    <div class="resultItemRow col-md-12">
        <div class="col-md-3 col">@Html.DisplayNameFor(model => Model.dokDeliverySosiRequirementsStatusId)</div>
        <div class="col-md-2 col">@Model.dokDeliverySosiRequirementsStatus.DescriptionTranslated()</div>
        <div class="col-md-7 col">@Html.DisplayFor(model => Model.dokDeliverySosiRequirementsStatusNote)</div>
    </div>
    <div class="resultItemRow col-md-12">
        <div class="col-md-3 col">@Html.DisplayNameFor(model => Model.dokDeliveryDistributionStatusId)</div>
        <div class="col-md-2 col">@Model.dokDeliveryDistributionStatus.DescriptionTranslated()</div>
        <div class="col-md-7 col">@Html.DisplayFor(model => Model.dokDeliveryDistributionStatusNote)</div>
    </div>
    <div class="resultItemRow col-md-12">
        <div class="col-md-3 col">@Html.DisplayNameFor(model => Model.dokDeliveryGmlRequirementsStatusId)</div>
        <div class="col-md-2 col">@Model.dokDeliveryGmlRequirementsStatus.DescriptionTranslated()</div>
        <div class="col-md-7 col">@Html.DisplayFor(model => Model.dokDeliveryGmlRequirementsStatusNote)</div>
    </div>
    <div class="resultItemRow col-md-12">
        <div class="col-md-3 col">@Html.DisplayNameFor(model => Model.dokDeliveryAtomFeedStatusId)</div>
        <div class="col-md-2 col">@Model.dokDeliveryAtomFeedStatus.DescriptionTranslated()</div>
        <div class="col-md-7 col">@Html.DisplayFor(model => Model.dokDeliveryAtomFeedStatusNote)</div>
    </div>
</article>


@if (!string.IsNullOrWhiteSpace(Model.MetadataUrl))
{
    <article class="col-md-12">
        <h3>@DataSet.ProductInformation</h3>
        <p><a href="@Model.MetadataUrl" class="btn btn-fresh-green"><span class="glyphicon glyphicon-globe"></span> @DataSet.DisplayKartkatalogen</a></p>
    </article>
}



