@using Kartverket.Register.Helpers
@model Kartverket.Register.Models.ViewModels.DokDatasetViewModel
@*@Html.Partial("Js/_datasetCharts")*@
@helper RawText(string s)
{
    @(new HtmlString(s))
}
@if (!string.IsNullOrEmpty(Model.SpecificUsage))
{
    <article class="col-md-12">
        <h3>@Html.DisplayNameFor(model => Model.SpecificUsage)</h3>
        <p> @Model.SpecificUsage</p>
    </article>
}

<article class="col-md-12">
    <p><strong>@Html.DisplayNameFor(model => Model.DatasetType): </strong>@Model.DatasetType</p>
    <p><strong>@Html.DisplayNameFor(model => Model.ThemeGroupId): </strong>@Model.ThemeGroupId</p>
</article>

<article class="col-md-12">
    <h3>DOK-status</h3>
    <p title="@Html.Raw(HtmlHelperExtensions.DokStatusBeskrivelse())"><strong>DOK-status: </strong>@Model.DokStatus.DescriptionTranslated() <i class="statusIcon-@Model.DokStatusId"></i></p>
    <p><strong>@Html.DisplayNameFor(model => Model.DokStatusDateAccepted): </strong>@Html.DisplayFor(modelItem => Model.DokStatusDateAccepted)</p>
    <p><strong>@Html.DisplayNameFor(model => Model.Kandidatdato): </strong>@Html.DisplayFor(model => Model.Kandidatdato)</p>
    <p><strong>@Registers.Updated: </strong>@Html.DisplayFor(model => model.Modified)</p>
</article>

<article class="col-md-12 nested">
    <div class="metadata">
        <div class="status-list">
            <ul>
                <li>
                    <div class="col-md-1">@HtmlHelperExtensions.GetDokDeliveryStatusSymbol(Model.DokDeliveryMetadataStatusId, null, null, "metadata") <span>@Model.DokDeliveryMetadataStatus</span></div>
                    <div class="col-md-11">
                        @Html.DisplayNameFor(model => Model.DokDeliveryMetadataStatus)
                        @RawText(Registers.RequirementsMetadata)
                    </div>


                </li>
                <li>
                    <div class="col-md-1">@HtmlHelperExtensions.GetDokDeliveryStatusSymbol(Model.DokDeliveryProductSpecificationStatusId, null, null, "metadata")<span> @Model.DokDeliveryProductSpecificationStatus</span></div>
                    <div class="col-md-11">
                        @Html.DisplayNameFor(model => Model.DokDeliveryProductSpecificationStatus) @RawText(Registers.RequirementsProductSpesifications)
                    </div>
                </li>
                <li>
                    <div class="col-md-1">@HtmlHelperExtensions.GetDokDeliveryStatusSymbol(Model.DokDeliveryProductSheetStatusId, null, null, "metadata")<span> @Model.DokDeliveryProductSheetStatus</span></div>
                    <div class="col-md-11">
                        @Html.DisplayNameFor(model => Model.DokDeliveryProductSheetStatus) @RawText(Registers.RequirementsProductSheetStatus)
                    </div>
                </li>
                <li>
                    <div class="col-md-1">@HtmlHelperExtensions.GetDokDeliveryStatusSymbol(Model.DokDeliveryPresentationRulesStatusId, null, null, "metadata")<span> @Model.DokDeliveryPresentationRulesStatus</span></div>
                    <div class="col-md-11">
                        @Html.DisplayNameFor(model => Model.DokDeliveryPresentationRulesStatus) @RawText(Registers.RequirementsPresentationRulesStatus)
                    </div>
                </li>
                <li>
                    <div class="col-md-1">@HtmlHelperExtensions.GetDokDeliveryStatusSymbol(Model.DokDeliverySosiRequirementsStatusId, null, null, "metadata")<span> @Model.DokDeliverySosiRequirementsStatus</span></div>
                    <div class="col-md-11">
                        @Html.DisplayNameFor(model => Model.DokDeliverySosiRequirementsStatus) @RawText(Registers.RequirementsSosi)
                    </div>

                </li>
                <li>
                    <div class="col-md-1">@HtmlHelperExtensions.GetDokDeliveryStatusSymbol(Model.DokDeliveryGmlRequirementsStatusId, null, null, "metadata")<span> @Model.DokDeliveryGmlRequirementsStatus</span></div>
                    <div class="col-md-11">@Html.DisplayNameFor(model => Model.DokDeliveryGmlRequirementsStatus) @RawText(Registers.RequirementsGml)</div>

                </li>
                <li>
                    @if (Model.Restricted == true)
                    {
                        <div class="col-md-1"><span data-toggle='tooltip' data-placement='bottom' title="Skjermede data" class="custom-icon custom-icon-hengelaas-closed-red"></span></div>
                        <div class="col-md-11">@Html.DisplayNameFor(model => Model.DokDeliveryWmsStatus) @RawText(Registers.RequirementsWms)</div>
                    }
                    else
                    {
                        <div class="col-md-1"> @HtmlHelperExtensions.GetDokDeliveryStatusSymbol(Model.DokDeliveryWmsStatusId, null, null, "metadata")<span> @Model.DokDeliveryWmsStatus</span></div>
                        <div class="col-md-11">@Html.DisplayNameFor(model => Model.DokDeliveryWmsStatus) @RawText(Registers.RequirementsWms)</div>
                    }
                </li>
                <li>
                    @if (Model.Restricted == true)
                    {
                        <div class="col-md-1"><span data-toggle='tooltip' data-placement='bottom' title="Skjermede data" class="custom-icon custom-icon-hengelaas-closed-red"></span></div>
                        <div class="col-md-11">@Html.DisplayNameFor(model => Model.DokDeliveryWfsStatus) @RawText(Registers.RequirementsWfs)</div>
                    }
                    else
                    {
                        <div class="col-md-1">@HtmlHelperExtensions.GetDokDeliveryStatusSymbol(Model.DokDeliveryWfsStatusId, null, null, "metadata")<span> @Model.DokDeliveryWfsStatus</span></div>
                        <div class="col-md-11">@Html.DisplayNameFor(model => Model.DokDeliveryWfsStatus) @RawText(Registers.RequirementsWfs)</div>
                    }
                </li>
                <li>
                    @if (Model.Restricted == true)
                    {
                        <div class="col-md-1"><span data-toggle='tooltip' data-placement='bottom' title="Skjermede data" class="custom-icon custom-icon-hengelaas-closed-red"></span></div>
                        <div class="col-md-11">@Html.DisplayNameFor(model => Model.DokDeliveryAtomFeedStatus) @RawText(Registers.RequirementsAtom)</div>
                    }
                    else
                    {
                        <div class="col-md-1">@HtmlHelperExtensions.GetDokDeliveryStatusSymbol(Model.DokDeliveryAtomFeedStatusId, null, null, "metadata")<span> @Model.DokDeliveryAtomFeedStatus</span></div>
                        <div class="col-md-11">@Html.DisplayNameFor(model => Model.DokDeliveryAtomFeedStatus) @RawText(Registers.RequirementsAtom)</div>
                    }
                </li>
                <li>
                    <div class="col-md-1"> @HtmlHelperExtensions.GetDokDeliveryStatusSymbol(Model.DokDeliveryDistributionStatusId, null, null, "metadata") <span>@Model.DokDeliveryDistributionStatus</span></div>
                    <div class="col-md-11">@Html.DisplayNameFor(model => Model.DokDeliveryDistributionStatus) @RawText(Registers.RequirementsDownload)</div>

                </li>
            </ul>
        </div>
    </div>
</article>






@*<article>
        <div class="col-md-12">
            <canvas id="lineChart" height="200" chart-colors="colors"></canvas>
        </div>
    </article>*@


@if (!string.IsNullOrWhiteSpace(Model.MetadataUrl))
{
    <article class="col-md-12">
        <h3>@DataSet.ProductInformation</h3>
        <p><a href="@Model.MetadataUrl" class="btn btn-fresh-green"><span class="glyphicon glyphicon-globe"></span> @DataSet.DisplayKartkatalogen</a></p>
    </article>
}



