@using Kartverket.Register.Helpers
@model Kartverket.Register.Models.ViewModels.DokDatasetViewModel
@*@Html.Partial("Js/_datasetCharts")*@

@if (!string.IsNullOrEmpty(Model.SpecificUsage))
{
    <article class="col-md-12">
        <h3>@Html.DisplayNameFor(model => Model.SpecificUsage)</h3>
        <p> @Model.SpecificUsage</p>
    </article>
}

<article class="col-md-12">
    <p><strong>@Html.DisplayNameFor(model => Model.DatasetType): </strong>@Model.DatasetType</p>
    <p><strong>@Html.DisplayNameFor(model => Model.ThemeGroupId): </strong>@Model.ThemeGroupId</p>
</article>

<article class="col-md-12">
    <h3>DOK-status</h3>
    <p title="@Html.Raw(HtmlHelperExtensions.DokStatusBeskrivelse())"><strong>DOK-status: </strong>@Model.DokStatus.DescriptionTranslated() <i class="statusIcon-@Model.DokStatusId"></i></p>
    <p><strong>@Html.DisplayNameFor(model => Model.DokStatusDateAccepted): </strong>@Html.DisplayFor(modelItem => Model.DokStatusDateAccepted)</p>
    <p><strong>@Html.DisplayNameFor(model => Model.Kandidatdato): </strong>@Html.DisplayFor(model => Model.Kandidatdato)</p>
    <p><strong>@Registers.Updated: </strong>@Html.DisplayFor(model => model.Modified)</p>
</article>

<article class="col-md-12">
    <h3>@DataSet.DOK_DeliveryStatusHeading</h3>
    <div class="row">
        <div class="col-md-12"><p><a href="@Html.DokEvaluationCriteriaUrl()" target="_blank">@DataSet.DOK_EvaluationCriteria</a></p></div>
    </div>
    <div class="table-heading col-md-12">
        <div class="col-md-3 col">@DataSet.DOK_AssessmentPoint.ToUpper()</div>
        <div class="col-md-2 col">@DataSet.DOK_StatusValueHeader.ToUpper()</div>
        <div class="col-md-7 col">@DataSet.Comment.ToUpper()</div>
    </div>
    <div class="resultItemRow col-md-12">
        <div class="col-md-3 col">@Html.DisplayNameFor(model => Model.DokDeliveryMetadataStatus)</div>
        <div class="col-md-2 col"> @Model.DokDeliveryMetadataStatus</div>
        <div class="col-md-7 col">@Html.DisplayFor(model => Model.DokDeliveryMetadataStatusNote)</div>
    </div>
    <div class="resultItemRow col-md-12">
        <div class="col-md-3 col">@Html.DisplayNameFor(model => Model.DokDeliveryProductSheetStatus)</div>
        <div class="col-md-2 col">@Model.DokDeliveryProductSheetStatus</div>
        <div class="col-md-7 col">@Html.DisplayFor(model => Model.DokDeliveryProductSheetStatusNote)</div>
    </div>
    <div class="resultItemRow col-md-12">
        <div class="col-md-3 col">@Html.DisplayNameFor(model => Model.DokDeliveryPresentationRulesStatus) </div>
        <div class="col-md-2 col">@Model.DokDeliveryPresentationRulesStatus</div>
        <div class="col-md-7 col">@Html.DisplayFor(model => Model.DokDeliveryPresentationRulesStatusNote)</div>
    </div>
    <div class="resultItemRow col-md-12">
        <div class="col-md-3 col">@Html.DisplayNameFor(model => Model.DokDeliveryProductSpecificationStatus)</div>
        <div class="col-md-2 col">@Model.DokDeliveryProductSpecificationStatus</div>
        <div class="col-md-7 col">@Html.DisplayFor(model => Model.DokDeliveryProductSpecificationStatusNote)</div>
    </div>
    <div class="resultItemRow col-md-12">
        <div class="col-md-3 col">@Html.DisplayNameFor(model => Model.DokDeliveryWmsStatus)</div>
        <div class="col-md-2 col">
            @if (Model.Restricted == true)
            {
                <span data-toggle='tooltip' data-placement='bottom' title="Skjermede data" class="custom-icon custom-icon-hengelaas-closed-red"></span>
            }
            else
            {
                @Model.DokDeliveryWmsStatus
            }
        </div>
        <div class="col-md-7 col">@Html.DisplayFor(model => Model.DokDeliveryWmsStatusNote)</div>
    </div>
    <div class="resultItemRow col-md-12">
        <div class="col-md-3 col">@Html.DisplayNameFor(model => Model.DokDeliveryWfsStatus)</div>
        <div class="col-md-2 col">
            @if (Model.Restricted == true)
            {
                <span data-toggle='tooltip' data-placement='bottom' title="@DataSet.RestrictedData" class="custom-icon custom-icon-hengelaas-closed-red"></span>
            }
            else
            {
                @Model.DokDeliveryWfsStatus
            }
        </div>
        <div class="col-md-7 col">@Html.DisplayFor(model => Model.DokDeliveryWfsStatusNote)</div>
    </div>
    <div class="resultItemRow col-md-12">
        <div class="col-md-3 col">@Html.DisplayNameFor(model => Model.DokDeliverySosiRequirementsStatus)</div>
        <div class="col-md-2 col">@Model.DokDeliverySosiRequirementsStatus</div>
        <div class="col-md-7 col">@Html.DisplayFor(model => Model.DokDeliverySosiRequirementsStatusNote)</div>
    </div>
    <div class="resultItemRow col-md-12">
        <div class="col-md-3 col">@Html.DisplayNameFor(model => Model.DokDeliveryDistributionStatus)</div>
        <div class="col-md-2 col">@Model.DokDeliveryDistributionStatus</div>
        <div class="col-md-7 col">@Html.DisplayFor(model => Model.DokDeliveryDistributionStatusNote)</div>
    </div>
    <div class="resultItemRow col-md-12">
        <div class="col-md-3 col">@Html.DisplayNameFor(model => Model.DokDeliveryGmlRequirementsStatus)</div>
        <div class="col-md-2 col">@Model.DokDeliveryGmlRequirementsStatus</div>
        <div class="col-md-7 col">@Html.DisplayFor(model => Model.DokDeliveryGmlRequirementsStatusNote)</div>
    </div>
    <div class="resultItemRow col-md-12">
        <div class="col-md-3 col">@Html.DisplayNameFor(model => Model.DokDeliveryAtomFeedStatus)</div>
        <div class="col-md-2 col">@Model.DokDeliveryAtomFeedStatus</div>
        <div class="col-md-7 col">@Html.DisplayFor(model => Model.DokDeliveryAtomFeedStatusNote)</div>
    </div>
</article>

@*<article>
    <div class="col-md-12">
        <canvas id="lineChart" height="200" chart-colors="colors"></canvas>
    </div>
</article>*@


@if (!string.IsNullOrWhiteSpace(Model.MetadataUrl))
{
    <article class="col-md-12">
        <h3>@DataSet.ProductInformation</h3>
        <p><a href="@Model.MetadataUrl" class="btn btn-fresh-green"><span class="glyphicon glyphicon-globe"></span> @DataSet.DisplayKartkatalogen</a></p>
    </article>
}



