@using Kartverket.Register.Helpers
@model Kartverket.Register.Models.Dataset


@if (!string.IsNullOrEmpty(Model.SpecificUsage))
{
    <article class="col-md-12">
        <h3>@Html.DisplayNameFor(model => Model.SpecificUsage)</h3>
        <p> @Model.SpecificUsage</p>
    </article>
}
<article class="col-md-12">
    <h3>DOK-status</h3>
    <div class="row">
        <div class="col-md-3">@Html.DisplayNameFor(m => m.versionNumber) </div><div class="col-md-9">@Model.versionNumber</div>
    </div>

    @if (Model.dokStatus != null)
    {
    <div class="row">
        <div class="col-md-3" title="@Html.Raw(HtmlHelperExtensions.DokStatusBeskrivelse())">DOK-status:</div> <div class="col-md-9">@Model.dokStatus.description <i class="statusIcon-@Model.dokStatusId"></i></div>
    </div>
    }
    <div class="row">
        <div class="col-md-3">@Html.DisplayNameFor(model => Model.dokStatusDateAccepted):</div><div class="col-md-9"> @Html.DisplayFor(modelItem => Model.dokStatusDateAccepted)</div>
    </div>
    <div class="row">
        <div class="col-md-3">@Html.DisplayNameFor(model => Model.Kandidatdato):</div><div class="col-md-9"> @Html.DisplayFor(model => Model.Kandidatdato)</div>
    </div>
    <div class="row">
        <div class="col-md-3">@Registers.Updated:</div><div class="col-md-9"> @Html.DisplayFor(model => model.modified)</div>
    </div>
    <div class="row">
        <div class="col-md-3">@Registers.Submitter:</div><div class="col-md-9"> @Model.submitter.name</div>
    </div>
    @if (Model.datasetowner != null)
            {
    <div class="row">
        <div class="col-md-3">@Registers.Owner:</div><div class="col-md-9"> @Model.datasetowner.name</div>
    </div>
    }
    @if (Model.DatasetType != null)
            {
    <div class="row">
        <div class="col-md-3">@Html.DisplayNameFor(model => Model.DatasetType):</div><div class="col-md-9"> @Model.DatasetType</div>
    </div>
    }
    @if (Model.theme != null)
            {
    <div class="row">
        <div class="col-md-3">@Html.DisplayNameFor(model => Model.ThemeGroupId):</div><div class="col-md-9"> @Model.theme.description</div>
    </div>
    }
</article>

<article class="col-md-12">
    <h3>@DataSet.DOK_DeliveryStatusHeading</h3>
    <div class="row">
        <div class="col-md-12"><a href="@Html.DokEvaluationCriteriaUrl()" target="_blank">@DataSet.DOK_EvaluationCriteria</a></div>
    </div>
    <p></p>
    <div class="register dataset search-results-table-heading">
        <div class="row">
            <div class="col-md-3">@DataSet.DOK_AssessmentPoint.ToUpper()</div><div class="col-md-2">@DataSet.DOK_StatusValueHeader.ToUpper()</div><div class="col-md-7">@DataSet.Comment.ToUpper()</div>
        </div>
        <div class="menu-separator search-results-table-heading"></div>
        <div class="row">
            <div class="col-md-3">@Html.DisplayNameFor(model => Model.dokDeliveryMetadataStatusId)</div><div class="col-md-2"> @Html.DisplayFor(model => Model.dokDeliveryMetadataStatus.description)</div>
            <div class="col-md-7">@Html.DisplayFor(model => Model.dokDeliveryMetadataStatusNote)</div>
        </div>
        <div class="row">
            <div class="col-md-3">@Html.DisplayNameFor(model => Model.dokDeliveryProductSheetStatusId)</div>
            <div class="col-md-2">@Html.DisplayFor(model => Model.dokDeliveryProductSheetStatus.description)</div>
            <div class="col-md-7">@Html.DisplayFor(model => Model.dokDeliveryProductSheetStatusNote)</div>
        </div>
        <div class="row">
            <div class="col-md-3">@Html.DisplayNameFor(model => Model.dokDeliveryPresentationRulesStatusId) </div>
            <div class="col-md-2">@Html.DisplayFor(model => Model.dokDeliveryPresentationRulesStatus.description)</div>
            <div class="col-md-7">@Html.DisplayFor(model => Model.dokDeliveryPresentationRulesStatusNote)</div>
        </div>
        <div class="row">
            <div class="col-md-3">@Html.DisplayNameFor(model => Model.dokDeliveryProductSpecificationStatusId)</div>
            <div class="col-md-2">@Html.DisplayFor(model => Model.dokDeliveryProductSpecificationStatus.description)</div>
            <div class="col-md-7">@Html.DisplayFor(model => Model.dokDeliveryProductSpecificationStatusNote)</div>
        </div>
        <div class="row">
            <div class="col-md-3">@Html.DisplayNameFor(model => Model.dokDeliveryWmsStatusId)</div>
            <div class="col-md-2">
                @if (Model.restricted == true)
                {
                <span data-toggle='tooltip' data-placement='bottom' title="Skjermede data" class="custom-icon custom-icon-hengelaas-closed-red"></span>
                }
                else
                {
                @Html.DisplayFor(model => Model.dokDeliveryWmsStatus.description)
                }
            </div>
            <div class="col-md-7">@Html.DisplayFor(model => Model.dokDeliveryWmsStatusNote)</div>
        </div>
        <div class="row">
            <div class="col-md-3">@Html.DisplayNameFor(model => Model.dokDeliveryWfsStatusId)</div>
            <div class="col-md-2">
                @if (Model.restricted == true)
                {
                <span data-toggle='tooltip' data-placement='bottom' title="Skjermede data" class="custom-icon custom-icon-hengelaas-closed-red"></span>
                }
                else
                {
                @Html.DisplayFor(model => Model.dokDeliveryWfsStatus.description)
                }
            </div>
            <div class="col-md-7">@Html.DisplayFor(model => Model.dokDeliveryWfsStatusNote)</div>
        </div>
        <div class="row">
            <div class="col-md-3">@Html.DisplayNameFor(model => Model.dokDeliverySosiRequirementsStatusId)</div>
            <div class="col-md-2">@Html.DisplayFor(model => Model.dokDeliverySosiRequirementsStatus.description)</div>
            <div class="col-md-7">@Html.DisplayFor(model => Model.dokDeliverySosiRequirementsStatusNote)</div>
        </div>
        <div class="row">
            <div class="col-md-3">@Html.DisplayNameFor(model => Model.dokDeliveryDistributionStatusId)</div>
            <div class="col-md-2">@Html.DisplayFor(model => Model.dokDeliveryDistributionStatus.description)</div>
            <div class="col-md-7">@Html.DisplayFor(model => Model.dokDeliveryDistributionStatusNote)</div>
        </div>
        <div class="row">
            <div class="col-md-3">@Html.DisplayNameFor(model => Model.dokDeliveryGmlRequirementsStatusId)</div>
            <div class="col-md-2">@Html.DisplayFor(model => Model.dokDeliveryGmlRequirementsStatus.description)</div>
            <div class="col-md-7">@Html.DisplayFor(model => Model.dokDeliveryGmlRequirementsStatusNote)</div>
        </div>
        <div class="row">
            <div class="col-md-3">@Html.DisplayNameFor(model => Model.dokDeliveryAtomFeedStatusId)</div>
            <div class="col-md-2">@Html.DisplayFor(model => Model.dokDeliveryAtomFeedStatus.description)</div>
            <div class="col-md-7">@Html.DisplayFor(model => Model.dokDeliveryAtomFeedStatusNote)</div>
        </div>

    </div>
</article>


@if (!string.IsNullOrWhiteSpace(Model.MetadataUrl))
{
    <article class="col-md-12">
        <h3>@DataSet.ProductInformation</h3>
        <p><a href="@Model.MetadataUrl" class="btn btn-fresh-green"><span class="glyphicon glyphicon-globe"></span> @DataSet.DisplayKartkatalogen</a></p>
    </article>
}



