﻿@using Kartverket.Register.Helpers
@model PagedList.IPagedList<Kartverket.Register.Models.RegisterItem>
@using PagedList;
@using PagedList.Mvc;
@using Kartverket.Register.Models

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        @Html.PagedListPager(Model, page => Url.Action("Details", new { page, sorting = ViewBag.SortOrder }))
        <br /><br />
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        Registere viser @Model.FirstItemOnPage - @Model.LastItemOnPage av @Model.TotalItemCount
    </div>

    @Html.Partial("_visningstyper")
</div>

    <div class="register document search-results ">
        @foreach (Document item in Model)
        {
            <div class="row result-row metadata">
                <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12" style="height: auto; border: medium none; box-shadow: none;">
                    <div class="col-img col-xs-6 col-sm-2 col-md-2 col-lg-2 ">
                        @{
			                string thumb = "/Content/pdf.jpg";
			                if (item.thumbnail != null)
			                {
				            thumb = item.thumbnail;
			                }
                        }
                        <a href="@Html.DisplayFor(modelItem => item.documentUrl)"><img src="@thumb" class="img-thumbnail img-responsive pull-left" alt="forside pdf" /></a>
                    </div>
                    <div class="col-no-padding-xs col-title col-sm-5 col-md-5 col-lg-5">
                        

                        @if (item.register.parentRegister != null)
                        {
                            <a class="" href="/subregister/@item.register.parentRegister.seoname/@item.register.parentRegister.owner.seoname/@item.register.seoname/@item.documentowner.seoname/@item.seoname/">
                                <h4 class="role-button" role="button" style="font-size: 18px;">
                                    @item.name
                                </h4>
                            </a>
                        }
                        else
                        {
                            <a class="" href="/register/@item.register.seoname/@item.documentowner.seoname/@item.seoname/">
                                <h4 class="role-button" role="button" style="font-size: 18px;">
                                    @item.name
                                </h4>
                            </a>
                        }
                        <a class="" href="/register/@Html.ToUrl(item.register.name)/@Html.ToUrl(@item.documentowner.name)/">
                            <img src="@Url.Content("~/data/organizations/" +  item.documentowner.logoFilename)" class="img-responsive img-small-logo" alt="@Html.DisplayFor(modelItem => item.documentowner.name)" />
                        </a>
                        <div class="orglogo">
                            <a class="" href="/register/@Html.ToUrl(item.register.name)/@Html.ToUrl(@item.documentowner.name)/">
                                @Html.DisplayFor(modelItem => item.documentowner.name)
                            </a>
                        </div>
                        <p class=" ">
                            @Html.DisplayFor(modelItem => item.description)
                        </p>
                    </div>
                    <div class="col-no-padding-xs col-actions col-xs-6 col-sm-3 col-md-3 col-lg-3">
                        <a href="@Html.DisplayFor(modelItem => item.documentUrl)" type="button" class="btn btn-lg btn-link">
                            <span class="glyphicon glyphicon-download-alt"> </span>last ned
                        </a><br />
                    </div>
                    <div class="col-no-padding-xs col-xs-6 col-sm-2 col-md-2 col-lg-2 col-information pull-right">

                    @if (item.status == null)
                    {
                        <p><span>Status: </span>Ikke angitt</p>
                    }
                    else
                    {
                        <p><span>Status: </span>@item.status.description <i class="statusIcon-@item.statusId"></i></p>
                    }
                    </div>

                </div>

            </div>
            <hr />
        }
    </div>


    <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
        <div class="col-img col-xs-12 col-sm-6 col-md-6 col-lg-6 pull-right">
            @Html.PagedListPager(Model, page => Url.Action("Details", new { page, sorting = ViewBag.SortOrder }))
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pull-left">
            Registere viser @Model.FirstItemOnPage - @Model.LastItemOnPage av @Model.TotalItemCount
        </div>
    </div>

