@model PagedList.IPagedList<RegisterItem>
@using Kartverket.Register.Models
@using Kartverket.Register.Helpers

@{
    var registerName = ViewBag.register;
}

<div class="register document search-results @registerName">
    @foreach (Document item in Model)
    {
        <div class="row result-row metadata">

                <div class="col-img col-xs-6 col-sm-2 col-md-2 col-lg-2">
                    @{
                        string thumb = "/Content/pdf.jpg";
                        if (item.thumbnail != null)
                        {
                            thumb = item.thumbnail;
                        }
                    }
                    @if (item.documentUrl.Contains("ikke angitt"))
                    {
                        <img src="@thumb" class="img-thumbnail img-responsive pull-left" alt="forside pdf" />
                    }
                    else
                    {
                        <a href="@Html.DisplayFor(model => item.documentUrl)" class="show-loading-animation" data-loading-message="@Registers.LoadingMessage"><img src="@thumb" class="img-thumbnail img-responsive pull-left" alt="forside pdf" /></a>
                    }
                </div>

                <div class="col-no-padding-xs col-title col-sm-5 col-md-5 col-lg-5">
                    @if (item.register.parentRegister != null)
                    {
                        <a href="/subregister/versjoner/@item.register.parentRegister.seoname/@item.register.parentRegister.owner.seoname/@item.register.seoname/@item.documentowner.seoname/@item.seoname" class="show-loading-animation" data-loading-message="@Registers.LoadingMessage">
                            @item.name
                        </a>
                    }
                    else
                    {
                        <a href="/register/versjoner/@item.register.seoname/@item.documentowner.seoname/@item.seoname" class="show-loading-animation" data-loading-message="@Registers.LoadingMessage">
                            @item.name
                        </a>
                    }
                    <a id="selectedOwner-@item.systemId" href="/register/@item.register.seoname/@item.documentowner.seoname" class="show-loading-animation" data-loading-message="@Registers.LoadingMessage">
                        <img src="@Url.Content("~/data/organizations/" +  item.documentowner.logoFilename)" class="img-responsive img-small-logo" alt="@Html.DisplayFor(modelItem => item.documentowner.name)" title="@Html.DisplayFor(modelItem => item.documentowner.name)" />
                    </a>
                    <div>
                        <a href="/register/@item.register.seoname/@item.documentowner.seoname" class="show-loading-animation" data-loading-message="@Registers.LoadingMessage">
                            @Html.DisplayFor(modelItem => item.documentowner.name)
                        </a>
                    </div>
                    <p>
                        @Html.DisplayFor(modelItem => item.description)
                    </p>
                </div>

                <div class="col-no-padding-xs col-actions col-xs-6 col-sm-2 col-md-2 col-lg-2">
                    @if (item.documentUrl.Contains("ikke angitt"))
                    {
                        <a href="@Html.DisplayFor(modelItem => item.documentUrl)" title="Ingen dokument er angitt for @item.name" class="btn disabled">
                            <span class="glyphicon glyphicon-download-alt"> </span>@Shared.Download
                        </a><br />
                    }
                    else
                    {
                        <a href="@Html.DisplayFor(modelItem => item.documentUrl)" title="Last ned dokument for @item.name" class="show-loading-animation btn" data-loading-message="@Registers.LoadingMessage">
                            <span class="glyphicon glyphicon-download-alt"> </span>@Shared.Download
                        </a><br />
                    }
                </div>

                <div class="col-no-padding-xs col-xs-6 col-sm-3 col-md-3 col-lg-3 col-information pull-right">
                    @if (item.status == null)
                    {
                        <p class="pull-right" title="@Html.Raw(HtmlHelperExtensions.StatusBeskrivelse(item.register))"><span>Status: </span>@Registers.NotSet</p>
                    }
                    else
                    {
                        <p class="pull-right" title="@Html.Raw(HtmlHelperExtensions.StatusBeskrivelse(item.register))"><span>Status: </span>@item.status.description <i class="statusIcon-@item.statusId"></i></p>
                    }
                </div>
            </div>
        <hr />
}
</div>
