@model PagedList.IPagedList<RegisterItem>
@using Kartverket.Register.Models
@using Kartverket.Register.Helpers

@{
    var registerName = ViewBag.register;
}

<div class="table-heading col-md-12">
    <div class="col-md-5 col-sm-12 col">@HtmlHelperExtensions.OrderByLink(Request.QueryString["sorting"], Request.QueryString["text"], Shared.Title, "name")</div>
    <div class="col-md-4 col-sm-12 col">@HtmlHelperExtensions.OrderByLink(Request.QueryString["sorting"], Request.QueryString["text"], Documents.DocumentOwner, "documentOwner")</div>
    <div class="col-md-1 col-sm-12 col">@Documents.Download</div>
    <div class="col-md-2 col-sm-12 col text-right">@HtmlHelperExtensions.OrderByLink(Request.QueryString["sorting"], Request.QueryString["text"], Shared.Status, "status")</div>
</div>

@foreach (Document item in Model)
{
    <div class="resultItemRow col-md-12 ">
        <div class="col-md-5 col-sm-12 col">
            <a href="@item.GetObjectUrl()" class="show-loading-animation" data-loading-message="@Registers.LoadingMessage">@item.NameTranslated()</a>
        </div>
        <div class="col-md-4 col-sm-12 col">
            <a href="@item.ItemsByOwnerUrl()" class="show-loading-animation" data-loading-message="@Registers.LoadingMessage">
                @item.documentowner.NameTranslated()
            </a>
        </div>
        <div class="col-sm-6 col-md-1 col">
            @if (!item.documentUrl.Contains("ikke angitt")) { 
                <a href="@Html.DisplayFor(modelItem => item.documentUrl)" title="@Shared.Download for @item.NameTranslated()" class="show-loading-animation" data-loading-message="@Registers.LoadingMessage">
                    <span class="glyphicon glyphicon-download-alt"> </span>
                </a>
            }
        </div>
        <div class="col-sm-6 col-md-2 col text-right">
            <p title="@Html.Raw(HtmlHelperExtensions.StatusBeskrivelse(item.register))">@item.status.DescriptionTranslated() <i class="statusIcon-@item.statusId"></i></p>    
        </div>
    </div>
}