@model Kartverket.Register.Models.ViewModels.StatusReportViewModel

@if (Model.ReportNotExists)
{
    <p>Ingen rapporter enda...</p>
}
else
{
    <h2> Rapport </h2>
    <p>Antall datasett: @Model.NumberOfItems</p>

    <div class="row">
        <div class="col-md-4 col-sm-12">
            @using (Html.BeginForm("DetailsDokStatusRegistry", "Registers", FormMethod.Get))
            {

                @Html.Hidden("DokSelectedTab", "report")
                @Html.DropDownList("SelectedDokReport", Model.DokReportsSelectList, new { onchange = "this.form.submit();", @class = "form-control" })
            }
        </div>
        <div id="reportViewButtons">
            <button class="btn" id="tabelButton" onclick="reportView('tabel', event)"><i class="fa fa-table"></i></button>
            <button class="btn" id="pieChartButton" onclick="reportView('pieChart', event)"><i class="fa fa-pie-chart"></i></button>
            <button class="btn" id="barChartButton" onclick="reportView('barChart', event)"><i class="fa fa-bar-chart"></i></button>
            <button class="btn" id="lineChartButton" onclick="reportView('lineChart', event)"><i class="fa fa-line-chart"></i></button>
        </div>
    </div>


    <div id="tabel" class="reportViewContent">
        <table class="table table-bordered table-responsive">
            <thead>
                <tr>
                    <th></th>
                    <th>@DataSet.DOK_Delivery_Status_Good</th>
                    <th>@DataSet.DOK_Delivery_Status_Useable</th>
                    <th>@DataSet.DOK_Delivery_Status_Deficient</th>
                    <th>@DataSet.DOK_Delivery_Status_NotSet</th>
                </tr>
            </thead>

            <tbody>

                <tr>
                    <td>@Html.LabelFor(model => model.NumberOfItemsWithMetadataGood)</td>
                    <td>@Model.NumberOfItemsWithMetadataGood</td>
                    <td>@Model.NumberOfItemsWithMetadataUseable</td>
                    <td>@Model.NumberOfItemsWithMetadataDeficient</td>
                    <td>@Model.NumberOfItemsWithMetadataNotSet</td>
                </tr>

                <tr>
                    <td>@Html.LabelFor(model => model.NumberOfItemsWithProductsheetGood)</td>
                    <td>@Model.NumberOfItemsWithProductsheetGood</td>
                    <td>@Model.NumberOfItemsWithProductsheetUseable</td>
                    <td>@Model.NumberOfItemsWithProductsheetDeficient</td>
                    <td>@Model.NumberOfItemsWithMetadataNotSet</td>
                </tr>

                <tr>
                    <td>@Html.LabelFor(model => model.NumberOfItemsWithPresentationRulesGood)</td>
                    <td>@Model.NumberOfItemsWithPresentationRulesGood</td>
                    <td>@Model.NumberOfItemsWithPresentationRulesUseable</td>
                    <td>@Model.NumberOfItemsWithPresentationRulesDeficient</td>
                    <td>@Model.NumberOfItemsWithPresentationRulesNotSet</td>
                </tr>

                <tr>
                    <td>@Html.LabelFor(model => model.NumberOfItemsWithProductSpecificationGood)</td>
                    <td>@Model.NumberOfItemsWithProductSpecificationGood</td>
                    <td>@Model.NumberOfItemsWithProductSpecificationUseable</td>
                    <td>@Model.NumberOfItemsWithProductSpecificationDeficient</td>
                    <td>@Model.NumberOfItemsWithProductSpecificationNotSet</td>
                </tr>

                <tr>
                    <td>@Html.LabelFor(model => model.NumberOfItemsWithWmsGood)</td>
                    <td>@Model.NumberOfItemsWithWmsGood</td>
                    <td>@Model.NumberOfItemsWithWmsUseable</td>
                    <td>@Model.NumberOfItemsWithWmsDeficient</td>
                    <td>@Model.NumberOfItemsWithWmsNotSet</td>
                </tr>

                <tr>
                    <td>@Html.LabelFor(model => model.NumberOfItemsWithWfsGood)</td>
                    <td>@Model.NumberOfItemsWithWfsGood</td>
                    <td>@Model.NumberOfItemsWithWfsUseable</td>
                    <td>@Model.NumberOfItemsWithWfsDeficient</td>
                    <td>@Model.NumberOfItemsWithWfsNotSet</td>
                </tr>

                <tr>
                    <td>@Html.LabelFor(model => model.NumberOfItemsWithSosiRequirementsGood)</td>
                    <td>@Model.NumberOfItemsWithSosiRequirementsGood</td>
                    <td>@Model.NumberOfItemsWithSosiRequirementsUseable</td>
                    <td>@Model.NumberOfItemsWithSosiRequirementsDeficient</td>
                    <td>@Model.NumberOfItemsWithSosiRequirementsNotSet</td>
                </tr>

                <tr>
                    <td>@Html.LabelFor(model => model.NumberOfItemsWithGmlRequirementsGood)</td>
                    <td>@Model.NumberOfItemsWithGmlRequirementsGood</td>
                    <td>@Model.NumberOfItemsWithGmlRequirementsUseable</td>
                    <td>@Model.NumberOfItemsWithGmlRequirementsDeficient</td>
                    <td>@Model.NumberOfItemsWithGmlRequirementsNotSet</td>
                </tr>

                <tr>
                    <td>@Html.LabelFor(model => model.NumberOfItemsWithDistributionGood)</td>
                    <td>@Model.NumberOfItemsWithDistributionGood</td>
                    <td>@Model.NumberOfItemsWithDistributionUseable</td>
                    <td>@Model.NumberOfItemsWithDistributionDeficient</td>
                    <td>@Model.NumberOfItemsWithDistributionNotSet</td>
                </tr>


            </tbody>
        </table>
    </div>

    <div id="pieChart" style="display:none" class="reportViewContent">
        <div class="col-md-12 row text-center grid">

            <div class="col-md-6 col-sm-1">
                <canvas id="metadataChart"></canvas>
            </div>

            <div class="col-md-6 col-sm-1">
                <canvas id="productsheetChart"></canvas>
            </div>

            <div class="col-md-6 col-sm-1">
                <canvas id="presentationRulesChart"></canvas>
            </div>

            <div class="col-md-6 col-sm-1">
                <canvas id="productSpecificationChart"></canvas>
            </div>

            <div class="col-md-6 col-sm-1">
                <canvas id="wmsChart"></canvas>
            </div>

            <div class="col-md-6 col-sm-1">
                <canvas id="wfsChart"></canvas>
            </div>

            <div class="col-md-6 col-sm-1">
                <canvas id="sosiRequirementsChart"></canvas>
            </div>

            <div class="col-md-6 col-sm-1">
                <canvas id="gmlRequirementsChart"></canvas>
            </div>

            <div class="col-md-6 col-sm-1">
                <canvas id="atomFeedChart"></canvas>
            </div>

            <div class="col-md-6 col-sm-1">
                <canvas id="distributionChart"></canvas>
            </div>

        </div>
    </div>

    <div id="barChart" style="display: none" class="reportViewContent">
        <div class="row col-md-12">
            <canvas id="statusBarChart"></canvas>
        </div>
    </div>

    <div id="lineChart" style="display: none" class="reportViewContent">
        <div class="row">
            <div class="col-md-4 col-sm-12 form-group">
                @using (Html.BeginForm("DetailsDokStatusRegistry", "Registers", FormMethod.Get))
                {

                    @Html.Hidden("DokSelectedTab", "report")
                    @Html.DropDownList("StatusType", Model.StatusTypeSelectList, new { onchange = "this.form.submit();", @class = "form-control", id = "ddStatusType" })
                }
            </div>

            <div class="col-md-12">
                <div id="lineChartStatus">
                    <canvas id="LineChart" height="200" chart-colors="colors"></canvas>
                </div>

                <div id="lineChartAll">
                    <canvas id="myChart" height="200" chart-colors="colors"></canvas>
                </div>
            </div>


        </div>

    </div>






}
