@model PagedList.IPagedList<RegisterItemV2ViewModel>
@using Kartverket.Register.Models.ViewModels
@using Kartverket.Register.Helpers

<div class="table-heading col-md-12">
    <div class="col-md-3 col">@HtmlHelperExtensions.OrderByLink(Request.QueryString["sorting"], Request.QueryString["text"], Shared.Title, "name")</div>
    <div class="col-md-2 col">@HtmlHelperExtensions.OrderByLink(Request.QueryString["sorting"], Request.QueryString["text"], Registers.Owner, "owner")</div>
    <div class="col-md-2 col">@HtmlHelperExtensions.OrderByLink(Request.QueryString["sorting"], Request.QueryString["text"], DataSet.DOK_Delivery_Theme, "theme") </div>
    <div class="col-md-5 col-sm-12 status-icons">

        @HtmlHelperExtensions.OrderByLink(Request.QueryString["sorting"], Request.QueryString["text"], "", "inspire")
        @HtmlHelperExtensions.OrderByLink(Request.QueryString["sorting"], Request.QueryString["text"], "", "dok")
        @HtmlHelperExtensions.OrderByLink(Request.QueryString["sorting"], Request.QueryString["text"], "", "nationalt_dataset")
        @HtmlHelperExtensions.OrderByLink(Request.QueryString["sorting"], Request.QueryString["text"], "", "plan")
        @HtmlHelperExtensions.OrderByLink(Request.QueryString["sorting"], Request.QueryString["text"], "", "geodatalov")

        @HtmlHelperExtensions.OrderByLink(Request.QueryString["sorting"], Request.QueryString["text"], "", "geodatalov_metadata_status")
        @HtmlHelperExtensions.OrderByLink(Request.QueryString["sorting"], Request.QueryString["text"], "", "geodatalov_productspecification_status")
        @HtmlHelperExtensions.OrderByLink(Request.QueryString["sorting"], Request.QueryString["text"], "", "geodatalov_sosi_status")
        @HtmlHelperExtensions.OrderByLink(Request.QueryString["sorting"], Request.QueryString["text"], "", "geodatalov_gml_status")
        @HtmlHelperExtensions.OrderByLink(Request.QueryString["sorting"], Request.QueryString["text"], "", "geodatalov_wms_status")
        @HtmlHelperExtensions.OrderByLink(Request.QueryString["sorting"], Request.QueryString["text"], "", "geodatalov_wfs_status")
        @HtmlHelperExtensions.OrderByLink(Request.QueryString["sorting"], Request.QueryString["text"], "", "geodatalov_atom_status")
        @HtmlHelperExtensions.OrderByLink(Request.QueryString["sorting"], Request.QueryString["text"], "", "geodatalov_common_status")
        @HtmlHelperExtensions.OrderByLink(Request.QueryString["sorting"], Request.QueryString["text"], "", "dokstatus")
    </div>
</div>

@foreach (GeodatalovDatasetViewModel item in Model)
{
    <div class="resultItemRow col-md-12 ">
        <div class="col-md-3 col-sm-2 col"><a href="@item.DetailPageUrl()" class="show-loading-animation" data-loading-message="@Registers.LoadingMessage"> @item.Name </a></div>
        <div class="col-md-2 col"><a href="@item.ItemsByOwnerUrl()" title="Datasett eier: @item.Owner.NameTranslated()" class="show-loading-animation" data-loading-message="@Registers.LoadingMessage">@item.Owner.NameTranslated()</a></div>
        <div class="col-md-2 col"><span>@item.GetThemeGroupDescription()</span></div>
        <div class="col-md-5 col-sm-5 status-icons pull-right">
            @HtmlHelperExtensions.Checked(item.InspireTheme, GeodatalovDataSet.InspireTheme)
            @HtmlHelperExtensions.Checked(item.Dok, GeodatalovDataSet.Dok)
            @HtmlHelperExtensions.Checked(item.NationalDataset, GeodatalovDataSet.NationalDataset)
            @HtmlHelperExtensions.Checked(item.Plan, GeodatalovDataSet.Plan)
            @HtmlHelperExtensions.Checked(item.Geodatalov, GeodatalovDataSet.Geodatalov)
            @HtmlHelperExtensions.GetDokDeliveryStatusSymbol(item.MetadataStatusId, false, "metadata")
            @HtmlHelperExtensions.GetDokDeliveryStatusSymbol(item.ProductSpesificationStatusId, false, "productspecification")
            @HtmlHelperExtensions.GetDokDeliveryStatusSymbol(item.SosiDataStatusId, false, "sosi")
            @HtmlHelperExtensions.GetDokDeliveryStatusSymbol(item.GmlDataStatusId, false, "gml")
            @HtmlHelperExtensions.GetDokDeliveryStatusSymbol(item.WmsStatusId, false, "wms")
            @HtmlHelperExtensions.GetDokDeliveryStatusSymbol(item.WfsStatusId, false, "wfs")
            @HtmlHelperExtensions.GetDokDeliveryStatusSymbol(item.AtomFeedStatusId, false, "atom")
            @HtmlHelperExtensions.GetDokDeliveryStatusSymbol(item.CommonStatusId, false, "common")
            <span class="status-icon-link" data-toggle='tooltip' data-placement='bottom' title='@item.DokStatus.description'>
                <i class="statusIcon-@item.DokStatusId"></i>
            </span>
        </div>
    </div>
}