@model ICollection<RegisterItemV2ViewModel>
@using Kartverket.Register.Models.ViewModels
@using System.Globalization

@if (Model.Any())
{
    <div class="table-heading col-md-12">
        <div class="col-md-3 col">@Shared.Title</div>
        <div class="col-md-2 col">@Registers.Owner</div>
        <div class="col-md-2 col">@Registers.VersionName</div>
        <div class="col-md-2 col">Status</div>
        <div class="col-md-1 col">@Registers.Accepted</div>
        <div class="col-md-2 col text-right">@Registers.Date</div>
    </div>

    foreach (DocumentViewModel historicalDocument in Model)
    {
        <div class="resultItemRow col-md-12">
            <div class="col-md-3 col">
                <a href="@historicalDocument.VersionUrl()">@historicalDocument.Name</a>
            </div>
            <div class="col-md-2 col"> @historicalDocument.Owner.NameTranslated()</div>
            <div class="col-md-2 col">@Html.DisplayFor(modelItem => historicalDocument.VersionName)</div>
            <div class="col-md-2 col">
                @historicalDocument.Status.DescriptionTranslated() <i class="statusIcon-@historicalDocument.StatusId"></i>
            </div>
            <div class="col-md-1 col">@historicalDocument.Accepted</div>
            @if((historicalDocument.Accepted == "Utkast" || historicalDocument.Accepted == "Draft") && historicalDocument.DateNotAccepted.HasValue)
            {
                <div class="col-md-2 col text-right">@Html.DisplayFor(modelItem => historicalDocument.DateNotAccepted)</div>
            }
            else
            {
            <div class="col-md-2 col text-right">@Html.DisplayFor(modelItem => historicalDocument.DateAccepted)</div>
            }
        </div>
    }
}
else
{
    <p>@Documents.NoHistoricalDocuments </p>
}
