@model ICollection<RegisterItemV2ViewModel>
@using Kartverket.Register.Models.ViewModels

@if (Model.Any())
{
    <article>
        <div class="col-md-12 row">
            <h3>@Registers.Historical</h3>
        </div>
        <div class="table-heading col-md-12">
            <div class="col-md-3 col">@Shared.Title</div>
            <div class="col-md-2 col">@Registers.Owner</div>
            <div class="col-md-2 col">@Registers.VersionName</div>
            <div class="col-md-2 col">Status</div>
            <div class="col-md-1 col">@Registers.Accepted</div>
            <div class="col-md-2 col text-right">@Registers.DateAccepted</div>
        </div>

        @foreach (DocumentViewModel historicalDocument in Model)
        {
            <div class="resultItemRow col-md-12">
                <div class="col-md-3 col">
                    <a href="@historicalDocument.VersionUrl()">@historicalDocument.Name</a>
                </div>
                <div class="col-md-2 col"> @historicalDocument.Owner.NameTranslated()</div>
                <div class="col-md-2 col">@Html.DisplayFor(modelItem => historicalDocument.VersionName)</div>
                <div class="col-md-2 col">
                    @historicalDocument.Status.DescriptionTranslated() <i class="statusIcon-@historicalDocument.StatusId"></i>
                </div>
                <div class="col-md-1 col">@historicalDocument.Accepted</div>
                <div class="col-md-2 col text-right">@Html.DisplayFor(modelItem => historicalDocument.DateAccepted)</div>
            </div>
        }
    </article>
}