@model PagedList.IPagedList<RegisterItemV2ViewModel>
@using Kartverket.Register.Models.ViewModels
@using Kartverket.Register.Helpers

<div class="table-view">
    <div class="search-results-table-heading row">
        <div class="col-md-3 col-sm-12"><p>@HtmlHelperExtensions.OrderByLink(Request.QueryString["sorting"], Request.QueryString["text"], Shared.Title, "name", null, "service")</p></div>
        <div class="col-md-2 col-sm-12"><p>@HtmlHelperExtensions.OrderByLink(Request.QueryString["sorting"], Request.QueryString["text"], Registers.Owner, "owner", null, "service")</p></div>
        <div class="col-md-2 col-sm-12"><p>@HtmlHelperExtensions.OrderByLink(Request.QueryString["sorting"], Request.QueryString["text"], DataSet.DOK_Delivery_Theme, "inspire_theme_status", null, "service")</p></div>
        <div class="col-md-1 col-sm-12"><p>@HtmlHelperExtensions.OrderByLink(Request.QueryString["sorting"], Request.QueryString["text"], "Type", "inspire_serviceType", null, "service")</p></div>
        <div class="col-md-1 col-sm-12"><p>@HtmlHelperExtensions.OrderByLink(Request.QueryString["sorting"], Request.QueryString["text"], "Request", "request", null, "service")</p></div>
        <div class="col-md-1 col-sm-12"><p>Url</p></div>
        <div class="col-md-2 col-sm-12 status-icons">
            <p style="right: 15px;">
                @HtmlHelperExtensions.OrderByLink(Request.QueryString["sorting"], Request.QueryString["text"], "", "sds", null, "service")
                @HtmlHelperExtensions.OrderByLink(Request.QueryString["sorting"], Request.QueryString["text"], "", "networkService", null, "service")
                @HtmlHelperExtensions.OrderByLink(Request.QueryString["sorting"], Request.QueryString["text"], "", "inspireService_metadata_status", null, "service")
                @HtmlHelperExtensions.OrderByLink(Request.QueryString["sorting"], Request.QueryString["text"], "", "inspire_metadataSearchService_status", null, "service")
                @HtmlHelperExtensions.OrderByLink(Request.QueryString["sorting"], Request.QueryString["text"], "", "inspire_service_status", null, "service")
            </p>
        </div>
    </div>
</div>

<div class="menu-separator search-results-table-heading"></div>

@foreach (InspireDataServiceViewModel item in Model)
{
<div class="resultItemRow">
    <div class="row">
        <div class="col-md-3 col-sm-12"><a href="@item.DetailPageUrl()?InspireRegisteryType=service" class="show-loading-animation" data-loading-message="@Registers.LoadingMessage"> @item.Name </a></div>
        <div class="col-md-2 col-sm-12"><a href="@item.ItemsByOwnerUrl()" title="Datasett eier: @item.Owner.name" class="show-loading-animation" data-loading-message="@Registers.LoadingMessage">@item.Owner.shortname</a></div>
        <div class="col-md-2 col-sm-12">@item.InspireThemeName()</div>
        <div class="col-md-1 col-sm-12">@item.InspireDataType</div>
        <div class="col-md-1 col-sm-12 text-center">@item.Requests</div>
        <div class="col-md-1 col-sm-12"><a href="@item.Url"><span data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Url til tjeneste"><span class="custom-icon-sm custom-icon-eksternlink"></span></span></a></div>

        <div class="col-md-2 col-sm-5 status-icons pull-right">
            @HtmlHelperExtensions.Checked(item.Sds, "Sds")
            @HtmlHelperExtensions.Checked(item.NetworkService, "Nettverkstjeneste")
            @HtmlHelperExtensions.GetDokDeliveryStatusSymbol(item.InspireDeliveryMetadata.StatusId, false, "Metadata")
            @HtmlHelperExtensions.GetDokDeliveryStatusSymbol(item.InspireDeliveryMetadataInSearchService.StatusId, false, "Metadata i søketjeneste")
            @HtmlHelperExtensions.GetDokDeliveryStatusSymbol(item.InspireDeliveryServiceStatus.StatusId, false, "Tjenestestatus")
        </div>
    </div>
</div>
}