@model InspireMonitoringViewModel
@using Kartverket.Register.Models.ViewModels

<h2>Indicators</h2>

<table class="table table-bordered">
    <tr>
        <th></th>
        <th colspan="2">Metadata</th>
        <th colspan="2">Data Sets</th>
        <th colspan="4">Services</th>
    </tr>
    <tr class="success">
        <th></th>
        <th>Existence</th>
        <th>Compliance</th>
        <th>Extend</th>
        <th>Compliance</th>
        <th>MD Accessibility</th>
        <th>DS Accessibility</th>
        <th>Use</th>
        <th>Compliance</th>
    </tr>

    <tr class="active">
        <th>Indicator Name</th>
        <th>MDi1</th>
        <th>MDi2</th>
        <th>DSi1</th>
        <th>DSi2</th>
        <th>NSi1</th>
        <th>NSi2</th>
        <th>NSi3</th>
        <th>NSi4</th>
    </tr>

    <tr>
        <th>Indicator Value</th>
        <td>@Model.MDi1Value</td>
        <td>@Model.MDi2Value</td>
        <td>@Model.DSi1Value</td>
        <td>@Model.DSi2Value</td>
        <td>@Model.NSi1Value</td>
        <td>@Model.NSi2Value</td>
        <td>@Model.NSi3Value</td>
        <td>@Model.NSi4Value</td>
    </tr>
    <tr>
        <th>Numerator</th>
        <td>@Model.MDi1Numerator</td>
        <td>@Model.MDi2Numerator</td>
        <td>@Model.DSi1Numerator</td>
        <td>@Model.DSi2Numerator</td>
        <td>@Model.NSi1Numerator</td>
        <td>@Model.NSi2Numerator</td>
        <td>@Model.NSi3Numerator</td>
        <td>@Model.NSi4Numerator</td>
    </tr>
    <tr>
        <th>Denominator</th>
        <td>@Model.MDi1Denominator</td>
        <td>@Model.MDi2Denominator</td>
        <td>@Model.DSi1Denominator</td>
        <td>@Model.DSi2Denominator</td>
        <td>@Model.NSi1Denominator</td>
        <td>@Model.NSi2Denominator</td>
        <td>@Model.NSi3Denominator</td>
        <td>@Model.NSi4Denominator</td>
    </tr>

</table>


@***** SPATIAL DATA SETS*****@

<h3>Spatial Data Sets</h3>

<table class="table table-bordered">
    <tr>
        <th colspan="2"></th>
        <th colspan="2">Metadata</th>
        <th colspan="2">Data Sets</th>
        <th colspan="4">Services</th>
    </tr>


    <tr class="success">
        <th>All Annexes</th>
        <th></th>
        <th>Existence</th>
        <th>Compliance</th>
        <th>Extend</th>
        <th>Compliance</th>
        <th>MD Accessibility</th>
        <th>DS Accessibility</th>
        <th>Use</th>
        <th>Compliance</th>
    </tr>

    <tr class="active">
        <th></th>
        <th>SubInd. Name</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>NS1.1</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

    <tr>
        <th></th>
        <th>SubInd. Value</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>@Model.NSi11Value</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th></th>
        <th>Numerator</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>@Model.NSi11Numerator</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th></th>
        <th>Denominator</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>@Model.NSi11Denominator</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>


    @* ***** ANNEX I ******* *@

    <tr class="active">
        <th>Annex I</th>
        <th>SubInd. Name</th>
        <th>MDi1.1</th>
        <th>MDi2.1</th>
        <th>DSi1.1</th>
        <th>DSi2.1</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

    <tr>
        <th></th>
        <th>SubInd. Value</th>
        <td>@Model.MDi11Value</td>
        <td>@Model.MDi21Value</td>
        <td>@Model.DSi11Value</td>
        <td>@Model.DSi21Value</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th></th>
        <th>Numerator</th>
        <td>@Model.MDi11Numerator</td>
        <td>@Model.MDi21Numerator</td>
        <td>@Model.DSi11Numerator</td>
        <td>@Model.DSi21Numerator</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th></th>
        <th>Denominator</th>
        <td>@Model.MDi11Denominator</td>
        <td>@Model.MDi21Denominator</td>
        <td>@Model.DSi11Denominator</td>
        <td>@Model.DSi21Denominator</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>


    @* ***** ANNEX II ******* *@


    <tr class="active">
        <th>Annex II</th>
        <th>SubInd. Name</th>
        <th>MDi1.2</th>
        <th>MDi2.2</th>
        <th>DSi1.2</th>
        <th>DSi2.2</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

    <tr>
        <th></th>
        <th>SubInd. Value</th>
        <td>@Model.MDi12Value</td>
        <td>@Model.MDi22Value</td>
        <td>@Model.DSi12Value</td>
        <td>@Model.DSi22Value</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th></th>
        <th>Numerator</th>
        <td>@Model.MDi12Numerator</td>
        <td>@Model.MDi22Numerator</td>
        <td>@Model.DSi12Numerator</td>
        <td>@Model.DSi22Numerator</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th></th>
        <th>Denominator</th>
        <td>@Model.MDi12Denominator</td>
        <td>@Model.MDi22Denominator</td>
        <td>@Model.DSi12Denominator</td>
        <td>@Model.DSi22Denominator</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    @* ***** ANNEX III ******* *@

    <tr class="active">
        <th>Annex III</th>
        <th>SubInd. Name</th>
        <th>MDi1.3</th>
        <th>MDi2.3</th>
        <th>DSi1.3</th>
        <th>DSi2.3</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

    <tr>
        <th></th>
        <th>SubInd. Value</th>
        <td>@Model.MDi13Value</td>
        <td>@Model.MDi23Value</td>
        <td>@Model.DSi13Value</td>
        <td>@Model.DSi23Value</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th></th>
        <th>Numerator</th>
        <td>@Model.MDi13Numerator</td>
        <td>@Model.MDi23Numerator</td>
        <td>@Model.DSi13Numerator</td>
        <td>@Model.DSi23Numerator</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th></th>
        <th>Denominator</th>
        <td>@Model.MDi13Denominator</td>
        <td>@Model.MDi23Denominator</td>
        <td>@Model.DSi13Denominator</td>
        <td>@Model.DSi23Denominator</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

</table>


@***** SPATIAL DATA SERVICES*****@

<h3>Spatial Data Services</h3>

<table class="table table-bordered">
    <tr>
        <th colspan="2"></th>
        <th colspan="2">Metadata</th>
        <th colspan="2">Data Sets</th>
        <th colspan="4">Services</th>
    </tr>


    <tr class="success">
        <th>All Services</th>
        <th></th>
        <th>Existence</th>
        <th>Compliance</th>
        <th>Extend</th>
        <th>Compliance</th>
        <th>MD Accessibility</th>
        <th>DS Accessibility</th>
        <th>Use</th>
        <th>Compliance</th>
    </tr>

    <tr class="active">
        <th></th>
        <th>SubInd. Name</th>
        <th>MDi1.4</th>
        <th>MDi2.4</th>
        <th></th>
        <th></th>
        <th>NSi1.2</th>
        <th></th>
        <th>NSi3</th>
        <th>NSi4</th>
    </tr>

    <tr>
        <th></th>
        <th>SubInd. Value</th>
        <td>@Model.MDi14Value</td>
        <td>@Model.MDi24Value</td>
        <td></td>
        <td></td>
        <td>@Model.NSi12Value</td>
        <td></td>
        <td>@Model.NSi3Value</td>
        <td>@Model.NSi4Value</td>
    </tr>
    <tr>
        <th></th>
        <th>Numerator</th>
        <td>@Model.MDi14Numerator</td>
        <td>@Model.MDi24Numerator</td>
        <td></td>
        <td></td>
        <td>@Model.NSi12Numerator</td>
        <td></td>
        <td>@Model.NSi3Numerator</td>
        <td>@Model.NSi4Numerator</td>
    </tr>
    <tr>
        <th></th>
        <th>Denominator</th>
        <td>@Model.MDi14Denominator</td>
        <td>@Model.MDi24Denominator</td>
        <td></td>
        <td></td>
        <td>@Model.NSi12Denominator</td>
        <td></td>
        <td>@Model.NSi3Denominator</td>
        <td>@Model.NSi4Denominator</td>
    </tr>


    @* ***** Discovery Services ******* *@

    <tr class="active">
        <th>Discovery Services</th>
        <th>SubInd. Name</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>NSi3.1</th>
        <th>NSi4.1</th>
    </tr>

    <tr>
        <th></th>
        <th>SubInd. Value</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>@Model.NSi31Value</td>
        <td>@Model.NSi41Value</td>
    </tr>
    <tr>
        <th></th>
        <th>v</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>@Model.NSi31Numerator</td>
        <td>@Model.NSi41Numerator</td>
    </tr>
    <tr>
        <th></th>
        <th>Denominator</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>@Model.NSi31Denominator</td>
        <td>@Model.NSi41Denominator</td>
    </tr>


    @* ***** View Services ******* *@


    <tr class="active">
        <th>View Services</th>
        <th>SubInd. Name</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>NSi2.1</th>
        <th>NSi3.2</th>
        <th>NSi4.2</th>
    </tr>

    <tr>
        <th></th>
        <th>SubInd. Value</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>@Model.NSi21Value</td>
        <td>@Model.NSi32Value</td>
        <td>@Model.NSi42Value</td>
    </tr>
    <tr>
        <th></th>
        <th>Numerator</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>@Model.NSi21Numerator</td>
        <td>@Model.NSi32Numerator</td>
        <td>@Model.NSi42Numerator</td>
    </tr>
    <tr>
        <th></th>
        <th>Denominator</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>@Model.NSi21Denominator</td>
        <td>@Model.NSi32Denominator</td>
        <td>@Model.NSi42Denominator</td>
    </tr>

    @* ***** Download Services ******* *@

    <tr class="active">
        <th>Download Services</th>
        <th>SubInd. Name</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>NSi2.2</th>
        <th>NSi3.3</th>
        <th>NSi4.3</th>
    </tr>

    <tr>
        <th></th>
        <th>SubInd. Value</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>@Model.NSi22Value</td>
        <td>@Model.NSi33Value</td>
        <td>@Model.NSi43Value</td>
    </tr>
    <tr>
        <th></th>
        <th>Numerator</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>@Model.NSi22Numerator</td>
        <td>@Model.NSi33Numerator</td>
        <td>@Model.NSi43Numerator</td>
    </tr>
    <tr>
        <th></th>
        <th>Denominator</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>@Model.NSi22Denominator</td>
        <td>@Model.NSi33Denominator</td>
        <td>@Model.NSi43Denominator</td>
    </tr>

    @* ***** Transformation Services ******* *@

    <tr class="active">
        <th>Transformation Services</th>
        <th>SubInd. Name</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>NSi3.4</th>
        <th>NSi4.4</th>
    </tr>

    <tr>
        <th></th>
        <th>SubInd. Value</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>@Model.NSi34Value</td>
        <td>@Model.NSi44Value</td>
    </tr>
    <tr>
        <th></th>
        <th>Numerator</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>@Model.NSi34Numerator</td>
        <td>@Model.NSi44Numerator</td>
    </tr>
    <tr>
        <th></th>
        <th>Denominator</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>@Model.NSi34Denominator</td>
        <td>@Model.NSi44Denominator</td>
    </tr>


    @* ***** Invoke Services ******* *@

    <tr class="active">
        <th>Invoke Services</th>
        <th>SubInd. Name</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>NSi3.5</th>
        <th>NSi4.5</th>
    </tr>

    <tr>
        <th></th>
        <th>SubInd. Value</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>@Model.NSi35Value</td>
        <td>@Model.NSi45Value</td>
    </tr>
    <tr>
        <th></th>
        <th>Numerator</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>@Model.NSi35Numerator</td>
        <td>@Model.NSi45Numerator</td>
    </tr>
    <tr>
        <th></th>
        <th>Denominator</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>@Model.NSi35Denominator</td>
        <td>@Model.NSi45Denominator</td>
    </tr>

</table>