@model PagedList.IPagedList<RegisterItemV2ViewModel>
@using Kartverket.Register.Models.ViewModels
@using Kartverket.Register.Helpers

<div class="table-view">
    <div class="search-results-table-heading row">
        <div class="col-md-2 col-sm-12"><p>@HtmlHelperExtensions.OrderByLink(Request.QueryString["sorting"], Request.QueryString["text"], Shared.Title, "name")</p></div>
        <div class="col-md-1 col-sm-12"><p>@HtmlHelperExtensions.OrderByLink(Request.QueryString["sorting"], Request.QueryString["text"], "Type", "name")</p></div>
        <div class="col-md-1 col-sm-12"><p>@HtmlHelperExtensions.OrderByLink(Request.QueryString["sorting"], Request.QueryString["text"], Registers.Owner, "owner")</p></div>
        <div class="col-md-1 col-sm-12"><p>@HtmlHelperExtensions.OrderByLink(Request.QueryString["sorting"], Request.QueryString["text"], "Metadata", "inspire_metadata_status")</p></div>
        <div class="col-md-1 col-sm-12"><p>@HtmlHelperExtensions.OrderByLink(Request.QueryString["sorting"], Request.QueryString["text"], "Metadata i søketjeneste", "inspire_metadata_status")</p></div>
        <div class="col-md-1 col-sm-12"><p>@HtmlHelperExtensions.OrderByLink(Request.QueryString["sorting"], Request.QueryString["text"], "Antall requests pr år", "inspire_metadata_status")</p></div>
        <div class="col-md-1 col-sm-12"><p>@HtmlHelperExtensions.OrderByLink(Request.QueryString["sorting"], Request.QueryString["text"], "Tjenestestatus", "inspire_metadata_status")</p></div>
        <div class="col-md-1 col-sm-12"><p>@HtmlHelperExtensions.OrderByLink(Request.QueryString["sorting"], Request.QueryString["text"], "Nettverkstjeneste", "inspire_metadata_status")</p></div>
        <div class="col-md-1 col-sm-12"><p>@HtmlHelperExtensions.OrderByLink(Request.QueryString["sorting"], Request.QueryString["text"], "SDS", "inspire_metadata_status")</p></div>
        <div class="col-md-1 col-sm-12"><p>@HtmlHelperExtensions.OrderByLink(Request.QueryString["sorting"], Request.QueryString["text"], "URL", "inspire_metadata_status")</p></div>
        <div class="col-md-1 col-sm-12"><p>@HtmlHelperExtensions.OrderByLink(Request.QueryString["sorting"], Request.QueryString["text"], "Theme", "inspire_metadata_status")</p></div>
    </div>
</div>

<div class="menu-separator search-results-table-heading"></div>

@foreach (InspireDatasetViewModel item in Model)
{
<div class="resultItemRow">
    <div class="row">
        <div class="col-md-2 col-sm-12"><a href="@item.DetailPageUrl()" class="show-loading-animation" data-loading-message="@Registers.LoadingMessage"> @item.Name </a></div>
        <div class="col-md-1 col-sm-12">Type</div>
        <div class="col-md-1 col-sm-12"><a href="@item.ItemsByOwnerUrl()" title="Datasett eier: @item.Owner.name" class="show-loading-animation" data-loading-message="@Registers.LoadingMessage">@item.Owner.name</a></div>
        <div class="col-md-1 col-sm-12">Metadata</div>
        <div class="col-md-1 col-sm-12">Metadata i søketjeneste</div>
        <div class="col-md-1 col-sm-12">Antall requests pr år</div>
        <div class="col-md-1 col-sm-12">Tjenestestatus</div>
        <div class="col-md-1 col-sm-12">Nettverkstjeneste</div>
        <div class="col-md-1 col-sm-12">SDS</div>
        <div class="col-md-1 col-sm-12">URL</div>
        <div class="col-md-1 col-sm-12">Theme</div>
    </div>
</div>
}