@model PagedList.IPagedList<RegisterItemV2>
@using Kartverket.Register.Models
@using Kartverket.Register.Helpers

@functions {
    public IHtmlString GetDokDeliveryStatusSymbol(string status, bool? restricted, string type = null)
    {

        string symbolDeficient = "custom-icon custom-icon-smile-red";
        string symbolUseable = "custom-icon custom-icon-smile-yellow";
        string symbolGood = "custom-icon custom-icon-smile-green";
        string symbolNotSet = "custom-icon";

        string statusSymbol = symbolUseable;
        string title = "";

        if (restricted.HasValue && restricted.Value == true && type != "metadata")
        {
            statusSymbol = "custom-icon custom-icon-hengelaas-closed-red";
            title = UI.DOK_Delivery_Restricted;
        }
        else if (!string.IsNullOrEmpty(status))
        {
            if (status == "notset")
            {
                statusSymbol = symbolNotSet;
                title = UI.DOK_Delivery_Status_NotSet;
            }
            else if (status == "deficient")
            {
                statusSymbol = symbolDeficient;
                title = UI.DOK_Delivery_Status_Deficient;
            }
            else if (status == "useable")
            {
                statusSymbol = symbolUseable;
                title = UI.DOK_Delivery_Status_Useable;
            }
            else if (status == "good")
            {
                statusSymbol = symbolGood;
                title = UI.DOK_Delivery_Status_Good;
            }
        }

        string label = "";


        if (type.Contains("metadata"))
            label = UI.DOK_Delivery_Metadata;
        else if (type.Contains("dokDeliveryProductSheetStatus"))
            label = UI.DOK_Delivery_ProductSheet;
        else if (type.Contains("dokDeliveryPresentationRulesStatus"))
            label = UI.DOK_Delivery_PresentationRules;
        else if (type.Contains("dokDeliveryProductSpecificationStatus"))
            label = UI.DOK_Delivery_ProductSpesification;
        else if (type.Contains("dokDeliveryWmsStatus"))
            label = UI.DOK_Delivery_Wms;
        else if (type.Contains("dokDeliveryWfsStatus"))
            label = UI.DOK_Delivery_Wfs;
        else if (type.Contains("dokDeliverySosiRequirementsStatus"))
            label = UI.DOK_Delivery_SosiRequirements;
        else if (type.Contains("dokDeliveryDistributionStatus"))
            label = UI.DOK_Delivery_Distribution;
        else if (type.Contains("dokDeliveryGmlRequirementsStatus"))
            label = UI.DOK_Delivery_GmlRequirements;
        else if (type.Contains("dokDeliveryAtomFeedStatus"))
            label = UI.DOK_Delivery_AtomFeed;

        if (!string.IsNullOrEmpty(label))
            title = label + ": " + title;


        string html = "";
        if (status == "notset")
            html = "<span class='" + symbolNotSet + "'></span>";
        else
            html = "<span data-toggle='tooltip' data-placement = 'bottom' title='" + title + "'><span class='" + statusSymbol + "'></span></span>";

        return new HtmlString(html);
    }

    public IHtmlString OrderByLink(string tittel, string defaultSort, string statusIcon = null)
    {

        string sortingClass = "";
        string sortTitle = "";
        string sortingParam = "";
        string sortingSelected = Request.QueryString["sorting"];

        if (sortingSelected == null)
            sortingSelected = "name";

        if (sortingSelected == defaultSort)
        {
            sortingClass = "sorted-asc";
            sortTitle = UI.DOK_Delivery_Title;
            sortingParam = defaultSort + "_desc";
        }
        else if (sortingSelected.IndexOf("_desc") > -1 && sortingSelected == defaultSort + "_desc")
        {
            sortingClass = "sorted-desc";
            sortTitle = UI.DOK_Delivery_Title;
            sortingParam = defaultSort;
        }
        else
        {
            sortingClass = "";
            sortTitle = "";
            sortingParam = defaultSort;
        }

        if (sortingParam.IndexOf("Requirement") > -1)
        {
            sortTitle = "Sortert etter logisk rekkefølge";
        }
        var text = Request.QueryString["text"];

        if (sortingParam.Contains("title"))
            sortTitle = UI.DOK_Delivery_Title;
        else if (sortingParam.Contains("datasetOwner"))
            sortTitle = UI.DOK_Delivery_Owner;
        else if (sortingParam.Contains("theme"))
            sortTitle = UI.DOK_Delivery_Theme;
        else if (sortingParam.Contains("dokDeliveryMetadataStatus"))
            sortTitle = UI.DOK_Delivery_Metadata;
        else if (sortingParam.Contains("dokDeliveryProductSheetStatus"))
            sortTitle = UI.DOK_Delivery_ProductSheet;
        else if (sortingParam.Contains("dokDeliveryPresentationRulesStatus"))
            sortTitle = UI.DOK_Delivery_PresentationRules;
        else if (sortingParam.Contains("dokDeliveryProductSpecificationStatus"))
            sortTitle = UI.DOK_Delivery_ProductSpesification;
        else if (sortingParam.Contains("dokDeliveryWmsStatus"))
            sortTitle = UI.DOK_Delivery_Wms;
        else if (sortingParam.Contains("dokDeliveryWfsStatus"))
            sortTitle = UI.DOK_Delivery_Wfs;
        else if (sortingParam.Contains("dokDeliverySosiRequirementsStatus"))
            sortTitle = UI.DOK_Delivery_SosiRequirements;
        else if (sortingParam.Contains("dokDeliveryDistributionStatus"))
            sortTitle = UI.DOK_Delivery_Distribution;
        else if (sortingParam.Contains("dokDeliveryGmlRequirementsStatus"))
            sortTitle = UI.DOK_Delivery_GmlRequirements;
        else if (sortingParam.Contains("dokDeliveryAtomFeedStatus"))
            sortTitle = UI.DOK_Delivery_AtomFeed;
        else if (sortingParam.Contains("dokStatus"))
            sortTitle = UI.DOK_Delivery_Status;


        var linkSort = "<a data-toggle='tooltip' class='show-loading-animation' data-loading-message='Sorterer innhold' data-placement = 'bottom' title='" + sortTitle + "' class='" + sortingClass + "' href='?sorting=" + sortingParam;

        if (text != null)
            linkSort = linkSort + "&text=" + text;

        if (!string.IsNullOrEmpty(statusIcon))
            tittel = "<span class='" + statusIcon + "'></span>";

        linkSort = linkSort + "'>" + tittel + "</a>";

        return new HtmlString(linkSort);
    }

}

<div id="tableView" class="register dataset search-results-table-heading">
    <div class="row result-row metadata">
        <div class="col-md-3 col-sm-2">@OrderByLink("Tittel", "name")</div>
        <div class="col-md-2">@OrderByLink("Eier", "Owner")</div>
        <div class="col-md-2">@OrderByLink("Temagruppe", "Theme") </div>
        <div class="col-md-4 col-sm-5 status-icons">
            @OrderByLink("", "dokDeliveryMetadataStatus", "custom-icon custom-icon-info")
            @OrderByLink("", "dokDeliveryProductSheetStatus", "custom-icon custom-icon-produktark")
            @OrderByLink("", "dokDeliveryPresentationRulesStatus", "glyphicon glyphicon-picture")
            @OrderByLink("", "dokDeliveryProductSpecificationStatus", "glyphicon glyphicon-list-alt")
            @OrderByLink("", "dokDeliveryWmsStatus", "glyphicon glyphicon-globe")
            @OrderByLink("", "dokDeliveryWfsStatus", "custom-icon custom-icon-wfs")
            @OrderByLink("", "dokDeliverySosiRequirementsStatus", "custom-icon custom-icon-sosi")
            @OrderByLink("", "dokDeliveryGmlRequirementsStatus", "custom-icon custom-icon-gml")
            @OrderByLink("", "dokDeliveryAtomFeedStatus", "fa fa-rss-square")
            @OrderByLink("", "dokDeliveryDistributionStatus", "custom-icon custom-icon-lastned")
        </div>
        <div class="col-md-1 text-center">@OrderByLink("STATUS", "dokStatus")</div>
    </div>
    <div class="menu-separator search-results-table-heading"></div>
    @foreach (InspireDataset item in Model)
    {
        <div class="row result-row metadata">
            <div class="col-md-3 col-sm-2"><a href="@item.DetailPageUrl()" class="show-loading-animation" data-loading-message="Henter innhold"> @item.Name </a></div>
            <div class="col-md-2"><a href="@item.ItemsByOwnerUrl()" title="Datasett eier: @item.Owner.name" class="show-loading-animation" data-loading-message="Henter innhold">@Html.DisplayFor(modelItem => item.Owner.name)</a></div>
            <div class="col-md-2"><span>@item.GetThemeGroupDescription()</span></div>
            <div class="col-md-4 col-sm-5 status-icons">
                @GetDokDeliveryStatusSymbol(item.InspireDeliveryMetadata.StatusId, false, "metadata")
                @GetDokDeliveryStatusSymbol(item.InspireDeliveryMetadataService.StatusId, false, "metadataservice")
                @GetDokDeliveryStatusSymbol(item.InspireDeliveryDistribution.StatusId, false, "distribution")
                @GetDokDeliveryStatusSymbol(item.InspireDeliveryWms.StatusId, false, "wms")
                @GetDokDeliveryStatusSymbol(item.InspireDeliveryWfs.StatusId, false, "wfs")
                @GetDokDeliveryStatusSymbol(item.InspireDeliveryAtomFeed.StatusId, false, "atom")
                @GetDokDeliveryStatusSymbol(item.InspireDeliveryWfsOrAtom.StatusId, false, "wfsOrAtom")
                @GetDokDeliveryStatusSymbol(item.InspireDeliveryHarmonizedData.StatusId, false, "harmonizedData")
                @GetDokDeliveryStatusSymbol(item.InspireDeliverySpatialDataService.StatusId, false, "spatialDataService")
            </div>
            <div class="col-md-1 text-center">
                <span class="status-icon-link" data-toggle='tooltip' data-placement='bottom' title='@item.DokStatus.description'>
                    <i class="statusIcon-@item.DokStatusId"></i>
                </span>
            </div>
        </div>
    }
</div>
<div id="listView">
    @foreach (InspireDataset item in Model)
    {
        <div class="row result-row metadata">
            <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12" style="height: auto; border: medium none; box-shadow: none;">
                <div class="col-img col-xs-12 col-sm-12 col-md-2 col-lg-2">
                    <a href="@item.DetailPageUrl()">
                        <img src="@item.DatasetThumbnail" class="img-responsive pull-left" alt="Thumbnail for @item.Name" />
                    </a>
                </div>
                <div class="col-title col-xs-12 col-sm-12 col-md-5 col-lg-5">
                    <a href="@item.DetailPageUrl()">
                        @item.Name
                    </a>

                    <a href="@item.ItemsByOwnerUrl()" title="Datasett eier: @item.Owner.name">
                        <img src="@Url.Content(item.LogoSrc())" class="img-responsive img-small-logo hidden-print" alt="@Html.DisplayFor(modelItem => item.Owner.name)"/>
                    </a>
                    <div class="orglogo">
                        <a href="@item.ItemsByOwnerUrl()" title="Datasett eier: @item.Owner.name">
                            @Html.DisplayFor(modelItem => item.Owner.name)
                        </a>
                    </div>

                    <a class="beskrivelse-print visible-print" href="@item.ItemsByOwnerUrl()" title="Datasett eier: @item.Owner.name">
                        <p>Eier: @Html.DisplayFor(modelItem => item.Owner.name)</p>
                    </a>

                    <br class="hidden-print" />
                    <div class="hidden-print">
                        <p>
                            @item.GetDescriptionAsSubstring();
                            <a class="hidden-print" href="@item.DetailPageUrl()" title="Vis mer info om @item.Name">vis mer info</a>
                        </p>
                    </div>
                    <p class="visible-print">@item.Description</p>
                </div>
                <div class="col-information col-xs-8 col-sm-5 col-md-5 col-lg-5">
                    <ul style="list-style-type:none;">
                        @if (item.DokStatusId!= null)
                        {
                            <li title="@Html.Raw(HtmlHelperExtensions.DokStatusBeskrivelse())"><span>DOK-status: </span>@item.DokStatus.description <i class="statusIcon-@item.DokStatusId"></i></li>
                        }
                        @if (item.DokStatusDateAccepted != null)
                        {
                            <li><span>DOK-godkjenningsdato: </span>@item.DokStatusDateAccepted </li>
                        }
                        <li><span>Innsendt: </span>@item.DateSubmitted </li>
                        <li><span>Siste endret: </span>@item.Modified </li>


                        @if (item.ThemeGroupId != null)
                        {
                            <li title="Temagruppe: @item.Theme.description">
                                <span>Gruppe: </span>@item.Theme.description
                            </li>
                        }
                        else
                        {
                            <li title="Temagruppe: Ikke angitt"><span>Gruppe: </span>Ikke angitt</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <hr />
    }
</div>
