@using Kartverket.Register.Helpers
<!DOCTYPE html>
<html class=" js flexbox no-flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg no-smil svgclippaths">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="geonorge-version" content="@Html.ApplicationVersionNumber()" />
    @if (ViewBag.MetaDescription != null)
    {
        <meta name="description" content="@ViewBag.MetaDescription" />
    }
    <link rel="shortcut icon" type="image/x-icon" href="@Html.KartkatalogenUrl()Content/img/favicon.ico" />
   
    <title>
        @ViewBag.Title
        @if (ViewBag.Title != null)
        {
            <text> - </text>
        }
        @Resources.UI.AppPageTitle
    </title>
    <!-- Stylesheets -->
    @Styles.Render("~/Content/bower_components/kartverket-felleskomponenter/assets/css/styles")
    @Styles.Render("~/Content/local-styles")
    <!-- Scripts -->
    <script>
        var applicationEnvironment = '@Html.EnvironmentName()';
        var authenticationData = {
            supportsLogin: true,
            isAuthenticated: @Request.IsAuthenticated.ToString().ToLower(),
            urlActionSignOut: '@Url.Action("Logout", "AuthServices")',
            urlActionSignIn: '@Url.Action("SignIn", "AuthServices", new { ReturnUrl = Request.Url })'
            @if (Request.IsAuthenticated)
            {
                foreach (var c in System.Security.Claims.ClaimsPrincipal.Current.Claims) {
                    if (c.Type == "urn:oid:0.9.2342.19200300.100.1.1" || c.Type == "username") {
                       <text>, userName: '@c.Value'</text>
                    }
                }
            }
        }
    </script>
    @Scripts.Render("~/Content/bower_components/kartverket-felleskomponenter/assets/scripts")
    @Scripts.Render("~/Scripts/local-scripts")
    
    @RenderSection("head", false)
    @Html.Partial("_Analytics")    

</head>

<body class="geonorge-container prototype  geonorge ng-scope" ng-app="geonorge">

    @RenderPage("~/Content/bower_components/kartverket-felleskomponenter/assets/partials/_SharedMenu.min.cshtml")

    <div class="body-content">
        <div class="container container-breadcrumbs" id="navTabCont">
            <ul class="breadcrumbs col-md-12">
                <li><a href="@Html.GeonorgeUrl()">Geonorge</a></li>
                <li><a href="/">Registrene</a></li>
                @RenderSection("breadcrumb", false)
            </ul>
        </div>

        @if (TempData["success"] != null)
            {
            <div class="alert alert-success">
                @TempData["success"]
            </div>
        }
        @if (TempData["failure"] != null)
            {
            <div class="alert alert-danger">
                @TempData["failure"]
            </div>
        }

        <div class="body-content">
            <div class="container">
                @RenderBody()
            </div>

        </div>
        
    </div>
    <footer class="page-footer">
        <div class="container container-footer">
            <div>
                <div class="block editorialblock col-md-12 col-lg-4  ">

                    <p><img alt="" src="@Html.KartkatalogenUrl()Content/img/geonorge.png" height="87" width="381" /></p>
                    <small>Versjon @Html.ApplicationVersionNumber()</small>
                    
                    <ul class="editorialblock-list-item"></ul>
                </div><div class="block editorialblock col-md-12 col-lg-4  ">

                    <h2>Om nettstedet:</h2>

                    <ul class="editorialblock-list-item">
                        <li>
                            <a href="@Html.GeonorgeUrl()informasjon/om-geonorge/">Om Geonorge</a>
                        </li>
                        <li>
                            <a href="@Html.GeonorgeUrl()informasjon/aktuelt/annet/personvern-og-bruk-av-cookies/">Personvern og bruk av cookies</a>
                        </li>
                    </ul>
                </div><div class="block editorialblock col-md-12 col-lg-4  ">

                    <h2>Kontakt</h2>
                    <p><span style="font-family: 'Open Sans', sans-serif; font-size: 22px;">Telefon: 08700<br /></span>Fra utlandet: +47 32 11 81 21<br /><a title="post@norgedigitalt.no" href="mailto:post@norgedigitalt.no">post@norgedigitalt.no</a><br />Org. nr.: 971 040 238</p>
                    <hr />
                    <p>En løsning fra</p>
                    <p><img alt="" src="@Html.KartkatalogenUrl()Content/img/kartverket.png" height="75" width="195" /></p>
                    <ul class="editorialblock-list-item"></ul>
                </div>
            </div>
        </div>
    </footer>
    
    @RenderSection("scripts", false)
    <script>
        $(function(){
            $(".jqueryui-marker-datepicker").datepicker({
                dateFormat: "dd/mm/yy",
                changeYear: true,
                showOn: "button"
            }).css("display", "inline-block")
            .next("button").button({
                icons: { primary: "ui-icon-calendar" },
                label: "Velg dato",
                text: false
            });
        });
    </script>
</body>
</html>
