﻿@using Kartverket.Register.Helpers
<!DOCTYPE html>
<html class=" js flexbox no-flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg no-smil svgclippaths">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="geonorge-version" content="@Html.ApplicationVersionNumber()" />
    @if (ViewBag.MetaDescription != null)
    {
        <meta name="description" content="@ViewBag.MetaDescription" />
    }
    
    <title>
        @ViewBag.Title
        @if (ViewBag.Title != null)
        {
            <text> - </text>
        }
        @Resources.UI.AppPageTitle
    </title>
    @RenderSection("head", false)
    @Styles.Render("~/Content/css")
</head>
<body class="geonorge-container prototype  geonorge">
    <div id="logo-on-sm">
        <img src="/Content/img/kvlogo_col.png" alt="Kartverkets logo" />
    </div>
    
    @Html.Partial("_NavbarPartial")
    
    <div class="body-content">
        
        <div class="container">
            @*@using (Html.BeginForm("Search", "Home", FormMethod.Get, new { @class = "navbar-form ", role = "form" }))
            {
                <div class="input-group">
                    <input type="text" id="search" class="form-control" name="term" placeholder="Søk (ikke implementert)" value="@RenderSection("SearchTerm", required: false)">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
            }*@
            

            @if (TempData["success"] != null)
            {
                <div class="alert alert-success">
                    @TempData["success"]
                </div>
            }
            @if (TempData["failure"] != null)
            {
                <div class="alert alert-danger">
                    @TempData["failure"]
                </div>
            }
            <ol class="breadcrumb">
                <li><a href="@Html.GeonorgeUrl()">Geonorge</a></li>
                <li><a href="/">Registre</a></li>
                @RenderSection("breadcrumb", false)
            </ol>
            @Html.Partial("_SearchBarPartial")
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                @RenderBody()
            </div>
    </div>
    <div class="container">
        <footer>
            <p>&copy; @DateTime.Now.Year - Kartverket</p>
            <p>Versjon @Html.ApplicationVersionNumber()</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", false)
</body>
</html>
