<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    @if (ViewBag.MetaDescription != null)
    {
        <meta name="description" content="@ViewBag.MetaDescription" />
    }
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        @ViewBag.Title
        @if (ViewBag.Title != null)
        {
            <text> - </text>
        }
        @Resources.UI.AppPageTitle
    </title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="options-wrapper">
        <div class="container">
            <p class="top-header">Norges geografiske infrastruktur - Norge Digitalt</p>
        </div>
    </div>
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Meny</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand"><img class="logo" src="@Url.Content("~/Content/kartverket_logo.png")" width="117" height="39" /></span>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="divider-vertical"></li>
                    <li><a href="/">Register</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="http://www.geonorge.no">Geonorge forside</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="body-content">
        <div class="container">
            @if (TempData["success"] != null)
            {
                <div class="alert alert-success">
                    @TempData["success"]
                </div>
            }
            @if (TempData["failure"] != null)
            {
                <div class="alert alert-danger">
                    @TempData["failure"]
                </div>
            }
            @RenderBody()
        </div>
    </div>
    <div class="container">
        <footer>
            <p>&copy; @DateTime.Now.Year - Kartverket</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", false)
</body>
</html>
