@using Kartverket.Register.Helpers
<!DOCTYPE html>
<html class=" js flexbox no-flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg no-smil svgclippaths">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="geonorge-version" content="@Html.ApplicationVersionNumber()" />
    @if (ViewBag.MetaDescription != null)
    {
        <meta name="description" content="@ViewBag.MetaDescription" />
    }
    <link rel="shortcut icon" type="image/x-icon" href="@Html.KartkatalogenUrl()Content/img/favicon.ico" />
   
    <title>
        @ViewBag.Title
        @if (ViewBag.Title != null)
        {
            <text> - </text>
        }
        @Resources.UI.AppPageTitle
    </title>
    @RenderSection("head", false)
    @Html.Partial("_Analytics")    

</head>

<body class="geonorge-container prototype  geonorge ng-scope" ng-app="geonorge">

    @Html.Partial("_SharedMenu")

    <div class="body-content">
        <div class="container container-breadcrumbs" id="navTabCont">
            <ul class="breadcrumbs col-md-12">
                <li><a href="@Html.GeonorgeUrl()">Geonorge</a></li>
                <li><a href="/">Registrene</a></li>
                @RenderSection("breadcrumb", false)
            </ul>
        </div>

        @if (TempData["success"] != null)
            {
            <div class="alert alert-success">
                @TempData["success"]
            </div>
        }
        @if (TempData["failure"] != null)
            {
            <div class="alert alert-danger">
                @TempData["failure"]
            </div>
        }

        <div class="body-content">
            <div class="container">
                @RenderBody()
            </div>

        </div>
        
    </div>
    <footer class="page-footer">
        <div class="container container-footer">
            <div>
                <div class="block editorialblock col-md-12 col-lg-4  ">

                    <p><img alt="" src="@Html.KartkatalogenUrl()Content/img/geonorge.png" height="87" width="381" /></p>
                    <small>Versjon @Html.ApplicationVersionNumber()</small>
                    
                    <ul class="editorialblock-list-item"></ul>
                </div><div class="block editorialblock col-md-12 col-lg-4  ">

                    <h2>Om nettstedet:</h2>

                    <ul class="editorialblock-list-item">
                        <li>
                            <a href="@Html.GeonorgeUrl()informasjon/om-geonorge/">Om Geonorge</a>
                        </li>
                        <li>
                            <a href="@Html.GeonorgeUrl()informasjon/aktuelt/annet/personvern-og-bruk-av-cookies/">Personvern og bruk av cookies</a>
                        </li>
                    </ul>
                </div><div class="block editorialblock col-md-12 col-lg-4  ">

                    <h2>Kontakt</h2>
                    <p><span style="font-family: 'Open Sans', sans-serif; font-size: 22px;">Telefon: 08700<br /></span>Fra utlandet: +47 32 11 81 21<br /><a title="post@norgedigitalt.no" href="mailto:post@norgedigitalt.no">post@norgedigitalt.no</a><br />Org. nr.: 971 040 238</p>
                    <hr />
                    <p>En løsning fra</p>
                    <p><img alt="" src="@Html.KartkatalogenUrl()Content/img/kartverket.png" height="75" width="195" /></p>
                    <ul class="editorialblock-list-item"></ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- Fonts -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,100,300,500,600,700" rel="stylesheet" type="text/css">
    <!-- Stylesheets -->
    <script>
      var cb = function() {
        var l = document.createElement('link'); l.rel = 'stylesheet';
        l.href = "@Html.KartkatalogenUrl()Content/kartkatalog-styles";
          var h = document.getElementsByTagName('head')[0]; h.appendChild(l, h);
      };
      var raf = requestAnimationFrame || mozRequestAnimationFrame ||
          webkitRequestAnimationFrame || msRequestAnimationFrame;
      if (raf) raf(cb);
      else window.addEventListener('load', cb);

      var cb2 = function () {
          var l = document.createElement('link'); l.rel = 'stylesheet';
          l.href = "/Content/css";
          var h = document.getElementsByTagName('head')[0]; h.appendChild(l, h);
      };
      var raf = requestAnimationFrame || mozRequestAnimationFrame ||
          webkitRequestAnimationFrame || msRequestAnimationFrame;
      if (raf) raf(cb2);
      else window.addEventListener('load', cb2);
    </script>
    @Scripts.Render(@Html.KartkatalogenUrl() + "bundles/kartkatalog-scripts")
    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", false)
    <script>
        $(function(){
            $(".jqueryui-marker-datepicker").datepicker({
                dateFormat: "dd/mm/yy",
                changeYear: true,
                showOn: "button"
            }).css("display", "inline-block")
            .next("button").button({
                icons: { primary: "ui-icon-calendar" },
                label: "Velg dato",
                text: false
            });
        });
    </script>
</body>
</html>
