@using Kartverket.Register.Helpers
<!DOCTYPE html>
<html class=" js flexbox no-flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg no-smil svgclippaths">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="geonorge-version" content="@Html.ApplicationVersionNumber()" />
    @if (ViewBag.MetaDescription != null)
    {
        <meta name="description" content="@ViewBag.MetaDescription" />
    }
    <link rel="shortcut icon" type="image/x-icon" href="@Html.KartkatalogenUrl()Content/img/favicon.ico" />

    <title>
        @ViewBag.Title
        @if (ViewBag.Title != null)
        {
            <text> - </text>
        }
        @Resources.Shared.AppPageTitle
    </title>



    @RenderSection("head", false)

    @Html.Partial("_Resources")

</head>

<body class="geonorge-container prototype  geonorge">

    <div id="loading-animation" class="loading-animation" style="display: none;"></div>

    @Html.Raw(File.ReadAllText(Server.MapPath("~/dist/partials/Header.html")))
    @Styles.Render("~/Content/bower_components/kartverket-felleskomponenter/assets/css/styles")
    @Styles.Render("~/Content/local-styles")

    @{
        var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
    }

    <div class="body-content">
        <div class="container container-breadcrumbs" id="navTabCont">
            <ul class="breadcrumbs col-md-12">
                <li><a href="@Html.GeonorgeUrl()">Geonorge</a></li>
                @if (controllerName != "Help")
                {
                    <li><a href="/">@Shared.Heading</a></li>
                    @Html.Partial("_breadcrumb")
                }
                @RenderSection("breadcrumb", false)
            </ul>
        </div>

        @if (TempData["success"] != null)
        {
            <div class="alert alert-success">
                @TempData["success"]
            </div>
        }
        @if (TempData["failure"] != null)
        {
            <div class="alert alert-danger">
                @TempData["failure"]
            </div>
        }

        <div class="body-content">
            <div class="container">
                @RenderBody()
            </div>

        </div>

    </div>
    @if (CultureHelper.IsNorwegian())
    {
        @RenderPage("~/Content/bower_components/kartverket-felleskomponenter/assets/partials/_Footer.min.cshtml");
    }
    else
    {
        @RenderPage("~/Content/bower_components/kartverket-felleskomponenter/assets/partials/_Footer_eng.min.cshtml");
    }
    @Scripts.Render("~/shared-partials")

    <script>
        var applicationVersionNumber = '@Html.ApplicationVersionNumber()';
        var applicationEnvironment = '@Html.EnvironmentName()';

        var cultureData = {
            friendlyUrlEN: '@Html.Raw(Url.Action("SetCulture", "Registers", new { culture = Kartverket.Register.Models.Translations.Culture.EnglishCode, ReturnUrl = Request.Url }))',
            friendlyUrlNO: '@Html.Raw(Url.Action("SetCulture", "Registers", new { culture = Kartverket.Register.Models.Translations.Culture.NorwegianCode, ReturnUrl = Request.Url }))',
            currentCulture: '@CultureHelper.GetCurrentCulture()'
            };
    </script>

    <script>
        searchOption.loginUrl = '@Html.Raw(Url.Action("SignIn", "AuthServices", new { ReturnUrl = Request.Url }))';
        searchOption.logoutUrl = '@Html.Raw(Url.Action("LogOut", "AuthServices"))';
        searchOption.loggedIn = @Request.IsAuthenticated.ToString().ToLower();
        searchOption.epiBaseUrl = '@Html.GeonorgeUrl()';
        var orderItems = Cookies.get('orderitems');
        if (orderItems && orderItems > 0) {
            $('.downloads__count').show();
            $('.downloads__count').text(orderItems);
        }
    </script>

    @Scripts.Render("~/Content/bower_components/kartverket-felleskomponenter/assets/js/scripts")
    @Scripts.Render("~/Scripts/local-scripts")
    @RenderPage("~/Content/bower_components/kartverket-felleskomponenter/assets/partials/_Analytics.min.cshtml")


    @RenderSection("scripts", false)
    <script>
        $(function () {
            $(".jqueryui-marker-datepicker").datepicker({
                dateFormat: "dd/mm/yy",
                changeYear: true,
                showOn: "button"
            }).css("display", "inline-block")
                .next("button").button({
                    icons: { primary: "ui-icon-calendar" },
                    label: "Velg dato",
                    text: false
                });
        });
    </script>
</body>
</html>
