﻿@using Kartverket.Register.Helpers
<!DOCTYPE html>
<html class=" js flexbox no-flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg no-smil svgclippaths">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="geonorge-version" content="@Html.ApplicationVersionNumber()" />
    @if (ViewBag.MetaDescription != null)
    {
        <meta name="description" content="@ViewBag.MetaDescription" />
    }
    <link rel="shortcut icon" type="image/x-icon" href="/Content/img/favicon.ico" />
    <link rel="apple-touch-icon-precomposed" href="/Content/img/logo-graphic-512.png" />

    <title>
        @ViewBag.Title
        @if (ViewBag.Title != null)
        {
            <text> - </text>
        }
        @Resources.UI.AppPageTitle
    </title>
    <!-- Fonts: -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,100,300,500,600,700" rel="stylesheet" type="text/css">

    <!-- Shared menu: -->
    <link href="@Html.KartkatalogenUrl()bundles/shared-menu-styles" rel="stylesheet" type="text/css">

    <!-- Main css: -->
    <link href="@Html.KartkatalogenUrl()Content/css" rel="stylesheet" type="text/css">

    <!-- Themes css: -->
    <link href="@Html.KartkatalogenUrl()Content/themes/base/css" rel="stylesheet" type="text/css">

    <!-- Download: -->
    <link href="@Html.KartkatalogenUrl()Content/download" rel="stylesheet" type="text/css">


    <!-- Scripts -->
    <script src="@Html.KartkatalogenUrl()Scripts/easyXDM.js" type="text/javascript"></script>
    <script src="@Html.KartkatalogenUrl()bundles/jquery"></script>
    <script src="@Html.KartkatalogenUrl()bundles/modernizr"></script>
    <script src="@Html.KartkatalogenUrl()bundles/shared-menu-scripts"></script>
    <script src="@Html.KartkatalogenUrl()bundles/bootstrap"></script>
    <script src="@Html.KartkatalogenUrl()bundles/js"></script>
    @RenderSection("head", false)
    @*@Scripts.Render("~/bundles/jquery")*@
    @*@Styles.Render("~/Content/css")*@
    @Styles.Render("~/Content/jqueryui")

    @Html.Partial("_Analytics")

    
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/js")
    <script>
        $(function(){
            $(".jqueryui-marker-datepicker").datepicker({
                dateFormat: "dd/mm/yy",
                changeYear: true,
                showOn: "button"
            }).css("display", "inline-block")
            .next("button").button({
                icons: { primary: "ui-icon-calendar" },
                label: "Velg dato",
                text: false
            });
        });
    </script>
    @RenderSection("scripts", false)

   
    

</head>

<body class="geonorge-container prototype  geonorge ng-scope" ng-app="geonorge">

    @Html.Partial("_SharedMenu")

    <div class="body-content">
        <div class="container container-breadcrumbs" id="navTabCont">
            <ul class="breadcrumbs col-md-12">
                <li><a href="@Html.GeonorgeUrl()">Geonorge</a></li>
                <li><a href="/">Registrene</a></li>
                @RenderSection("breadcrumb", false)
            </ul>
        </div>

        @if (TempData["success"] != null)
            {
            <div class="alert alert-success">
                @TempData["success"]
            </div>
        }
        @if (TempData["failure"] != null)
            {
            <div class="alert alert-danger">
                @TempData["failure"]
            </div>
        }

        @Html.Partial("_SearchBarPartial")

        <div class="body-content">
            <div class="container">
                @RenderBody()
            </div>

        </div>
        
    </div>
    <footer class="page-footer">
        <div class="container container-footer">
            <div>
                <div class="block editorialblock col-md-12 col-lg-4  ">

                    <p><img alt="" src="@Html.KartkatalogenUrl()Content/img/geonorge.png" height="87" width="381" /></p>
                    <small>Versjon @Html.ApplicationVersionNumber()</small>
                    <!--<p><a href="/Om-Kartverket/Personvern-og-cookies/"> Personvern og cookies </a></p>-->
                    <!--
                    @if (User.Identity.IsAuthenticated)
                    {
                        foreach (var c in System.Security.Claims.ClaimsPrincipal.Current.Claims)
                        {
                            <p>@c.Type = @c.Value</p>
                        }
                    }
                    -->
                    <ul class="editorialblock-list-item"></ul>
                </div><div class="block editorialblock col-md-12 col-lg-4  ">

                    <h2>Om nettstedet:</h2>

                    <ul class="editorialblock-list-item">
                        <li>
                            <a href="@Html.GeonorgeUrl()informasjon/om-geonorge/">Om Geonorge</a>
                        </li>
                        <li>
                            <a href="@Html.GeonorgeUrl()informasjon/aktuelt/annet/personvern-og-bruk-av-cookies/">Personvern og bruk av cookies</a>
                        </li>
                    </ul>
                </div><div class="block editorialblock col-md-12 col-lg-4  ">

                    <h2>Kontakt</h2>
                    <p><span style="font-family: 'Open Sans', sans-serif; font-size: 22px;">Telefon: 08700<br /></span>Fra utlandet: +47 32 11 81 21<br /><a title="post@geonorge.no" href="mailto:post@geonorge.no">post@geonorge.no</a><br />Org. nr.: 971 040 238</p>
                    <hr />
                    <p>En løsning fra</p>
                    <p><img alt="" src="@Html.KartkatalogenUrl()Content/img/kartverket.png" height="75" width="195" /></p>
                    <ul class="editorialblock-list-item"></ul>
                </div>
            </div>
        </div>
    </footer>


</body>
</html>
