@model PagedList.IPagedList<RegisterItem>
@using Kartverket.Register.Models
@using Kartverket.Register.Helpers
@using Resources
@{
    CodelistValue selectedMunicipal = HtmlHelperExtensions.GetSelectedMunicipality(ViewBag.selectedMunicipality);
    var selectedMunicipalName = "Velg kommune";
    if (selectedMunicipal != null)
    {
        selectedMunicipalName = selectedMunicipal.name;
    }
}
@section Scripts {
    <script>
        $(document).ready(function () {
            $("table").tablesorter({

                headers: {
                    0: { sorter: false },
                    1: { sorter: false },
                    2: { sorter: false },
                    3: { sorter: false },
                    4: { sorter: false },
                    6: { sorter: false },
                }
            });
        });
    </script>
}
<script>
    var dropdown = '@Html.Raw(Html.DropDownList("municipality", new SelectList(ViewBag.municipality, "value", "name"), selectedMunicipalName, new { @class = "form-control", onchange = "this.form.submit()" }).ToString().Replace("\n", "").Replace("\r", "").Trim())';
    var htmlBlock = '<div class="col-sm-3 col-md-3 col-lg-3">';
    htmlBlock += '<form action="@Request.Url.LocalPath" name="FilterForm" method="get" class="col-md-6" style="margin-top: 10px; float: right; width: 100%; padding: 0px;">';
    htmlBlock += '<div class="save-as-dropdown">';
    htmlBlock += '<div class="save-as-dropdown">';
    htmlBlock += '<span>Velg kommune:</span>';
    htmlBlock += '<div class="custom-select">' + dropdown + '</div>';
    htmlBlock += '</div></div></form></div>';
    htmlBlock += '<div class="clearfix"></div>';

    $(".search-result-navigation").prepend(htmlBlock);
</script>
@if (selectedMunicipal != null)
{
    <table id="myTable" class="dataset table-responsive table tablesorter" style="width:100%">
        <thead>
            <tr role="row" class="tablesorter-headerRow">
                <th style="width:10%" class="tablesorter-header @(ViewBag.SortOrder.Contains("theme") ?  (ViewBag.SortOrder == "theme_desc" ? "tablesorter-headerDesc" : "tablesorter-headerAsc") : "" )">
                    @Html.ActionLink("Temagruppe", "Details", new { sorting = "theme" + ViewBag.DokOrderBy, municipality = selectedMunicipal.value }, new { data_toggle = "tooltip", data_placement = "bottom", title = UI.DOK_Temagruppe, @class = "tablesorter-header-inner" })
                </th>
                <th style="width:20%" class="tablesorter-header @(ViewBag.SortOrder.Contains("name") ?  (ViewBag.SortOrder == "name_desc" ? "tablesorter-headerDesc" : "tablesorter-headerAsc") : "" )">
                    @Html.ActionLink("Tittel", "Details", new { sorting = "name" + ViewBag.DokOrderBy, municipality = selectedMunicipal.value }, new { data_toggle = "tooltip", data_placement = "bottom", title = UI.DOK_Tittel, @class = "tablesorter-header-inner" })
                </th>
                <th style="width:10%;" class="tablesorter-header @(ViewBag.SortOrder.Contains("datasetOwner") ?  (ViewBag.SortOrder == "datasetOwner_desc" ? "tablesorter-headerDesc" : "tablesorter-headerAsc") : "" )">
                    @Html.ActionLink("Eier", "Details", new { sorting = "datasetOwner" + ViewBag.DokOrderBy, municipality = selectedMunicipal.value }, new { data_toggle = "tooltip", data_placement = "bottom", title = UI.DOK_Eier, @class = "tablesorter-header-inner" })
                </th>
                <th style="width:10%" class="tablesorter-header @(ViewBag.SortOrder.Contains("dokStatus") ?  (ViewBag.SortOrder == "dokStatus_desc" ? "tablesorter-headerDesc" : "tablesorter-headerAsc") : "" )">
                    @Html.ActionLink("DOK-status", "Details", new { sorting = "dokStatus" + ViewBag.DokOrderBy, municipality = selectedMunicipal.value }, new { data_toggle = "tooltip", data_placement = "bottom", title = UI.DOK_Nasjonal_Status, @class = "tablesorter-header-inner" })
                </th>
                <th style="width:10%" class="tablesorter-header @(ViewBag.SortOrder.Contains("type") ?  (ViewBag.SortOrder == "type_desc" ? "tablesorter-headerDesc" : "tablesorter-headerAsc") : "" )">
                    @Html.ActionLink("Regions-type", "Details", new { sorting = "type" + ViewBag.DokOrderBy, municipality = selectedMunicipal.value }, new { data_toggle = "tooltip", data_placement = "bottom", title = UI.DOK_Nasjonalt_Kommunalt, @class = "tablesorter-header-inner" })
                </th>
                <th style="width:10%">
                    <a href="#" data-toggle="tooltip" class="link-unstyled" data-placement="bottom" title="@UI.DOK_Bekreftet_Kommune">Bekreft</a>
                </th>
                <th style="width:10%">
                    <a href="#" data-toggle="tooltip" class="link-unstyled" data-placement="bottom" title="@UI.DOK_Coverage_Municipality">Dekning</a>
                </th>
                <th style="width:20%"><a href="#" class="link-unstyled" data-toggle="tooltip" data-placement="bottom" title="@UI.DOK_Kommentar">Kommunes merknad</a></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Dataset item in Model)
                {
                <tr>
                    <td title="Temagruppe for @item.name: @item.ThemeGroupId">@item.ThemeGroupId</td>
                    <td title="Datasett: @item.name">
                        @if (item.MetadataUrl != null)
                        {
                            if (item.MetadataUrl.Contains("http"))
                            {
                                <a href="@item.MetadataUrl">
                                    @item.name
                                </a>
                            }
                            else
                            {
                                <a href="@item.GetObjectUrl()">
                                    @item.name
                                </a>
                            }
                        }
                        else
                        {
                            <a href="@item.GetObjectUrl()">
                                @item.name
                            </a>
                        }
                    </td>
                    <td title="Datasett eier: @item.datasetowner.seoname">
                        @item.datasetowner.name
                    </td>
                    <td title="Nasjonal Dok-status: @HtmlHelperExtensions.GetDokStatusFromCoverage(item, selectedMunicipal)">
                        @HtmlHelperExtensions.GetNationalDokStatus(item)
                    </td>
                    <td title="Datasett type: @item.DatasetType">
                        <span title="Datasett type: @item.DatasetType" class="label label-@item.DatasetType">@item.DatasetType</span>
                    </td>
                    <td style="text-align: center" title="Bekreftet som kommunens DOK: @HtmlHelperExtensions.GetConfirmedFromCoverage(item, selectedMunicipal)">
                        @HtmlHelperExtensions.GetConfirmedFromCoverage(item, selectedMunicipal)
                    </td>
                    <td style="text-align: center" title="Dekningsangivelse: @HtmlHelperExtensions.GetCoverage(item, selectedMunicipal)">
                        @HtmlHelperExtensions.GetCoverage(item, selectedMunicipal)
                    </td>
                    <td title="Merknad: @HtmlHelperExtensions.GetNoteFromCoverage(item, selectedMunicipal)">
                        @HtmlHelperExtensions.GetNoteFromCoverage(item, selectedMunicipal)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
