@model PagedList.IPagedList<RegisterItem>
﻿@using Kartverket.Register.Helpers
@using Kartverket.Register.Models

@{
    CodelistValue selectedMunicipal = HtmlHelperExtensions.GetSelectedMunicipality(ViewBag.selectedMunicipality);
    var selectedMunicipalName = "Velg kommune";
    if (selectedMunicipal != null)
    {
        selectedMunicipalName = selectedMunicipal.name;
    }
}

<script>
    $(document).ready(function () {
        $("table").tablesorter({
            headers: {
                6: { sorter: false },
            }
        });
    });
</script>

<div class="col-sm-12 col-md-6 col-lg-6">
    <h2>@HtmlHelperExtensions.selectedMunicipalName(selectedMunicipal)</h2>
</div>
<div class="col-sm-12 col-md-6 col-lg-6 no-padding">
    <form action="@Request.Url.LocalPath" name="FilterForm" method="get" class="col-md-6" style="margin-top: 38px; float: right;">
        <div class="save-as-dropdown">
            <div class="sorter pagination">
                Velg kommune:
                <div class="custom-select">
                    @Html.DropDownList("municipality", new SelectList(ViewBag.municipality, "value", "name"), selectedMunicipalName, new { @class = "form-control", onchange = "this.form.submit()" })
                </div>
            </div>
        </div>
    </form>
</div>
@if (selectedMunicipal != null || HtmlHelperExtensions.IsAdmin())
{
    <table id="myTable" class="table-responsive table-hover table tablesorter" style="width:100%">
        <thead>
            <tr>
                <th style="width:10%">Temagruppe</th>
                <th style="width:20%">Tittel</th>
                <th style="width:10%">Eier</th>
                <th style="width:10%">Nasjonal DOK-status</th>
                <th style="width:10%">Nasjonalt/ <br />Kommunalt</th>
                <th style="width:10%" title="Hak av de data som en bekreftelse på data som skal være kommunes DOK">Bekreft som kommunens DOK</th>
                <th style="width:20%" title="Må legges inn på data en velger ikke å ta med, kan brukes også for andre datasett">Kommunes merknad</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Dataset item in Model)
                {
                <tr>
                    <td title="Temagruppe for @item.name: @item.ThemeGroupId">@item.ThemeGroupId</td>
                    <td title="Datasett: @item.name">
                        @if (item.MetadataUrl != null)
                        {
                            if (item.MetadataUrl.Contains("http"))
                            {
                                <a href="@item.MetadataUrl">
                                    @item.name
                                </a>
                            }
                            else {
                                <a href="@item.GetObjectUrl(item)">
                                    @item.name
                                </a>
                            }
                        }
                        else {
                            <a href="@item.GetObjectUrl(item)">
                                @item.name
                            </a>
                        }
                    </td>
                    <td title="Datasett eier: @item.datasetowner.seoname">
                        @item.datasetowner.name
                    </td>
                    <td title="Nasjonal Dok-status: @HtmlHelperExtensions.GetDokStatusFromCoverage(item, selectedMunicipal)">
                        @HtmlHelperExtensions.GetNationalDokStatus(item)
                    </td>
                    <td title="Datasett type: @item.DatasetType">
                        <span title="Datasett type: @item.DatasetType" class="label label-@item.DatasetType">@item.DatasetType</span>
                    </td>
                    <td style="text-align: center" title="Bekreftet som kommunens DOK: @HtmlHelperExtensions.GetConfirmedFromCoverage(item, selectedMunicipal)">
                        @HtmlHelperExtensions.GetConfirmedFromCoverage(item, selectedMunicipal)
                    </td>
                    <td title="Merknad: @HtmlHelperExtensions.GetNoteFromCoverage(item, selectedMunicipal)">
                        @HtmlHelperExtensions.GetNoteFromCoverage(item, selectedMunicipal)
                    </td>
                </tr>
            }
        </tbody>

    </table>
}
