@model PagedList.IPagedList<RegisterItem>
@using Kartverket.Register.Models

<div class="register namespace search-results">
    @foreach (NameSpace item in Model)
    {
        <div class="row result-row metadata">
            <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12" style="height: auto; border: medium none; box-shadow: none;">

                <div class="col-title col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <a href="@item.GetObjectUrl()">
                        @item.name
                    </a>
                </div>
                
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-information">
                    @Html.DisplayFor(modelItem => item.submitter.name)
                </div>
                
                <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 col-descripton">
                    @if (item.description == null)
                    {
                        <p title="@Namespace.NoContentFor @item.name."><span>@Namespace.Service: </span>@Registers.NotSet</p>
                    }
                    else
                    {
                        <p title="@Namespace.LinkToContentOf @item.name"><span>@Namespace.Content: </span><a href="@item.description">@Shared.Details <i class="custom-icon-sm custom-icon-eksternlink"></i></a></p>
                    }
                </div>
                
                <div class="col-actions col-xs-6 col-sm-6 col-md-2 col-lg-2">
                    @if (item.serviceUrl == null)
                    {
                        <p title="@Namespace.UrlOfServiceNotSpecified"><span>@Namespace.Service: </span>@Registers.NotSet</p>
                    }
                    else
                    {
                        <p title="@Namespace.URLForServiceInNamespace @item.name"><span>@Namespace.Service: </span><a href="@item.serviceUrl">@Shared.Details <i class="custom-icon-sm custom-icon-eksternlink"></i></a></p>
                    }
                </div>

            </div>
        </div>
        <hr />
    }
</div>