@model PagedList.IPagedList<RegisterItem>
@using Kartverket.Register.Models
@using Kartverket.Register.Helpers

@functions {
    public IHtmlString GetDokDeliveryStatusSymbol(string status, bool? restricted, string type = null)
    {

        string symbolDeficient = "custom-icon custom-icon-smile-red";
        string symbolUseable = "custom-icon custom-icon-smile-yellow";
        string symbolGood = "custom-icon custom-icon-smile-green";
        string symbolNotSet = "custom-icon";

        string statusSymbol = symbolUseable;
        string title = "";

        if (restricted.HasValue && restricted.Value == true && type != "metadata")
        {
            statusSymbol = "custom-icon custom-icon-hengelaas-closed-red";
            title = DataSet.DOK_Delivery_Restricted;
        }
        else if (!string.IsNullOrEmpty(status))
        {
            if (status == "notset")
            {
                statusSymbol = symbolNotSet;
                title = DataSet.DOK_Delivery_Status_NotSet;
            }
            else if (status == "deficient")
            {
                statusSymbol = symbolDeficient;
                title = DataSet.DOK_Delivery_Status_Deficient;
            }
            else if (status == "useable")
            {
                statusSymbol = symbolUseable;
                title = DataSet.DOK_Delivery_Status_Useable;
            }
            else if (status == "good")
            {
                statusSymbol = symbolGood;
                title = DataSet.DOK_Delivery_Status_Good;
            }
        }

        string label = "";


        if (type.Contains("metadata"))
            label = DataSet.DOK_Delivery_Metadata;
        else if (type.Contains("dokDeliveryProductSheetStatus"))
            label = DataSet.DOK_Delivery_ProductSheet;
        else if (type.Contains("dokDeliveryPresentationRulesStatus"))
            label = DataSet.DOK_Delivery_PresentationRules;
        else if (type.Contains("dokDeliveryProductSpecificationStatus"))
            label = DataSet.DOK_Delivery_ProductSpesification;
        else if (type.Contains("dokDeliveryWmsStatus"))
            label = DataSet.DOK_Delivery_Wms;
        else if (type.Contains("dokDeliveryWfsStatus"))
            label = DataSet.DOK_Delivery_Wfs;
        else if (type.Contains("dokDeliverySosiRequirementsStatus"))
            label = DataSet.DOK_Delivery_SosiRequirements;
        else if (type.Contains("dokDeliveryDistributionStatus"))
            label = DataSet.DOK_Delivery_Distribution;
        else if (type.Contains("dokDeliveryGmlRequirementsStatus"))
            label = DataSet.DOK_Delivery_GmlRequirements;
        else if (type.Contains("dokDeliveryAtomFeedStatus"))
            label = DataSet.DOK_Delivery_AtomFeed;

        if (!string.IsNullOrEmpty(label))
            title = label + ": " + title;


        string html = "";
        if (status == "notset")
            html = "<span class='" + symbolNotSet + "'></span>";
        else
            html = "<span data-toggle='tooltip' data-placement = 'bottom' title='" + title + "'><span class='" + statusSymbol + "'></span></span>";

        return new HtmlString(html);
    }

    public IHtmlString OrderByLink(string tittel, string defaultSort, string statusIcon = null)
    {

        string sortingClass = "";
        string sortTitle = "";
        string sortingParam = "";
        string sortingSelected = Request.QueryString["sorting"];

        if (sortingSelected == null)
            sortingSelected = "name";

        if (sortingSelected == defaultSort)
        {
            sortingClass = "sorted-asc";
            sortTitle = DataSet.DOK_Delivery_Title;
            sortingParam = defaultSort + "_desc";
        }
        else if (sortingSelected.IndexOf("_desc") > -1 && sortingSelected == defaultSort + "_desc")
        {
            sortingClass = "sorted-desc";
            sortTitle = DataSet.DOK_Delivery_Title;
            sortingParam = defaultSort;
        }
        else
        {
            sortingClass = "";
            sortTitle = "";
            sortingParam = defaultSort;
        }

        if (sortingParam.IndexOf("Requirement") > -1)
        {
            sortTitle = "Sortert etter logisk rekkefølge";
        }
        var text = Request.QueryString["text"];

        if (sortingParam.Contains("title"))
            sortTitle = DataSet.DOK_Delivery_Title;
        else if (sortingParam.Contains("datasetOwner"))
            sortTitle = DataSet.DOK_Delivery_Owner;
        else if (sortingParam.Contains("theme"))
            sortTitle = DataSet.DOK_Delivery_Theme;
        else if (sortingParam.Contains("dokDeliveryMetadataStatus"))
            sortTitle = DataSet.DOK_Delivery_Metadata;
        else if (sortingParam.Contains("dokDeliveryProductSheetStatus"))
            sortTitle = DataSet.DOK_Delivery_ProductSheet;
        else if (sortingParam.Contains("dokDeliveryPresentationRulesStatus"))
            sortTitle = DataSet.DOK_Delivery_PresentationRules;
        else if (sortingParam.Contains("dokDeliveryProductSpecificationStatus"))
            sortTitle = DataSet.DOK_Delivery_ProductSpesification;
        else if (sortingParam.Contains("dokDeliveryWmsStatus"))
            sortTitle = DataSet.DOK_Delivery_Wms;
        else if (sortingParam.Contains("dokDeliveryWfsStatus"))
            sortTitle = DataSet.DOK_Delivery_Wfs;
        else if (sortingParam.Contains("dokDeliverySosiRequirementsStatus"))
            sortTitle = DataSet.DOK_Delivery_SosiRequirements;
        else if (sortingParam.Contains("dokDeliveryDistributionStatus"))
            sortTitle = DataSet.DOK_Delivery_Distribution;
        else if (sortingParam.Contains("dokDeliveryGmlRequirementsStatus"))
            sortTitle = DataSet.DOK_Delivery_GmlRequirements;
        else if (sortingParam.Contains("dokDeliveryAtomFeedStatus"))
            sortTitle = DataSet.DOK_Delivery_AtomFeed;
        else if (sortingParam.Contains("dokStatus"))
            sortTitle = DataSet.DOK_Delivery_Status;


        var linkSort = "<a data-toggle='tooltip' class='show-loading-animation' data-loading-message='Sorterer innhold' data-placement = 'bottom' title='" + sortTitle + "' class='" + sortingClass + "' href='?sorting=" + sortingParam;

        if (text != null)
            linkSort = linkSort + "&text=" + text;

        if (!string.IsNullOrEmpty(statusIcon))
            tittel = "<span class='" + statusIcon + "'></span>";

        linkSort = linkSort + "'>" + tittel + "</a>";

        return new HtmlString(linkSort);
    }

}

<div id="tableView" class="register dataset search-results-table-heading">
    <div class="row result-row metadata">
        <div class="col-md-3 col-sm-2">@OrderByLink(Shared.Title, "name")</div>
        <div class="col-md-2">@OrderByLink(Registers.Owner, "datasetOwner")</div>
        <div class="col-md-2">@OrderByLink(DataSet.DOK_Temagruppe, "theme") </div>
        <div class="col-md-4 col-sm-5 status-icons">
            @OrderByLink("", "dokDeliveryMetadataStatus", "custom-icon custom-icon-info")
            @OrderByLink("", "dokDeliveryProductSheetStatus", "custom-icon custom-icon-produktark")
            @OrderByLink("", "dokDeliveryPresentationRulesStatus", "glyphicon glyphicon-picture")
            @OrderByLink("", "dokDeliveryProductSpecificationStatus", "glyphicon glyphicon-list-alt")
            @OrderByLink("", "dokDeliveryWmsStatus", "glyphicon glyphicon-globe")
            @OrderByLink("", "dokDeliveryWfsStatus", "custom-icon custom-icon-wfs")
            @OrderByLink("", "dokDeliverySosiRequirementsStatus", "custom-icon custom-icon-sosi")
            @OrderByLink("", "dokDeliveryGmlRequirementsStatus", "custom-icon custom-icon-gml")
            @OrderByLink("", "dokDeliveryAtomFeedStatus", "fa fa-rss-square")
            @OrderByLink("", "dokDeliveryDistributionStatus", "custom-icon custom-icon-lastned")
        </div>
        <div class="col-md-1 text-center">@OrderByLink("STATUS", "dokStatus")</div>
    </div>
    <div class="menu-separator search-results-table-heading"></div>
    @foreach (Dataset item in Model)
    {
        <div class="row result-row metadata">
            <div class="col-md-3 col-sm-2"><a href="@item.GetObjectUrl()" class="show-loading-animation" data-loading-message="@Registers.LoadingMessage"> @item.name </a></div>
            <div class="col-md-2"><a href="/register/@item.register.seoname/@item.datasetowner.seoname" title="Datasett eier: @item.datasetowner.name" class="show-loading-animation" data-loading-message="@Registers.LoadingMessage">@Html.DisplayFor(modelItem => item.datasetowner.name)</a></div>
            <div class="col-md-2">
                @if (item.ThemeGroupId != null)
                {
                    <span> @item.theme.description </span>
                }
                else
                {
                    <span>@Registers.NotSet</span>
                }
            </div>

            <div class="col-md-4 col-sm-5 status-icons">
                @GetDokDeliveryStatusSymbol(item.dokDeliveryMetadataStatusId, false, "metadata")
                @GetDokDeliveryStatusSymbol(item.dokDeliveryProductSheetStatusId, false, "dokDeliveryProductSheetStatus")
                @GetDokDeliveryStatusSymbol(item.dokDeliveryPresentationRulesStatusId, false, "dokDeliveryPresentationRulesStatus")
                @GetDokDeliveryStatusSymbol(item.dokDeliveryProductSpecificationStatusId, false, "dokDeliveryProductSpecificationStatus")
                @GetDokDeliveryStatusSymbol(item.dokDeliveryWmsStatusId, item.restricted, "dokDeliveryWmsStatus")
                @GetDokDeliveryStatusSymbol(item.dokDeliveryWfsStatusId, item.restricted, "dokDeliveryWfsStatus")
                @GetDokDeliveryStatusSymbol(item.dokDeliverySosiRequirementsStatusId, false, "dokDeliverySosiRequirementsStatus")
                @GetDokDeliveryStatusSymbol(item.dokDeliveryGmlRequirementsStatusId, false, "dokDeliveryGmlRequirementsStatus")
                @GetDokDeliveryStatusSymbol(item.dokDeliveryAtomFeedStatusId, item.restricted, "dokDeliveryAtomFeedStatus")
                @GetDokDeliveryStatusSymbol(item.dokDeliveryDistributionStatusId, false, "dokDeliveryDistributionStatus")
            </div>
            <div class="col-md-1 text-center">
                @if (item.dokStatus != null)
                {
                    <span class="status-icon-link" data-toggle='tooltip' data-placement='bottom' title='@item.dokStatus.description'>
                        <i class="statusIcon-@item.dokStatusId"></i>
                    </span>
                }
            </div>
        </div>
    }
</div>
<div id="listView">
    @foreach (Dataset item in Model)
    {
        <div class="row result-row metadata">
            <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12" style="height: auto; border: medium none; box-shadow: none;">
                <div class="col-img col-xs-12 col-sm-12 col-md-2 col-lg-2">
                    <a href="@item.GetObjectUrl()">
                        <img src="@item.datasetthumbnail" class="img-responsive pull-left" alt="Thumbnail for @item.name" />
                    </a>
                </div>
                <div class="col-title col-xs-12 col-sm-12 col-md-5 col-lg-5">
                    <a href="@item.GetObjectUrl()">
                        @item.name
                    </a>

                    <a href="/register/@item.register.seoname/@item.datasetowner.seoname/" title="Datasett eier: @item.datasetowner.name">
                        <img src="@Url.Content("~/data/organizations/" + item.datasetowner.logoFilename)" class="img-responsive img-small-logo hidden-print" alt="@Html.DisplayFor(modelItem => item.datasetowner.name)" />
                    </a>
                    <div class="orglogo">
                        <a href="/register/@item.register.seoname/@item.datasetowner.seoname" title="Datasett eier: @item.datasetowner.name">
                            @Html.DisplayFor(modelItem => item.datasetowner.name)
                        </a>
                    </div>

                    <a class="beskrivelse-print visible-print" href="/register/@item.register.seoname/@item.datasetowner.seoname" title="Datasett eier: @item.datasetowner.name">
                        <p>@Registers.Owner: @Html.DisplayFor(modelItem => item.datasetowner.name)</p>
                    </a>

                    <br class="hidden-print" />
                    <div class="hidden-print">
                        @if (item.description != null)
                {
                            <p>
                                @if (item.description.Length < 80)
                                {
                                    @item.description.Substring(0, item.description.Length)
                                    <a class="hidden-print" href="/register/@Html.ToUrl(item.register.name)/@Html.ToUrl(item.datasetowner.name)/@Html.ToUrl(item.name)" title="Vis mer info om @item.name">@Shared.DisplayMoreInfo</a>
                                }
                                else
                                {
                                    @item.description.Substring(0, 80)<text>...</text>
                                    <a class="hidden-print" href="/register/@Html.ToUrl(item.register.name)/@Html.ToUrl(item.datasetowner.name)/@Html.ToUrl(item.name)" title="Vis mer info om @item.name">@Shared.DisplayMoreInfo</a>
                                }
                            </p>
                        }
                    </div>
                    <p class="visible-print">@item.description</p>
                </div>
                <div class="col-information col-xs-8 col-sm-5 col-md-5 col-lg-5">
                    <ul style="list-style-type:none;">
                        @if (item.dokStatus != null)
                        {
                            <li title="@Html.Raw(HtmlHelperExtensions.DokStatusBeskrivelse())"><span>DOK-status: </span>@item.dokStatus.description <i class="statusIcon-@item.dokStatusId"></i></li>
                        }
                        @if (item.dokStatusDateAccepted != null)
                        {
                            <li><span>@DataSet.DOK_StatusDateAccepted: </span>@item.dokStatusDateAccepted </li>
                        }
                        @if (item.dateSubmitted != null)
                        {
                            <li><span>@Registers.DateSubmitted: </span>@item.dateSubmitted </li>
                        }
                        @if (item.modified != null)
                        {
                            <li><span>@Registers.Modified: </span>@item.modified </li>
                        }


                        @if (item.ThemeGroupId != null)
                        {
                            <li title="@DataSet.DOK_Temagruppe: @item.theme.description">
                                <span>@DataSet.DOK_Temagruppe: </span>@item.theme.description
                            </li>
                        }
                        else
                        {
                            <li title="@DataSet.DOK_Temagruppe: @Registers.NotSet"><span>@DataSet.DOK_Temagruppe: </span>@Registers.NotSet</li>
                        }
                    </ul>

                </div>

            </div>

        </div>
        <hr />
    }
</div>
