@model PagedList.IPagedList<RegisterItem>
@using Kartverket.Register.Models
@using Kartverket.Register.Helpers

@functions {
    public string GetDokDeliveryStatusSymbol(string status, bool? restricted, string type = null) {

        string symbolDeficient = "custom-icon custom-icon-smile-red";
        string symbolUseable = "custom-icon custom-icon-smile-yellow";
        string symbolGood = "custom-icon custom-icon-smile-green";

        string statusSymbol = symbolUseable;

        if (restricted.HasValue && restricted.Value == true && type != "metadata")
            statusSymbol = "custom-icon custom-icon-hengelaas-closed-red";
        else if (!string.IsNullOrEmpty(status))
        {
            if (status == "deficient")
                statusSymbol = symbolDeficient;
            else if (status == "useable")
                statusSymbol = symbolUseable;
            else if (status == "good")
                statusSymbol = symbolGood;
        }

        return statusSymbol;
    }

    public IHtmlString OrderByLink(string tittel, string defaultSort, string statusIcon = null)
    {

        string sortingClass = "";
        string sortTitle = "";
        string sortingParam = "";
        string sortingSelected = Request.QueryString["sorting"];

        if (sortingSelected == null)
            sortingSelected = "name";

        if (sortingSelected == defaultSort)
        {
            sortingClass = "sorted-asc";
            sortTitle = UI.DOK_Delivery_Title;
            sortingParam = defaultSort + "_desc";
        }
        else if (sortingSelected.IndexOf("_desc") > -1 && sortingSelected == defaultSort + "_desc")
        {
            sortingClass = "sorted-desc";
            sortTitle = UI.DOK_Delivery_Title;
            sortingParam = defaultSort;
        }
        else
        {
            sortingClass = "";
            sortTitle = "";
            sortingParam = defaultSort;
        }

        if (sortingParam.IndexOf("Requirement") > -1)
        {
            sortTitle = "Sortert etter logisk rekkefølge";
        }
        var text = Request.QueryString["text"];

        if (sortingParam.Contains("title"))
            sortTitle = UI.DOK_Delivery_Title;
        else if (sortingParam.Contains("datasetOwner"))
            sortTitle = UI.DOK_Delivery_Owner;
        else if (sortingParam.Contains("theme"))
            sortTitle = UI.DOK_Delivery_Theme;
        else if (sortingParam.Contains("dokDeliveryMetadataStatus"))
            sortTitle = UI.DOK_Delivery_Metadata;
        else if (sortingParam.Contains("dokDeliveryProductSheetStatus"))
            sortTitle = UI.DOK_Delivery_ProductSheet;
        else if (sortingParam.Contains("dokDeliveryPresentationRulesStatus"))
            sortTitle = UI.DOK_Delivery_PresentationRules;
        else if (sortingParam.Contains("dokDeliveryProductSpecificationStatus"))
            sortTitle = UI.DOK_Delivery_ProductSpesification;
        else if (sortingParam.Contains("dokDeliveryWmsStatus"))
            sortTitle = UI.DOK_Delivery_Wms;
        else if (sortingParam.Contains("dokDeliveryWfsStatus"))
            sortTitle = UI.DOK_Delivery_Wfs;
        else if (sortingParam.Contains("dokDeliveryDistributionAreaStatus"))
            sortTitle = UI.DOK_Delivery_DistributionArea;
        else if (sortingParam.Contains("dokDeliveryDistributionStatus"))
            sortTitle = UI.DOK_Delivery_Distribution;
        else if (sortingParam.Contains("dokDeliveryServiceAlertStatus"))
            sortTitle = UI.DOK_Delivery_ServiceAlert;
        else if (sortingParam.Contains("dokDeliveryGeodataLawStatus"))
            sortTitle = UI.DOK_Delivery_GeodataLaw;
        else if (sortingParam.Contains("dokStatus"))
            sortTitle = UI.DOK_Delivery_Status;


        var linkSort = "<a data-toggle='tooltip' data-placement = 'bottom' title='" + sortTitle + "' class='" + sortingClass + "' href='?sorting=" + sortingParam;

        if (text != null)
            linkSort = linkSort + "&text=" + text;

        if (!string.IsNullOrEmpty(statusIcon))
            tittel = "<span class='" + statusIcon + "'></span>";

        linkSort = linkSort + "'>" + tittel + "</a>";

        return new HtmlString(linkSort);
    }

}

<div class="register dataset search-results-table-heading">
    <div class="row result-row metadata" >
        <div class="col-md-2">@OrderByLink("Tittel", "name")</div>
        <div class="col-md-2">@OrderByLink("Eier", "datasetOwner")</div>
        <div class="col-md-2">@OrderByLink("Temagruppe", "theme") </div>
        <div class="col-md-5">
            @OrderByLink("", "dokDeliveryMetadataStatus", "custom-icon custom-icon-info")
            @OrderByLink("", "dokDeliveryProductSheetStatus", "custom-icon custom-icon-info alert-success")
            @OrderByLink("", "dokDeliveryPresentationRulesStatus", "glyphicon glyphicon-picture")
            @OrderByLink("", "dokDeliveryProductSpecificationStatus", "glyphicon glyphicon-list-alt")
            @OrderByLink("", "dokDeliveryWmsStatus", "glyphicon glyphicon-globe")
            @OrderByLink("", "dokDeliveryWfsStatus", "glyphicon glyphicon-list-alt alert-success")
            @OrderByLink("", "dokDeliveryDistributionAreaStatus", "glyphicon glyphicon-globe alert-success")
            @OrderByLink("", "dokDeliveryDistributionStatus", "custom-icon custom-icon-lastned")
            @OrderByLink("", "dokDeliveryServiceAlertStatus", "fa fa-rss")
            @OrderByLink("", "dokDeliveryGeodataLawStatus", "glyphicon glyphicon-asterisk")
        </div>
        <div class="col-md-1">@OrderByLink("STATUS", "dokStatus")</div>
    </div>
    <div class="menu-separator search-results-table-heading"></div>
    @foreach(Dataset item in Model)
            {
        <div class="row result-row metadata">

            <div class="col-md-2"><a href = "@item.GetObjectUrl()" > @item.name </a></div>
            <div class="col-md-2"><a href = "/register/@item.register.seoname/@item.datasetowner.seoname" title="Datasett eier: @item.datasetowner.name">@Html.DisplayFor(modelItem => item.datasetowner.name)</a></div>
            <div class="col-md-2">
            @if(item.ThemeGroupId != null)
            {
                <span> @item.theme.description </span>
            }
            else
            {
                <span>Ikke angitt</span>
            }
            </div>

            <div class="col-md-5">
                <span class="@GetDokDeliveryStatusSymbol(item.dokDeliveryMetadataStatusId, item.restricted, "metadata")"></span>
                <span class="@GetDokDeliveryStatusSymbol(item.dokDeliveryProductSheetStatusId, item.restricted)"></span>
                <span class="@GetDokDeliveryStatusSymbol(item.dokDeliveryPresentationRulesStatusId, item.restricted)"></span>
                <span class="@GetDokDeliveryStatusSymbol(item.dokDeliveryProductSpecificationStatusId, item.restricted)"></span>
                <span class="@GetDokDeliveryStatusSymbol(item.dokDeliveryWmsStatusId, item.restricted)"></span>
                <span class="@GetDokDeliveryStatusSymbol(item.dokDeliveryWfsStatusId, item.restricted)"></span>
                <span class="@GetDokDeliveryStatusSymbol(item.dokDeliveryDistributionAreaStatusId, item.restricted)"></span>
                <span class="@GetDokDeliveryStatusSymbol(item.dokDeliveryDistributionStatusId, item.restricted)"></span>
                <span class="@GetDokDeliveryStatusSymbol(item.dokDeliveryServiceAlertStatusId, item.restricted)"></span>
                <span class="@GetDokDeliveryStatusSymbol(item.dokDeliveryGeodataLawStatusId, item.restricted)"></span>
            </div>
            <div class="col-md-1">
            @if(item.dokStatus != null)
            {
                <i class="statusIcon-@item.dokStatusId"></i>
            }
            </div>
        </div>
    }
</div>
