@model PagedList.IPagedList<RegisterItem>
@using Kartverket.Register.Models

<div class="register organization search-results">
    @foreach (Organization item in Model)
    {
        <div class="row result-row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                
                <div class="hidden-xs col-sm- col-md-2 col-lg-2 top-padding col-img">
                    <a href="@item.GetObjectUrl()" title="@item.name">
                        <img src="@Url.Content("~/data/organizations/" +  item.logoFilename)" class="center-block img-small" alt="@item.name">
                    </a>
                </div>

                <div class="col-no-padding-xs col-xs-8 col-sm-8 col-md-8 col-lg-8 col-title">
                    <a href="@item.GetObjectUrl()">
                        @item.name
                    </a>

                    <p class="col-title" title="Organisasjonsnummer: @item.number">
                        @Html.DisplayFor(modelItem => item.number)
                    </p>
                    <p class="col-title">
                        @Html.DisplayFor(modelItem => item.description)
                    </p>
                </div>

            </div>
        </div>
        <hr />
    }
</div>




