﻿@using Kartverket.Register.Helpers
@model PagedList.IPagedList<Kartverket.Register.Models.RegisterItem>
@using PagedList;
@using PagedList.Mvc;

@using Kartverket.Register.Models

<div class="search-filter-wrapper">
    <ul class="nav nav-tabs col-sm-12 col-md-12 col-lg-12">
        <li class="active">
            <span>Viser @Model.FirstItemOnPage - @Model.LastItemOnPage av @Model.TotalItemCount treff</span>
        </li>
        <li class="pull-right">
            @Html.PagedListPager(Model, page => Url.Action("Details", new { page, sorting = ViewBag.SortOrder, text = Session["text"].ToString(), filterVertikalt = Session["filterVertikalt"].ToString(), filterHorisontalt = Session["filterHorisontalt"].ToString(), InspireRequirement = Session["InspireRequirement"].ToString(), nationalRequirement = Session["nationalRequirement"].ToString(), nationalSeaRequirement = Session["nationalSeaRequirement"].ToString() }))
        </li>
    </ul>
    @Html.Partial("_visningstyper")
</div>

<div class="register organization search-results">
    @foreach (Organization item in Model)
    {

        <div class="row result-row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="hidden-xs col-sm- col-md-2 col-lg-2 top-padding col-img">
                    @if (item.register.parentRegister != null)
                    {
                        <a class="" href="/subregister/@item.register.parentRegister.seoname/@item.register.parentRegister.owner.seoname/@item.register.seoname/@item.submitter.seoname/@item.seoname/" title="@item.name">
                            <img src="@Url.Content("~/data/organizations/" +  item.logoFilename)" class="center-block img-small" alt="@item.name"></a>
                    }
                    else
                    {
                        <a class="" href="/register/@item.register.seoname/@item.submitter.seoname/@item.seoname/" title="@item.name">
                            <img src="@Url.Content("~/data/organizations/" +  item.logoFilename)" class="center-block img-small" alt="@item.name">
                        </a>
                    }
                    
                </div>

                <div class="col-no-padding-xs col-xs-8 col-sm-8 col-md-8 col-lg-8 col-title">
                    @if (item.register.parentRegister != null)
                    {
                        <a class="" href="/subregister/@item.register.parentRegister.seoname/@item.register.parentRegister.owner.seoname/@item.register.seoname/@item.submitter.seoname/@item.seoname/">
                            <h3 class="role-button" style="font-size: 15px;">
                                @item.name
                            </h3>
                        </a>
                    }
                    else
                    {
                        <a class="" href="/register/@item.register.seoname/@item.submitter.seoname/@item.seoname/">
                            <h3 class="role-button" style="font-size: 15px;">
                                @item.name
                            </h3>
                        </a>
                    }
                    
                    <p class="col-title" title="Organisasjonsnummer: @item.number">
                        @Html.DisplayFor(modelItem => item.number)
                    </p>
                    <p class="col-title">
                        @Html.DisplayFor(modelItem => item.description)
                    </p>

                    @*<p class="col-title">
                        @Html.DisplayFor(modelItem => item.shortname)
                    </p>*@
                </div>

                @*<div class="col-no-padding-xs col-xs-2 col-sm-2 col-md-2 col-lg-2 col-information">
                    @if (item.status == null)
                    {
                        <p><span>Status: </span>Ikke angitt</p>
                    }
                    else
                    {
                        <p><span>Status: </span>@Html.DisplayFor(model => item.status.description) <i class="statusIcon-@Html.DisplayFor(model => item.statusId)"></i></p>
                    }
                </div>*@

            </div>
        </div>
        <hr />
    }


</div>


<div class="search-filter-wrapper">
    <br /><br />
    <ul class="nav nav-tabs col-sm-12 col-md-12 col-lg-12">
        <li class="active">
            <span>Viser @Model.FirstItemOnPage - @Model.LastItemOnPage av @Model.TotalItemCount treff</span>
        </li>
        <li class="pull-right">
            @Html.PagedListPager(Model, page => Url.Action("Details", new { page, sorting = ViewBag.SortOrder, text = Session["text"].ToString(), filterVertikalt = Session["filterVertikalt"].ToString(), filterHorisontalt = Session["filterHorisontalt"].ToString(), InspireRequirement = Session["InspireRequirement"].ToString(), nationalRequirement = Session["nationalRequirement"].ToString(), nationalSeaRequirement = Session["nationalSeaRequirement"].ToString() }))
        </li>
    </ul>
</div>




