@model PagedList.IPagedList<RegisterItem>
@using Kartverket.Register.Helpers
@using Kartverket.Register.Models


<form action="" method="get">
    <div class="row">
        <div class="col-md-3">
            <label for="SelectedOrganizationType">@Organizations.FilterByOrganizationType</label>
            <div class="form-group custom-select">
                @Html.DropDownList("SelectedOrganizationType", null, @Organizations.OrganizationType, new { @class = "form-control", onchange = "form.submit();" })
            </div>
        </div>
    </div>
    <div class="table-view">
        <div class="table-heading search-results-table-heading col-md-12">
            <div class="col-md-4 col-md-offset-2 col-sm-6 col">@HtmlHelperExtensions.OrderByLink(Request.QueryString["sorting"], Request.QueryString["text"], "Organisasjonsnavn", "name")</div>
            <div class="col-md-3 col-md-offset-3 col-sm-6 col">@HtmlHelperExtensions.OrderByLink(Request.QueryString["sorting"], Request.QueryString["text"], "Organisasjonsnummer", "number")</div>
        </div>

        @foreach (Organization item in Model)
        {
            <div class="resultItemRow col-md-12 ">
                <div class="col-md-2 col-sm-12 col">
                    <a href="@item.GetObjectUrl()" title="@item.name">
                        <img src="@Url.Content("~/data/organizations/" + item.logoFilename)" class="center-block" alt="@item.name">
                    </a>
                </div>
                <div class="col-md-4 col-sm-12 col">
                    <a href="@item.GetObjectUrl()">@item.NameTranslated()</a>
                </div>
                <div class="col-md-3 col-md-offset-3 col-sm-12 col">
                    <p title="@Organizations.Organization_Number: @item.number">
                        @Html.DisplayFor(modelItem => item.number)
                    </p>
                </div>
            </div>
        }
    </div>
</form>



