@using  Kartverket.Register.Helpers

<script>
    function additionalView(buttonId) {
        $("#saveButtons a").attr("class", "hidden");
        $("#" + buttonId).attr("class", "btn");
    }
</script>

<div class="save-as-menu pull-right">
    <label for="formats_header">@Shared.SaveAs:</label>
    <div class="no-padding-bottom save-as-dropdown">
        <div class="custom-select">
            <select id="formats_header"onchange="additionalView(this.value)" class="form-control">
                <option value="atomUrl">ATOM</option>
                @if (ViewBag.Title != "Tjenestevarsler")
    {
            <option value="rssUrl">RSS</option>
}
                <option value="csvUrl" selected="selected">CSV</option>
                <option value="gmlUrl">GML</option>
                <option value="rdfUrl">RDF</option>
                <option value="jsonUrl">JSON</option>
                <option value="xmlUrl">XML</option>
                @if (ViewBag.Title == "Inspire statusregister")
                {
                    <option value="inspireMonitoringUrl">Inspire rapport</option>
                }

            </select>
        </div>
    </div>
    <div id="saveButtons" class="no-padding-bottom save-as-buttons">
        <a id="atomUrl" href="@RegisterUrls.urlFormat(Request, "atom")" class="hidden" title="Vis Atom feed">@Shared.Save</a>
        <a id="rssUrl" href="@RegisterUrls.urlFormat(Request, "rss")" class="hidden" title="Vis rss feed">@Shared.Save</a>
        <a id="csvUrl" href="@RegisterUrls.urlFormat(Request, "csv")" class="btn" title="Vis CSV">@Shared.Save</a>
        <a id="gmlUrl" href="@RegisterUrls.urlFormat(Request, "gml")" class="hidden" title="Vis GML Dictionary">@Shared.Save</a>
        <a id="rdfUrl" href="@RegisterUrls.urlFormat(Request, "rdf")" class="hidden" title="Vis SKOS/RDF">@Shared.Save</a>
        <a id="jsonUrl" href="@RegisterUrls.urlFormat(Request, "json")" class="hidden" title="Vis JSON">@Shared.Save</a>
        <a id="xmlUrl" href="@RegisterUrls.urlFormat(Request, "xml")" class="hidden" title="Vis XML">@Shared.Save</a>
        <a id="inspireMonitoringUrl" href="@RegisterUrls.InspireMonitoringReportUrl()" class="hidden" title="Vis inspire rapport">@Shared.Save</a>
    </div>
</div>


