﻿@using Kartverket.Register.Helpers

<div class="text-right pull-right">
  
    <a href="@HtmlHelperExtensions.urlFormat(Request, "atom")" class="btn btn-sm btn-default" title="Atom feed"><span class="fa fa-rss"></span> ATOM</a>
    <a href="@HtmlHelperExtensions.urlFormat(Request, "rss")" class="btn btn-sm btn-default" title="rss feed"><span class="fa fa-rss"></span> RSS</a>
    <a href="@Request.Url&export=csv" class="btn btn-sm btn-default" title="Eksporter til CSV"><span class="glyphicon glyphicon-export"></span> CSV</a>
    <a href="@Request.Url&export=gml" class="btn btn-sm btn-default" title="Eksporter til GML (Beta)"><span class="glyphicon glyphicon-export"></span> GML</a>
    <a href="@HtmlHelperExtensions.urlFormat(Request, "rdf")" class="btn btn-sm btn-default" title="Eksporter til SKOS/RDF(Beta)"><span class="glyphicon glyphicon-export"></span> RDF</a>

</div>
<div class="clearfix"></div>