@using Kartverket.Register.Helpers
@section Scripts {
<script>
    function registerName(reg) {
        document.getElementById("register").value = reg;
        document.getElementById("registerSelected").innerHTML = reg;
    }

</script>
}

@{
    var kontroller = "/search/";

    if (ViewBag.registerSEO != null)
    {
        kontroller = Request.Url.LocalPath; // "/register/" + ViewBag.registerSEO + "/";    
    }
    
    var searchRegister = ViewBag.searchRegister;
    var register = ViewBag.register;

    if (searchRegister != null)
    {
        register = ViewBag.searchRegister;  
    }
    else { 
        if (register == null)
        { 
            register = Shared.Search_AllRegisters;
        } 
    }

    
}



<form action="@kontroller" class="col-md-offset-2 col-md-8 hidden-print">

    <input type="hidden" id="register" name="register" value="@(Request.QueryString["register"] != null ? Request.QueryString["register"].ToString() : @register)" />

    <h3 class="h-md" id="register-heading">@Shared.Search_Heading</h3>
    <div class="input-group input-group-split-on-xs edgesRegistre">
        @*Set edges* class for borders according to dropdown choice*@
        <div class="input-group-btn">
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                <span id="registerSelected">@register</span>
                <span class="caret"></span>
            </button>
            <ul class="geonorge-dropdown dropdown-menu" id="SearchRegister" tabindex="-1">

                <li tabindex="0" onclick="registerName('Alle registre')" class="left-edge-registre"><a href="@Html.RegistryUrl()">@Shared.Search_AllRegisters</a></li>
                <li tabindex="0" onclick="registerName('Objektregisteret')" class="left-edge-registre"><a href="@Html.ObjektkatalogUrl()">@Registers.Objektregisteret</a></li>
                <li tabindex="0" onclick="registerName('Kartografi')" class="left-edge-registre"><a href="@Html.RegistryUrl()register/kartografi">@Registers.Kartografi</a></li>
                <li tabindex="0" onclick="registerName('Symbol')" class="left-edge-registre"><a href="@Html.RegistryUrl()register/symbol">Symbol</a></li>

                @foreach (var item in HtmlHelperExtensions.Registers().OrderBy(r => r.name))
                {
                    <li tabindex="0" onclick="registerName('@item.name')" class="left-edge-registre"><a href="@Html.RegistryUrl()register/@item.seoname">@item.name</a></li>
                }
            </ul>
        </div><!-- /input-group-btn -->
        <input name="text" style="z-index: 0;" type="text" placeholder="@Shared.Search_Placeholder" title="Søk" class="form-control" id="txtSearch" value="@(Request.QueryString["text"] != null ? Request.QueryString["text"].ToString() : "")" />
        <span class="input-group-btn">
            <button type="submit" class="show-loading-animation btn" data-loading-message="@Shared.Search_LoadingMessage" style="z-index: 0;">@Shared.Search_Button</button>
        </span>
    </div>
</form>

@*Request.QueryString["register"] != null ? Request.QueryString["register"].ToString()*@