@model List<Register>
@using Kartverket.Register.Helpers
@using Kartverket.Register.Models
﻿@using Kartverket.Register.Helpers


@if (Model.Count() != 0)
{
    <h3>@Shared.SearchResult</h3>
    <table class="table table-responsive">
    <tr>
        <th>
            @Registers.Name
        </th>
        <th>
            @Registers.Content
        </th>
        <th>
            Register
        </th>
    </tr>

    @foreach (var reg in Model)
    {
        <tr>
            <td width="20%">
                <a class="" href="@reg.GetObjectUrl()">
                    <p class="role-button" style="font-size: 15px;">
                        @reg.name
                    </p>
                </a>
            </td>
            <td width="20%">
                <span>@HtmlHelperExtensions.Type(reg.parentRegister.containedItemClass)</span>
            </td>
            <td width="60%">
                <ol class="breadcrumb pull-left" style="font-size: 12px; padding: 8px 0px; margin-top: -1px;">
                    @foreach (var register in HtmlHelperExtensions.ParentRegisters(reg))
                    {
                        <li><a href="@register.GetObjectUrl()">@register.NameTranslated()</a></li>
                    }
                </ol>
            </td>

        </tr>

        foreach (RegisterItem item in reg.items)
        {
            <tr>
                <td width="20%">
                    <a class="" href="@item.GetObjectUrl()">
                            @item.NameTranslated()
                    </a>
                </td>
                <td width="20%">
                    <span>@HtmlHelperExtensions.Type(reg.containedItemClass)</span>
                </td>
                <td width="60%">
                    <ol class="breadcrumb pull-left" style="font-size: 12px; padding: 8px 0px; margin-top: -1px;">
                        @foreach (var register in HtmlHelperExtensions.ParentRegisters(item.register))
                        {
                            <li><a href="@register.GetObjectUrl()">@register.NameTranslated()</a></li>
                        }
                        <li><a href="@item.register.GetObjectUrl()">@item.register.NameTranslated()</a></li>
                    </ol>
                </td>

            </tr>
        }
    }
</table>
}

else { 
    <p>@Shared.NoHits...</p>
}
