@model PagedList.IPagedList<RegisterItem>
@using Kartverket.Register.Models
@using Kartverket.Register.Helpers

@{
    var registerName = ViewBag.register;
}

<div class="register serviceAlert search-results">
    @foreach (ServiceAlert item in Model)
    {
        <div class="row result-row metadata">
            <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12" style="height: auto; border: medium none; box-shadow: none;">

                <div class="col-no-padding-xs col-date col-sm-3 col-md-3 col-lg-3 pull-right">
                    <p><span>Siste varsel: </span>@Html.DisplayFor(model => item.AlertDate)</p>
                    <p><span>Ikrafttredelse: </span>@Html.DisplayFor(model => item.EffectiveDate)</p>
                </div>

                <div class="col-no-padding-xs col-information col-sm-3 col-md-3 col-lg-3 pull-right">
                    <p><span>Eier: </span>@item.Owner</p>
                    <p><span>Tjeneste varsel: </span>@item.AlertType</p>
                    <p><span>Tjenestetype: </span>@item.ServiceType</p>
                </div>

                <div class="col-no-padding-xs col-description col-sm-2 col-md-2 col-lg-2 pull-right">
                    <span>Beskrivelse: </span> <a href="@item.ServiceMetadataUrl" title="Beskrivelse av @item.name">Vis</a>
                </div>

                <div class="col-no-padding-xs col-title col-sm-3 col-md-3 col-lg-3 pull-left">
                    <a href="@item.GetObjectUrl()">@item.name</a>
                </div>
                
            </div>
        </div>
        <hr />
    }
</div>
