@model PagedList.IPagedList<Register>
@using Kartverket.Register.Models
@using Kartverket.Register.Helpers

@{
    var register = ViewBag.register;
    var search = ViewBag.search;
    var page2 = ViewBag.page;
    int pageNumber = (page2 ?? 1);
}

@if (string.IsNullOrWhiteSpace(search))
{
    <div class="register registersub search-results">
        @foreach (var item in Model)
        {
            <div class="row result-row metadata">
                <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12" style="height: auto; border: medium none; box-shadow: none;">
                    
                    <div class="col-title col-sm-3 col-md-3 col-lg-3">
                        <a class="" href="/subregister/@item.parentRegister.seoname/@item.owner.seoname/@item.seoname">
                            @item.name
                        </a>
                    </div>
                    
                    <div class="col-no-padding-xs col-sm-6 col-md-6 col-col-lg-6 col-descripton">
                        <p>@item.description</p>
                    </div>
                    
                    <div class="col-no-padding-xs col-information col-sm-3 col-md-3 col-lg-3">
                        <p title="Innhold: @HtmlHelperExtensions.lovligInnhold(item.containedItemClass)"><span>Lovlig innhold: </span> @HtmlHelperExtensions.lovligInnhold(item.containedItemClass)</p>
                        <p title="Eier: @item.owner.name"><span>Eier: </span> @item.owner.name</p>
                    </div>

                </div>
            </div>
            <hr />
        }
    </div>
}
else
{
    @Html.Partial("_searchResultSubregisters", Model.ToList())
}



