@model PagedList.IPagedList<Kartverket.Register.Models.Register>
@using PagedList;
@using PagedList.Mvc;
@using Kartverket.Register.Models


@{
    var register = ViewBag.register;
    var search = ViewBag.search;
    var page2 = ViewBag.page;
    var currentFilter = ViewBag.currentFilter;
    int pageSize = 50;
    int pageNumber = (page2 ?? 1);
}

<div class="search-filter-wrapper">
    <ul class="nav nav-tabs col-sm-12 col-md-12 col-lg-12">
        <li class="active">
            <span>Viser @Model.FirstItemOnPage - @Model.LastItemOnPage av @Model.TotalItemCount treff</span>
        </li>
        <li class="pull-right">
            @Html.PagedListPager(Model, page => Url.Action("Details", new { page, sorting = ViewBag.SortOrder, text = Session["text"].ToString(), filterVertikalt = Session["filterVertikalt"].ToString(), filterHorisontalt = Session["filterHorisontalt"].ToString(), InspireRequirement = Session["InspireRequirement"].ToString(), nationalRequirement = Session["nationalRequirement"].ToString(), nationalSeaRequirement = Session["nationalSeaRequirement"].ToString() }))
        </li>
    </ul>
    @Html.Partial("_visningstyper")
</div>

<div class="register registersub search-results">
    @if (!string.IsNullOrWhiteSpace(search))
    {
        <h3>@Model.ElementAt(0).parentRegister.name</h3>
    }
    @foreach (var item in Model)
    {
        if (item.parentRegister.name == register)
        {
            <div class="row result-row metadata">
                <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12" style="height: auto; border: medium none; box-shadow: none;">
                    <div class="col-title col-sm-4 col-md-4 col-lg-4">
                        <a class="" href="/subregister/@item.parentRegister.seoname/@item.owner.seoname/@item.seoname">
                            <h3 class="role-button" style="font-size: 15px;">
                                @item.name
                            </h3>
                        </a>
                    </div>
                    <div class="col-no-padding-xs col-sm-6 col-md-6 col-col-lg-6 col-descripton">
                        <p>@item.description</p>
                    </div>
                    <div class="col-no-padding-xs col-information col-sm-2 col-md-2 col-lg-2">
                        <p title="Eier: @item.owner.name"><span>Eier: </span> @item.owner.name</p>
                    </div>
                </div>
            </div>
        }
        <hr />
    }

    @if (!string.IsNullOrWhiteSpace(search))
    {
        @Html.Partial("_searchResultSubregisters", Model.ToList())
    }
</div>



<div class="search-filter-wrapper">
    <br /><br />
    <ul class="nav nav-tabs col-sm-12 col-md-12 col-lg-12">
        <li class="active">
            <span>Viser @Model.FirstItemOnPage - @Model.LastItemOnPage av @Model.TotalItemCount treff</span>
        </li>
        <li class="pull-right">
            @Html.PagedListPager(Model, page => Url.Action("Details", new { page, sorting = ViewBag.SortOrder, text = Session["text"].ToString(), filterVertikalt = Session["filterVertikalt"].ToString(), filterHorisontalt = Session["filterHorisontalt"].ToString(), InspireRequirement = Session["InspireRequirement"].ToString(), nationalRequirement = Session["nationalRequirement"].ToString(), nationalSeaRequirement = Session["nationalSeaRequirement"].ToString() }))
        </li>
    </ul>
</div>



