@model PagedList.IPagedList<Register>
@using System.Diagnostics.Eventing.Reader
@using Kartverket.Register.Models
@using Kartverket.Register.Helpers

@{
    var search = ViewBag.search;
}

<div class="table-heading col-md-12">
    <div class="col-md-3 col-sm-6 col">@HtmlHelperExtensions.OrderByLink(Request.QueryString["sorting"], Request.QueryString["text"], Registers.Name, "name")</div>
    <div class="col-md-5 col-sm-6 col">@HtmlHelperExtensions.OrderByLink(Request.QueryString["sorting"], Request.QueryString["text"], Registers.Description, "description")</div>
    <div class="col-md-2 col-sm-6 col">@HtmlHelperExtensions.OrderByLink(Request.QueryString["sorting"], Request.QueryString["text"], Registers.Owner, "owner")</div>
    <div class="col-md-2 col-sm-6 col text-right">@HtmlHelperExtensions.OrderByLink(Request.QueryString["sorting"], Request.QueryString["text"], Registers.ContainedItemClass, "containedItemClass")</div>
</div>
@if (string.IsNullOrWhiteSpace(search))
{
    foreach (var item in Model)
    {
        <div class="resultItemRow col-md-12 ">
            <div class="col-md-3 col-sm-12 col">
                <a href="@item.GetObjectUrl()">@item.NameTranslated()</a>
            </div>
            <div class="col-md-5 col-sm-12 col">
                <p>@item.DescriptionTranslated()</p>
            </div>
            <div class="col-md-3 col-sm-12 col">
                <p title="@Registers.Owner: @item.owner.name">@item.owner.NameTranslated()</p>
            </div>
            <div class="col-md-1 col-sm-12 col text-right">
                <p title="Innhold: @HtmlHelperExtensions.Type(item.containedItemClass)">@HtmlHelperExtensions.Type(item.containedItemClass)</p>
            </div>
        </div>
    }
}
else
{
    @Html.Partial("_searchResultSubregisters", Model.ToList())
}






