@model Kartverket.Register.Models.ViewModels.RegisterItemVeiwModel
﻿@using Kartverket.Register.Helpers




<div>

</div>

@if (Model.suggestions.Count() == 0)
{
    <p>Ingen foreslåtte dokumenter av @Model.currentVersion.name</p>
}
else
{

    foreach (Kartverket.Register.Models.Document item in Model.suggestions)
    {
        <div class="row result-row metadata">
            <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12" style="height: auto; border: medium none; box-shadow: none;">
                <div class="col-img col-xs-6 col-sm-2 col-md-2 col-lg-2">
                    @{
        string thumb = "/Content/pdf.jpg";
        if (item.thumbnail != null)
        {
            thumb = item.thumbnail;
        }
                    }
                    <a href="@Html.DisplayFor(modelItem => item.documentUrl)"><img src="@thumb" class="img-thumbnail img-responsive pull-left" alt="forside pdf" /></a>
                </div>
                <div class="col-no-padding-xs col-title col-sm-5 col-md-5 col-lg-5">


                    <h3 class="role-button" style="font-size: 18px;">
                        @item.name
                    </h3>

                    <a id="selectedOwner-@item.systemId" @*onclick="this.form.submit()"*@ href="/register/@item.register.seoname/@item.documentowner.seoname/">
                        <img src="@Url.Content("~/data/organizations/" +  item.documentowner.logoFilename)" class="img-responsive img-small-logo" alt="@Html.DisplayFor(modelItem => item.documentowner.name)" />
                    </a>
                    <p class=" ">
                        @Html.DisplayFor(modelItem => item.description)
                    </p>
                </div>
                <div class="col-no-padding-xs col-actions col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <a href="@Html.DisplayFor(modelItem => item.documentUrl)" class="btn btn-lg btn-link" title="Last ned dokument for @item.name">
                        <span class="glyphicon glyphicon-download-alt"> </span>Last ned
                    </a><br />

                    @if (Request.IsAuthenticated)
                    {
                        if (Html.IsGeonorgeAdmin(System.Security.Claims.ClaimsPrincipal.Current.Claims) ||
                        (Html.GetSecurityClaim(System.Security.Claims.ClaimsPrincipal.Current.Claims, "organization").ToLower() == Model.currentVersion.submitter.name.ToLower() && Html.IsGeonorgeEditor(System.Security.Claims.ClaimsPrincipal.Current.Claims)) ||
                        (Html.GetSecurityClaim(System.Security.Claims.ClaimsPrincipal.Current.Claims, "organization") == item.documentowner.name && Html.IsGeonorgeEditor(System.Security.Claims.ClaimsPrincipal.Current.Claims)))
                        {
                            <a href="/dokument/@Model.currentVersion.register.seoname/@item.documentowner.seoname/@item.seoname/rediger?vnr=@item.versionNumber" class="btn btn-default btn-sm" title="Rediger @item.name">Rediger</a>
                            <a href="/dokument/@Model.currentVersion.register.seoname/@item.documentowner.seoname/@Model.currentVersion.seoname/slett?vnr=@item.versionNumber" class="btn btn-default btn-sm" title="slett @item.name">Slett</a>
                        }
                    }
                </div>
                <div class="col-no-padding-xs col-xs-6 col-sm-2 col-md-2 col-lg-2 col-information pull-right">

                    @if (item.status == null)
                    {
                        <p><span>Status: </span>Ikke angitt</p>
                    }
                    else
                    {
                        <p><span>Status: </span>@item.status.description <i class="statusIcon-@item.statusId"></i></p>
                    }
                    <p><span>Versjon: </span>@item.versionNumber</p>
                    @if (item.dateSubmitted != null)
                    {
                        <p>Innsendt: @Html.DisplayFor(modelItem => item.dateSubmitted)</p>
                    }
                    @if (item.modified != null)
                    {
                        <p>Endret: @Html.DisplayFor(modelItem => item.modified)</p>
                    }
                    @if (item.statusId == "Valid" && item.dateAccepted != null)
                    {
                        <p>Godkjent: @Html.DisplayFor(modelItem => item.dateAccepted)</p>
                    }
                </div>
            </div>
        </div>
        <hr />
    }
}

