@model ICollection<RegisterItemV2ViewModel>
@using Kartverket.Register.Models.ViewModels

@if (Model.Any())
{

        <div class="table-heading col-md-12">
            <div class="col-md-3 col">@Shared.Title</div>
            <div class="col-md-2 col">@Registers.Owner</div>
            <div class="col-md-2 col">@Registers.VersionName</div>
            <div class="col-md-5 col">Status</div>
        </div>

        foreach (DocumentViewModel suggestedDocument in Model)
        {
            <div class="resultItemRow col-md-12">
                <div class="col-md-3 col">
                    <a href="@suggestedDocument.VersionUrl()">@suggestedDocument.Name</a>
                </div>
                <div class="col-md-2 col"> @suggestedDocument.Owner.NameTranslated()</div>
                <div class="col-md-2 col">@Html.DisplayFor(modelItem => suggestedDocument.VersionName)</div>
                <div class="col-md-5 col">
                    @suggestedDocument.Status.DescriptionTranslated() <i class="statusIcon-@suggestedDocument.StatusId"></i>
                </div>
            </div>
    }

}
else
{
    <p>@Documents.NoHistoricalDocuments </p>
}
