@model SynchronizationViewModel
@using Kartverket.Register.Helpers
@using Kartverket.Register.Models.ViewModels



<h2>Synkronisering</h2>

@if (Model.ActiveSynchronizationJob.Any())
{
    <h3>Pågår</h3>

    foreach (var job in Model.ActiveSynchronizationJob)
    {
        <p><strong>Startet: </strong>@job.Start</p>
        if (job.ItemType != null)
        {
            <p><strong>Type: </strong>@job.ItemType</p>
        }
        if (job.NumberOfItems > 0)
        {
            <p><strong>Synkronisert: </strong>@job.SuccessCount av @job.NumberOfItems</p>
        }
        else
        {
            <p>Henter data...</p>
        }
        if (job.NumberOfNewItems > 0)
        {
            <p><strong>Lagt til: </strong>@job.NumberOfNewItems</p>
        }
        if (job.NumberOfDeletedItems > 0)
        {
            <p><strong>Slettet: </strong>@job.NumberOfDeletedItems</p>
        }   
    }
}
else
{
    <a class="btn btn-default btn-space" href="@RegisterUrls.SynchronizeInspireServices()">Synkroniser tjenester</a>
    <a class="btn btn-default btn-space" href="@RegisterUrls.SynchronizeInspireRegistry()">Synkroniser register</a> 
}

<h3>Logg</h3>
<table class="table table-bordered">

    <tr>
        <th>Start</th>
        <th>Stopp</th>
        <th>Tid</th>
        <th>Type</th>
        <th>Antall</th>
        <th>Lagt til</th>
        <th>Slettet</th>
        <th>Vellykket</th>
        <th>Feil</th>
    </tr>
    @foreach (var synchronization in Model.SynchronizationJobs)
    {

        <tr>
            <td>@synchronization.Start</td>
            <td>@synchronization.Stop</td>
            <td>@synchronization.Time() min</td>
            <td>@synchronization.ItemType</td>
            <td>@synchronization.NumberOfItems</td>
            <td>@synchronization.NumberOfNewItems</td>
            <td>@synchronization.NumberOfDeletedItems</td>
            <td>@synchronization.SuccessCount</td>
            <td>@synchronization.FailCount</td>
        </tr>
    }
</table>

