@model Kartverket.Register.Models.Register

@{
    ViewBag.Title = UI.CreateNew;
    var parentRegisterSEO = ViewBag.parentRegisterSEO;
    var parentRegister = ViewBag.parentRegister;
}

@section breadcrumb {

        <li><a href="/register/@parentRegisterSEO"></a>@parentRegister</li>
        <li class="active">Ny</li>
}

<h2>Foreslå nytt register i @parentRegister</h2>
@using (Html.BeginForm("Create", "Subregister", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessage("ErrorMessage")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.containedItemClass, "Lovlig innhold", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("containedItemClass", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.containedItemClass, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.targetNamespace, "Navnerom", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.targetNamespace, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.containedItemClass, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Foreslå" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>

    <a href="/register/@parentRegisterSEO/">Tilbake</a>

</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
