@model Kartverket.Register.Models.Register
﻿@using Kartverket.Register.Helpers

@{
    ViewBag.Title = "Foreslå nytt register";
}

@section breadcrumb {


    @if (Model.parentRegister.parentRegister != null)
    {
        Kartverket.Register.Models.Register mainRegister = HtmlHelperExtensions.mainRegister(Model);
        Kartverket.Register.Models.Register parent = Model.parentRegister;
        <li><a href="/register/@mainRegister.seoname/">@mainRegister.name</a></li>
        <li class="active pull-right">Ny</li>
        while (parent != null && parent != mainRegister)
        {
            <li class="pull-right"><a href="/subregister/@parent.parentRegister.seoname/@parent.parentRegister.owner.seoname/@parent.seoname">@parent.name</a></li>
            parent = parent.parentRegister;
        }
    }

    else
    {
        <li><a href="/register/@Model.parentRegister.seoname">@Model.parentRegister.name</a></li>
        <li class="active">Ny</li>
    }

}

<h2>Foreslå</h2>
<h4>Foreslå nytt register i @Model.parentRegister.name</h4>
<hr />
@using (Html.BeginForm("Create", "Subregister", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    if (Model.parentRegister.parentRegister != null)
    {
        <input type="hidden" value="@Model.parentRegister.parentRegister.seoname" id="registerparant" name="registerparant" />
    }
    <div class="form-horizontal">
        >
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessage("ErrorMessage")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.containedItemClass, "Lovlig innhold", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("containedItemClass", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.containedItemClass, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.targetNamespace, "Navnerom", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.targetNamespace, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.containedItemClass, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <hr />
            <input type="submit" value="Foreslå" class="btn btn-default pull-right" />
            @if (Model.parentRegister.parentRegister != null)
            {
                <a href="/subregister/@Model.parentRegister.parentRegister.seoname/@Model.parentRegister.parentRegister.owner.seoname/@Model.parentRegister.seoname">Tilbake</a>
            }
            else
            {
                <a href="/register/@Model.parentRegister.seoname/">Tilbake</a>
            }
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
