@model Kartverket.Register.Models.Register
﻿@using Kartverket.Register.Helpers

@{
    ViewBag.Title = "Slett" + Model.name;
}

@section breadcrumb {

    @foreach (var register in HtmlHelperExtensions.registers(Model.parentRegister))
    {
        <li><a href="@register.GetObjectUrl()">@register.name</a></li>
    }
    <li><a href="@Model.parentRegister.GetObjectUrl()">@Html.DisplayFor(model => model.parentRegister.name)</a></li>
    <li><a href="@Model.GetObjectUrl()">@Html.DisplayFor(model => model.name)</a></li>
    <li>Slett</li>
}

<section class="heading">
    <div class="row">
        <div class="col-sm-12">
            <h2>
                Slett subregister
            </h2>
        </div>
        <div class="col-sm-12">
            <span class="separator-lg"></span>
        </div>
    </div>
</section>

<h4>Er du sikker på at du vil slette <b>@Model.name</b>?</h4>
@Html.ValidationMessage("ErrorMessageDelete")
<hr />

@using (Html.BeginForm())
{
    <div class="form-actions no-color">
        <input type="submit" value="Slett" class="btn btn-default pull-right" />
        <a href="/subregister/@Model.parentRegister.seoname/@Model.parentRegister.owner.seoname/@Model.seoname/">Tilbake</a>
    </div>
}

