@model Kartverket.Register.Models.Register
﻿@using Kartverket.Register.Helpers

@{
    ViewBag.Title = "Slett" + Model.name;
}

@section breadcrumb {

    @if (Model.parentRegister.parentRegister != null)
    {
        Kartverket.Register.Models.Register mainRegister = HtmlHelperExtensions.mainRegister(Model);
        Kartverket.Register.Models.Register parent = Model.parentRegister;
        <li><a href="/register/@mainRegister.seoname/">@mainRegister.name</a></li>
        <li>Slett</li>
        <li><a href="/subregister/@Model.parentRegister.seoname/@Model.parentRegister.owner.seoname/@Model.seoname">@Model.name</a></li>
        while (parent != null && parent != mainRegister)
        {
            <li><a href="/subregister/@parent.parentRegister.seoname/@parent.parentRegister.owner.seoname/@parent.seoname">@parent.name</a></li>
            parent = parent.parentRegister;
        }
    }
    else
    {
        <li><a href="/register/@Model.parentRegister.seoname">@Model.parentRegister.name</a></li>
        <li><a href="/subregister/@Model.parentRegister.seoname/@Model.parentRegister.owner.seoname/@Model.seoname">@Model.name</a></li>
        <li>Slett</li>
    }
}

<h2>Slett</h2>

<h4>Er du sikker på at du vil slette <b>@Model.name</b>?</h4>
@Html.ValidationMessage("ErrorMessageDelete")
<hr />

@using (Html.BeginForm())
{
    <div class="form-actions no-color">
        <input type="submit" value="Slett" class="btn btn-default pull-right" />
        <a href="/subregister/@Model.parentRegister.seoname/@Model.parentRegister.owner.seoname/@Model.seoname/">Tilbake</a>
    </div>
}

