@model Kartverket.Register.Models.Register
﻿@using Kartverket.Register.Helpers

@{
    ViewBag.Title = "Slett";
}

@section breadcrumb {

    @if (Model.parentRegister.parentRegister != null)
    {
        Kartverket.Register.Models.Register mainRegister = HtmlHelperExtensions.mainRegister(Model);
        Kartverket.Register.Models.Register parent = Model.parentRegister;
        <li><a href="/register/@mainRegister.seoname/">@mainRegister.name</a></li>
        <li class="active pull-right">Slett</li>
        <li class="pull-right"><a href="/subregister/@Model.parentRegister.seoname/@Model.parentRegister.owner.seoname/@Model.seoname">@Model.name</a></li>
        while (parent != null && parent != mainRegister)
        {
            <li class="pull-right"><a href="/subregister/@parent.parentRegister.seoname/@parent.parentRegister.owner.seoname/@parent.seoname">@parent.name</a></li>
            parent = parent.parentRegister;
        }
    }
    else
    {
        <li><a href="/register/@Model.parentRegister.seoname">@Model.parentRegister.name</a></li>
        <li class=""><a href="/subregister/@Model.parentRegister.seoname/@Model.parentRegister.owner.seoname/@Model.seoname">@Model.name</a></li>
        <li class="active">Slett</li>
    }
}

<h2>Slett</h2>

<h3>Er du sikker på at du vil slette @Model.name</h3>
<div>
    <hr />

    @using (Html.BeginForm())
    {

        <div class="form-actions no-color">
            <input type="submit" value="Slett" class="btn btn-default" /> <br />
            @Html.ValidationMessage("ErrorMessageDelete") <br />
            <br />
            <a href="/subregister/@Model.parentRegister.seoname/@Model.parentRegister.owner.seoname/@Model.seoname/">Tilbake</a>
        </div>
    }
</div>
