@using Kartverket.Register.Helpers
@model Kartverket.Register.Models.RegisterItem

@{
    ViewBag.Title = @Model.name;
    var documentOwner = ViewBag.documentOwner;
}


@section breadcrumb {
    <li>@Model.NameTranslated()</li>
}

<section class="heading">
    <article class="row">
        <div class="col-sm-12">
            <h1 class="small-h1">
                @Model.NameTranslated()
            </h1>
        </div>
        <div class="col-sm-12">
            <span class="separator-lg"></span>
        </div>
        <div class="col-sm-12 col-md-10 col-lg-10">
            <p>
                @Model.DescriptionTranslated()
            </p>
            @if (Model.status == null)
            {
                <p title="@Html.Raw(HtmlHelperExtensions.StatusBeskrivelse(Model.register))"><strong>Status:</strong> @Registers.NotSet</p>
            }
            else
            {
                <p title="@Html.Raw(HtmlHelperExtensions.StatusBeskrivelse(Model.register))"><strong>Status:</strong> @Model.status.DescriptionTranslated() <i class="statusIcon-@Html.DisplayFor(model => model.statusId)"></i></p>
            }
            @if (Model.submitter == null)
            {
                <p><strong>@Registers.Submitter:</strong> @Registers.NotSet</p>
            }
            else
            {
                <p><strong>@Registers.Submitter:</strong> @Html.DisplayFor(model => model.submitter.name)</p>
            }
            @if (@documentOwner != null)
            {
                <p><strong>@Registers.Owner:</strong> @documentOwner </p>
            }
        </div>

        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 text-right">
            <span class="small">@Registers.Updated: @Html.DisplayFor(model => model.modified)</span>
        </div>
    </article>
</section>

<div class="clearfix"></div>


<div class="row">
    @if (Model.register.containedItemClass == "Organization")
    {
        @Html.Partial("_detailsOrganization")
    }
    @if (Model.register.containedItemClass == "Document")
    {
        @Html.Partial("_detailsDocuments")
    }
    @if (Model.register.containedItemClass == "Dataset")
    {
        @Html.Partial("_detailsDataset")
    }
    @if (Model.register.containedItemClass == "EPSG")
    {
        @Html.Partial("_detailsEpsg")
    }
    @if (Model.register.containedItemClass == "CodelistValue")
    {
        @Html.Partial("_detailsCodelistValue")
    }

</div>

<hr/>
<div class="col-md-12 row">
    <a href="@Model.register.GetObjectUrl()">@Shared.Back</a>

    @if (Request.IsAuthenticated)
    {
        if (HtmlHelperExtensions.AccessRegisterItem(Model))
        {
            <a class="btn btn-default btn-space pull-right" href="@Model.GetObjectEditUrl()">@Shared.Edit</a>
            <a class="btn btn-default btn-space pull-right" href="@Model.GetObjectDeleteUrl()">@Shared.Delete</a>
        }
    }
</div>