@model Kartverket.Register.Models.Register
﻿@using Kartverket.Register.Helpers
@using PagedList;

@{
    ViewBag.Title = @Model.name;
}

@section breadcrumb {

    <li><a href="/register/@Model.parentRegister.seoname">@Html.DisplayFor(model => model.parentRegister.name)</a></li>
    <li class="active">@Html.DisplayFor(model => model.name)</li>

}

<div class="page-header">
    <h2 class="h-md" id="registerName">@Html.DisplayFor(model => model.name)</h2>
    <hr>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-no-padding-xs col-xs-12 col-sm-9 col-md-9 col-lg-9">
        ID: <a href="/register/@Model.seoname">http://@Request.Url.Host@Request.Url.LocalPath </a>
        <p>
            @Html.DisplayFor(model => model.description)
        </p>

    </div>
    <div class="col-no-padding-xs col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <span class="small">Registrert: @Html.DisplayFor(model => model.dateSubmitted)</span><br />
        <span class="small">Oppdatert: @Html.DisplayFor(model => model.modified)</span>
    </div>

    @{
        var page = ViewBag.page;
        var currentFilter = ViewBag.currentFilter;
        var sortering = Model.items.OrderBy(o => o.name).ToList();



        int pageSize = 50;
        int pageNumber = (page ?? 1);


        if (Model.containedItemClass != "Register")
        {
            if (ViewBag.SortOrder == "name_desc")
            {
                sortering = Model.items.OrderBy(o => o.register.name).ToList();
            }
            if (ViewBag.SortOrder == "submitter")
            {
                sortering = Model.items.OrderBy(o => o.submitter.name).ToList();
            }
            if (ViewBag.SortOrder == "submitter_desc")
            {
                sortering = Model.items.OrderByDescending(o => o.submitter.name).ToList();
            }
            else if (ViewBag.SortOrder == "status")
            {
                sortering = Model.items.OrderBy(o => o.status.description).ToList();
            }
            else if (ViewBag.SortOrder == "status_desc")
            {
                sortering = Model.items.OrderByDescending(o => o.status.description).ToList();
            }
            else if (ViewBag.SortOrder == "dateSubmitted")
            {
                sortering = Model.items.OrderBy(o => o.dateSubmitted).ToList();
            }
            else if (ViewBag.SortOrder == "dateSubmitted_desc")
            {
                sortering = Model.items.OrderByDescending(o => o.dateSubmitted).ToList();
            }
            else if (ViewBag.SortOrder == "modified")
            {
                sortering = Model.items.OrderBy(o => o.modified).ToList();
            }
            else if (ViewBag.SortOrder == "modified_desc")
            {
                sortering = Model.items.OrderByDescending(o => o.modified).ToList();
            }
            else if (ViewBag.SortOrder == "dateAccepted")
            {
                sortering = Model.items.OrderBy(o => o.dateAccepted).ToList();
            }
            else if (ViewBag.SortOrder == "dateAccepted_desc")
            {
                sortering = Model.items.OrderByDescending(o => o.dateAccepted).ToList();
            }
        }
    }



    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class=" page-header">
            <hr>
        </div>

        @if (Model.containedItemClass == "CodelistValue")
        {
            @Html.Partial("_codelistValue", sortering.ToPagedList(pageNumber, pageSize))
        }
        @if (Model.containedItemClass == "Organization")
        {
            @Html.Partial("_organization", sortering.ToPagedList(pageNumber, pageSize))
        }
        @if (Model.containedItemClass == "Document")
        {
            @Html.Partial("_documents", sortering.ToPagedList(pageNumber, pageSize))
        }
        @if (Model.containedItemClass == "Dataset")
        {
            @Html.Partial("_dataset", sortering.ToPagedList(pageNumber, pageSize))
        }
        @if (Model.containedItemClass == "EPSG")
        {
            @Html.Partial("_epsg", sortering.ToPagedList(pageNumber, pageSize))
        }
        @if (Model.containedItemClass == "Register")
        {

            if (ViewBag.SortOrder == "name_desc")
            {
                @Html.Partial("_subregister", Model.subregisters.OrderByDescending(s => s.name).ToList().ToPagedList(pageNumber, pageSize))
            }
            else if (ViewBag.SortOrder == "submitter")
            {
                @Html.Partial("_subregister", Model.subregisters.OrderBy(s => s.owner).ToList().ToPagedList(pageNumber, pageSize))
            }
            else if (ViewBag.SortOrder == "submitter_desc")
            {
                @Html.Partial("_subregister", Model.subregisters.OrderByDescending(s => s.owner).ToList().ToPagedList(pageNumber, pageSize))
            }
            else if (ViewBag.SortOrder == "status")
            {
                @Html.Partial("_subregister", Model.subregisters.OrderBy(s => s.status).ToList().ToPagedList(pageNumber, pageSize))
            }
            else if (ViewBag.SortOrder == "status_desc")
            {
                @Html.Partial("_subregister", Model.subregisters.OrderByDescending(s => s.status).ToList().ToPagedList(pageNumber, pageSize))
            }
            else if (ViewBag.SortOrder == "dateSubmitted")
            {
                @Html.Partial("_subregister", Model.subregisters.OrderBy(s => s.dateSubmitted).ToList().ToPagedList(pageNumber, pageSize))
            }
            else if (ViewBag.SortOrder == "dateSubmitted_desc")
            {
                @Html.Partial("_subregister", Model.subregisters.OrderByDescending(s => s.dateSubmitted).ToList().ToPagedList(pageNumber, pageSize))
            }
            else if (ViewBag.SortOrder == "modified")
            {
                @Html.Partial("_subregister", Model.subregisters.OrderBy(s => s.modified).ToList().ToPagedList(pageNumber, pageSize))
            }
            else if (ViewBag.SortOrder == "modified_desc")
            {
                @Html.Partial("_subregister", Model.subregisters.OrderByDescending(s => s.modified).ToList().ToPagedList(pageNumber, pageSize))
            }
            else if (ViewBag.SortOrder == "dateAccepted")
            {
                @Html.Partial("_subregister", Model.subregisters.OrderBy(s => s.dateAccepted).ToList().ToPagedList(pageNumber, pageSize))
            }
            else if (ViewBag.SortOrder == "dateAccepted_desc")
            {
                @Html.Partial("_subregister", Model.subregisters.OrderByDescending(s => s.dateAccepted).ToList().ToPagedList(pageNumber, pageSize))
            }
            else
            {
                @Html.Partial("_subregister", Model.subregisters.OrderBy(s => s.name).ToList().ToPagedList(pageNumber, pageSize))
            }
        }
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <a href="/register/@Model.parentRegister.seoname">Tilbake</a>

        @if (Request.IsAuthenticated)
        {
            if (Html.IsGeonorgeAdmin(System.Security.Claims.ClaimsPrincipal.Current.Claims) || Html.IsGeonorgeEditor(System.Security.Claims.ClaimsPrincipal.Current.Claims))
            {
                if (Model.containedItemClass == "Organization")
                {
                    <a href="/organisasjoner/ny">| Foreslå nye @Model.name </a>
                }
                if (Model.containedItemClass == "Document")
                {
                    <a href="/dokument/@Html.ToUrl(Model.name)/ny">| Foreslå nye @Model.name </a>
                }
                if (Model.containedItemClass == "Dataset")
                {
                    <a href="/dataset/@Html.ToUrl(Model.name)/ny">| Foreslå nye @Model.name </a>
                }
                if (Model.containedItemClass == "EPSG")
                {
                    <a href="/epsg-koder/ny">| Foreslå nye @Model.name </a>
                }
                if (Model.containedItemClass == "Register")
                {
                    <a href="/subregister/ny">| Foreslå nye @Model.name </a>
                }
                if (Model.containedItemClass == "CodelistValue")
                {
                    <a href="/kodeliste/@Model.seoname/ny">| Foreslå nye @Model.name </a>
                }
            }

            if (Html.IsGeonorgeAdmin(System.Security.Claims.ClaimsPrincipal.Current.Claims))
            {
                <a href="#">| Endre @Model.name </a>
                <a href="#">| slette @Model.name </a>
            }




        }
    </div>
</div>
