@model Kartverket.Register.Models.NameSpace
@using Kartverket.Register.Helpers
@using System.Collections.Generic;

@{
    ViewBag.Title = Shared.Edit + " " + Model.name;
}
@section breadcrumb {
    <li><a href="@Model.GetObjectUrl()">@Model.NameTranslated()</a></li>
    <li>@Shared.Edit</li>
}

<section class="heading">
    <div class="row">
        <div class="col-sm-12">
            <h2>
                @Shared.Edit @Model.NameTranslated()
            </h2>
        </div>
        <div class="col-sm-12">
            <span class="separator-lg"></span>
        </div>
    </div>
</section>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.systemId)
        <input type="hidden" name="registerId" value="@Model.register.systemId" />

        <div class="form-group">
            @Html.LabelFor(model => model.name, Namespace.NamespaceName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group hidden">
            @Html.LabelFor(model => model.description, Namespace.Content, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
            </div>
        </div>

        @for (int t = 0; t < Model.Translations.Count; t++)
        {
            @Html.HiddenFor(m => Model.Translations[t].CultureName)
            <div class="form-group">
                @Html.LabelFor(m => Model.Translations[t].Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => Model.Translations[t].Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => Model.Translations[t].Description)
                </div>
            </div>
        }

        <div class="form-group">
            @Html.LabelFor(model => model.submitterId, Registers.Submitter + ":", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("submitterId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.submitterId, "", new { @class = "text-danger" })
            </div>
        </div>

        @if (Request.IsAuthenticated)
        {
            if (HtmlHelperExtensions.IsAdmin())
            {
                <div class="form-group">
                    @Html.LabelFor(model => model.statusId, "Status", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("statusId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.statusId, "", new { @class = "text-danger" })
                    </div>
                </div>
            }
        }

        <div class="form-group hidden">
            @Html.LabelFor(model => model.serviceUrl, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.serviceUrl, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.serviceUrl, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="container">
            <div class="row resultItemRow">
                <div class="col-sm-5"><b>@DataSet.Dataset</b></div>
                <div class="col-sm-2"><b>Datasett-id</b></div>
                <div class="col-sm-5"><b>ServiceUrl (RedirectUrl)</b></div>
            </div> 
            <div class="w-100"></div>
        @for(int d = 0; d < Model.NameSpaceDatasets.Count; d++) 
        {
           <div class="row resultItemRow">
               <div class="col-sm-5">@Model.NameSpaceDatasets.ElementAt(d).MetadataNavn</div>
               <div class="col-sm-2">@Model.NameSpaceDatasets.ElementAt(d).DatasettId</div>
               <div class="col-sm-5"><input type="text" name="NameSpaceDatasets[@d].RedirectUrl" value="@Model.NameSpaceDatasets.ElementAt(d).RedirectUrl" /></div>
           </div> 
           <input type="hidden" name="NameSpaceDatasets[@d].MetadataUuid" value="@Model.NameSpaceDatasets.ElementAt(d).MetadataUuid" />
        }
        </div>
    </div>
    <div class="form-group">
        <hr />
        <input type="submit" value="@Shared.Save" class="btn btn-default pull-right" />
        <a href="@Model.GetObjectUrl()">@Shared.Back</a>
    </div>
}
