@using Kartverket.Register.Helpers
<div class="container page-not-found-container">
    <h1>@Shared.NotFoundText</h1>
    <span class="separator-lg start-page-separator-lg"></span>
    <div class="illustration col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="illustration-text col-xs-12">
            <p>@Shared.NotFoundText</p>
        </div>
        <img src="@Html.GeonorgeUrl()Static/img/404_illustration-01.svg" alt="404 illustration">
        <div class="help-links">
            <div class="col-xs-4">
                <a href="/">
                    <div class="help-links-icon-container">
                        <img src="@Html.GeonorgeUrl()Static/img/404_house_icon_968c83_35px-01.svg" class="icon-house" alt="Forside">
                    </div>
                    <p>@Shared.Home</p>
                </a>
            </div>
            <div class="col-xs-4">
                <a href="mailto:@Html.WebmasterEmail()">
                    <div class="help-links-icon-container">
                        <img src="@Html.GeonorgeUrl()Static/img/404_envelope_icon_968c83_30px-01.svg" class="icon-envelope" alt="Kontakt oss">
                    </div>
                    <p>@Shared.ContactUs</p>
                </a>
            </div>
            <div class="col-xs-4">
                <a href="~/Search/">
                    <div class="help-links-icon-container">
                        <img src="@Html.GeonorgeUrl()Static/img/404_magnifying_icon_968c83_34px-01.svg" class="icon-magnifying-glass" alt="@Shared.Search">
                    </div>
                    <p>@Shared.Search</p>
                </a>
            </div>
        </div>
    </div>
</div>



