@using Kartverket.Register.Models.ViewModels
@using Resources
﻿@using Kartverket.Register.Helpers
@model FilteringViewModel

<div class="register dataset search-results">
    @foreach (var item in Model.FilterResult.Items)
    {
        <div class="row result-row metadata">
            <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12" style="height: auto; border: medium none; box-shadow: none;">
                <div class="col-img col-xs-6 col-sm-2 col-md-2 col-lg-2">
                   @if (item.register.parentRegister != null)
                   {
                    <a class="" href="/subregister/@item.register.parentRegister.seoname/@item.register.parentRegister.owner.seoname/@item.register.seoname/@item.datasetowner.seoname/@item.seoname/">
                        <img src="@item.datasetthumbnail" class="img-responsive pull-left" alt="Thumbnail for @item.name">
                    </a>
                   }
                   else
                   {
                    <a class="" href="/register/@item.register.seoname/@item.datasetowner.seoname/@item.seoname/">
                            <img src="@item.datasetthumbnail" class="img-responsive pull-left" alt="Thumbnail for @item.name" />
                    </a>
                   }                

                </div>
                <div class="col-no-padding-xs col-title col-sm-5 col-md-5 col-lg-5">
                    <a class="" href="/register/@Html.ToUrl(item.register.name)/@Html.ToUrl(item.submitter.name)/@Html.ToUrl(item.name)/">
                        <h3 class="role-button" style="font-size: 18px;">
                            @item.name
                        </h3>
                    </a>
                    <img src="@Url.Content("~/data/organizations/" +  item.datasetowner.logoFilename)" class="img-responsive img-small-logo" alt="@Html.DisplayFor(modelItem => item.datasetowner.name)" />
                    <div class="orglogo">@Html.DisplayFor(modelItem => item.datasetowner.name)</div>
                    <br />
                    <div class=" ">
                        @if (item.description != null)
                        {
                            <p>
                                @if (item.description.Length < 80)
                                {
                                    @item.description.Substring(0, item.description.Length)
                                    <a href="/register/@Html.ToUrl(item.register.name)/@Html.ToUrl(item.datasetowner.name)/@Html.ToUrl(item.name)/">vis mer info</a>
                                }
                                else
                                {
                                    @item.description.Substring(0, 80)<text>...</text>
                                    <a href="/register/@Html.ToUrl(item.register.name)/@Html.ToUrl(item.datasetowner.name)/@Html.ToUrl(item.name)/">vis mer info</a>
                                }
                            </p>
                        }
                    </div>
                </div>
                <div class="col-no-padding-xs col-actions col-xs-6 col-sm-2 col-md-2 col-lg-2">
                    <ul style="list-style-type:none">
                        @if (!string.IsNullOrWhiteSpace(item.MetadataUrl))
                        {
                            <li>
                                <a href="@item.MetadataUrl" class="btn btn-sm btn-fresh-green" title="Vis metadata for @item.name"><span class="glyphicon glyphicon-globe"></span>Metadata</a>
                            </li>
                        }
                        else
                        {
                            <li>
                                &nbsp;
                            </li>
                        }
                        @if (!string.IsNullOrWhiteSpace(item.ProductSheetUrl))
                        {
                            <li>
                                <a href="@item.ProductSheetUrl" class="btn btn-sm btn-fresh-blue" title="Last ned produktark for @item.name"><span class="glyphicon glyphicon-info-sign"></span>Produktark</a>
                            </li>
                        }
                        else
                        {
                            <li>
                                &nbsp;
                            </li>
                        }
                        @if (!string.IsNullOrWhiteSpace(item.PresentationRulesUrl))
                        {
                            <li>
                                <a href="@item.PresentationRulesUrl" class="btn btn-sm btn-fresh-green" title="Last ned tegneregler for @item.name"><span class="glyphicon glyphicon-picture"></span>Kartografi</a>
                            </li>
                        }
                        else
                        {
                            <li>
                                &nbsp;
                            </li>
                        }
                        @if (!string.IsNullOrWhiteSpace(item.ProductSpecificationUrl))
                        {
                            <li>
                                <a href="@item.ProductSpecificationUrl" class="btn btn-sm btn-fresh-blue" title="Last ned produktspesifikasjon for @item.name"><span class="glyphicon glyphicon-list-alt"></span>Produktspesifikasjon</a>
                            </li>
                        }
                        else
                        {
                            <li>
                                &nbsp;
                            </li>
                        }

                    </ul>
                </div>
                <div class="col-information col-no-padding-xs col-xs-6 col-sm-3 col-md-3 col-lg-3 pull-right col-actions">
                    <ul style="list-style-type:none">
                        @if (!string.IsNullOrWhiteSpace(item.DistributionFormat) && item.DistributionFormat.Trim().ToLower().Equals("sosi"))
                        {
                            <li>
                                <span>SOSI:</span> ja
                            </li>
                        }
                        else
                        {
                            <li>
                                <span>SOSI:</span> Nei
                            </li>
                        }

                        @if (!string.IsNullOrWhiteSpace(item.WmsUrl))
                        {
                            <li>
                                <a href="@item.WmsUrl">WMS</a>
                            </li>

                        }
                        else
                        {
                            <li>
                                &nbsp;
                            </li>
                        }
                        @if (item.status == null)
                        {
                            <li><span>Status: </span>Ikke angitt</li>
                        }
                        else
                        {
                            <li><span>Status: </span>@Html.DisplayFor(model => item.status.description) <i class="statusIcon-@Html.DisplayFor(model => item.statusId)"></i></li>
                        }
                        @if (item.ThemeGroupId != null)
                        {
                            <li>
                                <span>Gruppe: </span>@item.theme.description
                            </li>
                        }
                        else
                        {
                            <li><span>Gruppe: </span>Ikke angitt</li>
                        }
                    </ul>

                </div>

            </div>

        </div>
        <hr />
    }
</div>

