@model Kartverket.Register.Models.SearchResultItem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SearchResultItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RegisterName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegisterName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegisterDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegisterDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegisterItemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegisterItemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegisterItemDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegisterItemDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegisterID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegisterID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SystemID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SystemID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discriminator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discriminator)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
