@using Kartverket.Register.Models.ViewModels
@using Resources
﻿@using Kartverket.Register.Helpers
@model FilteringViewModel

@{
    
    string registerSeoname = ViewBag.registerSeo;
    string OwnerName = ViewBag.ownerName;
    string registerName = ViewBag.RegisterName;
    ViewBag.Title = registerName + "" + OwnerName;
}

@section breadcrumb {
    <li><a href="/register/@Model.Register">@registerName</a></li>
    <li>@OwnerName</li> 
}

<script>
    function SortBy(sort) {
        var sort = document.getElementById("sorting");
        var selected = sort.options[sort.selectedIndex].text;
        document.sortering.submit();
        localStorage['SortingType'] = selected;
    }
</script>

<div class="page-header">
    <h2 class="h-md">@OwnerName</h2>
    <hr>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-no-padding-xs col-xs-12 col-sm-12 col-md-12 col-lg-12">
        ID: <a href="/register/@registerSeoname/@Html.ToUrl(OwnerName)">http://@Request.Url.Host@Request.Url.LocalPath </a>
        
        @if (Model.FilterResult.Items.ElementAt(0) != null)
        {
            if (Model.FilterResult.Items.ElementAt(0).register.containedItemClass == "Document")
            {
                <img src="@Url.Content("~/data/organizations/" +  Model.FilterResult.Items.ElementAt(0).documentowner.logoFilename)" class="img-responsive img-small-logo" alt="@Html.DisplayFor(modelItem => Model.FilterResult.Items.ElementAt(0).datasetowner.name)" />
            }
            else if (Model.FilterResult.Items.ElementAt(0).register.containedItemClass == "Dataset")
            {
                <img src="@Url.Content("~/data/organizations/" +  Model.FilterResult.Items.ElementAt(0).documentowner.logoFilename)" class="img-responsive img-small-logo" alt="@Html.DisplayFor(modelItem => Model.FilterResult.Items.ElementAt(0).datasetowner.name)" />
            }
        }
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="page-header">
            <hr>
        </div>

        <div class="search-filter-wrapper">
            <ul class="col-sm-9 col-md-9 col-lg-9 nav nav-tabs" role="tablist">
                <li class="active"><span role="tab">Registeret viser @Model.ShowingFromAndTo() av @Model.NumFound treff.</span></li>
            </ul>
            <ul class="pagination pagination-sm col-sm-3 col-md-3 col-lg-3 pull-right ">

                @if (Model.IsNextButtonActive())
                {
                    <li class="pull-right"><a href="@Url.Action("DetailsFilter", Model.ParamsForNextLink())">&raquo;</a></li>
                }

                @for (int i = Model.endPage; i >= Model.startPage; i--)
                {
                    if (Model.IsActivePage(i))
                    {
                        <li class="active pull-right"><a href="@Url.Action("DetailsFilter", Model.ParamsForPageNumber(i))">@i</a></li>
                    }
                    else
                    {
                        <li class="pull-right"><a href="@Url.Action("DetailsFilter", Model.ParamsForPageNumber(i))">@i</a></li>
                    }
                }
                
                @if (Model.IsPreviousButtonActive())
                {
                    <li class="pull-right"><a href="@Url.Action("DetailsFilter", Model.ParamsForPreviousLink())">&laquo;</a></li>
                }
                
            </ul>

            <div class="row">
                <div class="col-sm-9 col-md-9 col-lg-9 hidden-print">
                    <div class="view-navigation">
                        <ul class="nav nav-pills text-center">
                            <li><a onclick="listView()" id="button-listView" class="active" title="Listevisning"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Liste</a></li>
                            @*<li><a onclick="galleryView()" id="button-galleryView" class="" title="Gallerivisning"><span class="glyphicon glyphicon-th" aria-hidden="true"></span> Galleri</a></li>*@
                            <li><a onclick="tableView()" id="button-tableView" class="" title="Tabellvisning"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> Tabell</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-3 col-md-3 col-lg-3 pull-right">
                    <div id="sortBox" class="pagination pagination-sm pull-right">
                        <form action="/register/@Html.ToUrl(Model.Register)/@Html.ToUrl(Model.Owner)" name="sortering" method="get">
                            <input type="hidden" id="register" name="register" value="@(Request.QueryString["register"] != null ? Request.QueryString["register"].ToString() : @Model.Register)" />
                            <input name="owner" type="hidden" id="owner" value="@(Request.QueryString["owner"] != null ? Request.QueryString["owner"].ToString() : Model.Owner)" />
                            <div class="pull-right" onchange="SortBy()">
                                Sorter: @Html.DropDownList("sorting", "Navn a-å")
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        @if (Model.FilterResult.Items.ElementAt(0).register.containedItemClass == "Document")
        {
            @Html.Partial("_filterDocument", Model)
        }
        @if (Model.FilterResult.Items.ElementAt(0).register.containedItemClass == "Dataset")
        {
            @Html.Partial("_filterDataset", Model)
        }
        <br />
    </div>


    <hr />
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="search-filter-wrapper">
            <ul class="col-sm-9 col-md-9 col-lg-9 nav nav-tabs" role="tablist">
                <li class="active"><span role="tab">Registeret viser @Model.ShowingFromAndTo() av @Model.NumFound treff.</span></li>
            </ul>
            <ul class="pagination pagination-sm col-sm-3 col-md-3 col-lg-3 pull-right ">

                @if (Model.IsNextButtonActive())
                {
                    <li class="pull-right"><a href="@Url.Action("DetailsFilter", Model.ParamsForNextLink())">&raquo;</a></li>
                }

                @for (int i = Model.endPage; i >= Model.startPage; i--)
                {
                    if (Model.IsActivePage(i))
                    {
                        <li class="active pull-right"><a href="@Url.Action("DetailsFilter", Model.ParamsForPageNumber(i))">@i</a></li>
                    }
                    else
                    {
                        <li class="pull-right"><a href="@Url.Action("DetailsFilter", Model.ParamsForPageNumber(i))">@i</a></li>
                    }
                }

                @if (Model.IsPreviousButtonActive())
                {
                    <li class="pull-right"><a href="@Url.Action("DetailsFilter", Model.ParamsForPreviousLink())">&laquo;</a></li>
                }

            </ul>
            <span class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <a href="/register/@Html.ToUrl(Model.Register)/">Tilbake</a>
            </span>
        </div>
        
    </div>
    
</div>



















