﻿@using Kartverket.Register.Helpers
@model List<Kartverket.Register.Models.Document>
@using Kartverket.Register.Models


@{
    ViewBag.Title = Model.ElementAt(0).register.name;
       
} 



<div class="page-header">
    <h2 class="h-md">@Html.DisplayFor(model => Model.ElementAt(0).register.name)</h2>
    <hr>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-no-padding-xs col-xs-12 col-sm-9 col-md-9 col-lg-9">
        ID: <a href="@Request.Url.AbsoluteUri">@Request.Url.AbsoluteUri</a>
        <img src="@Url.Content("~/data/organizations/" + Model.ElementAt(0).documentowner.logoFilename)" class="img-small" alt="@Html.DisplayFor(model => Model.ElementAt(0).documentowner.name)" />
    </div>

    <div class="col-no-padding-xs col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <span class="small">Registrert: @Model.ElementAt(0).register.dateSubmitted</span><br />
        <span class="small">Oppdatert: @Model.ElementAt(0).register.modified</span>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="page-header">
            <hr>
        </div>

        @foreach (Document item in Model)
        {

            <div class="row result-row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="hidden-xs col-sm-2 col-md-2 col-lg-2 top-padding">
                        @{
                            string thumb = "/Content/pdf.jpg";
                            if (item.thumbnail != null)
                            {
                                thumb = item.thumbnail;
                            }
                        }
                        <a href="@Html.DisplayFor(modelItem => item.documentUrl)"><img src="@thumb" class="center-block img-thumbnail img-small" alt="forside pdf" /></a>

                    </div>
                    <div class="col-no-padding-xs col-xs-12 col-sm-8 col-md-8 col-lg-8">
                        <h4 class="role-button" role="button">
                            <a href="/register/@Html.ToUrl(item.register.name)/@Html.ToUrl(item.documentowner.name)/@Html.ToUrl(item.name)/">@item.name</a>
                        </h4>
                        <p>
                            @*<a href="/dokument/@Html.ToUrl(item.register.name)/@Html.ToUrl(@item.documentowner.name)/">*@
                                <img src="@Url.Content("~/data/organizations/" +  item.documentowner.logoFilename)" class="img-small"alt="@Html.DisplayFor(modelItem => item.documentowner.name)" />
                            @*</a>*@
                        </p>
                        <p>
                            @Html.DisplayFor(modelItem => item.description)
                        </p>
                    </div>
                    <div class="col-no-padding-xs col-xs-6 col-sm-2 col-md-2 col-lg-2 ">
                        <a href="@Html.DisplayFor(modelItem => item.documentUrl)" type="button" class="btn btn-lg btn-link">
                            <span class="glyphicon glyphicon-download-alt pull-left"> </span>last ned
                        </a><br />
                        @if (item.status == null)
                        {
                            <span>Status: Ikke angitt</span><br />
                        }
                        else
                        {
                            <span>Status: @item.status.description <i class="statusIcon-@item.statusId"></i></span><br />
                        }
                    </div>
                </div>
            </div>

            <hr />
        }

    </div>

    <hr />
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <p>
            <a href="/register/@Html.ToUrl(Model.ElementAt(0).register.name)/">Tilbake</a>
        </p>
    </div>
</div>

