@using Kartverket.Register.Helpers
@using Kartverket.Register.Models.ViewModels
﻿@using Kartverket.Register.Helpers
@model SearchViewModel

@{
    if (!string.IsNullOrWhiteSpace(Model.Text))
    {
        ViewBag.Title = Shared.SearchFor + " " + Model.Text;
    }
    else
    {
        ViewBag.Title = Shared.Search;
    }
}


@Html.Partial("_SearchBarPartial")

<section class="heading">
    <div class="row">
        <div class="col-sm-12">
            <h3>
                @Shared.SearchFor "@Model.Text"
            </h3>
        </div>
        <div class="col-sm-12">
            <span class="separator-lg"></span>
        </div>
    </div>
</section>


@DisplayPagination()



<div class="table-heading col-md-12">
    <div class="col-md-4 col-sm-12 col"><strong>@Registers.Name</strong></div>
    <div class="col-md-4 col-sm-12 col"><strong>@Registers.Description</strong></div>
    <div class="col-md-2 col-sm-12 col"><strong>Type</strong></div>
    <div class="col-md-2 col-sm-12 col"><strong>Register</strong></div>
</div>

@foreach (var item in Model.Result.Items)
{
    <div class="resultItemRow col-md-12 ">
        <div class="col-md-4 col-sm-12 col">
            <a href="@item.ItemUrl()">@item.ItemName()</a>
        </div>
        <div class="col-md-4 col-sm-12 col">
            <p>@item.ItemDescription()</p>
        </div>
        <div class="col-md-2 col-sm-12 col">
            <p>@item.ItemType()</p>
        </div>
        <div class="col-md-2 col-sm-12 col">
            @if (item.Discriminator == "Objektregister")
                {
                <a href="@Html.ObjektkatalogUrl()">@item.RegisterName</a>
            }
            else if (item.ParentRegisterName == null)
            {
                <a href="/register/@item.RegisterSeoname">@item.RegisterName</a>
            }
            else
            {
                <p>
                    <a href="@item.ParentRegisterUrl">@item.ParentRegisterName </a><span class="glyphicon glyphicon-chevron-right"></span>
                    <a href="@item.SubregisterUrl">@item.RegisterName</a>
                </p>

            }
        </div>
    </div>
}


@DisplayPagination()

@helper DisplayPagination()
{
    <p class="text-right">@Registers.HitsDisplay @Model.ShowingFromAndTo() @Registers.HitsOf @Model.NumFound @Registers.Hits.</p>
    <nav class="text-right">
        <ul class="pagination">
            @if (Model.IsPreviousButtonActive())
            {
                <li><a href="@Url.Action("Index", Model.ParamsForPreviousLink())">&laquo; @Shared.Previous</a></li>
            }
            @if (Model.IsNextButtonActive())
            {
                <li><a href="@Url.Action("Index", Model.ParamsForNextLink())">@Shared.Next &raquo;</a></li>
            }
        </ul>
    </nav>
}



