@using Kartverket.Register.Models.ViewModels
@using Resources
﻿@using Kartverket.Register.Helpers
@model SearchViewModel

@{
    if (!string.IsNullOrWhiteSpace(Model.Text))
    {
        ViewBag.Title = "Søk etter " + Model.Text;
    }
    else
    {
        ViewBag.Title = "Søk";
    }
}

@helper DisplayPagination()
{
    <p class="text-right">Viser @Model.ShowingFromAndTo() av @Model.NumFound treff.</p>
    <nav class="text-right">
        <ul class="pagination">
            @if (Model.IsPreviousButtonActive())
            {
                <li><a href="@Url.Action("Index", Model.ParamsForPreviousLink())">&laquo; Forrige</a></li>
            }
            @if (Model.IsNextButtonActive())
            {
                <li><a href="@Url.Action("Index", Model.ParamsForNextLink())">Neste &raquo;</a></li>
            }
        </ul>
    </nav>
}

@section scripts {
    <script>
        $('ul.facet').each(function () {
            var max = 50;
            if ($(this).find("li").length > max) {
                $(this)
                  .find('li:gt(' + max + ')')
                  .hide()
                  .end()
                  .append(
                    $('<li/>').append('<a href="">Vis flere</a>').click(function (event) {
                        event.preventDefault();
                        $(this).siblings(':hidden').show().end().remove();
                    })
                );
            }
        });
    </script>
}

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class=" page-header">
        <hr>
    </div>
    @if (Model.Result != null)
    {
        @DisplayPagination()
    }


    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <table class="table">
            <tr>
                <th>
                    Navn
                </th>
                <th>
                    Beskrivelse
                </th>
                <th>
                    Type
                </th>
                <th>
                    Register
                </th>
            </tr>

            @if (Model.Result != null)
            {
                foreach (var item in Model.Result.Items)
                {
                    <tr>
                        <td width="20%">

                        @if (item.RegisterItemName == null)
                        {
                            <b><a href="@item.SubregisterUrl">@item.RegisterName</a></b>
                        }
                        else
                        {
                            if (item.ParentRegisterName == null)
                            {
                                <b><a href="@item.RegisteItemUrl">@item.RegisterItemName</a></b>
                            }
                            else
                            {
                                <b><a href="@item.subregisterItemUrl">@item.RegisterItemName</a></b>
                            }
                        }
                        </td>
                        <td width="50%">
                            @if (item.RegisterItemName == null) { 
                                @item.RegisterDescription
                            }
                            else
                            {
                                @item.RegisterItemDescription
                            }
                        </td>
                        <td width="10%">
                            @if (item.Discriminator == "Organization" && item.RegisterItemName != null)
                            {
                                <span>Organisasjon</span>
                            }
                            @if (item.Discriminator == "Dataset" && item.RegisterItemName != null)
                            {
                                <span>Datasett</span>
                            }
                            @if (item.Discriminator == "Document" && item.RegisterItemName != null)
                            {
                                <span>Dokument</span>
                            }
                            @if (item.Discriminator == "CodelistValue" && item.RegisterItemName != null)
                            {
                                <span>Kode</span>
                            }
                            @if (item.Discriminator == "EPSG" && item.RegisterItemName != null)
                            {
                                <span>Epsg-kode</span>
                            }
                            @if (item.RegisterItemName == null)
                            {
                                <span>Register</span>
                            }

                        </td>
                        <td width="20%">
                            @if (item.ParentRegisterName == null)
                            {
                                <a href="/register/@item.RegisterSeoname">@item.RegisterName</a>
                            }
                            else
                            {
                                <p> 
                                    <a href="@item.ParentRegisterUrl">@item.ParentRegisterName </a><span class="glyphicon glyphicon-chevron-right"></span>
                                    <a href="@item.SubregisterUrl">@item.RegisterName</a>
                                </p>

                            }
                        </td>

                    </tr>
                }
            }
        </table>

        <i class="glyphicon dropdown-menu-right"> </i>

    </div>
</div>
@DisplayPagination()




