@using Kartverket.Register.Models.ViewModels
@using Resources
﻿@using Kartverket.Register.Helpers
@model SearchViewModel
@*@model PagedList.IPagedList<SearchViewModel>*@
@using PagedList;
@using PagedList.Mvc;

@{
    if (!string.IsNullOrWhiteSpace(Model.Text))
    {
        ViewBag.Title = "Søk etter " + Model.Text;
    }
    else
    {
        ViewBag.Title = "Søk";
    }
}

@helper DisplayPagination()
{
    <p class="text-right">Viser @Model.ShowingFromAndTo() av @Model.NumFound treff.</p>
    <nav class="text-right">
        <ul class="pagination">
            @if (Model.IsPreviousButtonActive())
            {
                <li><a href="@Url.Action("Index", Model.ParamsForPreviousLink())">&laquo; Forrige</a></li>
            }
            @if (Model.IsNextButtonActive())
            {
                <li><a href="@Url.Action("Index", Model.ParamsForNextLink())">Neste &raquo;</a></li>
            }
        </ul>
    </nav>
}

@section scripts {
    <script>
        $('ul.facet').each(function () {
            var max = 50;
            if ($(this).find("li").length > max) {
                $(this)
                  .find('li:gt(' + max + ')')
                  .hide()
                  .end()
                  .append(
                    $('<li/>').append('<a href="">Vis flere</a>').click(function (event) {
                        event.preventDefault();
                        $(this).siblings(':hidden').show().end().remove();
                    })
                );
            }
        });
    </script>
}

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class=" page-header">
        <hr>
    </div>

    @*<div class="col-no-padding-xs col-xs-12 col-sm-9 col-md-9 col-lg-9">
        <div class="btn-group">
            <a onclick="listView()" id="button-listView" class="active"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Liste</a>
            <a onclick="galleryView()" id="button-galleryView" class=""><span class="glyphicon glyphicon-th" aria-hidden="true"></span> Galleri</a>
            <a onclick="tableView()" id="button-tableView" class=""><span class="glyphicon glyphicon-list" aria-hidden="true"></span> Tabell</a>
        </div>
    </div>*@
    @if (Model.Result != null)
    {
        @DisplayPagination()
    }
</div>

    <div class="row">    
        <div class="col-md-offset-2 col-md-8">
            @if (Model.Result != null)
            {                  
                    <div class="search-results">
                        @foreach (var item in Model.Result.Items)
                    {
                            <div class="row">
                                <div>

                                    <b><a href="/register/@item.RegisterSeoname/@Html.ToUrl(item.Submitter)/@item.RegisterItemSeoname">@item.RegisterItemName</a></b>

                                </div>


                                <div>
                                    @item.RegisterItemDescription
                                </div>


                                <div>
                                    <i><a href="/register/@item.RegisterSeoname">@item.RegisterName</a> : @item.RegisterDescription</i>
                                </div>
                                <hr />
                            </div>


                    }
                    </div>

                    @DisplayPagination()

                    }
                </div>

    </div>




