@using Kartverket.Register.Models.ViewModels
@using Resources
﻿@using Kartverket.Register.Helpers
@model SearchViewModel

@{
    if (!string.IsNullOrWhiteSpace(Model.Text))
    {
        ViewBag.Title = "Søk etter " + Model.Text;
    }
    else
    {
        ViewBag.Title = "Søk";
    }
}


@helper DisplayPagination()
{
    <p class="text-right">Viser @Model.ShowingFromAndTo() av @Model.NumFound treff.</p>
    <nav class="text-right">
        <ul class="pagination">
            @if (Model.IsPreviousButtonActive())
            {
                <li><a href="@Url.Action("Index", Model.ParamsForPreviousLink())">&laquo; Forrige</a></li>
            }
            @if (Model.IsNextButtonActive())
            {
                <li><a href="@Url.Action("Index", Model.ParamsForNextLink())">Neste &raquo;</a></li>
            }
        </ul>
    </nav>
}

@section scripts {
    <script>
        $('ul.facet').each(function () {
            var max = 15;
            if ($(this).find("li").length > max) {
                $(this)
                  .find('li:gt(' + max + ')')
                  .hide()
                  .end()
                  .append(
                    $('<li/>').append('<a href="">Vis flere</a>').click(function (event) {
                        event.preventDefault();
                        $(this).siblings(':hidden').show().end().remove();
                    })
                );
            }
        });
    </script>
}

    <div class="row">
    
        <div class="col-md-offset-2 col-md-8">
            @if (Model.Result != null)
            {
                @DisplayPagination()

                <div class="search-results">
                    @foreach (var item in Model.Result.Items)
                    {               
                            <div class="row">
                                <div>

                                    <b><a href="/register/@item.RegisterSeoname/@Html.ToUrl(item.Submitter)/@item.RegisterItemSeoname">@item.RegisterItemName</a></b>

                                    @{



                        @*if (item.Discriminator == "Organization")
                        {
                            <b><a href="/register/organisasjoner/@item.DocumentOwner/@item.RegisterItemSeoname">@item.RegisterItemName</a></b>
                        }
                        else if (item.Discriminator == "EPSG")
                        {
                            <b><a href="/register/epsg-koder/@item.RegisterItemSeoname">@item.RegisterItemName</a></b>
                        }
                        else if (item.Discriminator == "Document")
                        {
                            <b><a href="/register/@Html.ToUrl(item.RegisterName)/@Html.ToUrl(item.DocumentOwner)/@item.RegisterItemSeoname">@item.RegisterItemName</a></b>
                        }*@
                                    }
                                </div>


                                <div>
                                    @item.RegisterItemDescription
                                </div>


                                <div>
                                    <i><a href="/register/@item.RegisterSeoname">@item.RegisterName</a> : @item.RegisterDescription</i>
                                </div>
                                <hr />
                            </div>
                        

                    }
                </div>

                @DisplayPagination()

            }
        </div>

    </div>




