@using Kartverket.Register.Models.ViewModels
@using System.Web.Configuration;
@model ShowDatasetCoverageViewModel
@{
    ViewBag.Title = "Dekningskart for DOK-datasett";
}

@section breadcrumb {

    <li>@ViewBag.Title</li>
}

<section class="heading">
    <div class="row">
        <div class="col-sm-12">
            <h1>
                Dekningskart for DOK-datasett
            </h1>
        </div>
        <div class="col-sm-12">
            <span class="separator-lg"></span>
        </div>
    </div>
</section>

<form action="@Request.Url.LocalPath" method="get">
    <div class="row">
        <div class="col-md-3">
            <label for="fylke">Velg zoom-nivå:</label>
            <div class="form-group custom-select">
                @Html.DropDownList("fylke", (SelectList)ViewBag.States, "Hele landet", new { @class = "chosen-select form-control", onchange = "form.submit();" })
            </div>
        </div>
        <div class="col-md-5">
            <label for="dataset">Velg DOK-datasett:</label>
            <div class="form-group custom-select">
                @Html.DropDownList("dataset", (SelectList)ViewBag.Datasets, "Velg datasett", new { @class = "chosen-select form-control", onchange = "form.submit();" })
            </div>
        </div>
    </div>
</form>

<p style="color: red;">
    @ViewBag.Warning
</p>

<div id="maplayer">
</div>
<div class="status-icons norgeskart-legend">
    <p><span class="custom-icon custom-icon-norgeskart-marker"></span> Kommunen har bekreftet dette datasettet</p>
    <p><span class="custom-icon custom-icon-norgeskart-area"></span> Dekningsområde for dette datasettet</p>

</div>
<footer></footer>

<script>
    var win;

    function postMessage(msg) {
        var message = JSON.stringify(msg);
        try{
            win.postMessage(message,'@WebConfigurationManager.AppSettings["MapUrl"]');
        }
        catch(e) {}
    }

    var datasetLayer = "@Model.DatasetWmsLayerName";

    @{
        string zoomLevel = "3";
        if (!string.IsNullOrEmpty(Model.StateName))
        {
            if (Model.StateName == "18") {
                zoomLevel = "5";
            }
            else if (Model.StateName == "04") {
                zoomLevel = "5";
            }
            else if (Model.StateName == "20")
            {
                zoomLevel = "5";
            }
            else {
                zoomLevel = "6";
            }
        }
     }

    var zoomLevel = @zoomLevel;

    var BBWest = @Model.StateBoundingBox.West;
    var BBEast = @Model.StateBoundingBox.East;
    var BBSouth = @Model.StateBoundingBox.South;
    var BBNorth = @Model.StateBoundingBox.North;
    xCenter = (BBWest + BBEast) /2;
    yCenter = (BBSouth + BBNorth) /2;

    $.getJSON('@WebConfigurationManager.AppSettings["MapUrl"]/ws/trans.py?ost=' + xCenter + '&nord=' + yCenter + '&sosiKoordSys=84&resSosiKoordSys=23', function (result) 
    {
        if (result.errKode == 0) {

            xCenter = Math.floor(result.ost);
            yCenter = Math.floor(result.nord);

            console.log("xCenter: " + xCenter);
            console.log("yCenter: " + yCenter);

            var iframe = document.createElement('iframe');
            document.getElementById('maplayer').appendChild(iframe);
            iframe.id = "iframe";
            iframe.src= "@WebConfigurationManager.AppSettings["MapUrlDynamic"]/dynamisk-med-navigasjon.html#" + zoomLevel + "/" + xCenter +"/"+ yCenter +"/l/wms/[@WebConfigurationManager.AppSettings["OpenWmsUrl"]/skwms1/wms.gp_dek_oversikt?datasett=@Model.DatasetWmsLayerName]";
            iframe.frameBorder=0;
            iframe.height = "600";
            win = document.getElementById("iframe").contentWindow;

        }
    });


    function AddMarker()
    {
        @foreach (CoverageConfirmedMunicipalityViewModel municipality in Model.DatasetCoverageConfirmedCounties)
            {
                @:postMessage({ "cmd":"addMarker","x":@municipality.CenterCoordinateX,"y":@municipality.CenterCoordinateY,"title":"@Html.Raw(municipality.Name)"} );
            }
        }

    var counterInterVal = 0;

    function setMarker() {
        
        if(counterInterVal <= 10) {
            counterInterVal++;
            AddMarker();
        } else {
            clearInterval(myTimer);
        }
    }
    var myTimer = setInterval(setMarker, 1000);



</script>