@model Kartverket.Register.Models.EPSG
﻿@using Kartverket.Register.Helpers

@{
    ViewBag.Title = Shared.Delete + " " + Model.name;
}

@section breadcrumb {

    @foreach (var register in HtmlHelperExtensions.registers(Model.register))
    {
        <li><a href="@register.GetObjectUrl()">@register.name</a></li>
    }
    <li><a href="@Model.register.GetObjectUrl()">@Html.DisplayFor(model => model.register.name)</a></li>
    <li><a href="@Model.GetObjectUrl()">@Html.DisplayFor(model => model.name)</a></li>
    <li>@Shared.Delete</li>
}

<section class="heading">
    <div class="row">
        <div class="col-sm-12">
            <h2>
                @EPSGs.DeleteEpsg
            </h2>
        </div>
        <div class="col-sm-12">
            <span class="separator-lg"></span>
        </div>
    </div>
</section>

<h4>@Registers.DeleteConfirm <b>@Model.name</b>?</h4>
<hr />

    @using (Html.BeginForm())
    {
        <div class="form-actions no-color">
            <input type="submit" value="@Shared.Delete" class="btn btn-default pull-right" />
            <a href="@Model.GetObjectUrl()">@Shared.Back</a>
        </div>
    }

