@model IEnumerable<Kartverket.Register.Models.EPSG>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.register.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.submitter.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateSubmitted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateAccepted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.epsg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sosiReferencesystem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.externalReference)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.inspireRequirementDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nationalRequirementDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nationalSeasRequirementDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.inspireRequirement.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nationalRequirement.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nationalSeasRequirement.description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.register.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.submitter.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateSubmitted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.modified)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateAccepted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.epsg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sosiReferencesystem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.externalReference)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.inspireRequirementDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nationalRequirementDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nationalSeasRequirementDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.inspireRequirement.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nationalRequirement.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nationalSeasRequirement.description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.systemId }) |
            @Html.ActionLink("Details", "Details", new { id=item.systemId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.systemId })
        </td>
    </tr>
}

</table>
