@model Kartverket.Register.Models.Dataset
﻿@using Kartverket.Register.Helpers
﻿@using Kartverket.Register.Models.ViewModels

<h2 class="">Legg til ekstra DOK-datasett for din kommune</h2>
<hr />
<h3>Søk</h3>
<p>Hvis datasettet allerede finnes i Geonorge, søk opp datasett og registrer det for din kommune</p>

@using (Html.BeginForm("Create", "Datasets", FormMethod.Post, new { @class = "form-inline", @id = "suggestDataset" }))
{
    <input type="hidden" id="datasetownerId" name="datasetownerId" value="@Model.datasetownerId" />
    <input type="hidden" value="" name="metadataUuid" id="metadataUuid" />
    <input type="hidden" value="@ViewBag.municipalityCode" name="municipality" id="municipality" />

    <div class="form-group col-sm-12" style="margin:20px 0px; padding-left:0px">
        <div class="col-md-8" style="padding-left: 0px;">
            <input type="text" class="col-md-6" id="searchString" name="searchString" value="@ViewBag.SearchString" />
            </div>
        <div class="col-md-2" style="padding-left: 0px;">
            <input type="submit" value="Søk" class="btn btn-primary" style="margin-bottom:0px" />
        </div>
    </div>
}

@if (ViewBag.SearchResultList != null)
{
    <div class="col-sm-12">
        <h4>Treffliste over datasett</h4>
        @if (ViewBag.SearchResultList.Count > 0)
        {
            <table class="table-responsive table">
                <thead>
                    <tr>
                        <th>Navn</th>
                        <th>Velg</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var metadata in (List<MetadataItemViewModel>)ViewBag.SearchResultList)
                    {
                        <tr>
                            <td width="80%">@metadata.Title</td>
                            <td width="20%">
                                <input type="button" value="Registrer tilleggsdatasett" name="test" id="test" class="btn pull-right" onclick="$(this).selectMetadata('@metadata.Uuid');" />
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        }
        else {
            <p>Ingen treff...</p>
        }
    </div>
}


        <div>
            <h3>Opprett metadata</h3>
            <p>Hvis datasettet ikke finnes i Geonorge, må du registrere nye metadata for de data som du ønsker å registrere. Dette vil ofte være geografiske data som kommunen selv har. Trykker du på «Opprett metadata» hopper du til et annet verktøy. </p>
            <a href="@Html.EditorUrl()SimpleMetadata/Create" target="_blank" class="btn btn-primary">Opprett metadata</a>
        </div>
        

        <a href="@Model.register.GetObjectUrl()?municipality=@ViewBag.municipalityCode">Tilbake</a>
