@model Kartverket.Register.Models.CoverageDataset

<section class="heading">
    <div class="row">
        <div class="col-sm-12">
            <h2>
                Dekning av @Model.dataset.name
            </h2>
            <p>@Model.Municipality.name</p>
        </div>
        <div class="col-sm-12">
            <span class="separator-lg"></span>
        </div>
    </div>
</section>

@using (Html.BeginForm("Edit", "Datasets", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-horizontal">
        <div class="form-group">
            <div class="control-label col-md-2">
                @Html.Label("Bekreftet")
            </div>
            <div class="col-md-10">
                @Html.CheckBoxFor(model => model.ConfirmedDok)
                @Html.ValidationMessage("ErrorMessage")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Note, 5, 50, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <hr />
            <input type="submit" value="Lagre" class="btn btn-default pull-right" />           
        </div>
    </div>
}


