@model Kartverket.Register.Models.Dataset
﻿@using Kartverket.Register.Helpers

@{
    ViewBag.Title = "Foreslå nytt datasett";
}
@section breadcrumb {
    @if (Model.register.parentRegister != null)
    {
        Kartverket.Register.Models.Register mainRegister = HtmlHelperExtensions.mainRegister(Model.register);
        Kartverket.Register.Models.Register parentRegister = Model.register.parentRegister;
        <li><a href="/register/@mainRegister.seoname/">@mainRegister.name</a></li>
        <li>Ny</li>
        <li><a href="/subregister/@Model.register.parentRegister.seoname/@Model.register.parentRegister.owner.seoname/@Model.register.seoname">@Model.register.name</a></li>
        while (parentRegister != null && parentRegister != mainRegister)
        {
            <li><a href="/subregister/@parentRegister.parentRegister.seoname/@parentRegister.parentRegister.owner.seoname/@parentRegister.seoname">@parentRegister.name</a></li>
            parentRegister = parentRegister.parentRegister;
        }
    }
    else
    {
        <li><a href="/register/@Model.register.seoname">@Model.register.name</a></li>
        <li>Ny</li>
    }
}

<h2>Foreslå</h2>
<h4>Foreslå nytt datasett i @Model.register.name</h4>
<hr />

<div class="row">
    <div class="col-sm-6 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                Hent informasjon fra metadatakatalogen
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("Create", "Datasets", FormMethod.Post, new { @class = "form-inline" }))
                {
                    <div class="form-group">
                        @Html.LabelFor(model => model.Uuid, new { @class = "" })
                        @Html.EditorFor(model => model.Uuid, new { htmlAttributes = new { @class = "form-control", style = "width: 300px;" } })
                    </div>
                    <input type="submit" value="Finn metadata" class="btn btn-primary" />
                }
            </div>
        </div>
    </div>
</div>
@using (Html.BeginForm("Create", "Datasets", FormMethod.Post))
{
    if (Model.DatasetType == "Kommunalt")
    {
        @Html.Partial("_CreateMunicipalDataset", Model);
    }
    else {
        @Html.Partial("_CreateNationalDataset", Model);
    }

    <div class="form-group">
        <hr />
        <input type="submit" value="Foreslå" class="btn btn-default pull-right" />
        @if (Model.register.parentRegister != null)
        {
            <a href="/subregister/@Model.register.parentRegister.seoname/@Model.register.parentRegister.owner.seoname/@Model.register.seoname">Tilbake</a>
        }
        else
        {
            <a href="/register/@Model.register.seoname/">Tilbake</a>
        }
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}