@model Kartverket.Register.Models.ViewModels.CreateDokMunicipalViewModel
﻿@using Kartverket.Register.Helpers

@{
    ViewBag.Title = "Foreslå nytt datasett";
}

@section breadcrumb {
    @foreach (var register in HtmlHelperExtensions.registers(Model.Register))
    {
        <li><a href="@register.GetObjectUrl()">@register.name</a></li>
    }
    <li><a href="@Model.Register.GetObjectUrl()">@Model.Register.name</a></li>
    <li>Nytt</li>
}

<section class="heading">
    <div class="row">
        <div class="col-sm-12">
            <h2>
                Legg til ekstra DOK-datasett for din kommune
            </h2>
        </div>
        <div class="col-sm-12">
            <span class="separator-lg"></span>
        </div>
    </div>
</section>

<h3>Søk</h3>
<p>Hvis datasettet allerede finnes i Geonorge, søk opp datasett og registrer det for din kommune</p>
<p>Hvis datasettet ikke finnes i Geonorge, må du <a href="@Html.EditorUrl()SimpleMetadata/Create" target="_blank">registrere nye metadata</a> for de data som du ønsker som dine kommunale DOK-data</p>

@using (Html.BeginForm("CreateMunicipalDataset", "Datasets", FormMethod.Post, new { @class = "form-inline", @id = "searchDataset" }))
{
    @Html.HiddenFor(model => model.MunicipalityCode)
    @Html.HiddenFor(model => model.Register)
    @Html.HiddenFor(model => model.DatasetOwner)
    <div class="form-horizontal" style="margin: 30px 0px;">
        <div class="form-group">
            <input type="text" class="col-md-6" style="width:50%;" id="searchString" name="searchString" placeholder="Skriv inn" value="@ViewBag.SearchString" />
            <input type="submit" value="Søk" class="btn btn-primary" style="margin-bottom:0px" />
            @if (Model.SearchResult != null && Model.SearchResult.Count == 0 && !string.IsNullOrEmpty(ViewBag.SearchString))
            {
            <div><b>Ingen treff...</b></div>
            }
        </div>
        
    </div>

<div class="row">
    <div class="col-lg-6">
        @if (Model.SearchResult != null && Model.SearchResult.Count > 0)
        {
        <table class="table-responsive table" style="margin-bottom:50px">
            <thead>
                <tr>
                    <th>Treffliste datasett</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.SearchResult.Count; i++)
                {
                    bool itemSelected = false;
                    if (Model.SelectedList != null)
                    {
                        itemSelected = Model.SelectedList.Any(metaItem => metaItem.Uuid == Model.SearchResult[i].Uuid);
                    }
                    <input id="SearchResult_@(@i)__Uuid" name="SearchResult[@(@i)].Uuid" type="hidden" value="@Model.SearchResult[i].Uuid" />
                    <input id="SearchResult_@(@i)__Title" name="SearchResult[@(@i)].Title" type="hidden" value="@Model.SearchResult[i].Title" />
                    <input id="SearchResult_@(@i)__Selected" name="SearchResult[@(@i)].Selected" type="hidden" value="False" />
                    <tr>
                        <td width="90%" id="title-@Model.SearchResult[i].Uuid" class="@( itemSelected  ? "text-muted" : "" )">@Model.SearchResult[i].Title</td>
                        <td width="10%" class="text-center">
                            <input type="submit" value="@Shared.Add" id="add-@Model.SearchResult[i].Uuid" class="btn btn-primary @( itemSelected  ? "disabled" : "" )" onclick="$('#SearchResult_@(@i)__Selected').attr('value', 'True');" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @Html.HiddenFor(model => model.MunicipalityCode)
        }
    </div>
    <div class="col-lg-6">

            <table class="table-responsive table">
                @if (Model.SelectedList != null)
                {
                <thead>
                    <tr>
                        <th>Valgte tilleggsdatasett</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.SelectedList.Count > 0)
                    {
                        for (int i = 0; i < Model.SelectedList.Count; i++)
                        {
                            <tr id="cbDelete_@i">
                                <td width="90%">@Model.SelectedList[i].Title</td>
                                <td  width="10%" class="text-center">
                                    <input value="Fjern" type="button" class="btn btn-primary" onclick="removeMunicipalDataset(@i,'@Model.SelectedList[i].Uuid');"  />
                                </td>
                            </tr>
                            <input id="SelectedList_@(@i)__Selected" name="SelectedList[@(@i)].Selected" type="hidden" value="True" />
                            <input id="SelectedList_@(@i)__Uuid" name="SelectedList[@(@i)].Uuid" type="hidden" value="@Model.SelectedList[i].Uuid" />
                            <input id="SelectedList_@(@i)__Title" name="SelectedList[@(@i)].Title" type="hidden" value="@Model.SelectedList[i].Title" />
                        }
                    }  
                </tbody>
                }
            </table>
            @Html.Hidden("save", false)
            @Html.HiddenFor(model => model.MunicipalityCode)
    </div>
</div>
<div class="row">
    <div class="col-lg-2">
        <a href="@Model.Register.GetObjectUrl()?municipality=@ViewBag.municipalityCode">@Shared.Back</a>
    </div>
    <div class="col-lg-10 text-right">
    @if (Model.SelectedList != null)
    {
        <a href="/register/det-offentlige-kartgrunnlaget-kommunalt?municipality=@Model.MunicipalityCode" class="btn btn-default">Avbryt</a>
        <input type="submit" value="@Shared.Save" class="btn btn-primary" onclick="$('#save').attr('value', 'True');" />
    }
    </div>
</div>
}
@section Scripts {
    <script>
        function removeMunicipalDataset(id, uuid)
        {
            $('#SelectedList_' + id + '__Selected').attr('value', "False");
            $('#cbDelete_' + id).addClass("hidden");
            $('#add-' + uuid).removeClass("disabled");
            $('#title-' + uuid).removeClass("text-muted");
        }

    </script>
}
