@model Kartverket.Register.Models.Dataset
﻿@using Kartverket.Register.Helpers

@{
    ViewBag.Title = "Foreslå nytt datasett";
}
@section breadcrumb {
    @if (Model.register.parentRegister != null)
    {
        Kartverket.Register.Models.Register mainRegister = HtmlHelperExtensions.mainRegister(Model.register);
        Kartverket.Register.Models.Register parentRegister = Model.register.parentRegister;
        <li><a href="/register/@mainRegister.seoname/">@mainRegister.name</a></li>
        <li>Ny</li>
        <li><a href="/subregister/@Model.register.parentRegister.seoname/@Model.register.parentRegister.owner.seoname/@Model.register.seoname">@Model.register.name</a></li>
        while (parentRegister != null && parentRegister != mainRegister)
        {
            <li><a href="/subregister/@parentRegister.parentRegister.seoname/@parentRegister.parentRegister.owner.seoname/@parentRegister.seoname">@parentRegister.name</a></li>
            parentRegister = parentRegister.parentRegister;
        }
    }
    else
    {
        <li><a href="/register/@Model.register.seoname">@Model.register.name</a></li>
        <li>Ny</li>
    }
}

@if (Model.IsMunicipalDataset())
{
    @Html.Partial("_CreateMunicipalDataset", Model);
}
else
{
    @Html.Partial("_CreateNationalDataset", Model);
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $.fn.selectMetadata = function (uuid) {
            $('#metadataUuid').val(uuid);
            $('#searchString').val('');
            $("#suggestDataset").submit();
        };
    </script>
}
