@model Kartverket.Register.Models.ViewModels.CreateDokMunicipalViewModel
﻿@using Kartverket.Register.Helpers
﻿@using Kartverket.Register.Models.ViewModels

@{
    ViewBag.Title = "Foreslå nytt datasett";
}
@section breadcrumb {
    @if (Model.Register.parentRegister != null)
    {
        Kartverket.Register.Models.Register mainRegister = HtmlHelperExtensions.mainRegister(Model.Register);
        Kartverket.Register.Models.Register parentRegister = Model.Register.parentRegister;
        <li><a href="/register/@mainRegister.seoname/">@mainRegister.name</a></li>
        <li><a href="/subregister/@Model.Register.parentRegister.seoname/@Model.Register.parentRegister.owner.seoname/@Model.Register.seoname">@Model.Register.name</a></li>
        <li>Ny</li>
        while (parentRegister != null && parentRegister != mainRegister)
        {
            <li><a href="/subregister/@parentRegister.parentRegister.seoname/@parentRegister.parentRegister.owner.seoname/@parentRegister.seoname">@parentRegister.name</a></li>
            parentRegister = parentRegister.parentRegister;
        }
    }
    else
    {
        <li><a href="/register/@Model.Register.seoname">@Model.Register.name</a></li>
        <li>Ny</li>
    }
}

<h2 class="">Legg til ekstra DOK-datasett for din kommune</h2>
<hr />
<h3>Søk</h3>
<p>Hvis datasettet allerede finnes i Geonorge, søk opp datasett og registrer det for din kommune</p>

@using (Html.BeginForm("CreateMunicipalDataset", "Datasets", FormMethod.Post, new { @class = "form-inline", @id = "searchDataset" }))
{
    @Html.HiddenFor(model => model.MunicipalityCode)
    @Html.HiddenFor(model => model.Register)
    if (Model.SelectedList != null)
    {
        for (int i = 0; i < Model.SelectedList.Count; i++)
        {
            @Html.Hidden("SelectedList[" + i + "].Selected", Model.SelectedList[i].Selected, new { @readonly = "readonly" })
            @Html.Hidden("SelectedList[" + i + "].Uuid", Model.SelectedList[i].Uuid, new { @readonly = "readonly" })
            @Html.Hidden("SelectedList[" + i + "].Title", Model.SelectedList[i].Title, new { @readonly = "readonly" })
        }
    }

    @Html.HiddenFor(model => model.DatasetOwner)
    <div class="form-horizontal" style="margin: 30px 0px;">
        <div class="form-group">
            <input type="text" class="col-md-6" style="width:50%;" id="searchString" name="searchString" value="@ViewBag.SearchString" />
            <input type="submit" value="Søk" class="btn btn-primary" style="margin-bottom:0px" />
        </div>
    </div>
}

@if (Model.SearchResult != null)
{
    <h4>Treffliste over datasett</h4>
    if (Model.SearchResult.Count > 0)
    {
        using (Html.BeginForm("CreateMunicipalDataset", "Datasets", FormMethod.Post, new { @class = "form-inline", @id = "suggestDataset" }))
        {
            <table class="table-responsive table" style="margin-bottom:50px">
                <thead>
                    <tr>
                        <th>Navn</th>
                        <th class="text-center">Velg</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.SearchResult.Count; i++)
                    {
                        <tr>
                            <td width="90%">@Model.SearchResult[i].Title</td>
                            <td width="10%" class="text-center">
                                @Html.CheckBox("SearchResult[" + i + "].Selected", Model.SearchResult[i].Selected, new { @readonly = "readonly" })
                                @Html.Hidden("SearchResult[" + i + "].Uuid", Model.SearchResult[i].Uuid, new { @readonly = "readonly" })
                                @Html.Hidden("SearchResult[" + i + "].Title", Model.SearchResult[i].Title, new { @readonly = "readonly" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @Html.HiddenFor(model => model.MunicipalityCode)
            if (Model.SelectedList != null)
            {
                for (int i = 0; i < Model.SelectedList.Count; i++)
                {
                    @Html.Hidden("SelectedList[" + i + "].Selected", Model.SelectedList[i].Selected, new { @readonly = "readonly" })
                    @Html.Hidden("SelectedList[" + i + "].Uuid", Model.SelectedList[i].Uuid, new { @readonly = "readonly" })
                    @Html.Hidden("SelectedList[" + i + "].Title", Model.SelectedList[i].Title, new { @readonly = "readonly" })
                }
            }
            <input type="submit" value="Registrer tilleggsdatasett" class="btn btn-primary pull-right" />
        }
    }
    else {
        <p> Ingen treff...</p>
    }
}
@if (Model.SelectedList != null)
{
    if (Model.SelectedList.Count > 0)
    {
        using (Html.BeginForm("CreateMunicipalDataset", "Datasets", FormMethod.Post, new { @class = "form-inline", @id = "suggestDataset" }))
        {
            <h4>Valgte tilleggsdatasett</h4>
            <table class="table-responsive table">
                <thead>
                    <tr>
                        <th>Navn</th>
                        <th class="text-center">Slett</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.SelectedList.Count; i++)
                    {
                        <tr>
                            <td width="90%">@Model.SelectedList[i].Title</td>
                            <td id="cbDelete" width="10%" class="text-center">
                                @Html.CheckBox("SelectedList[" + i + "].Delete", Model.SelectedList[i].Delete)<label></label>
                            </td>
                        </tr>
                        @Html.Hidden("SelectedList[" + i + "].Uuid", Model.SelectedList[i].Uuid, new { @readonly = "readonly" })
                        @Html.Hidden("SelectedList[" + i + "].Title", Model.SelectedList[i].Title, new { @readonly = "readonly" })
                    }
                </tbody>
            </table>
            @Html.Hidden("save", true)
            @Html.HiddenFor(model => model.MunicipalityCode)
            <input type="submit" value="Lagre" class="btn btn-primary pull-right" />
        }
    }
}


<div>
    <h3>Opprett metadata</h3>
    <p>Hvis datasettet ikke finnes i Geonorge, må du registrere nye metadata for de data som du ønsker å registrere. Dette vil ofte være geografiske data som kommunen selv har</p>
    <a href="@Html.EditorUrl()SimpleMetadata/Create" target="_blank" class="btn btn-primary">Opprett metadata</a>
</div>

<a href="@Model.Register.GetObjectUrl()?municipality=@ViewBag.municipalityCode">Tilbake</a>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $.fn.selectMetadata = function () {
            $('#searchString').val('');
            $("#suggestDataset").submit();
        };
    </script>
}
