@model Kartverket.Register.Models.Dataset
﻿@using Kartverket.Register.Helpers

@{
    ViewBag.Title = "Slett " + Model.name;
}

@section breadcrumb {

    @foreach (var register in HtmlHelperExtensions.registers(Model.register))
    {
        <li><a href="@register.GetObjectUrl()">@register.name</a></li>
    }
    <li><a href="@Model.register.GetObjectUrl()">@Model.register.name</a></li>
    <li><a href="@Model.GetObjectUrl()">@Model.name</a></li>
    <li>Slett</li>
}

<section class="heading">
    <div class="row">
        <div class="col-sm-12">
            <h2>
                Slett datasett
            </h2>
        </div>
        <div class="col-sm-12">
            <span class="separator-lg"></span>
        </div>
    </div>
</section>

<h4>Er du sikker på at du vil slette <b>@Model.name</b>?</h4>
<hr />
@using (Html.BeginForm())
{
    <div class="form-actions no-color">
        <input type="submit" value="Slett" class="btn btn-default pull-right" />
        <a href="@Model.GetObjectUrl()">Tilbake</a>
    </div>
}
