@model Kartverket.Register.Models.Dataset

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Dataset</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.register.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.register.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.submitter.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.submitter.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateSubmitted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateSubmitted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateAccepted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateAccepted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.seoname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.seoname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datasetthumbnail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datasetthumbnail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productsheet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productsheet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.presentationRules)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.presentationRules)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productspesification)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productspesification)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.metadata)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.metadata)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.distributionFormat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.distributionFormat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.distributionUri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.distributionUri)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.distributionArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.distributionArea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.wmsUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.wmsUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.metadataUuid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.metadataUuid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datasetowner.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datasetowner.name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
