@model Kartverket.Register.Models.Dataset
﻿@using Kartverket.Register.Helpers

@{
    ViewBag.Title = "Rediger " + Model.name;
}

<script>
    $(document).ready(function () {
        $('.date').datepicker({ dateFormat: "dd/mm/yy" });
    });

    window.onload = function () {
        dokStatus();
    }

    function dokStatus(){
        var dokStatus = document.getElementById('dokStatusId');
        var selected = dokStatus.options[dokStatus.selectedIndex].text;

        if (selected == "Godkjent") {
            document.getElementById('approvalDate').hidden = false;
            enable();
        }
        else {
            document.getElementById('approvalDate').hidden = true;
        }
    }
</script>


@section breadcrumb {
    @if (Model.register.parentRegisterId != null)
    {
        Kartverket.Register.Models.Register mainRegister = HtmlHelperExtensions.mainRegister(Model.register);
        Kartverket.Register.Models.Register parentRegister = Model.register.parentRegister;
        <li><a href="/register/@mainRegister.seoname/">@mainRegister.name</a></li>
        <li>Rediger</li>
        <li><a href="/subregister/@Model.register.parentRegister.seoname/@Model.register.parentRegister.owner.seoname/@Model.register.seoname/@Model.datasetowner.seoname/@Model.seoname">@Model.name</a></li>
        <li><a href="/subregister/@Model.register.parentRegister.seoname/@Model.register.parentRegister.owner.seoname/@Model.register.seoname">@Model.register.name</a></li>
        while (parentRegister != null && parentRegister != mainRegister)
        {
            <li><a href="/subregister/@parentRegister.parentRegister.seoname/@parentRegister.parentRegister.owner.seoname/@parentRegister.seoname">@parentRegister.name</a></li>
            parentRegister = parentRegister.parentRegister;
        }
    }
    else
    {
        <li><a href="/register/@Model.register.seoname">@Html.DisplayFor(model => model.register.name)</a></li>
        <li><a href="/register/@Model.register.seoname/@Model.submitter.seoname/@Model.seoname">@Html.DisplayFor(model => model.name)</a></li>
        <li>Rediger</li>
    }
}

@if (Model.DatasetType == "Nasjonalt")
{
    if (HtmlHelperExtensions.IsAdmin())
    {
        @Html.Partial("_EditNationalDataset", Model);
    }
    else if (HtmlHelperExtensions.IsMunicipalUser())
    {
        if (Model.Coverage.Count() > 0)
        {
            @Html.Partial("_EditCoverageDataset", HtmlHelperExtensions.GetMunicipalCoverage(Model));
        }
        else
        {
            @Html.Partial("_CreateCoverage", HtmlHelperExtensions.NewCoverage(Model));
        }
    }
}
else if (Model.DatasetType == "Kommunalt")
{
    @Html.Partial("_EditMunicipalDataset", Model);
}



