@model Kartverket.Register.Models.Dataset
﻿@using Kartverket.Register.Helpers

@{
    ViewBag.Title = "Rediger " + Model.name;
}
@section Scripts {
<script>
    $(document).ready(function () {
        $('.date').datepicker({ dateFormat: "dd/mm/yy" });
    });

    window.onload = function () {
        dokStatus();
    }

    function dokStatus(){
        var dokStatus = document.getElementById('dokStatusId');
        var selected = dokStatus.options[dokStatus.selectedIndex].text;

        if (selected == "Godkjent") {
            document.getElementById('approvalDate').hidden = false;
            enable();
        }
        else {
            document.getElementById('approvalDate').hidden = true;
        }
    }
</script>
}

@section breadcrumb {
    @if (Model.register.parentRegister != null)
    {
        Kartverket.Register.Models.Register mainRegister = HtmlHelperExtensions.mainRegister(Model.register);
        Kartverket.Register.Models.Register parentRegister = Model.register.parentRegister;
        <li><a href="/register/@mainRegister.seoname/">@mainRegister.name</a></li>
        <li><a href="/subregister/@Model.register.parentRegister.seoname/@Model.register.parentRegister.owner.seoname/@Model.register.seoname">@Model.register.name</a></li>
        <li>Rediger</li>
        while (parentRegister != null && parentRegister != mainRegister)
        {
            <li><a href="/subregister/@parentRegister.parentRegister.seoname/@parentRegister.parentRegister.owner.seoname/@parentRegister.seoname">@parentRegister.name</a></li>
            parentRegister = parentRegister.parentRegister;
        }
    }
    else
    {
        <li><a href="/register/@Model.register.seoname">@Model.register.name</a></li>
        <li>Rediger</li>
    }
}

@if (HtmlHelperExtensions.IsAdmin())
{
    @Html.Partial("_EditNationalDataset", Model);
}
else if (HtmlHelperExtensions.IsMunicipalUser())
{
    if (HtmlHelperExtensions.GetMunicipalCoverage(Model) != null)
    {
        @Html.Partial("_EditCoverageDataset", HtmlHelperExtensions.GetMunicipalCoverage(Model));
    }
    else
    {
        @Html.Partial("_CreateCoverage", HtmlHelperExtensions.NewCoverage(Model));
    }
}