@model IEnumerable<Kartverket.Register.Models.Dataset>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.register.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.submitter.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateSubmitted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateAccepted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.seoname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.datasetthumbnail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productsheet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.presentationRules)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productspesification)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.metadata)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.distributionFormat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.distributionUri)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.distributionArea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.wmsUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.metadataUuid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.datasetowner.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.register.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.submitter.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateSubmitted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.modified)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateAccepted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.seoname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.datasetthumbnail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.productsheet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.presentationRules)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.productspesification)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.metadata)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.distributionFormat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.distributionUri)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.distributionArea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.wmsUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.metadataUuid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.datasetowner.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.systemId }) |
            @Html.ActionLink("Details", "Details", new { id=item.systemId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.systemId })
        </td>
    </tr>
}

</table>
