@model Kartverket.Register.Models.GeoDataCollection
@using Kartverket.Register.Resources;
@using Geonorge.AuthLib.Common;
@using Markdig;
@{
    ViewBag.Title = Model.Title;
}
@helper DisplayText(string s, bool replaceParagraph = false)
{
    var pipeline = new MarkdownPipelineBuilder()
                      .UseSoftlineBreakAsHardlineBreak()
                      .Build();
    s = Markdown.ToHtml(s, pipeline);
    if (replaceParagraph)
    {
        s = s.Replace("<p>", String.Empty).Replace("</p>", String.Empty);
    }
    @(new HtmlString(s))

}
@section breadcrumb {
    <li><a href="/@GeodataCollection.RegisterSeoName">@GeodataCollection.RegisterName</a></li>
    <li>@Model.Title</li>
}

<section class="heading">
    <article class="row">
        <div class="col-sm-12">
            <h2>
                @Model.Title
            </h2>
        </div>
    </article>
</section>
<div class="row">
    <div class="col-md-6">
        <p><strong>@GeodataCollection.Title: </strong>@Model.Title</p>
        <p><strong>@GeodataCollection.DatasetTitle: </strong>@Model.DatasetTitle</p>
        @if (!string.IsNullOrEmpty(Model.DatasetLink))
        {

            <p>
                <strong>
                    @GeodataCollection.DatasetLink:
                </strong>  <a href="@Model.DatasetLink" target="_blank">@GeodataCollection.DatasetLink</a>
            </p>
        }  

        <p><strong>@GeodataCollection.Organization: </strong>@Model.Organization.NameTranslated()</p>
        @if (!string.IsNullOrEmpty(Model.OtherOrganizationsInvolved))
        {
            <p><strong>@GeodataCollection.OtherOrganizationsInvolved: </strong>@Model.OtherOrganizationsInvolved</p>
        }
    </div>
    <div class="col-md-6">
        @if (!string.IsNullOrEmpty(Model.ThumbnailFileName))
        {<p>
                <img class="fa-pencil-square fa" data-toggle="modal" data-target="#myModal" style="cursor: pointer;" src="/data/img/@Model.ThumbnailFileName" />
                <!-- Modal -->
                <div class="modal fade" id="myModal" role="img" style="display: none; position: fixed; padding-top: 0px; left: 0; top: 0; width: 100%; height: 100%; overflow: auto;">
                    <div class="modal-dialog" style="width: 90%; height: 90%; margin: 0; padding: 0;">
                        <!-- Modal content-->
                        <div class="modal-content" style="height: auto; min-height: 100%; border-radius: 0;">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>

                            </div>
                            <div class="modal-body">
                                <img src="/data/img/@Model.ImageFileName" />
                            </div>
                        </div>
                    </div>
                </div>
            </p>
        }
    </div>
    <article class="col-md-12">
      
       



        <h3>@GeodataCollection.Roles</h3>
        @if (!string.IsNullOrEmpty(Model.Mapper))
        {
            <p><strong>@GeodataCollection.Mapper: </strong>@Model.Mapper</p>
        }

        @if (!string.IsNullOrEmpty(Model.DataOwner))
        {
            <p><strong>@GeodataCollection.DataOwner: </strong>@Model.DataOwner</p>
        }
        @if (Model.Responsible != null)
        {
            <p><strong>@GeodataCollection.Responsible: </strong>@Model.Responsible.NameTranslated()</p>
        }
        @if (!string.IsNullOrEmpty(Model.Distributor))
        {
            <p><strong>@GeodataCollection.Distributor: </strong>@Model.Distributor</p>
        }




    </article>
</div>
        <div class="row">
            <article class="col-md-12">
                <h3>@GeodataCollection.DeliverySolution</h3>

                @if (!string.IsNullOrEmpty(Model.Purpose))
                {
                    <p><strong>@GeodataCollection.Purpose: </strong>@Model.Purpose</p>
                }
                @if (!string.IsNullOrEmpty(Model.Methodology))
                {
                    <p><strong>@GeodataCollection.Methodology: </strong>@DisplayText(Model.Methodology)</p>
                }
                @if (!string.IsNullOrEmpty(Model.RegistrationRequirements))
                {
                    <p><strong>@GeodataCollection.RegistrationRequirements: </strong>@DisplayText(Model.RegistrationRequirements)</p>
                }
                @if (!string.IsNullOrEmpty(Model.ProcessHistory))
                {
                    <p><strong>@GeodataCollection.ProcessHistory: </strong><a href="@Model.ProcessHistory" target="_blank">@GeodataCollection.ProcessHistory</a></p>
                }
                @if (!string.IsNullOrEmpty(Model.LinkToRequirementsForDelivery))
                {
                    <p><strong>@GeodataCollection.LinkToRequirementsForDelivery: </strong><a href="@Model.LinkToRequirementsForDelivery" target="_blank">@GeodataCollection.LinkToRequirementsForDelivery</a></p>
                }
                <p>
                    <strong>@GeodataCollection.LinkToDataset: </strong> @if (!string.IsNullOrEmpty(Model.LinkToMapSolution))
                    {
                       <strong>@GeodataCollection.LinkToMapSolution: </strong> <a href="@Model.LinkToMapSolution" target="_blank">@GeodataCollection.LinkToMapSolution</a>
                    }
                </p>



                @if (!string.IsNullOrEmpty(Model.LinkInfoPage))
                {
                    <p><strong>@GeodataCollection.LinkInfoPage: </strong> <a href="@Model.LinkInfoPage" target="_blank">@GeodataCollection.LinkInfoPage</a></p>
                }
               

                @if (!string.IsNullOrEmpty(Model.MappingRequirementsLink))
                {
                    <p><strong>@GeodataCollection.MappingRequirementsLink:</strong> <a href="@Model.MappingRequirementsLink" target="_blank">@GeodataCollection.MappingRequirementsLink</a></p>

                }

               
            </article>
        </div>

        <div class="row">
            <article class="col-md-12">
                <h3>@GeodataCollection.MapSolutionTitle</h3>
                @if (!string.IsNullOrEmpty(Model.MethodForMappingShort))
                {
                    <p><strong>@GeodataCollection.MethodForMappingShort: </strong>@Model.MethodForMappingShort</p>
                }
                @if (!string.IsNullOrEmpty(Model.MappingRequirements))
                {
                    <p><strong>@GeodataCollection.MappingRequirements: </strong>@DisplayText(Model.MappingRequirements)</p>
                }
                @if (!string.IsNullOrEmpty(Model.Link))
                {
                    <p><strong>@GeodataCollection.Link: </strong><a href="@Model.Link" target="_blank">@GeodataCollection.Link</a></p>
                }
                @if (!string.IsNullOrEmpty(Model.OtherWebInfoAboutMappingMethodology))
                {
                    <p><strong>@GeodataCollection.OtherWebInfoAboutMappingMethodology: </strong><a href="@Model.OtherWebInfoAboutMappingMethodology" target="_blank">@GeodataCollection.OtherWebInfoAboutMappingMethodology</a></p>
                }
                @if (!string.IsNullOrEmpty(Model.SupportSchemes))
                {
                    <p><strong>@GeodataCollection.SupportSchemes: </strong>@DisplayText(Model.SupportSchemes)</p>
                }


            </article>
        </div>
      
        <div class="row">
            <article class="col-md-12">
                <h3>@GeodataCollection.OtherInformation</h3>
                @if (!string.IsNullOrEmpty(Model.AidAndSubsidies))
                {
                    <p><strong>@GeodataCollection.AidAndSubsidies: </strong>@DisplayText(Model.AidAndSubsidies)</p>
                }
                @if (!string.IsNullOrEmpty(Model.OtherInfo))
                {
                    <p><strong>@GeodataCollection.OtherInfo: </strong>@DisplayText(Model.OtherInfo)</p>
                }
                @if (!string.IsNullOrEmpty(Model.LinkOtherInfo))
                {

            <p><strong>@GeodataCollection.LinkOtherInfo: </strong><a href="@Model.LinkOtherInfo" target="_blank">@GeodataCollection.LinkOtherInfo</a></p>

                }
            </article>
        </div>
        <div class="row">
            <article class="col-md-12">
                <h3>@GeodataCollection.ContactInformation</h3>
                @if (!string.IsNullOrEmpty(Model.OrganizationInfo))
                {
                    <p><strong>@GeodataCollection.OrganizationInfo: </strong>@Model.OrganizationInfo</p>
                }
                @if (!string.IsNullOrEmpty(Model.ContactEmail))
                {
                    <p><strong>@GeodataCollection.ContactEmail: </strong><a href="mailto:@Model.ContactEmail" target="_blank">@Model.ContactEmail</a></p>
                }
               
               
               
            </article>
        </div>
        <div class="hidden-print">
            <hr />
            @if (User.Identity.IsAuthenticated && User.IsInRole(GeonorgeRoles.MetadataAdmin))
            {
                <a href="/@GeodataCollection.RegisterSeoName/edit?id=@Model.systemId" class="btn btn-default btn-space pull-right">@Shared.Edit</a>
                <a href="/@GeodataCollection.RegisterSeoName/delete?id=@Model.systemId" class="btn btn-default btn-space pull-right">@Shared.Delete</a>
            }
            <a href="/@GeodataCollection.RegisterSeoName">@Shared.Back</a>
        </div>
