@model Kartverket.Register.Models.GeoDataCollection
@using Kartverket.Register.Resources;
@using Geonorge.AuthLib.Common;
@using Markdig;
@using System.Security.Claims;
@{
    ViewBag.Title = Model.Title;
}
@helper DisplayText(string s, bool replaceParagraph = false)
{
    var pipeline = new MarkdownPipelineBuilder()
                      .UseSoftlineBreakAsHardlineBreak()
                      .Build();
    s = Markdown.ToHtml(s, pipeline);
    if (replaceParagraph)
    {
        s = s.Replace("<p>", String.Empty).Replace("</p>", String.Empty);
    }
    @(new HtmlString(s))

}
@section breadcrumb {
    <li><a href="/@GeodataCollection.RegisterSeoName">@GeodataCollection.RegisterName</a></li>
    <li>@Model.Title</li>
}

<section class="heading">
    <article class="row">
        <div class="col-sm-12">
            <h1 class="small-h1">
                @Model.Title
            </h1>
        </div>
    </article>
</section>
 <div class="col-md-6 pull-right">
        @if (!string.IsNullOrEmpty(Model.ThumbnailFileName))
        {<p>
                <img class="fa-pencil-square fa" data-toggle="modal" data-target="#myModal" style="cursor: pointer;" src="/data/img/@Model.ImageFileName" alt="@Model.ImageFileName" />
                <!-- Modal -->
                <div class="modal fade" id="myModal" role="img" style="display: none; position: fixed; padding-top: 20px; left: 10px; top: 0; width: 100%; height: 100%; overflow: auto;">
                    <div style="display: flex; justify-content: center">
                        <div class="modal-dialog" style="width: 70%; height: 90%; margin: 0; padding: 0;">
                            <!-- Modal content-->
                            <div class="modal-content" style="height: auto; min-height: 100%; border-radius: 0;">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                                </div>
                                <div class="modal-body">
                                    <img src="/data/img/@Model.ImageFileName" alt="@Model.ImageFileName" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </p>
        }
    </div>
<div>
    <article>
        <p><strong>@GeodataCollection.Title: </strong>@Model.Title</p>
        <p><strong>@GeodataCollection.DatasetTitle: </strong>@Model.DatasetTitle</p>
        @if (!string.IsNullOrEmpty(Model.DatasetLink))
        {

            <p>
                <strong>
                    @GeodataCollection.DatasetLink:
                </strong>  <a href="@Model.DatasetLink" target="_blank">@GeodataCollection.DatasetLink</a>
            </p>
        }

        <p><strong>@GeodataCollection.Organization: </strong>@Model.Organization.NameTranslated()</p>
        @if (!string.IsNullOrEmpty(Model.OtherOrganizationsInvolved))
        {
            <p><strong>@GeodataCollection.OtherOrganizationsInvolved: </strong>@Model.OtherOrganizationsInvolved</p>
        }
    </article>
   
    <article>





        <h2 class="small-h2">@GeodataCollection.Roles</h2>
        @if (!string.IsNullOrEmpty(Model.Mapper))
        {
            <p><strong>@GeodataCollection.Mapper: </strong>@Model.Mapper</p>
        }

        @if (!string.IsNullOrEmpty(Model.DataOwner))
        {
            <p><strong>@GeodataCollection.DataOwner: </strong>@Model.DataOwner</p>
        }
        @if (Model.Responsible != null)
        {
            <p><strong>@GeodataCollection.Responsible: </strong>@Model.Responsible.NameTranslated()</p>
        }
        @if (!string.IsNullOrEmpty(Model.Distributor))
        {
            <p><strong>@GeodataCollection.Distributor: </strong>@Model.Distributor</p>
        }




    </article>
</div>
<div>
    <article>
        <h2 class="small-h2">@GeodataCollection.DeliverySolution</h2>

        @if (!string.IsNullOrEmpty(Model.Purpose))
        {
            <p><strong>@GeodataCollection.Purpose: </strong></p>
            <p><span style="white-space: pre-line">@Model.Purpose</span></p>
        }
        @if (!string.IsNullOrEmpty(Model.Methodology))
        {
            <p><strong>@GeodataCollection.Methodology: </strong>@DisplayText(Model.Methodology)</p>
        }
        @if (!string.IsNullOrEmpty(Model.DataOwner))
        {
            <p><strong>@GeodataCollection.DataOwner: </strong>@Model.DataOwner</p>
        }
        @if (Model.Responsible != null)
        {
            <p><strong>@GeodataCollection.Responsible: </strong>@Model.Responsible.NameTranslated()</p>
        }
        @if (!string.IsNullOrEmpty(Model.RegistrationRequirements))
        {
            <p><strong>@GeodataCollection.RegistrationRequirements: </strong>@DisplayText(Model.RegistrationRequirements)</p>
        }
        @if (!string.IsNullOrEmpty(Model.ProcessHistory) || !string.IsNullOrEmpty(Model.LinkToRequirementsForDelivery) || !string.IsNullOrEmpty(Model.LinkToMapSolution))
        {
            <ul>
                @if (!string.IsNullOrEmpty(Model.ProcessHistory))
                {
                    <li><a href="@Model.ProcessHistory" target="_blank">@Model.ProcessHistoryLabel</a></li>
                }
                @if (!string.IsNullOrEmpty(Model.LinkToRequirementsForDelivery))
                {
                    <li><a href="@Model.LinkToRequirementsForDelivery" target="_blank">@Model.LinkToRequirementsForDeliveryLabel</a></li>
                }
                @if (!string.IsNullOrEmpty(Model.LinkToMapSolution))
                {
                    <li><a href="@Model.LinkToMapSolution" target="_blank">@Model.LinkToMapSolutionLabel</a></li>
                }



                @if (!string.IsNullOrEmpty(Model.LinkInfoPage))
                {
                    <li><a href="@Model.LinkInfoPage" target="_blank">@Model.LinkInfoPageLabel</a></li>
                }
            </ul>
        }

        </article>
</div>

<div>
    <article>
        <h2 class="small-h2">@GeodataCollection.MapSolutionTitle</h2>
        @if (!string.IsNullOrEmpty(Model.MethodForMappingShort))
        {
            <p><strong>@GeodataCollection.MethodForMappingShort: </strong>@Model.MethodForMappingShort</p>
        }
        @if (!string.IsNullOrEmpty(Model.MappingRequirements))
        {
            <p><strong>@GeodataCollection.MappingRequirements: </strong>@DisplayText(Model.MappingRequirements)</p>
        }
        @if(!string.IsNullOrEmpty(Model.Link) || !string.IsNullOrEmpty(Model.OtherWebInfoAboutMappingMethodology) || !string.IsNullOrEmpty(Model.MappingRequirementsLink)) 
        { 
            <ul>
                @if (!string.IsNullOrEmpty(Model.Link))
                {
                <li><a href="@Model.Link" target="_blank">@Model.LinkLabel</a></li>
                }
                @if (!string.IsNullOrEmpty(Model.OtherWebInfoAboutMappingMethodology))
                {
                <li><a href="@Model.OtherWebInfoAboutMappingMethodology" target="_blank">@Model.OtherWebInfoAboutMappingMethodologyLabel</a></li>
                }
                @if (!string.IsNullOrEmpty(Model.MappingRequirementsLink))
                {
                <li><a href="@Model.MappingRequirementsLink" target="_blank">@Model.MappingRequirementsLinkLabel</a></li>

                }
            </ul>
        }
        @if (!string.IsNullOrEmpty(Model.SupportSchemes))
        {
            <p><strong>@GeodataCollection.SupportSchemes: </strong>@DisplayText(Model.SupportSchemes)</p>
        }


    </article>
</div>

<div>
    <article>
        <h2 class="small-h2">@GeodataCollection.OtherInformation</h2>
        @if (!string.IsNullOrEmpty(Model.AidAndSubsidies))
        {
            <p><strong>@GeodataCollection.AidAndSubsidies: </strong>@DisplayText(Model.AidAndSubsidies)</p>
        }
        @if (!string.IsNullOrEmpty(Model.OtherInfo))
        {
            <p><strong>@GeodataCollection.OtherInfo: </strong>@DisplayText(Model.OtherInfo)</p>
        }
        @if (!string.IsNullOrEmpty(Model.LinkOtherInfo))
        {

            <p><strong>@GeodataCollection.LinkOtherInfo: </strong><a href="@Model.LinkOtherInfo" target="_blank">@GeodataCollection.LinkOtherInfo</a></p>

        }
    </article>
</div>

    <article>
        <h2 class="small-h2">@GeodataCollection.ContactInformation</h2>
        @if (!string.IsNullOrEmpty(Model.OrganizationInfo))
        {
            <p><strong>@GeodataCollection.OrganizationInfo: </strong>@Model.OrganizationInfo</p>
        }
        @if (!string.IsNullOrEmpty(Model.ContactEmail))
        {
            <p><strong>@GeodataCollection.ContactEmail: </strong><a href="mailto:@Model.ContactEmail" target="_blank">@Model.ContactEmail</a></p>
        }



    </article>

<div class="hidden-print">
    <hr />
    @if (User.Identity.IsAuthenticated && User.IsInRole(GeonorgeRoles.MetadataAdmin) || (User.IsInRole(GeonorgeRoles.MetadataEditor) && Model.Owner == ClaimsPrincipal.Current.GetOrganizationName()) )
    {
        <a href="/@GeodataCollection.RegisterSeoName/edit?id=@Model.systemId" class="btn btn-default btn-space pull-right">@Shared.Edit</a>
        <a href="/@GeodataCollection.RegisterSeoName/delete?id=@Model.systemId" class="btn btn-default btn-space pull-right">@Shared.Delete</a>
    }
    <a href="/@GeodataCollection.RegisterSeoName">@Shared.Back</a>
</div>