@model Kartverket.Register.Models.GeoDataCollection
@using Kartverket.Register.Resources;
@using Geonorge.AuthLib.Common;
@using Markdig;
@{
    ViewBag.Title = Model.Title;
}
@section breadcrumb {
    <li><a href="/@GeodataCollection.RegisterSeoName">@GeodataCollection.RegisterName</a></li>
    <li>@Model.Title</li>
}

<section class="heading">
    <article class="row">
        <div class="col-sm-12">
            <h2>
                @Model.Title
            </h2>
        </div>
        <div class="col-sm-12">
            <strong>@GeodataCollection.Link: </strong><a href="@Model.Link" target="_blank">@Model.Link</a>
        </div>
        @if (!string.IsNullOrEmpty(Model.DatasetTitle))
        {
            <div class="col-sm-12">
                <strong>@GeodataCollection.DatasetTitle: </strong>@Model.DatasetTitle
            </div>
        }
        @if (!string.IsNullOrEmpty(Model.DatasetLink))
        {
            <div class="col-sm-12">
                <strong>@GeodataCollection.DatasetLink: </strong><a href="@Model.DatasetLink" target="_blank">@Model.DatasetLink</a>
            </div>
        }
        <div class="col-sm-12">
            <strong>@GeodataCollection.Organization: </strong>@Model.Organization.name
        </div>

        @if (!string.IsNullOrEmpty(Model.Mapper))
        {
            <div class="col-sm-12">
                <strong>@GeodataCollection.Mapper: </strong>@Model.Mapper
            </div>
        }

        @if (!string.IsNullOrEmpty(Model.DataOwner))
        {
            <div class="col-sm-12">
                <strong>@GeodataCollection.DataOwner: </strong>@Model.DataOwner
            </div>
        }

        @if (!string.IsNullOrEmpty(Model.Distributor))
        {
            <div class="col-sm-12">
                <strong>@GeodataCollection.Distributor: </strong>@Model.Distributor
            </div>
        }

        @if (!string.IsNullOrEmpty(Model.Purpose))
        {
            <div class="col-sm-12">
                <strong>@GeodataCollection.Purpose: </strong><p>@Model.Purpose</p>
            </div>
        }

        @if (!string.IsNullOrEmpty(Model.Methodology))
        {
            <div class="col-sm-12">
                <strong>@GeodataCollection.Methodology: </strong>@Html.Raw(Markdown.ToHtml(Model.Methodology))
            </div>
        }

        @if (!string.IsNullOrEmpty(Model.ProcessHistory))
        {
            <div class="col-sm-12">
                <strong>@GeodataCollection.ProcessHistory: </strong>@Html.Raw(Markdown.ToHtml(Model.ProcessHistory))
            </div>
        }

        @if (!string.IsNullOrEmpty(Model.RegistrationRequirements))
        {
            <div class="col-sm-12">
                <strong>@GeodataCollection.RegistrationRequirements: </strong>@Html.Raw(Markdown.ToHtml(Model.RegistrationRequirements))
            </div>
        }

        @if (!string.IsNullOrEmpty(Model.MappingRequirements))
        {
            <div class="col-sm-12">
                <strong>@GeodataCollection.MappingRequirements: </strong>@Html.Raw(Markdown.ToHtml(Model.MappingRequirements))
            </div>
        }

        @if (!string.IsNullOrEmpty(Model.MethodologyDocumentLink))
        {
            <div class="col-sm-12">
                <strong>@GeodataCollection.MethodologyDocumentLink: </strong><a href="@Model.MethodologyDocumentLink" target="_blank">@Model.MethodologyDocumentLink</a>
            </div>
        }

        @if (!string.IsNullOrEmpty(Model.MethodologyLinkWebPage))
        {
            <div class="col-sm-12">
                <strong>@GeodataCollection.MethodologyLinkWebPage: </strong><a href="@Model.MethodologyLinkWebPage" target="_blank">@Model.MethodologyLinkWebPage</a>
            </div>
        }

        @if (!string.IsNullOrEmpty(Model.SupportSchemes))
        {
            <div class="col-sm-12">
                <strong>@GeodataCollection.SupportSchemes: </strong>@Html.Raw(Markdown.ToHtml(Model.SupportSchemes))
            </div>
        }
    </article>
</section>


<div class="hidden-print">
    <hr />
    @if (User.Identity.IsAuthenticated && User.IsInRole(GeonorgeRoles.MetadataAdmin))
    {
        <a href="/@GeodataCollection.RegisterSeoName/edit?id=@Model.systemId" class="btn btn-default btn-space pull-right">@Shared.Edit</a>
        <a href="/@GeodataCollection.RegisterSeoName/delete?id=@Model.systemId" class="btn btn-default btn-space pull-right">@Shared.Delete</a>
    }
    <a href="/@GeodataCollection.RegisterSeoName">@Shared.Back</a>
</div>
