@{
    ViewBag.Title = "Import";
    var registerName = ViewBag.registerName;
    var registerSeoName = ViewBag.registerSeoName;
    var parentregister = ViewBag.parentRegister;
    var parentRegisterOwner = ViewBag.parentRegisterOwner;
    var parentRegisterSeoName = ViewBag.parentRegisterSeoName;
}

@section breadcrumb {
    @if (parentregister != null)
    {
        <li><a href="/register/@parentRegisterSeoName">@parentregister</a></li>
        <li><a href="/subregister/@parentRegisterSeoName/@parentRegisterOwner/@registerSeoName">@registerName</a></li>
        <li><a href="/kodeliste/@parentRegisterSeoName/@parentRegisterOwner/@registerSeoName/ny/">Ny</a></li>
        <li>@CodelistValues.Import</li>
    }
    else
    {
        <li><a href="/register/@registerSeoName">@registerName</a></li>
        <li><a href="/kodelister/@registerSeoName/ny/">Ny</a></li>
        <li>@CodelistValues.Import</li>
    }
}

<section class="heading">
    <div class="row">
        <div class="col-sm-12">
            <h2>
                @CodelistValues.ImportFile
            </h2>
        </div>
        <div class="col-sm-12">
            <span class="separator-lg"></span>
        </div>
    </div>
</section>
<p>@CodelistValues.ImportFileInfo...</p>
<form action="@Request.Url.LocalPath" method="post" enctype="multipart/form-data">
    @if (parentregister != null)
    {
        <input type="hidden" value="@parentRegisterSeoName" id="parentregister" name="parentregister" />
    }

    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            <div class="col-md-10">
                <input type="file" name="csvfile" />
                @*@Html.ValidationMessage("ErrorMessageFile")*@
            </div>
        </div>
    </div>

    <div class="form-group">
        <input type="submit" value="Importer" class="btn btn-default pull-right" />
        <a href="/kodeliste/@parentRegisterSeoName/@parentRegisterOwner/@registerSeoName/ny/">@Shared.Back</a>
    </div>

</form>