﻿@using Kartverket.Register.Helpers
@{
    ViewBag.Title = "Import";
    var path = ViewBag.path;
    var registerName = ViewBag.registerName;
    var registerSeoName = ViewBag.registerSeoName;
    var parentregister = ViewBag.parentRegister;
    var parentRegisterOwner = ViewBag.parentRegisterOwner;
    var parentRegisterSeoName = ViewBag.parentRegisterSeoName;
    var parentPath = ViewBag.parentPath;
}

@section breadcrumb {
    @if (parentregister != null)
    {
        <li><a href="/@parentPath">@parentregister</a></li>
        <li><a href="/@path">@registerName</a></li>
        <li>@CodelistValues.Import</li>
    }
    else
    {
        <li><a href="/@path">@registerName</a></li>
        <li>@CodelistValues.Import</li>
    }
}

<section class="heading">
    <div class="row">
        <div class="col-sm-12">
            <h2>
                @CodelistValues.ImportFile
            </h2>
        </div>
        <div class="col-sm-12">
            <span class="separator-lg"></span>
        </div>
    </div>
</section>
<h3>Importer kodeliste</h3>
<p>@CodelistValues.ImportFileInfo...</p>
<p>Må ha følgende kolonner, men «Status;Gyldig fra;Gyldig til» kan ha tomme verdier. Status får standard verdi «Sendt inn». Gyldige statuser er: "Gyldig" , "Utgått" , "Utkast" :</p>
<p><b>Navn;Beskrivelse;Kodeverdi;Status;Gyldig fra;Gyldig til</b> <br /> eller <br /> <b>Navn;Beskrivelse;Kodeverdi;Navn engelsk;beskrivelse engelsk;kodeverdi engelsk;Status;Gyldig fra;Gyldig til</b></p>
<form action="@Request.Url.LocalPath" method="post" enctype="multipart/form-data">
    @if (parentregister != null)
    {
        <input type="hidden" value="@parentRegisterSeoName" id="parentregister" name="parentregister" />
    }

    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            <div class="col-md-10">
                <input type="file" name="csvfile" />
                @*@Html.ValidationMessage("ErrorMessageFile")*@
            </div>
        </div>
    </div>

    <div class="form-group">
        <input type="submit" value="Importer" class="btn btn-default pull-right" />
    </div>

</form>
<div class="form-horizontal">
    <br /><br />
    <hr />
</div>
<h3>Importer hierarkisk kopling</h3>
<p>Velg csv fil i UTF-8</p>
<p>Må ha følgende kolonner:</p>
<p><b>Broader;Narrower</b> </p>
<p>
    For eksempel:<br />
<pre>
Broader;Narrower
1100;1101
1100;1102
1200;1201
1200;1202
</pre>

</p>
<form action="@Request.Url.LocalPath" method="post" enctype="multipart/form-data">
    @if (parentregister != null)
    {
        <input type="hidden" value="@parentRegisterSeoName" id="parentregister" name="parentregister" />
    }
    <input type="hidden" value="true" id="hierarchy" name="hierarchy" />

    <div class="form-group">
        <label for="narrower" class="control-label col-md-4">Velg kodeliste du ønsker å danne hierarki med:</label>
        <div class="col-md-8">
            <div>
                <select name="codelistforhierarchy" class="chosen-select form-control">
                    <option value="">Velg kodeliste</option>
                    @foreach (var register in HtmlHelperExtensions.CodelistRegister().OrderBy(o => o.name))
                    {
                        <option value="@register.systemId">@register.name</option>
                    }
                </select>
            </div>
        </div>
    </div>

    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            <div class="col-md-10">
                <input type="file" name="csvfile" />
                @*@Html.ValidationMessage("ErrorMessageFile")*@
            </div>
        </div>
    </div>

    <div class="form-group">
        <input type="submit" value="Importer hierarki" class="btn btn-default pull-right" />
    </div>

</form>

<a class="pull-left" href="/@path">@Shared.Back</a>