@model Kartverket.Register.Models.ServiceAlert
﻿@using Kartverket.Register.Helpers

@{
    ViewBag.Title = "Foreslå nytt tjenestevarsel";
}

@section scripts
{
    <script>
        $(function () {
            // help text

            $("a.help-text-toggle").click(function (event) {
                event.preventDefault();
                var helpTextId = $(this).data("help-text-id");
                $("#" + helpTextId).toggle();
            });

            // add help icon to each help text paragraph
            $(".help-text").prepend("<span class=\"badge\">?</span> ");
        });
    </script>
}

@section breadcrumb {

    @foreach (var register in HtmlHelperExtensions.registers(Model.register))
    {
        <li><a href="@register.GetObjectUrl()">@register.name</a></li>
    }
    <li><a href="@Model.register.GetObjectUrl()">@Html.DisplayFor(model => model.register.name)</a></li>
    <li>Ny</li>
}
<section class="heading">
    <div class="row">
        <div class="col-sm-12">
            <h2>
                Nytt tjenestevarsel
            </h2>
        </div>
        <div class="col-sm-12">
            <span class="separator-lg"></span>
        </div>
    </div>
</section>

@using (Html.BeginForm("Create", "ServiceAlerts", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="form-horizontal">
        @Html.ValidationSummary(false, "Skjemaet er ikke korrekt utfylt. Vennligst rett opp følgende feil og mangler:", new { @class = "alert alert-danger" })
        @Html.Hidden("name", "navn")

        <div class="form-group required has-feedback">
            @Html.LabelFor(model => model.ServiceUuid, "Tjeneste", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                <div class="col-md-6 row">
                    @Html.DropDownList("ServiceUuid", null, "Velg tjeneste", htmlAttributes: new { @class = "form-control" })
                    <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
                </div>
                <div class="col-md-12 row">
                    <p class="help-text bg-success" id="help-text-serviceuuid" style="display: none">
                        Velg en tjeneste fra nedtrekkslisten. Du kan kun velge en tjeneste som allerede er registrert i Geonorge. Dersom tjenesten du skal legge inn nytt varsel for ikke finnes i nedtrekkslista, må du registrere tjenesten i Geonorge via metadataeditoren og din BAAT-bruker.
                    </p>
                </div>
            </div>
            <div class="col-sm-1 pull-right">
                <p class="form-control-static">
                    <a href="#" data-help-text-id="help-text-serviceuuid" class="badge help-text-toggle">?</a>
                </p>
            </div>
        </div>

        @Html.Hidden("ServiceType", Registers.NotSet)

        <div class="form-group required has-feedback">
            @Html.LabelFor(model => model.AlertType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                <div class="col-md-6 row">
                    @Html.DropDownList("AlertType", null, "Velg tjenestevarsel", htmlAttributes: new { @class = "form-control" })
                    <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
                </div>
                <div class="col-md-12 row">
                    <p class="help-text bg-success" id="help-text-alerttype" style="display: none">
                        Velg en type varsel fra nedtrekkslisten. Dersom du ikke finner en passende type varsel kan du sende en epost til <a href="mailto:post@norgedigitalt.no">post@norgedigitalt.no</a> og fremme ditt ønske om nye typer varsler. Men husk at for brukerne som mottar varslene så må varseltype være så konkret og presis som mulig, samtidig som det kan være forvirrende med altfor mange ulike typer varsel. Ofte er det godt nok med en varseltype som dekker et litt større emne. Forsøk derfor å bruke de foreslåtte varseltypene og gi heller en utdypende forklaring i feltet for "Varselet gjelder".
                    </p>
                </div>
            </div>
            <div class="col-sm-1 pull-right">
                <p class="form-control-static">
                    <a href="#" data-help-text-id="help-text-alerttype" class="badge help-text-toggle">?</a>
                </p>
            </div>
        </div>

        @Html.Hidden("Owner", Registers.NotSet)

        <div class="form-group required has-feedback">
            @Html.LabelFor(model => model.AlertDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                <div class="col-md-4 row">
                    @Html.EditorFor(model => model.AlertDate, new { cssClass = "date" })
                    <span class="field-validation-valid" id="AlertDate_validationMessage">Varslingsdato bør ikke settes bakover i tid</span>
                    <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
                </div>
                <div class="col-md-12 row">
                    <p class="help-text bg-success" id="help-text-alertdate" style="display: none">
                        Her velger du den datoen varselet er registrert i Geonorge. Systemet foreslår dagens dato. Når du trykker på «Publiser»-knappen blir varselet umiddelbart tilgjengelig for alle som følger tjenestevarsler, uavhengig av hvilken dato du har valgt i dette feltet.
                    </p>
                </div>
            </div>
            <div class="col-sm-1 pull-right">
                <p class="form-control-static">
                    <a href="#" data-help-text-id="help-text-alertdate" class="badge help-text-toggle">?</a>
                </p>
            </div>
        </div>

        <div class="form-group required has-feedback">
            @Html.LabelFor(model => model.EffectiveDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                <div class="col-md-4 row">
                    @Html.EditorFor(model => model.EffectiveDate, new { cssClass = "date" })
                    <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
                </div>
                <div class="col-md-12 row">
                    <p class="help-text bg-success" id="help-text-effectivedate" style="display: none">
                        Her velger du den datoen hvor tjenesten vil bli endret. I Norge digitalt er det 3 måneders varslingstid for endring eller fjerning av tjenester. Systemet foreslår derfor en dato 3 måneder frem i tid for dette feltet.
                    </p>
                </div>
            </div>
            <div class="col-sm-1 pull-right">
                <p class="form-control-static">
                    <a href="#" data-help-text-id="help-text-effectivedate" class="badge help-text-toggle">?</a>
                </p>
            </div>
        </div>

        <div class="form-group required has-feedback">
            @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                <div class="col-md-12 row">
                    @Html.TextAreaFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
                    <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
                </div>
                <div class="col-md-12 row">
                    <p class="help-text bg-success" id="help-text-note" style="display: none">
                        Her skriver du inn hvilke konkrete endringer som vil bli gjort i tjenesten som dette varselet omfatter. Dersom varselet gjelder endring av en URL bør du oppgi hva den nye URLen vil bli.
                        Dersom varselet gjelder endring i datakvalitet eller datastruktur, bør du opplyse hva disse endringene innebærer slik at brukere/utviklere kan oppdatere sin klienter i tråd med endringene.
                        I alle tilfeller er det også lurt å oppgi årsaken til endringene, siden brukerne ofte blir mer forståelsesfulle for endringer dersom de får informasjon om hvorfor det er nødvendig å endre i tjenesten.

                    </p>
                </div>
            </div>
            <div class="col-sm-1 pull-right">
                <p class="form-control-static">
                    <a href="#" data-help-text-id="help-text-note" class="badge help-text-toggle">?</a>
                </p>
            </div>
        </div>

        <div class="form-group">
            <hr />
            <input type="submit" value="Publiser" class="btn btn-default pull-right" />
            <a href="@Model.register.GetObjectUrl()">@Shared.Back</a>
        </div>
    </div>
}
<script>
    $(function () {

        var today = new Date();
        today.setHours(0, 0, 0, 0);

        $(".date").datepicker("option", "minDate", today);


        $('#AlertDate').change(function () {
            var dateSelected = $('#AlertDate').val();

            var selectedDay = dateSelected.substr(0, 2);
            var selectedMonth = dateSelected.substr(3, 2);
            var selectedYear = dateSelected.substr(6, 4);
            var selectedDate = new Date(selectedYear, selectedMonth - 1, selectedDay);

            if (selectedDate < today) {
                $('#AlertDate_validationMessage').removeClass("field-validation-valid");
                $('#AlertDate_validationMessage').addClass("field-validation-error")
                return false;
            }
            else
                $('#AlertDate_validationMessage').removeClass("field-validation-error");
                $('#AlertDate_validationMessage').addClass("field-validation-valid")
        });

        $('.input-validation-error').each(function () {
            var inputElement = $(this);
            console.log(inputElement);
            inputElement.closest('.form-group').addClass('has-error');
        });

    });



</script>

