@model Kartverket.Register.Models.ServiceAlert
﻿@using Kartverket.Register.Helpers

@{
    ViewBag.Title = "Foreslå nytt tjenestevarsel";
}

@section scripts
{
    <script>
        $(function () {
            // help text

            $("a.help-text-toggle").click(function (event) {
                event.preventDefault();
                var helpTextId = $(this).data("help-text-id");
                $("#" + helpTextId).toggle();
            });

            // add help icon to each help text paragraph
            $(".help-text").prepend("<span class=\"badge\">?</span> ");
        });
    </script>
}

@section breadcrumb {
    @if (Model.register.parentRegister != null)
    {
        Kartverket.Register.Models.Register mainRegister = HtmlHelperExtensions.mainRegister(Model.register);
        Kartverket.Register.Models.Register parentRegister = Model.register.parentRegister;
        <li><a href="/register/@mainRegister.seoname/">@mainRegister.name</a></li>
        <li>Ny</li>
        <li><a href="/subregister/@Model.register.parentRegister.seoname/@Model.register.parentRegister.owner.seoname/@Model.register.seoname">@Model.register.name</a></li>
        while (parentRegister != null && parentRegister != mainRegister)
        {
            <li><a href="/subregister/@parentRegister.parentRegister.seoname/@parentRegister.parentRegister.owner.seoname/@parentRegister.seoname">@parentRegister.name</a></li>
            parentRegister = parentRegister.parentRegister;
        }
    }
    else
    {
        <li><a href="/register/@Model.register.seoname">@Model.register.name</a></li>
        <li>Ny</li>
    }
}
<section class="heading">
    <div class="row">
        <div class="col-sm-12">
            <h2>
                Nytt tjenestevarsel
            </h2>
        </div>
        <div class="col-sm-12">
            <span class="separator-lg"></span>
        </div>
    </div>
</section>

@using (Html.BeginForm("Create", "ServiceAlerts", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.Hidden("name", "navn")

        <div class="form-group">
            @Html.LabelFor(model => model.ServiceUuid, "Tjeneste:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                <div class="col-md-6 row">
                    @Html.DropDownList("ServiceUuid", null, "Velg tjeneste", htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="col-md-12 row">
                    @Html.ValidationMessageFor(model => model.ServiceUuid, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-12 row">
                    <p class="help-text bg-success" id="help-text-serviceuuid" style="display: none">
                        Velg en tjeneste fra nedtrekkslisten. Du kan kun velge en tjeneste som allerede er registrert i Geonorge. Dersom tjenesten du skal legge inn nytt varsel for ikke finnes i nedtrekkslista, må du registrere tjenesten i Geonorge via metadataeditoren og din BAAT-bruker.
                    </p>
                </div>
            </div>
            <div class="col-sm-1 pull-right">
                <p class="form-control-static">
                    <a href="#" data-help-text-id="help-text-serviceuuid" class="badge help-text-toggle">?</a>
                </p>
            </div>
        </div>

        @Html.Hidden("ServiceType", "Ikke angitt")

        <div class="form-group">
            @Html.LabelFor(model => model.AlertType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                <div class="col-md-6 row">
                    @Html.DropDownList("AlertType", null, "Velg tjenestevarsel", htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="col-md-12 row">
                    @Html.ValidationMessageFor(model => model.AlertType, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-12 row">
                    <p class="help-text bg-success" id="help-text-alerttype" style="display: none">
                        Velg en type tjenestevarsel fra nedtrekkslisten.
                    </p>
                </div>
            </div>
            <div class="col-sm-1 pull-right">
                <p class="form-control-static">
                    <a href="#" data-help-text-id="help-text-alerttype" class="badge help-text-toggle">?</a>
                </p>
            </div>
        </div>

        @Html.Hidden("Owner", "Ikke angitt")

        <div class="form-group">
            @Html.LabelFor(model => model.AlertDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                <div class="col-md-3 row">
                    @Html.EditorFor(model => model.AlertDate, new { cssClass = "date" })
                </div>
                <div class="col-md-12 row">
                    @Html.ValidationMessageFor(model => model.AlertDate, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-12 row">
                    <p class="help-text bg-success" id="help-text-alertdate" style="display: none">
                        Her velger du den datoen varselet er registrert i Geonorge. Systemet foreslår dagens dato. Når du trykker på «Publiser»-knappen blir varselet umiddelbart tilgjengelig for alle som følger tjenestevarsler, uavhengig av hvilken dato du har valgt i dette feltet.
                    </p>
                </div>
            </div>
            <div class="col-sm-1 pull-right">
                <p class="form-control-static">
                    <a href="#" data-help-text-id="help-text-alertdate" class="badge help-text-toggle">?</a>
                </p>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EffectiveDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                <div class="col-md-3 row">
                    @Html.EditorFor(model => model.EffectiveDate, new { cssClass = "date" })
                </div>
                <div class="col-md-12 row">
                    @Html.ValidationMessageFor(model => model.EffectiveDate, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-12 row">
                    <p class="help-text bg-success" id="help-text-effectivedate" style="display: none">
                        Her velger du den datoen hvor tjenesten vil bli endret. I Norge digitalt er det 3 måneders varslingstid for endring eller fjerning av tjenester. Systemet foreslår derfor en dato 3 måneder frem i tid for dette feltet.
                    </p>
                </div>
            </div>
            <div class="col-sm-1 pull-right">
                <p class="form-control-static">
                    <a href="#" data-help-text-id="help-text-effectivedate" class="badge help-text-toggle">?</a>
                </p>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                <div class="col-md-12 row">
                    @Html.TextAreaFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="col-md-12 row">
                    @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-12 row">
                    <p class="help-text bg-success" id="help-text-note" style="display: none">
                        Her skriver du inn hvilke konkrete endringer som vil bli gjort i tjenesten som dette varselet omfatter. Dersom varselet gjelder endring av en URL bør du oppgi hva den nye URLen vil bli.
                        Dersom varselet gjelder endring i datakvalitet eller datastruktur, bør du opplyse hva disse endringene innebærer slik at brukere/utviklere kan oppdatere sin klienter i tråd med endringene.
                        I alle tilfeller er det også lurt å oppgi årsaken til endringene, siden brukerne ofte blir mer forståelsesfulle for endringer dersom de får informasjon om hvorfor det er nødvendig å endre i tjenesten.

                    </p>
                </div>
            </div>
            <div class="col-sm-1 pull-right">
                <p class="form-control-static">
                    <a href="#" data-help-text-id="help-text-note" class="badge help-text-toggle">?</a>
                </p>
            </div>
        </div>

        <div class="form-group">
            <hr />
            <input type="submit" value="Publiser" class="btn btn-default pull-right" />
            <a href="@Model.register.GetObjectUrl()">Tilbake</a>
        </div>
    </div>
}

