@model IEnumerable<Kartverket.Register.Models.ServiceAlert>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.register.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.submitter.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.versioning.containedItemClass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateSubmitted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateAccepted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateNotAccepted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateSuperseded)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateRetired)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.seoname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.versionNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.versionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.documentUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.approvalDocument)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.approvalReference)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Accepted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlertDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EffectiveDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlertType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceMetadataUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceUuid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Owner.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.register.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.submitter.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.versioning.containedItemClass)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateSubmitted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.modified)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateAccepted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateNotAccepted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateSuperseded)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateRetired)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.seoname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.versionNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.versionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.documentUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.approvalDocument)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.approvalReference)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Accepted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AlertDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EffectiveDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AlertType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Note)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceMetadataUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceUuid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Owner.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.systemId }) |
            @Html.ActionLink("Details", "Details", new { id=item.systemId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.systemId })
        </td>
    </tr>
}

</table>
