@model Kartverket.Register.Models.Dataset

<div class="row result-row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="hidden-xs col-sm-3 col-md-3 col-lg-3 top-padding">

            <p>Metadata: 
                @if (!string.IsNullOrWhiteSpace(Model.MetadataUrl))
                {
                    <a href="@Model.MetadataUrl" class="btn btn-sm btn-fresh-green" title="Vis metadata for @Model.name"><span class="glyphicon glyphicon-globe"></span> Vis</a>
                }
            </p>
            <p>Produktark
                @if (!string.IsNullOrWhiteSpace(Model.ProductSheetUrl))
                {
                    <a href="@Model.ProductSheetUrl" class="btn btn-sm btn-fresh-blue" title="Last ned produktark for @Model.name"><span class="glyphicon glyphicon-info-sign"></span> Hent</a>
                }
            </p>
            <p>Kartografi: 
                @if (!string.IsNullOrWhiteSpace(Model.PresentationRulesUrl))
                {
                    <a href="@Model.PresentationRulesUrl" class="btn btn-sm btn-fresh-green" title="Last ned kartografi for @Model.name"><span class="glyphicon glyphicon-picture"></span> Hent</a>
                }
            </p>
            <p>Produktspesifikasjon 
                @if (!string.IsNullOrWhiteSpace(Model.ProductSpecificationUrl))
                {
                    <a href="@Model.ProductSpecificationUrl" class="btn btn-sm btn-fresh-blue" title="Last ned produktspesifikasjon for @Model.name"><span class="glyphicon glyphicon-list-alt"></span> Hent</a>
                }
            </p>
            <p>SOSI: 
                @if (!string.IsNullOrWhiteSpace(Model.DistributionFormat) && Model.DistributionFormat.Trim().ToLower().Equals("sosi"))
                    {
                    <text>ja</text>
                    }
                    else
                    {
                    <text>nei</text>
                    }
            </p>
            <p>WMS: 
                @if (!string.IsNullOrWhiteSpace(Model.WmsUrl))
                {
                    <a href="@Model.WmsUrl">WMS</a>
                }
            </p>


        </div>
        <div class="hidden-xs col-sm-6 col-md-6 col-lg-6 top-padding">
            Merknader: <br/> @Model.Notes
        </div>
    </div>
</div>

