﻿@using Kartverket.Register.Helpers
@model PagedList.IPagedList<Kartverket.Register.Models.RegisterItem>
@using PagedList;
@using PagedList.Mvc;


@using Kartverket.Register.Models

<div class="search-results">
    @foreach (Document item in Model)
    {
        <div class="row result-row metadata">
            <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12" style="height: auto; border: medium none; box-shadow: none;">
                <div class="col-img col-xs-6 col-sm-2 col-md-2 col-lg-2 pull-left">
                    @{
                        string thumb = "/Content/pdf.jpg";
                        if (item.thumbnail != null)
                        {
                            thumb = item.thumbnail;
                        }
                    }
                    <a href="@Html.DisplayFor(modelItem => item.documentUrl)"><img src="@thumb" class="img-thumbnail img-responsive pull-left" alt="forside pdf" /></a>
                </div>
                <div class="col-no-padding-xs col-title col-sm-5 col-md-5 col-lg-5">
                    <a class="" href="/register/@Html.ToUrl(item.register.name)/@Html.ToUrl(item.documentowner.name)/@Html.ToUrl(item.name)/">
                        <h4 class="role-button" role="button" style="font-size: 18px;">
                            @item.name
                        </h4>
                    </a>
                    <a class ="" href="/register/@Html.ToUrl(item.register.name)/@Html.ToUrl(@item.documentowner.name)/">
                        <img src="@Url.Content("~/data/organizations/" +  item.documentowner.logoFilename)" class="img-responsive" alt="@Html.DisplayFor(modelItem => item.documentowner.name)" />
                    </a>
                    <p class=" ">
                        @Html.DisplayFor(modelItem => item.description)
                    </p>
                </div>
                <div class="col-no-padding-xs col-actions col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <a href="@Html.DisplayFor(modelItem => item.documentUrl)" type="button" class="btn btn-lg btn-link">
                        <span class="glyphicon glyphicon-download-alt"> </span>last ned
                    </a><br />
                </div>
                <div class="col-no-padding-xs col-xs-6 col-sm-2 col-md-2 col-lg-2 col-actions pull-right">

                    @if (item.status == null)
                    {
                        <span>Status: Ikke angitt</span><br />
                    }
                    else
                    {
                        <span>Status: @item.status.description <i class="statusIcon-@item.statusId"></i></span><br />
                    }
                    <br />
                    @if (item.documentUrl == null)
                    {
                        <span>Referanse: Ikke angitt</span><br />;
                    }
                    else if (item.documentUrl.Contains("/data/documents/"))
                    {
                        <span>Referanse: Intern</span><br />
                    }
                    else
                    {
                        <span>Referanse: Ekstern</span><br />
                    }
                </div>

            </div>

        </div>
        <hr />
    }
</div>

<div class="text-center">
    Registere viser @Model.FirstItemOnPage - @Model.LastItemOnPage av @Model.TotalItemCount treff

    @Html.PagedListPager(Model, page => Url.Action("Details", new { page, sorting = ViewBag.SortOrder }))
</div>