﻿@using Kartverket.Register.Helpers
@model List<Kartverket.Register.Models.RegisterItem>

@using Kartverket.Register.Models


<div>
@foreach (Document item in Model)
{

    <div class="row result-row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="hidden-xs col-sm-1 col-md-1 col-lg-1 top-padding">
                @{
                    string thumb = "/Content/pdf.jpg";
                    if (item.thumbnail != null)
                    {
                        thumb = item.thumbnail;
                    }
                }
                <a href="@Html.DisplayFor(modelItem => item.documentUrl)"><img src="@thumb" class="img-responsive center-block" alt="forside pdf" /></a>

            </div>
            <div class="col-no-padding-xs col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <h4 class="role-button" role="button">
                    <a href="/dokument/@Html.ToUrl(item.name)/@item.systemId">@item.name</a>                    
                </h4>
                <p>
                    @Html.DisplayFor(modelItem => item.documentowner.name)
                </p>
                <p>
                    @Html.DisplayFor(modelItem => item.description)
                </p>
            </div>
            <div class="col-no-padding-xs col-xs-6 col-sm-2 col-md-2 col-lg-2 ">
                <a href="@Html.DisplayFor(modelItem => item.documentUrl)" type="button" class="btn btn-lg btn-link">
                    <span class="glyphicon glyphicon-download-alt pull-left"> </span>last ned
                </a><br />
                @if (item.status == null)
                {
                    <span>Status: Ikke angitt</span><br />
                }
                else
                {
                    <span>Status: @item.status.description <i class="statusIcon-@item.statusId"></i></span><br />
                }
            </div>
        </div>
    </div>
    
    <hr />
}


</div>
