@model HashSet<Kartverket.Register.Models.RegisterItem>

@using Kartverket.Register.Models


<table class="table">
    <tr>
        <th>
            Navn
        </th>
        <th>
            Definisjon
        </th>
        <th>
            EPSG
        </th>
        <th>
            SOSI referansesystem
        </th>
        <th>
            Ansvarlig organisasjon
        </th>
        <th>
            Ekstern referanse
        </th>
        <th>

        </th>
       
    </tr>

    @foreach (EPSG item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.epsg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sosiReferencesystem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.submitter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.externalReference)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.systemId }) |
                @Html.ActionLink("Details", "Details", new { id = item.systemId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.systemId })
            </td>
        </tr>
    }

</table>



