@model HashSet<Kartverket.Register.Models.RegisterItem>
@using Kartverket.Register.Models
@using Kartverket.Register.Helpers

<table class="table">
    <tr>
        <th>
            Navn
        </th>
        <th>
            Definisjon
        </th>
        <th>
            EPSG
        </th>
        <th>
            SOSI referansesystem
        </th>
        <th>
            Ansvarlig organisasjon
        </th>
        <th>
            Ekstern referanse
        </th>
        <th>
            Inspirekrav
        </th>
        <th>
            Nasjonalt krav
        </th>
        <th>
            Nasjonalt krav for havområder
        </th>

    </tr>

    @foreach (EPSG item in Model)
    {
        <tr>
            <td>
                <b><a href="/epsg/@Html.ToUrl(item.name)/@item.systemId">@item.name</a></b>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.epsg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sosiReferencesystem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.submitter.name)
            </td>
            <td>
                <a target="_blank" href="@Html.DisplayFor(modelItem => item.externalReference)">Vis</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.inspireRequirement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nasjonalRequirements)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nasjonalRequirementSeas)
            </td>

        </tr>
    }
</table>
<hr />


