@model List<Kartverket.Register.Models.RegisterItem>
@using Kartverket.Register.Models
@using Kartverket.Register.Helpers

<table class="table">
    <tr>
        <th>
            Navn
        </th>
        <th>
            Definisjon
        </th>
        <th>
            EPSG
        </th>
        <th>
            SOSI referansesystem
        </th>
        <th>
            Ekstern referanse
        </th>
        <th>
            Inspirekrav
        </th>
        <th>
            Nasjonalt krav
        </th>
        <th>
            Nasjonalt krav for havområder
        </th>

    </tr>

    @foreach (EPSG item in Model)
    {
        <tr>
            <td>
                <a href="/register/@item.register.seoname/@item.submitter.seoname/@item.seoname">@Html.DisplayFor(modelItem => item.name)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.epsgcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sosiReferencesystem)
            </td>
            <td>
                <a target="_blank" href="@Html.DisplayFor(modelItem => item.externalReference)">Vis</a>
            </td>
            <td>
                @if (item.inspireRequirement == null)
                {
                    <text>Ikke angitt</text>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.inspireRequirement.description)
                }
            </td>
            <td>
                @if (item.nationalRequirement == null)
                {
                    <text>Ikke angitt</text>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.nationalRequirement.description)
                }
            </td>
            <td>
                @if (item.nationalSeasRequirement == null)
                {
                    <text>Ikke angitt</text>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.nationalSeasRequirement.description)
                }
            </td>

        </tr>
    }
</table>
<hr />


