@model PagedList.IPagedList<Kartverket.Register.Models.Register>
@using PagedList;
@using PagedList.Mvc;
@using Kartverket.Register.Models

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        @Html.PagedListPager(Model, page => Url.Action("Details", new { page, sorting = ViewBag.SortOrder }))
        <br /><br />
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        Registere viser @Model.FirstItemOnPage - @Model.LastItemOnPage av @Model.TotalItemCount
    </div>


    @Html.Partial("_visningstyper")
</div>

<table class="table">
    <tr>
        <th>
            Navn
        </th>
        <th>
            Beskrivelse
        </th>
        <th>
            Administrator
        </th>
        <th>
            Kontrollorgan
        </th>
        <th>
        </th>
    </tr>

    @foreach (Register item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.manager.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.owner.name)
            </td>
            <td>
                
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.systemId }) |
                @Html.ActionLink("Details", "Details", new { id = item.systemId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.systemId })
            </td>
        </tr>
    }

</table>

