@model Kartverket.Register.Models.Register

@{
    ViewBag.Title = Registers.SuggestNewRegister;
}

@section breadcrumb {
    <li>@Registers.SuggestNewRegister</li>
}

<section class="heading">
    <div class="row">
        <div class="col-sm-12">
            <h2>
                @Registers.SuggestNewRegister
            </h2>
        </div>
        <div class="col-sm-12">
            <span class="separator-lg"></span>
        </div>
    </div>
</section>

@using (Html.BeginForm("Create", "Registers", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessage("ErrorMessage")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.containedItemClass, "Lovlig innhold", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("containedItemClass", null, "-- Velg innhold --", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.containedItemClass, "", new { @class = "text-danger" })
            </div>
        </div>

        <br />

        <div class="form-group">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                @Html.LabelFor(model => model.accessId, Registers.AccessLabel)
                <br /><small>@Registers.AccessText</small> <br /><br />
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5">
                @Html.RadioButton("accessId", 1, htmlAttributes: new { @id = "admin", @title = "Administrator har full tilgang", @class = "col-md-1", @checked = "checked" })
                <label class="col-md-4" for=" admin">Admin</label>
                @Html.RadioButton("accessId", 2, htmlAttributes: new { @id = "editor", @title = "Administrator har full tilgang og Editor kan foreslå, endre og slette egne oppføringer", @class = "col-md-1" })
                <label class="col-md-4" for="editor">Admin + Editor</label>
            </div>
        </div>

    </div>

    <div class="form-group">
        <hr />
        <input type="submit" value="@Registers.Propose" class="btn btn-default pull-right" />
        <a href="/">@Shared.Back</a>
    </div>

}