@model Kartverket.Register.Models.Register

@{
    ViewBag.Title = Shared.Delete + " " + Model.name;
}

@section breadcrumb {
    <li>@Shared.Delete</li>
}


<section class="heading">
    <div class="row">
        <div class="col-sm-12">
            <h2>
                @Shared.Delete register
            </h2>
        </div>
        <div class="col-sm-12">
            <span class="separator-lg"></span>
        </div>
    </div>
</section>

<h4>@Registers.DeleteConfirm <b>@Model.name</b>?</h4>
@Html.ValidationMessage("ErrorMessageDelete")
<hr />

@using (Html.BeginForm())
{

    <div class="form-actions no-color">
        <input type="submit" value="@Shared.Delete" class="btn btn-default pull-right" />
        
        <a href="/register/@Model.seoname/">@Shared.Back</a>
    </div>
}

