@model Kartverket.Register.Models.ViewModels.RegisterItemVeiwModel
﻿@using Kartverket.Register.Helpers

@{
    ViewBag.Title = @Model.currentVersion.name;
    var documentOwner = ViewBag.registerItemOwner;
}

<script>
    $(function () {
        var menu_state = localStorage.getItem("navtabselected");

        $('#gjeldendeLink').click(function (event) {
            localStorage.setItem("navtabselected", "gjeldende");
        });

        $('#foralagLink').click(function (event) {
            localStorage.setItem("navtabselected", "forslag");
        });

        $('#historiskeLink').click(function (event) {
            localStorage.setItem("navtabselected", "historiske");
        });

        if (menu_state == 'gjeldende' || menu_state == null)
            $('#gjeldendeLink').click();
        else if (menu_state == 'historiske')
            $('#historiskeLink').click();
        else if (menu_state == 'forslag')
            $('#forslagLink').click();
    }
)
</script>

@section breadcrumb {
    <li><a href="/register/@Model.currentVersion.register.seoname">@Html.DisplayFor(model => model.currentVersion.register.name)</a></li>
    <li class="active">@Html.DisplayFor(model => model.currentVersion.name)</li>
}
<div class="page-header">
    <h2 class="h-md">@Html.DisplayFor(model => model.currentVersion.name)</h2>
    <hr>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <br />
        <ul class="nav nav-tabs nav-tabs-topp" style="clear:both">
            <li class="tab active"><a aria-expanded="false" href="#gjeldende" id="gjeldendeLink" data-toggle="tab"><span class="glyphicon glyphicon-list-alt"></span> Gjeldende</a></li>
            <li class="tab pull-right"><a aria-expanded="true" href="#forslag" id="forslagLink" data-toggle="tab"><span class="glyphicon glyphicon-home"></span>Forslag</a></li>
            <li class="tab pull-right"><a aria-expanded="false" href="#historiske" id="historiskeLink" data-toggle="tab"><span class="glyphicon glyphicon-user"></span>Historiske</a></li>
        </ul>
        <br/>
    </div>

        @if (Model.currentVersion.register.containedItemClass == "Organization")
        {
            @Html.Partial("_detailsOrganization")
        }
        @if (Model.currentVersion.register.containedItemClass == "Document")
        {
            <div class="tab-content">
                <div class="tab-pane active" id="gjeldende">
                    @Html.Partial("_currentVersionDocument", Model)
                </div>
                <div class="tab-pane" id="historiske">
                    @Html.Partial("_histroicalDocuments", Model)
                </div>
                <div class="tab-pane" id="forslag">
                    @Html.Partial("_suggestedDocuments", Model)
                </div>
            </div>
        }
        @if (Model.currentVersion.register.containedItemClass == "Dataset")
        {
            @Html.Partial("_detailsDataset")
        }
        @if (Model.currentVersion.register.containedItemClass == "EPSG")
        {
            @Html.Partial("_detailsEpsg")
        }
        @if (Model.currentVersion.register.containedItemClass == "Register")
        {
            @Html.Partial("_detailsSubregister")
        }
        @if (Model.currentVersion.register.containedItemClass == "CodelistValue")
        {
            @Html.Partial("_detailsCodelistValue")
        }
        
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <hr />
        <p>            
          
        <a href="/register/@Model.currentVersion.register.seoname">Tilbake</a>

        @if (Request.IsAuthenticated)
        {
                
            if (Html.IsGeonorgeAdmin(System.Security.Claims.ClaimsPrincipal.Current.Claims) || 
                (Html.GetSecurityClaim(System.Security.Claims.ClaimsPrincipal.Current.Claims, "organization").ToLower() == Model.currentVersion.submitter.name.ToLower() && Html.IsGeonorgeEditor(System.Security.Claims.ClaimsPrincipal.Current.Claims)) ||
                (Html.GetSecurityClaim(System.Security.Claims.ClaimsPrincipal.Current.Claims, "organization") == @documentOwner && Html.IsGeonorgeEditor(System.Security.Claims.ClaimsPrincipal.Current.Claims)))
            {        
                if (Model.currentVersion.register.containedItemClass == "Organization")
                {
                    <span>| </span><a href="/organisasjoner/@Model.currentVersion.register.seoname/@Model.currentVersion.submitter.seoname/@Model.currentVersion.seoname/rediger">Endre</a>
                    <span>| </span><a href="/organisasjoner/@Model.currentVersion.register.seoname/@Model.currentVersion.submitter.seoname/@Model.currentVersion.seoname/slett">Slett</a>
                }
                if (Model.currentVersion.register.containedItemClass == "Document")
                {
                    <span> | </span><a href="/dokument/@Model.currentVersion.register.seoname/@documentOwner/@Model.currentVersion.seoname/rediger/">Endre</a>
                    <span> | </span><a href="/dokument/@Model.currentVersion.register.seoname/@documentOwner/@Model.currentVersion.seoname/slett">Slett</a>
                    <span> | </span><a href="/dokument/@Model.currentVersion.register.seoname/@documentOwner/@Model.currentVersion.seoname/ny">Foreslå ny versjon av @Model.currentVersion.name</a>
                }
                if (Model.currentVersion.register.containedItemClass == "Dataset")
                {
                    <span> | </span><a href="/dataset/@Model.currentVersion.register.seoname/@Model.currentVersion.submitter.seoname/@Model.currentVersion.seoname/rediger/">Endre</a>
                    <span> | </span><a href="/dataset/@Model.currentVersion.register.seoname/@Model.currentVersion.submitter.seoname/@Model.currentVersion.seoname/slett">Slett</a>
                }
                if (Model.currentVersion.register.containedItemClass == "EPSG")
                {
                    <span>| </span><a href="/epsg-koder/@Model.currentVersion.seoname/rediger">Endre</a>
                    <span>| </span><a href="/epsg-koder/@Model.currentVersion.seoname/slett">Slett</a>
                }
                if (Model.currentVersion.register.containedItemClass == "CodelistValue")
                {
                    <span>| </span><a href="/kodeliste/@Model.currentVersion.register.seoname/@Model.currentVersion.register.owner.seoname/@Model.currentVersion.seoname/rediger">Endre</a>
                    <span>| </span><a href="/kodeliste/@Model.currentVersion.register.seoname/@Model.currentVersion.register.owner.seoname/@Model.currentVersion.seoname/slett">Slett</a>
                }


            }
        }

    </p>
</div>
