@using Kartverket.Register.Helpers
@using Kartverket.Register.Models.ViewModels
@model VersionsViewModel
﻿@using Kartverket.Register.Helpers

@{
    ViewBag.Title = Model.CurrentVersion.Name;
}

@section breadcrumb {
    @Html.Partial("_breadcrumb", Model.CurrentVersion)
    <li>@Model.CurrentVersion.Name</li>
}
<script>
    function ToogleEditAndDelete(tab)
    {
        if (tab == "gjeldende") {
            $('#edit-button').show();
            $('#delete-button').show();
        }
        else {
            $('#edit-button').hide();
            $('#delete-button').hide();
        }
    }
</script>
<article>
    <div class="row">
        <div class="col-sm-12">
            <h1 class="small-h1">
                @Model.CurrentVersion.Name
            </h1>
        </div>
        <div class="col-sm-12">
            <span class="separator-lg"></span>
        </div>
        <div class="col-md-12">
            <p>@Model.CurrentVersion.Description</p>
            <p><strong>@Registers.Submitter:</strong> @Model.CurrentVersion.Submitter.NameTranslated()</p>
            <p><strong>@Registers.Owner:</strong> @Model.CurrentVersion.Owner.NameTranslated()</p>
        </div>
    </div>
</article>

<div class="col-sm-12">
    <div class="row">
        <ul class="nav nav-tabs nav-tabs-version">
            <li class="active"><a aria-expanded="false" href="#gjeldende" id="gjeldendeLink" data-toggle="tab" onclick="ToogleEditAndDelete('gjeldende');">@Registers.Current</a></li>
            <li class="pull-right"><a aria-expanded="false" href="#forslag" id="forslagLink" data-toggle="tab" onclick="ToogleEditAndDelete('forslag');">@Registers.Proposal</a></li>
            <li class="pull-right"><a aria-expanded="false" href="#historiske" id="historiskeLink" data-toggle="tab" onclick="ToogleEditAndDelete('historiske');">@Registers.Historical</a></li>
        </ul>
    </div>

    <div class="row">
        <div class="tab-content">
            <div class="tab-pane active" id="gjeldende">
                @Html.Partial("_currentVersionDocument", (DocumentViewModel)Model.CurrentVersion)
            </div>
            <div class="tab-pane" id="historiske">
                @Html.Partial("_histroicalDocuments", Model.HistoricalVersions)
            </div>
            <div class="tab-pane" id="forslag">
                @Html.Partial("_suggestedDocuments", Model.SuggestedVersions)
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-sm-12 navbar-bottom">

        <div class="hidden-print">
            @if (Request.IsAuthenticated)
            {
                if (Model.AccessCreateNewVersions)
                {
                    <a class="btn btn-default btn-space pull-right" href="@Model.CreateNewRegisterItemVersionUrl()">@Registers.SuggestNewVersionOf @Model.CurrentVersion.Name</a>
                }

                if (Model.CurrentVersion.AccessRegisterItem)
                {
                    <a href="/dokument/@Model.CurrentVersion.SystemId/logg" class="btn btn-default btn-space pull-right" id="logg-button" title="Log @Model.CurrentVersion.Name">Log</a>
                    <a href="@Model.CurrentVersion.EditVersionRegisterItemUrl()" class="btn btn-default btn-space pull-right" id="edit-button" title="Rediger @Model.CurrentVersion.Name">@Shared.Edit</a>
                    <a href="@Model.CurrentVersion.DeleteVersionRegisterItemUrl()" class="btn btn-default btn-space pull-right" id="delete-button" title="Slett @Model.CurrentVersion.Name">@Shared.Delete</a>
                }
            }
            <a href="@Model.CurrentVersion.Register.GetObjectUrl()">@Shared.Back</a>
        </div>
    </div>
</div>
