@model Kartverket.Register.Models.Document

@{
    ViewBag.Title = @Model.name;
}

<div class="page-header">
    <h2 class="h-md">@Html.DisplayFor(model => model.name)</h2>
    <hr>
</div>

    <p>ID: <a href="@Request.Url.AbsoluteUri">@Request.Url.AbsoluteUri</a></p>

    <p>@Model.description</p>


    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="page-header">
        <hr>
    </div>



</div>
<hr />
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.systemId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
