@model Kartverket.Register.Models.EPSG
﻿@using Kartverket.Register.Helpers

@{
    ViewBag.Title = @Model.name;
}

@section breadcrumb {
    <li class="active">@Html.DisplayFor(model => model.name)</li>
}
<br />
<div class="page-header">
    <h2 class="h-md">@Html.DisplayFor(model => model.name)</h2>
    <hr>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-no-padding-xs col-xs-12 col-sm-9 col-md-9 col-lg-9">
        ID: <a href="@Request.Url.AbsoluteUri">@Request.Url.AbsoluteUri</a>

        <p>
            @Html.DisplayFor(model => model.description)
        </p>
       @if (Model.status == null)
       {
        <span>Status: Ikke angitt</span><br />
       }
       else
       {
        <span>Status: @Html.DisplayFor(model => model.status.description) <i class="statusIcon-@Html.DisplayFor(model => model.statusId)"></i></span><br />
       }
        @if (Model.submitter == null)
        {
            <span>Administrator: Ikke angitt</span><br />
        }
        else
        {
            <span>Administrator: @Html.DisplayFor(model => model.submitter.name)</span><br />
        }
        @if (Model.currentVersion == null)
        {
            <span>Versjon: Ikke angitt</span><br />
        }
        else
        {
            <span>Versjon: @Html.DisplayFor(model => model.currentVersion.versionInfo)</span><br />
        }

    </div>
    <div class="col-no-padding-xs col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <span class="small">Registrert: @Html.DisplayFor(model => model.dateSubmitted)</span><br />
        <span class="small">Oppdatert: @Html.DisplayFor(model => model.modified)</span>
    </div>



    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        
            <hr>
    


        <div class="row result-row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="hidden-xs col-sm-3 col-md-3 col-lg-3 top-padding">
                    <p><b>@Html.DisplayFor(model => model.epsgcode)</b></p>
                </div>
                <div class="hidden-xs col-sm-6 col-md-6 col-lg-6 top-padding">
                    
                    @if (Model.inspireRequirement == null)
                    {
                        <span>Inspirekrav: Ikke angitt</span><br />
                    }
                    else
                    {
                        <span>Inspirekrav: @Html.DisplayFor(model => model.inspireRequirement.description)</span><br />
                    }
                    @if (Model.nationalRequirement == null)
                    {
                        <span>Nasjonalt krav: Ikke angitt</span><br />
                    }
                    else
                    {
                        <span>Nasjonalt krav: @Html.DisplayFor(model => model.nationalRequirement.description)</span><br />
                    }
                    @if (Model.nationalSeasRequirement == null)
                    {
                        <span>Nasjonalt krav for havområder: Ikke angitt</span><br />
                    }
                    else
                    {
                        <span>Nasjonalt krav for havområder: @Html.DisplayFor(model => model.nationalSeasRequirement.description)</span><br />
                    }

                </div>
                <div class="hidden-xs col-sm-3 col-md-3 col-lg-3 top-padding">
                    <p>Ekstern referanse: <a href="@Html.DisplayFor(model => model.externalReference)">Vis</a></p>
                </div>
            </div>
        </div>

        <hr />
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <p>
                @*@Html.ActionLink("Edit", "Edit", new { id = Model.systemId }) |*@
                <a href="/register/@Html.ToUrl(Model.register.name)">Tilbake</a>
                @if (Session["role"] == "admin"){
                    <span>| </span><a href="/epsg-koder/@Html.ToUrl(Model.name)/rediger">Endre</a>
                    <span>| </span><a href="/epsg-koder/@Html.ToUrl(Model.name)/slett">Slett</a>
                }
            </p>
        </div>
    </div>
</div>

