
@using Kartverket.Register.Helpers
@using Kartverket.Register.Models
@using Kartverket.Register.Models.ViewModels
@model RegisterItemV2ViewModel

@{
    ViewBag.Title = @Model.Name;
}

@section breadcrumb {
    <li>@Model.Name</li>
}
<section class="heading">
    <article class="row">
        <div class="col-sm-12">
            <h1 class="small-h1">
                @Model.Name
            </h1>
        </div>
        <div class="col-sm-12">
            <span class="separator-lg"></span>
        </div>
        <div class="col-sm-12 col-md-10">
            @if (Model is InspireDataServiceViewModel)
            {
                <span title="" data-toggle="tooltip" data-placement="bottom" class="label label-tjeneste" style="width: auto;" data-original-title="Tilgjengelig som Tjeneste">@InspireDataSet.Service</span>
            }
            else if (Model is InspireDatasetViewModel)
            {
                <span title="" data-toggle="tooltip" data-placement="bottom" class="label label-dataset" style="width: auto;" data-original-title="Tilgjengelig som datasett">@InspireDataSet.DataSet</span>
            }

            @if (Model.Register.containedItemClass != "NameSpace")
            {<p> @Model.Description</p>}
            @if (Model.Register.containedItemClass != "Dataset" && Model.Register.containedItemClass != "InspireDataset" && Model.Register.containedItemClass != "MareanoDataset" && Model.Status != null)
            {<p title="@Html.Raw(HtmlHelperExtensions.StatusBeskrivelse(Model.Register))"><strong>Status:</strong> @Model.Status.DescriptionTranslated() <i class="statusIcon-@Model.StatusId"></i></p>}

            @if (Model.Register.containedItemClass == "NameSpace")
            {<p><strong>@Registers.Owner:</strong> @Model.Submitter.NameTranslated()</p>}
        else if (Model.Register.containedItemClass != "MareanoDataset")
        {<p><strong>@Registers.Submitter:</strong> @Model.Submitter.NameTranslated()</p>}

            @if (Model.Owner != null)
            {
                if (Model.Register.containedItemClass != "Alert") { 
                <p><strong>@Registers.Owner:</strong> @Model.Owner.NameTranslated()</p>
                }
            }
            @if (Model.Register.containedItemClass != "MareanoDataset" && Model.Register.containedItemClass != "Alert") { 
            <p><strong>@Html.DisplayNameFor(m => m.VersionNumber)</strong> @Model.VersionNumber</p>
            if (Model.VersionName != null)
            {<p><strong>@Html.DisplayNameFor(model => model.VersionName):</strong> @Model.VersionName</p>}
            }
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <span class="small">@Registers.Updated: @Html.DisplayFor(model => model.Modified)</span>
            @if (Model.Register.containedItemClass != "Dataset")
            {
                if (Model.DateAccepted != null)
                {
                    <span class="small">@Html.DisplayNameFor(model => model.DateAccepted): @Html.DisplayFor(modelItem => Model.DateAccepted)</span>
                }
                if (Model.DateSuperseded != null)
                {
                    <br /><span class="small">@Html.DisplayNameFor(model => model.DateSuperseded): @Html.DisplayFor(modelItem => Model.DateSuperseded)</span>
                }
                if (Model.DateRetired != null)
                {
                    <br /><span class="small">@Html.DisplayNameFor(model => model.DateRetired): @Html.DisplayFor(modelItem => Model.DateRetired)</span>
                }
                if (Model.DateNotAccepted != null)
                {
                    <br /><span class="small">@Html.DisplayNameFor(model => model.DateNotAccepted): @Html.DisplayFor(modelItem => Model.DateNotAccepted)</span>
                }
            }
        </div>
    </article>
</section>

<div class="row">
    @if (Model is InspireDatasetViewModel)
    {
        @Html.Partial("_detailsInspireDataset")
    }
    else if (Model is InspireDataServiceViewModel)
    {
        @Html.Partial("_detailsInspireDataService")
    }
    else if (Model is GeodatalovDatasetViewModel)
    {
        @Html.Partial("_detailsGeodatalovDataset")
    }
    else if (Model is MareanoDatasetViewModel)
    {
        @Html.Partial("_detailsMareanoDataset")
    }
    else if (Model is DokDatasetViewModel)
    {
        @Html.Partial("_detailsDataset")
    }
    else if (Model.RegisterItem is Organization)
    {
        @Html.Partial("_detailsOrganization", (Organization)Model.RegisterItem)
    }
    else if (Model is DocumentViewModel)
    {
        @Html.Partial("_detailsDocuments")
    }
    else if (Model.RegisterItem is EPSG)
    {
        @Html.Partial("_detailsEpsg", (EPSG)Model.RegisterItem)
    }
    else if (Model.RegisterItem is CodelistValue)
    {
        @Html.Partial("_detailsCodelistValue", (CodelistValue)Model.RegisterItem)
    }
    else if (Model.RegisterItem is NameSpace)
    {
        @Html.Partial("_detailsNameSpace", (NameSpace)Model.RegisterItem)
    }
    else if (Model.RegisterItem is Alert)
    {
        @Html.Partial("_detailsAlert", (Alert)Model.RegisterItem)
    }
</div>


<div class="clearfix"></div>
<div class="hidden-print navbar-bottom">
    @if (!(Model.RegisterItem is Alert) && !(Model is MareanoDatasetViewModel) && Request.IsAuthenticated && Model.AccessRegisterItem)
    {
        <a class="btn btn-default btn-space pull-right" href="@Model.GetObjectEditUrl()">@Shared.Edit</a>
        <a class="btn btn-default btn-space pull-right" href="@Model.GetObjectDeleteUrl()">@Shared.Delete</a>
    }

    @if (Model.RegisterItem is Alert)
    {
        <a class="btn btn-default btn-space pull-right" href="/varsler/rediger/@Model.RegisterItem.systemId">@Shared.Edit</a>
    }

    <a class="hidden-print show-loading-animation" data-loading-message="@Registers.LoadingMessage" href="@Model.Register.GetObjectUrl()">@Shared.Back</a>

</div>