@model Kartverket.Register.Models.Register

@{
    ViewBag.Title = @Model.name;
}

<h2>@Html.DisplayFor(model => model.name)</h2>

    <p>
        @Html.DisplayFor(model => model.description)<br />
        <b>Administrator</b> .... <b>Kontrollorgan</b> ....
    </p>

    @if (Model.containedItemClass == "Organization")
    {
        @Html.Partial("_organization", Model.items)
    }
    @if (Model.containedItemClass == "Document")
    {
        @Html.Partial("_documents", Model.items)
    }
    @if (Model.containedItemClass == "Dataset")
    {
        @Html.Partial("_dataset", Model.items)
    }
    @if (Model.containedItemClass == "EPSG")
    {
        @Html.Partial("_epsg", Model.items)
    }
    @if (Model.containedItemClass == "Register")
    {
        @Html.Partial("_subregister", Model.subregisters)
    }
 
    
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.systemId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
