@model RegisterV2ViewModel
@using Kartverket.Register.Helpers
@using PagedList
@using Kartverket.Register.Models.ViewModels
@{
    ViewBag.Title = Model.Name;
}

@section breadcrumb {
    <li>@Model.Name</li>
}

@{
    var page = ViewBag.page;
    int pageSize = 50;
    int pageNumber = (page ?? 1);
}

@section Scripts {
    @if (Model.StatusReport != null && !Model.StatusReport.ReportNotExists)
    {
        @Html.Partial("js/_dokReportCharts", (DokStatusReportViewModel)Model.StatusReport)
    }

    <script>

        $(function () {

            var tabs = document.querySelectorAll('.tab');
            console.log(tabs);

            for (var i = 0; i < tabs.length; i++) {
                var item = tabs[i]; // Calling myNodeList.item(i) isn't necessary in JavaScript
                item.className = "tab";
            }
        });

        var selectedTabParameter = getParameterByName("dokselectedtab");
        var selectedTab = document.getElementById('dataset-Tab');
        console.log(selectedTabParameter);
        if (selectedTabParameter != "") {
            selectedTab = document.getElementById(selectedTabParameter + '-Tab');
            if (selectedTab == null) {
                console.log(null);
                selectedTab = document.getElementById('dataset-Tab');
            }
        }

        selectedTab.className = "active";

    </script>

}

@Html.Partial("_SearchBarPartial")

<section>
    <div class="row">
        <div class="col-sm-12">
            <h1 class="small-h1">
                @Model.Name
            </h1>
        </div>
        <div class="col-sm-12">
            <span class="separator-lg"></span>
        </div>
        <div class="col-sm-12 col-md-10">
            <p>
                @Model.Description
            </p>
        </div>

        <div class="col-sm-12 col-md-2 text-right">
            <span class="small">@Registers.Updated: @Html.DisplayFor(model => model.Modified)</span><br />
        </div>

        @if (HtmlHelperExtensions.IsAdmin())
        {
            <div class="col-sm-12 col-md-12 ">
                <ul id="tabs" class="nav nav-tabs">

                    <li id="dataset-Tab" class="tab active">
                        @Html.ActionLink(DataSet.Dataset, "DetailsDokStatusRegistry", Request.QueryString.ToRouteValueDictionary("DokSelectedTab", "dataset"))
                    </li>
                    <li id="report-Tab" class="tab">
                        @Html.ActionLink(InspireDataSet.Reports, "DetailsDokStatusRegistry", Request.QueryString.ToRouteValueDictionary("DokSelectedTab", "report"))
                    </li>
                    <li id="suitability-Tab" class="tab">
                        @Html.ActionLink(DataSet.DOK_SuitabilityRating, "DetailsDokStatusRegistry", Request.QueryString.ToRouteValueDictionary("DokSelectedTab", "suitability"))
                    </li>
                </ul>
            </div>
        }
    </div>
</section>

@if (!Model.SelectedDokTabIsReport() && !Model.SelectedDokTabIsSuitability())
{
    <div class="row search-result-navigation">
        <div class="col-md-4">
            @if (Model.ContainedItemClassIsRegister())
            {
                @Html.Partial("_pagedListPagerSubRegisters", Model.Subregisters.ToPagedList(pageNumber, pageSize))
            }
            else if (Model.RegisterItemsV2.Any())
            {
                @Html.Partial("_pagedListPagerRegisterItemViewModel", Model.RegisterItemsV2.ToPagedList(pageNumber, pageSize))
            }
            else
            {
                @Html.Partial("_pagedListPager", Model.RegisterItems.ToPagedList(pageNumber, pageSize))
            }
        </div>
        <div class="col-md-4 pull-right">
            @Html.Partial("_otherformats")
        </div>
    </div>


    <div class="clearfix"></div>
    <span class="separator-small margin-bottom-10"></span>
}


@if (Model.SelectedDokTabIsReport())
{
    if (Model.StatusReport is DokStatusReportViewModel)
    {
        @Html.Partial("_dokReport", (DokStatusReportViewModel)Model.StatusReport)
    }
}
else if (Model.SelectedDokTabIsSuitability())
{
     @Html.Partial("_suitability")
}
else
{
    @Html.Partial("_dataset", Model.RegisterItems.ToPagedList(pageNumber, pageSize))
}


@if (!Model.SelectedInspireRegisteryTypeIsInspireReport() && !Model.SelectedInspireRegisteryTypeIsSynchronizations() && !Model.SelectedDokTabIsReport() && !Model.SelectedDokTabIsSuitability())
{<div class="clearfix"></div>
    <div class="col-sm-12 row">
        @if (Model.ContainedItemClassIsRegister())
        {
            @Html.Partial("_pagedListPagerSubRegisters", Model.Subregisters.ToPagedList(pageNumber, pageSize))
        }
        else if (Model.RegisterItemsV2.Any())
        {
            @Html.Partial("_pagedListPagerRegisterItemViewModel", Model.RegisterItemsV2.ToPagedList(pageNumber, pageSize))
        }
        else
        {
            @Html.Partial("_pagedListPager", Model.RegisterItems.ToPagedList(pageNumber, pageSize))
        }
    </div>
}

<div class="clearfix"></div>
<div class="hidden-print">
    @if (!Model.SelectedInspireRegisteryTypeIsInspireReport() && !Model.SelectedInspireRegisteryTypeIsSynchronizations() && !Model.SelectedDokTabIsReport() && !Model.SelectedDokTabIsSuitability())
    {
        if (Model.AccessRegister.EditListOfRegisterItems)
        {
            <a href="@Model.GetEditListUrl()" class="btn btn-default btn-space pull-right">@Registers.EditList</a>
        }
        if (Model.AccessRegister.Add)
        {
            <a class="btn btn-default btn-space pull-right" href="@Model.GetObjectCreateUrl()">@Shared.Add</a>
        }
        if (Model.AccessRegister.Edit)
        {
            <a class="btn btn-default btn-space pull-right" href="@Model.GetEditObjectUrl()">@Shared.Edit</a>
        }
        if (Model.AccessRegister.Delete)
        {
            <a class="btn btn-default btn-space pull-right" href="@Model.GetDeleteObjectUrl()">@Shared.Delete</a>
        }
    }
    <a class="hidden-print show-loading-animation" data-loading-message="@Registers.LoadingMessage" href="@Model.StepBackUrl()">@Shared.Back</a>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

