@model Kartverket.Register.Models.Document
﻿@using Kartverket.Register.Helpers

@{
    ViewBag.Title = @Model.name;
}

@section breadcrumb {
    <li class="active">@Html.DisplayFor(model => model.name)</li>
}
<div class="page-header">
    <h2 class="h-md">@Html.DisplayFor(model => model.name)</h2>
    <hr>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-no-padding-xs col-xs-12 col-sm-9 col-md-9 col-lg-9">
        ID: <a href="@Request.Url.AbsoluteUri">@Request.Url.AbsoluteUri</a>

        <p>
            @Html.DisplayFor(model => model.description)
        </p>
        @if (Model.status == null)
        {
            <span>Status: Ikke angitt</span><br />
        }
        else
        {
            <span>Status: @Html.DisplayFor(model => model.status.description) <i class="statusIcon-@Html.DisplayFor(model => model.statusId)"></i></span><br />
        }
        @if (Model.documentowner == null)
        {
            <span>Administrator: Ikke angitt</span><br />
        }
        else
        {
            <span>Administrator: @Html.DisplayFor(model => model.documentowner.name)</span><br />
        }
        @if (Model.documentowner == null)
        {
            <span>Eier: Ikke angitt</span><br />
        }
        else
        {
            <span>Eier: @Html.DisplayFor(model => model.documentowner.name)</span><br />
        }
        @if (Model.currentVersion == null)
        {
            <span>Versjon: Ikke angitt</span><br />
        }
        else
        {
            <span>Versjon: @Html.DisplayFor(model => model.currentVersion.versionInfo)</span><br />
        }

    </div>
    <div class="col-no-padding-xs col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <span class="small">Registrert: @Html.DisplayFor(model => model.dateSubmitted)</span><br />
        <span class="small">Oppdatert: @Html.DisplayFor(model => model.modified)</span>
    </div>



    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="page-header">
            <hr>
        </div>

        <div class="row result-row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="hidden-xs col-sm-3 col-md-3 col-lg-3 top-padding">
                    <a href="@Html.DisplayFor(model => model.document)"><img src="~/Content/pdf.jpg" class="img-responsive center-block" alt="forside pdf" /></a>
                </div>
                <div class="col-no-padding-xs col-xs-12 col-sm- col-md-9 col-lg-9">
                    <a href="@Html.DisplayFor(model => model.document)" type="button" class="btn btn-lg btn-link">
                        <span class="glyphicon glyphicon-download-alt pull-left"> </span>last ned
                    </a>
                </div>
            </div>
        </div>

        <hr />
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <p>
                @*@Html.ActionLink("Edit", "Edit", new { id = Model.systemId }) |*@
                <a href="/register/@Model.name/@Model.registerId">Tilbake</a>
                @if (Session["role"] == "editor") { 
                <span>|</span><a href="/dokument/rediger/@Html.ToUrl(Model.name)/@Model.systemId">Endre</a>
                @*<a href="/organisasjoner/slett/@Html.ToUrl(Model.name)/@Model.systemId">Slett</a>*@
                }



            </p>
        </div>
    </div>
</div>

