@model Kartverket.Register.Models.ViewModels.RegisterV2ViewModel
@using Kartverket.Register.Helpers
@using PagedList
@using Kartverket.Register.Models
@{
    ViewBag.Title = @Model.Name;
    string municipalityCode = ViewBag.selectedMunicipalityCode;
    Organization municipality = ViewBag.organizationMunicipality;
}

@section breadcrumb {

    @foreach (var register in HtmlHelperExtensions.ParentRegisters(Model))
    {
        <li><a href="@register.GetObjectUrl()">@register.NameTranslated()</a></li>
    }
    <li>@Model.Name</li>
}

@{
    var page = ViewBag.page;
    int pageSize = 50;
    int pageNumber = (page ?? 1);
}
@section Scripts {
    <script>
        $(function () {
            var menu_state = localStorage.setItem("navtabselected", "gjeldende");
        }
        )
    </script>
}

@Html.Partial("_SearchBarPartial")
<section class="heading">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="small-h1">
                @Model.Name
            </h1>
        </div>
        <div class="col-sm-12">
            <span class="separator-lg"></span>
        </div>
        <div class="col-no-padding-xs col-xs-12 col-sm-10 col-md-10 col-lg-10">
            @if (Model.Description != null)
            {
                <p>
                    @Model.Description
                    @if (Model.IsDokMunicipal())
                    {
                        <br />
                        @Html.Raw(HtmlHelperExtensions.GetDOKMunicipalConfirmationText(municipality));
                    }
                </p>
            }
            @if (Model.IsServiceAlertRegister())
            {
                if (!Request.IsAuthenticated)
                {
                    <span><a href="@Url.Action("SignIn", "AuthServices")"> Logg inn</a> for å legge til nye varsler.</span><br />
                }
                <a href="@RegisterUrls.urlFormat(Request, "atom")" class="">@ServiceAlerts.SubscribeServiceAlert</a><br />
            }
        </div>

        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 text-right">
            <span class="small">@Registers.Updated: @Html.DisplayFor(model => model.Modified)</span><br />
        </div>
    </div>
</section>

<div class="row search-result-navigation">
    <div class="col-md-4">
        @if (Model.ContainedItemClassIsRegister())
        {
            @Html.Partial("_pagedListPagerSubRegisters", Model.Subregisters.ToPagedList(pageNumber, pageSize))
        }
        else if (Model.RegisterItemsV2.Any())
        {
            @Html.Partial("_pagedListPagerRegisterItemViewModel", Model.RegisterItemsV2.ToPagedList(pageNumber, pageSize))
        }
        else
        {
            @Html.Partial("_pagedListPager", Model.RegisterItems.ToPagedList(pageNumber, pageSize))
        }
    </div>
    <div class="col-md-4 pull-right">
        @Html.Partial("_otherformats")
    </div>
    
</div>
<div class="clearfix"></div>
<span class="separator-small margin-bottom-10"></span>

    @if (Model.ContainedItemClassIsOrganization())
    {
        @Html.Partial("_organization", Model.RegisterItems.ToPagedList(pageNumber, pageSize))
    }
    @if (Model.ContainedItemClassIsCodelistValue())
    {
        @Html.Partial("_codelistValue", Model.RegisterItems.ToPagedList(pageNumber, pageSize))
    }
    @if (Model.ContainedItemClassIsDocument())
    {
        @Html.Partial("_documents", Model.RegisterItems.ToPagedList(pageNumber, pageSize))
        
    }
    @if (Model.ContainedItemClassIsDataset())
    {
        @Html.Partial("_dataset", Model.RegisterItems.ToPagedList(pageNumber, pageSize))
    }
    @if (Model.ContainedItemClassIsEpsg())
    {
        @Html.Partial("_epsg", Model.RegisterItems.ToPagedList(pageNumber, pageSize))
    }
    @if (Model.ContainedItemClassIsNameSpace())
    {
        @Html.Partial("_nameSpace", Model.RegisterItems.ToPagedList(pageNumber, pageSize))
    }
    @if (Model.ContainedItemClassIsServiceAlert())
    {
        @Html.Partial("_serviceAlert", Model.RegisterItems.ToPagedList(pageNumber, pageSize))
    }
    @if (Model.ContainedItemClassIsInspireDataset())
    {
        @Html.Partial("_inspireDataset", Model.RegisterItemsV2.ToPagedList(pageNumber, pageSize))
    }
    @if (Model.ContainedItemClassIsRegister())
    {
        @Html.Partial("_subregister", Model.Subregisters.ToPagedList(pageNumber, pageSize))
    }
    @if (Model.ContainedItemClassIsGeodatalovDataset())
    {
        @Html.Partial("_geodatalovDataset", Model.RegisterItemsV2.ToPagedList(pageNumber, pageSize))
    }

<div class="clearfix"></div>
<div class="col-sm-12 col-md-12 col-lg-12">
    @if (Model.ContainedItemClassIsRegister())
    {
        @Html.Partial("_pagedListPagerSubRegisters", Model.Subregisters.ToPagedList(pageNumber, pageSize))
    }
    else if (Model.RegisterItemsV2.Any())
    {
        @Html.Partial("_pagedListPagerRegisterItemViewModel", Model.RegisterItemsV2.ToPagedList(pageNumber, pageSize))
    }
    else
    {
        @Html.Partial("_pagedListPager", Model.RegisterItems.ToPagedList(pageNumber, pageSize))
    }
</div>

<div class="clearfix"></div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hidden-print">
    @if (Request.IsAuthenticated)
    {
        if (HtmlHelperExtensions.Access(Model))
        {
            if (Model.IsDokMunicipal())
            {
                if (municipalityCode != null)
                {
                    if (HtmlHelperExtensions.AccessEditDOKMunicipalBySelectedMunicipality(municipalityCode))
                    {
                        <a href="/dok/kommunalt/@municipalityCode/rediger" class="btn btn-default btn-space pull-right">@Registers.EditList</a>
                        <a class="btn btn-default btn-space pull-right" href="@Model.GetObjectCreateUrl(municipalityCode)">@Shared.Add</a>
                    }
                }
            }
            else
            {
                <a class="btn btn-default btn-space pull-right" href="@Model.GetObjectCreateUrl()">@Shared.Add</a>
            }
        }

        if (HtmlHelperExtensions.IsAdmin() && !Model.IsServiceAlertRegister())
        {
            <a class="btn btn-default btn-space pull-right" href="@Model.GetEditObjectUrl()">@Shared.Edit</a>
        }
    }

    <a class="hidden-print show-loading-animation" data-loading-message="@Registers.LoadingMessage" href="@Model.GetObjectUrl()">@Shared.Back</a>
</div>
