@using Kartverket.Register.Helpers
@model Kartverket.Register.Models.RegisterItem
﻿@using Kartverket.Register.Helpers

@{
    ViewBag.Title = @Model.name;
    string owner = ViewBag.Owner;
}

@section breadcrumb {
    <li><a href="/register/@Model.register.seoname">@Html.DisplayFor(model => model.register.name)</a></li>
    <li>@Html.DisplayFor(model => model.name)</li>
}

<section class="heading">
    <div class="row">
        <div class="col-sm-12">
            <h1>
                @Html.DisplayFor(model => model.name)
            </h1>
        </div>
        <div class="col-sm-12">
            <span class="separator-lg"></span>
        </div>
    </div>
</section>
<div class="row">
    <article class="col-no-padding-xs col-xs-12 col-sm-12 col-md-10 col-lg-10">
        @if (Model.register.containedItemClass != "NameSpace")
        { <p> @Model.description</p>}
        @if (Model.register.containedItemClass != "Dataset")
        { <span title="@Html.Raw(HtmlHelperExtensions.StatusBeskrivelse(Model.register))">Status: @Model.status.description <i class="statusIcon-@Model.statusId"></i></span><br>}

        @if (Model.register.containedItemClass == "NameSpace")
        { <span>@Registers.Owner: @Model.submitter.name</span><br>}
        else
        {<span>@Registers.Submitter: @Model.submitter.name</span><br>}

        @if (owner != null)
        { <span>@Registers.Owner: @owner</span><br />}

        <span>@Html.DisplayNameFor(m => m.versionNumber) @Model.versionNumber</span><br>
        @if (Model.versionName != null)
        {<span>@Html.DisplayNameFor(model => model.versionName): @Model.versionName</span><br />}

    </article>
    <article class="col-no-padding-xs col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <span class="small">@Registers.Updated: @Html.DisplayFor(model => model.modified)</span>
        @if (Model.register.containedItemClass != "Dataset")
        {
            if (Model.dateAccepted != null)
            {
                <span class="small">@Html.DisplayNameFor(model => model.dateAccepted): @Html.DisplayFor(modelItem => Model.dateAccepted)</span>
            }
            if (Model.dateSuperseded != null)
            {
                <br /><span class="small">@Html.DisplayNameFor(model => model.dateSuperseded): @Html.DisplayFor(modelItem => Model.dateSuperseded)</span>
            }
            if (Model.DateRetired != null)
            {
                <br /><span class="small">@Html.DisplayNameFor(model => model.DateRetired): @Html.DisplayFor(modelItem => Model.DateRetired)</span>
            }
            if (Model.dateNotAccepted != null)
            {
                <br /><span class="small">@Html.DisplayNameFor(model => model.dateNotAccepted): @Html.DisplayFor(modelItem => Model.dateNotAccepted)</span>
            }
        }
    </article>
    <hr>
</div>
 
<div class="row">
@if (Model is Kartverket.Register.Models.Dataset)
    {
        @Html.Partial("_detailsDataset")
    }
    @if (Model.register.containedItemClass == "Organization")
    {
        @Html.Partial("_detailsOrganization")
    }
    @if (Model.register.containedItemClass == "Document")
    {
        @Html.Partial("_detailsDocuments")
    }
    @if (Model.register.containedItemClass == "EPSG")
    {
        @Html.Partial("_detailsEpsg")
    }
    @if (Model.register.containedItemClass == "CodelistValue")
    {
        @Html.Partial("_detailsCodelistValue")
    }
    @if (Model.register.containedItemClass == "NameSpace")
    {
        @Html.Partial("_detailsNameSpace")
    }
    @if (Model.register.containedItemClass == "ServiceAlert")
    {
        @Html.Partial("_detailsServiceAlert")
    }

</div>





    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hidden-print">
        <hr />

        @if (Request.IsAuthenticated)
        {
            if (!Model.register.IsServiceAlertRegister())
            {
                if (HtmlHelperExtensions.AccessEdit(Model))
                {
                    <a class="btn btn-default btn-space pull-right" href="@Model.GetObjectEditUrl()">@Shared.Edit</a>
                    <a class="btn btn-default btn-space pull-right" href="@Model.GetObjectDeleteUrl()">@Shared.Delete</a>
                }
            }
        }

        <a class="hidden-print" href="@Model.register.GetObjectUrl()">@Shared.Back</a>

    </div>