@model Kartverket.Register.Models.Document

@{
    ViewBag.Title = @Model.name;
}

<div class="page-header">
    <h2 class="h-md">@Html.DisplayFor(model => model.name)</h2>
    <hr>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

    <div class="col-no-padding-xs col-xs-12 col-sm-9 col-md-9 col-lg-9">
        <p>ID: <a href="@Request.Url.AbsoluteUri">@Request.Url.AbsoluteUri</a></p>
        <p>
            @Html.DisplayFor(model => model.description)
        </p>
        <br />

    </div>
    <div class="col-no-padding-xs col-xs-6 col-sm-3 col-md-3 col-lg-3">
        <span class="small">Registrert: @Html.DisplayFor(model => model.dateSubmitted)</span><br />
        <span class="small">Oppdatert: @Html.DisplayFor(model => model.modified)</span><br />
    </div>
    <hr />
</div>


<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="page-header">
        <hr>
    </div>
    <div class="col-xs-12 col-md-2">
        <a href="@Html.DisplayFor(model => model.document)"><img src="~/Content/pdf.jpg" class="img-responsive center-block" alt="forside pdf" /></a>
    </div><br />
    <div class="col-xs-6 col-md-4">
        <a href="@Html.DisplayFor(model => model.document)" type="button" class="btn btn-lg btn-link">
            <span class="glyphicon glyphicon-download-alt pull-left"> </span>last ned
        </a><br />
    </div>
</div>
<br />
<hr />
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.systemId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>