@model Register
﻿@using Kartverket.Register.Helpers
@using PagedList;
@using Kartverket.Register.Models

@{
    ViewBag.Title = @Model.name;
    Register mainRegister = HtmlHelperExtensions.mainRegister(Model);
    Register parent = Model.parentRegister;
    string parentRegister = HtmlHelperExtensions.HasParent(Model);
    CodelistValue selectedMunicipal = HtmlHelperExtensions.GetSelectedMunicipality(ViewBag.selectedMunicipality);
}

@section breadcrumb {
    <li><a href="@RegisterUrls.registerUrl(null, null, mainRegister.seoname)">@mainRegister.name</a></li>
    @if (mainRegister != Model)
    { <li>@Model.name</li>}
    @while (parent != null && parent != mainRegister)
    {
        <li><a href="@RegisterUrls.registerUrl(parent.parentRegister.seoname, parent.owner.seoname, parent.seoname)">@parent.name</a></li>
        parent = parent.parentRegister;
    }
}

@{
    var page = ViewBag.page;
    var sortering = Model.items.OrderBy(o => o.name).ToList();
    var sorteringRegister = Model.subregisters.OrderByDescending(s => s.name).ToList();
    int pageSize = 50;
    int pageNumber = (page ?? 1);

    if (Model.containedItemClass != "Register")
    {
        sortering = HtmlHelperExtensions.SortingRegisterItems(Model, ViewBag.SortOrder);
    }
    else
    {
        sorteringRegister = HtmlHelperExtensions.SortingRegisters(Model, ViewBag.SortOrder);
    }
}
@section Scripts {
    <script>
        $(function () {
            var menu_state = localStorage.setItem("navtabselected", "gjeldende");
        }
    )
    </script>
}
@Html.Partial("_SearchBarPartial")

<section class="heading">
    <div class="row">
        <div class="col-sm-12">
            <h1>
                @Html.DisplayFor(model => model.name)
            </h1>
        </div>
        <div class="col-sm-12">
            <span class="separator-lg"></span>
        </div>
    </div>
</section>

<div class="row">
    <div class="col-sm-12">

        <div class="col-no-padding-xs col-xs-12 col-sm-10 col-md-10 col-lg-10">
            @if (Model.description != null)
            {
                <p>@Html.DisplayFor(model => model.description)</p>
            }
            @if (Model.IsServiceAlertRegister())
            {
                <a href="@RegisterUrls.urlFormat(Request, "rss")" class="">Abonnere på tjenestevarsler</a><br/>
            }
        </div>

        <div class="col-no-padding-xs col-xs-12 col-sm-3 col-md-2 col-lg-2 text-right">
            <span class="small">Registrert: @Html.DisplayFor(model => model.dateSubmitted)</span><br />
            <span class="small">Oppdatert: @Html.DisplayFor(model => model.modified)</span><br />
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row" style="padding-right: 0px;">
            <div class="search-result-navigation register-navigation">
                <div class="col-md-5">
                    @if (Model.containedItemClass != "Register")
                    {
                        @Html.Partial("_pagedListPager", sortering.ToPagedList(pageNumber, pageSize))
                    }
                    else {
                        @Html.Partial("_pagedListPagerSubRegisters", sorteringRegister.ToPagedList(pageNumber, pageSize))
                    }
                </div>
                <div class="col-md-4">
                    @Html.Partial("_otherformats")
                </div>
                <div class="col-md-3" style="padding-right: 0px;">
                        @Html.Partial("_LayoutSelect")
                </div>
            </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            @if (Model.containedItemClass == "Organization")
            {
                @Html.Partial("_organization", sortering.ToPagedList(pageNumber, pageSize))
            }
            @if (Model.containedItemClass == "CodelistValue")
            {
                @Html.Partial("_codelistValue", sortering.ToPagedList(pageNumber, pageSize))
            }
            @if (Model.containedItemClass == "Document")
            {
                @Html.Partial("_documents", sortering.ToPagedList(pageNumber, pageSize));
            }
            @if (Model.containedItemClass == "Dataset")
            {
                @Html.Partial("_dataset", sortering.ToPagedList(pageNumber, pageSize))
            }
            @if (Model.containedItemClass == "EPSG")
            {
                @Html.Partial("_epsg", sortering.ToPagedList(pageNumber, pageSize))
            }
            @if (Model.containedItemClass == "NameSpace")
            {
                @Html.Partial("_nameSpace", sortering.ToPagedList(pageNumber, pageSize))
            }
            @if (Model.containedItemClass == "ServiceAlert")
            {
                @Html.Partial("_serviceAlert", sortering.ToPagedList(pageNumber, pageSize))
            }
            @if (Model.containedItemClass == "Register")
            {
                @Html.Partial("_subregister", sorteringRegister.ToPagedList(pageNumber, pageSize))
            }
        </div>

        <div class="col-sm-12 col-md-12 col-lg-12">
            @if (Model.containedItemClass != "Register")
            {
                @Html.Partial("_pagedListPager", sortering.ToPagedList(pageNumber, pageSize))
            }
            else {
                @Html.Partial("_pagedListPagerSubRegisters", sorteringRegister.ToPagedList(pageNumber, pageSize))
            }
        </div>


        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hidden-print">
            @if (Request.IsAuthenticated)
            {
                if (HtmlHelperExtensions.Access(Model))
                {
                    if (Model.IsDokMunicipal())
                    {
                        if (selectedMunicipal != null)
                        {
                            if (HtmlHelperExtensions.AccessEditDOKMunicipalBySelectedMunicipality(selectedMunicipal.value))
                            {
                                <a href="/dok/kommunalt/@selectedMunicipal.value/rediger" class="btn btn-default btn-space pull-right">Rediger liste</a>
                                <a class="btn btn-default btn-space pull-right" href="@Model.GetObjectCreateUrl(selectedMunicipal.value)">Legg til</a>
                            }
                        }
                    }
                    else {
                        <a class="btn btn-default btn-space pull-right" href="@Model.GetObjectCreateUrl()">Legg til</a>
                    }
                }
                if (HtmlHelperExtensions.IsAdmin() && !Model.IsServiceAlertRegister())
                {
                    @*<a class="btn btn-default btn-space pull-right" href="@Model.GetEditObjectUrl()">Rediger</a>*@
                }
            }

            @if (Model.parentRegister != null)
            {
                <a class="hidden-print" href="@Model.parentRegister.GetObjectUrl()">Tilbake</a>
            }
            else {
                <a class="hidden-print" href="/">Tilbake</a>
            }
        </div>
    </div>
</div>