@model Kartverket.Register.Models.Register
﻿@using Kartverket.Register.Helpers

@{
    ViewBag.Title = @Model.name;
}

@section breadcrumb {
    <li class="active">@Html.DisplayFor(model => model.name)</li>
}
<div class="page-header">
    <h2 class="h-md">@Html.DisplayFor(model => model.name)</h2>
    <hr>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-no-padding-xs col-xs-12 col-sm-9 col-md-9 col-lg-9">
        ID: <a href="@Request.Url.AbsoluteUri">@Request.Url.AbsoluteUri</a>

        <p>
            @Html.DisplayFor(model => model.description)
        </p>

    </div>
    <div class="col-no-padding-xs col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <span class="small">Registrert: @Html.DisplayFor(model => model.dateSubmitted)</span><br />
        <span class="small">Oppdatert: @Html.DisplayFor(model => model.modified)</span>
    </div>


    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="page-header">
            <hr>
        </div>


        @if (Model.containedItemClass == "Organization")
        {
            @Html.Partial("_organization", Model.items.OrderBy(i => i.name).ToList())
        }
        @if (Model.containedItemClass == "Document")
        {
            @Html.Partial("_documents", Model.items.OrderBy(i => i.name).ToList())
        }
        @if (Model.containedItemClass == "Dataset")
        {
            @Html.Partial("_dataset", Model.items.OrderBy(i => i.name).ToList())
        }
        @if (Model.containedItemClass == "EPSG")
        {
            @Html.Partial("_epsg", Model.items.OrderBy(i => i.name).ToList())
        }
        @if (Model.containedItemClass == "Register")
        {
            @Html.Partial("_subregister", Model.subregisters.OrderBy(i => i.name).ToList())
        }

    </div>

    <hr />
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <p>
           
            @Html.ActionLink("Tilbake", "Index")

            @if (Session["role"] != null)
            {
                if (Session["role"] == "admin" || Session["role"] == "editor")
                {

                    if (Model.containedItemClass == "Organization")
                    {
                        <a href="/organisasjoner/ny">| Foreslå nye @Model.name </a>
                    }
                    if (Model.containedItemClass == "Document")
                    {
                        <a href="/dokument/@Html.ToUrl(Model.name)/ny">| Foreslå nye @Model.name </a>
                    }
                    if (Model.containedItemClass == "Dataset")
                    {
                        <a href="/dataset/@Html.ToUrl(Model.name)/ny">| Foreslå nye @Model.name </a>
                    }
                    if (Model.containedItemClass == "EPSG")
                    {
                        <a href="/epsg-koder/ny">| Foreslå nye @Model.name </a>
                    }
                    if (Model.containedItemClass == "Register")
                    {

                    }
                }    
            }        
        </p>
    </div>
</div>