@using Kartverket.Register.Helpers
@model Kartverket.Register.Models.ViewModels.RegisterItemVeiwModel
﻿@using Kartverket.Register.Helpers

@{
    ViewBag.Title = @Model.currentVersion.name;
}

@section breadcrumb {

    @foreach (var register in HtmlHelperExtensions.ParentRegisters(Model.currentVersion.register))
    {
        <li><a href="@register.GetObjectUrl()">@register.name</a></li>
    }
    <li><a href="@Model.currentVersion.register.GetObjectUrl()">@Model.currentVersion.register.NameTranslated()</a></li>
    <li>@Model.currentVersion.NameTranslated()</li>
}

<section class="heading">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="small-h1">
                @Model.currentVersion.NameTranslated()
            </h1>
        </div>
        <div class="col-sm-12">
            <span class="separator-lg"></span>
        </div>
    </div>
</section>

        <div class="col-sm-12 row">
            <ul class="nav nav-tabs nav-tabs-version">
                <li class="active"><a aria-expanded="false" href="#gjeldende" id="gjeldendeLink" data-toggle="tab">@Registers.Current</a></li>
                <li class="pull-right"><a aria-expanded="false" href="#forslag" id="forslagLink" data-toggle="tab">@Registers.Proposal</a></li>
                <li class="pull-right"><a aria-expanded="false" href="#historiske" id="historiskeLink" data-toggle="tab">@Registers.Historical</a></li>
            </ul>
        </div>

        @if (Model.currentVersion.register.containedItemClass == "Organization")
        {
            @Html.Partial("_detailsOrganization")
        }
        @if (Model.currentVersion.register.containedItemClass == "Document")
        {
            <div class="tab-content">
                <div class="tab-pane active" id="gjeldende">
                    @Html.Partial("_currentVersionDocument", Model)
                </div>
                <div class="tab-pane" id="historiske">
                    @Html.Partial("_histroicalDocuments", Model)
                </div>
                <div class="tab-pane" id="forslag">
                    @Html.Partial("_suggestedDocuments", Model)
                </div>
            </div>
        }
        @if (Model.currentVersion.register.containedItemClass == "Dataset")
        {
            @Html.Partial("_detailsDataset")
        }
        @if (Model.currentVersion.register.containedItemClass == "EPSG")
        {
            @Html.Partial("_detailsEpsg")
        }
        @if (Model.currentVersion.register.containedItemClass == "CodelistValue")
        {
            @Html.Partial("_detailsCodelistValue")
        }

    <div class="col-sm-12 row">
        <hr />
        @if (Request.IsAuthenticated)
        {
            if (HtmlHelperExtensions.accessRegisterItem(Model.currentVersion))
            {
                if (Model.currentVersion.register.containedItemClass == "Document")
                {
                    <a class="btn btn-default btn-space pull-right" href="@Model.currentVersion.CreateNewRegisterItemVersionUrl()">@Registers.SuggestNewVersionOf @Model.currentVersion.NameTranslated()</a>
                }
            }
        }
        <a href="@Model.currentVersion.register.GetObjectUrl()">@Shared.Back</a>
    </div>
