@model Kartverket.Register.Models.Register
﻿@using Kartverket.Register.Helpers

@{
    ViewBag.Title = @Model.name;
}

@section breadcrumb {
    <li class="active">@Html.DisplayFor(model => model.name)</li>
}


<div class="page-header">
    <h2 class="h-md">@Html.DisplayFor(model => model.name)</h2>
    <hr>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-no-padding-xs col-xs-12 col-sm-9 col-md-9 col-lg-9">
        ID: <a href="@Request.Url.AbsoluteUri">@Request.Url.AbsoluteUri</a>
        <p>
            @Html.DisplayFor(model => model.description)
        </p>        

    </div>
    <div class="col-no-padding-xs col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <span class="small">Registrert: @Html.DisplayFor(model => model.dateSubmitted)</span><br />
        <span class="small">Oppdatert: @Html.DisplayFor(model => model.modified)</span>
    </div>

    <script>
    function SortBy(sort) {
        var sort = document.getElementById("sorting");
        var selected = sort.options[sort.selectedIndex].text;
        document.sortering.submit();
        //localStorage['SortingType'] = sort;
        localStorage['SortingType'] = selected;
    }
    </script>

   @{
        var sortering = Model.items.OrderBy(o => o.name).ToList();

        if (ViewBag.SortOrder == "submitter" )
        {
            sortering = Model.items.OrderBy(o => o.submitter.name).ToList();
        }
        else if (ViewBag.SortOrder == "status")
        {
            sortering = Model.items.OrderBy(o => o.statusId).ToList();
        }
        else if (ViewBag.SortOrder == "dateSubmitted")
        {
            sortering = Model.items.OrderByDescending(o => o.dateSubmitted).ToList();
        }
        else if (ViewBag.SortOrder == "modified")
        {
            sortering = Model.items.OrderByDescending(o => o.modified).ToList();
        }
        else if (ViewBag.SortOrder == "dateAccepted")
        {
            sortering = Model.items.OrderByDescending(o => o.dateAccepted).ToList();
        }
    }
    
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="page-header">
            <hr>
        </div>

        <form action="/register/@Model.seoname" name="sortering" method="get">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-no-padding-xs col-xs-12 col-sm-10 col-md-10 col-lg-10">
                </div>
                <div class="hidden-xs col-sm-2 col-md-2 col-lg-2" onchange="SortBy()">
                    Sorter: @Html.DropDownList("sorting", "Navn")
                </div>
            </div>
            <br />
        </form>
        
        @if (Model.containedItemClass == "Organization")
        {
            @Html.Partial("_organization", sortering)
        }
        @if (Model.containedItemClass == "Document")
        {
            @Html.Partial("_documents", sortering)
        }
        @if (Model.containedItemClass == "Dataset")
        {
            @Html.Partial("_dataset", sortering)
        }
        @if (Model.containedItemClass == "EPSG")
        {
            @Html.Partial("_epsg", sortering)
        }
        @if (Model.containedItemClass == "Register")
        {
            @Html.Partial("_subregister", sortering)
        }

    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <p>
            @Html.ActionLink("Tilbake", "Index")

            @if (Session["role"].ToString() == "editor" && Model.statusId == "Submitted" || Session["role"].ToString() == "admin" || Session["user"].ToString() == Model.owner.name)
            {
                if (Model.containedItemClass == "Organization")
                {
                    <a href="/organisasjoner/ny">| Foreslå nye @Model.name </a>
                }
                if (Model.containedItemClass == "Document")
                {
                    <a href="/dokument/@Html.ToUrl(Model.name)/ny">| Foreslå nye @Model.name </a>
                }
                if (Model.containedItemClass == "Dataset")
                {
                    <a href="/dataset/@Html.ToUrl(Model.name)/ny">| Foreslå nye @Model.name </a>
                }
                if (Model.containedItemClass == "EPSG")
                {
                    <a href="/epsg-koder/ny">| Foreslå nye @Model.name </a>
                }
                if (Model.containedItemClass == "Register")
                {

                }                
            }            
        </p>
    </div>
</div>
