@using Kartverket.Register.Models.ViewModels
@using Resources
@model List<DokMunicipalEdit>

@{
    string selectedMunicipal = ViewBag.selectedMunicipality;
}

@section breadcrumb {
    <li><a href="/register/det-offentlige-kartgrunnlaget-kommunalt">Det offentlige kartgrunnlaget - Kommunalt</a></li>
    <li>Rediger liste</li>
}
@section Scripts {
    <script>
        $(document).ready(function () {
            $("table").tablesorter({
                headers: {
                    5: { usNumberFormat: true },
                    7: { sorter: false },
                    8: { sorter: false }
                }
            });
        });

        function cbChecked(id) {
            var className = "cb" + id;
            var element = document.getElementsByClassName(className);
            var checked = element.item(0).checked;

            if (checked) {
                document.getElementById(id).innerHTML = '1';
            } else {
                document.getElementById(id).innerHTML = '0';
            }
        }
    </script>
}
@using (Html.BeginForm("EditDokMunicipalTest", "Registers", FormMethod.Post))
{
    <input type="submit" value="Lagre" data-loading-message="Lagrer innhold" class="btn btn-default pull-right show-loading-animation" />
    <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-8">
                <h2>@selectedMunicipal</h2>
            </div>
            <div class="col-md-4" style="margin-top: 25px;">
                <label>Kommunal bekreftelse:</label>
                <div class="no-padding-bottom">
                    <div class="custom-select">
                        @Html.DropDownList("statusDOKMunicipal", null, "-- sett status --", htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <table id="myTable" class="tablesorter table-responsive table" style="width:100%">
            <thead>
                <tr>
                    <th style="width:10%"><a href="#" data-toggle="tooltip" data-placement="bottom" title="@UI.DOK_Temagruppe">Temagruppe</a></th>
                    <th style="width:15%"><a href="#" data-toggle="tooltip" data-placement="bottom" title="@UI.DOK_Tittel">Tittel</a></th>
                    <th style="width:10%"><a href="#" data-toggle="tooltip" data-placement="bottom" title="@UI.DOK_Eier">Eier</a></th>
                    <th style="width:10%"><a href="#" data-toggle="tooltip" data-placement="bottom" title="@UI.DOK_Nasjonal_Status">DOK-status</a></th>
                    <th style="width:10%"><a href="#" data-toggle="tooltip" data-placement="bottom" title="@UI.DOK_Nasjonalt_Kommunalt">Regions-type</a></th>
                    <th style="width:5%"><span data-toggle="tooltip" data-placement="bottom" title="@UI.DOK_Bekreftet_Kommune">Bekreft</span></th>
                    <th style="width:5%"><span data-toggle="tooltip" data-placement="bottom" title="@UI.DOK_Coverage_Municipality">DEKNING</span></th>
                    <th style="width:15%"><span data-toggle="tooltip" class="link-unstyled" data-placement="bottom" title="@UI.DOK_Kommentar">Merknad</span></th>
                    <th style="width:5%">Slett</th>
                </tr> 
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        @Html.Hidden("dokMunicipalList[" + i + "].Id", Model[i].Id, new { @readonly = "readonly" })
                        @Html.Hidden("dokMunicipalList[" + i + "].OwnerId", Model[i].OwnerId, new { @readonly = "readonly" })
                        @Html.Hidden("dokMunicipalList[" + i + "].MunicipalityId", Model[i].MunicipalityId, new { @readonly = "readonly" })

                        <td title="Temagruppe for @Model[i].Name: @Model[i].Themegroup">@Model[i].Themegroup</td>
                        <td title="Datasett: @Model[i].Name">
                            @Model[i].Name
                            @Html.Hidden("dokMunicipalList[" + i + "].Name", Model[i].Name, new { @readonly = "readonly" })
                        </td>
                        <td title="Datasett eier: @Model[i].Owner">
                            @Model[i].Owner
                            @Html.Hidden("dokMunicipalList[" + i + "].Owner", Model[i].Owner, new { @readonly = "readonly" })
                        </td>
                        <td title="Nasjonal Dok-status: @Model[i].NationalDokStatus">
                            @Model[i].NationalDokStatus
                            @Html.Hidden("dokMunicipalList[" + i + "].NationalDokStatus", Model[i].NationalDokStatus, new { @readonly = "readonly" })
                        </td>
                        <td title="Datasett type: @Model[i].Type">
                            <span title="Datasett type: @Model[i].Type" class="label label-@Model[i].Type">@Model[i].Type</span>
                            @Html.Hidden("dokMunicipalList[" + i + "].Type", Model[i].Type, new { @readonly = "readonly" })
                        </td>
                        <td style="text-align: center" title="Hak av de data som en bekreftelse på data som skal være kommunes DOK">
                            @if (Model[i].Confirmed)
                            {
                                <span id="@i" class="hidden">1</span>
                            }
                            else {
                                <span id="@i" class="hidden">0</span>
                            }
                            @Html.CheckBox("dokMunicipalList[" + i + "].Confirmed", Model[i].Confirmed, new { @readonly = "readonly", @onclick = "cbChecked(" + i + ")", @class = "cb" + i + "" })
                        </td>
                        <td style="text-align: center" title="@UI.DOK_Coverage_Municipality">
                            @if (Model[i].Coverage)
                            {
                                <span>JA</span>
                            }
                            else
                            {
                                <span>NEI</span>
                            }
                        </td>
                        <td title="Må legges inn på data en velger ikke å ta med, kan brukes også for andre datasett">
                            @Html.TextArea("dokMunicipalList[" + i + "].Note", Model[i].Note, 2, 10, new { @style = "min-height:0px" })
                        </td>
                        <td id="cbDelete">
                            @if (Model[i].IsMunicipalDataset())
                            {
                                @Html.CheckBox("dokMunicipalList[" + i + "].Delete", Model[i].Delete)<label></label>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="row">
            <div class="col-sm-2">
                <a href="/register/det-offentlige-kartgrunnlaget-kommunalt">Tilbake</a>
            </div>
            <div class="col-sm-10 text-right">
                <a href="/register/det-offentlige-kartgrunnlaget-kommunalt?municipality=@ViewBag.selectedMunicipalityCode" class="btn btn-default">Avbryt</a>
                <input type="submit" value="Lagre" data-loading-message="Lagrer innhold" class="btn btn-default show-loading-animation" />
            </div>
        </div>
}
