@using Kartverket.Register.Helpers
@using Kartverket.Register.Models.ViewModels
@using Resources
@model List<DokMunicipalEdit>
    ﻿@using Kartverket.Register.Helpers

    @{
        string selectedMunicipal = ViewBag.selectedMunicipality;
    }

    @section breadcrumb {
        <li><a href="/register/det-offentlige-kartgrunnlaget-kommunalt">@DataSet.DOK_Nasjonalt</a></li>
        <li>@Shared.Edit @Shared.List</li>
    }
    @section Scripts {
        <script>
            $(document).ready(function () {

                $('.tablesorter-childRow td').hide();
                $(".tableSuitability")
                    .tablesorter({
                        theme: 'blue',
                        cssChildRow: "tablesorter-childRow"
                    })

                $(".tableCoverage")
                    .tablesorter({
                        theme: 'blue',
                        cssChildRow: "tablesorter-childRow"
                    })

                $('.tablesorter').delegate('.toggle', 'click', function () {

                    $(this).closest('tr').nextUntil('tr:not(.tablesorter-childRow)').find('td').toggle();

                    return false;
                });


                $("#cbBackgroundColor").click(function () {
                    if (document.getElementById("cbBackgroundColor").checked) {
                        $("table .custom-checkbox").removeClass("superImportantCheckbox");
                    }
                    else {
                        $("table .custom-checkbox").addClass("superImportantCheckbox");
                    }
                });

            });


            function cbConfirmdChecked(id) {
                var className = "cb" + id;
                var element = document.getElementsByClassName(className);
                var checked = element.item(0).checked;

                if (checked) {
                    document.getElementById(id).innerHTML = '1';
                } else {
                    document.getElementById(id).innerHTML = '0';
                }
            }

            function cbChecked(type, id) {
                var className = "cb-" + type + "-" + id;
                var element = document.getElementsByClassName(className);
                var checked = element.item(0).checked;

                if (checked) {
                    document.getElementById(type + "-" + id).innerHTML = '1';
                } else {
                    document.getElementById(type + "-" + id).innerHTML = '0';
                }
            }

            $(document).ready(function () {
                $("#suitabitityHelpText").hide()
                $("#suitabitityHelpTextBtn").click(function () {
                    $("#suitabitityHelpText").toggle(500);
                });
            });

            function changeBtnColor(id) {
                var button = "#modalBtn-" + id
                var textArea = "#txtArea-" + id;
                console.log($(textArea).val());
                if ($(textArea).val().length > 0) {
                    $(button).css({ "color": "#FE5000" });
                }
                else {
                    $(button).css({ "color": "#337AB7" });
                }
            }



            function changeText(element) {
                if (element.innerText == "@DataSet.DisplayInfoRegistration") {
                    element.innerHTML = "@Shared.HideText";
                }
                else {
                    element.innerHTML = "@DataSet.DisplayInfoRegistration";
                }
            }

        </script>

    }

    @using (Html.BeginForm("EditDokMunicipal", "Registers", FormMethod.Post))
    {
        <input type="submit" value="@Shared.Save" data-loading-message="@Registers.SavingContentMessage" class="btn btn-default pull-right show-loading-animation" />
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-8">
                <h2>@selectedMunicipal</h2>
            </div>
            <div class="col-md-4" style="margin-top: 25px;">
                <label>@DataSet.MunicipalConfirmation:</label>
                <div class="no-padding-bottom">
                    <div class="custom-select">
                        @Html.DropDownList("statusDOKMunicipal", null, "-- " + DataSet.SetStatus + "--", htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs nav-tabs-topp" style="display:block; padding-bottom:0px;">
                    <li class="tab pull-right" data-loading-message="@DataSet.LoadingSuitability"><a aria-expanded="false" href="#suitability" id="suitabilityLink" data-toggle="tab">@DataSet.DOK_SuitabilityRating</a></li>
                    <li class="tab active pull-right" data-loading-message="@DataSet.LoadingCoverage"><a aria-expanded="false" href="#coverage" id="coverageLink" data-toggle="tab">@DataSet.Coverage</a></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="tab-content">

                    @* COVERAGE*@
                    <div class="tab-pane active" style="margin-top:0px" id="coverage">
                        <table id="myTable" class="tablesorter table-responsive table tableCoverage" style="width:100%">
                            <thead>
                                <tr>
                                    <th style="width:10%"><a href="#" data-toggle="tooltip" title="@DataSet.DOK_Temagruppe">@DataSet.DOK_Delivery_Theme</a></th>
                                    <th style="width:10%" colspan="2"><a href="#" data-toggle="tooltip" title="@DataSet.DOK_Tittel">@Shared.Title</a></th>
                                    <th class="text-center"><a href="#" data-toggle="tooltip" title="@DataSet.DOK_Bekreftet_Kommune">@DataSet.DOK_Confirmed</a></th>
                                    <th class="text-center"><a href="#" data-toggle="tooltip" title="@DataSet.DOK_Coverage_Municipality">@DataSet.DOK_Coverage</a></th>
                                    <th><span data-toggle="tooltip" class="link-unstyled" title="@DataSet.DOK_Kommentar">@DataSet.DOK_Note</span></th>
                                    <th class="text-center">@Shared.Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.Count; i++)
                                {
                                    <tr class="mother">
                                        @Html.Hidden("dokMunicipalList[" + i + "].Id", Model[i].Id, new { @readonly = "readonly" })
                                        @Html.Hidden("dokMunicipalList[" + i + "].OwnerId", Model[i].OwnerId, new { @readonly = "readonly" })
                                        @Html.Hidden("dokMunicipalList[" + i + "].MunicipalityId", Model[i].MunicipalityId, new { @readonly = "readonly" })
                                        @Html.Hidden("dokMunicipalList[" + i + "].Owner", Model[i].Owner, new { @readonly = "readonly" })
                                        @Html.Hidden("dokMunicipalList[" + i + "].NationalDokStatus", Model[i].NationalDokStatus, new { @readonly = "readonly" })
                                        @Html.Hidden("dokMunicipalList[" + i + "].Type", Model[i].Type, new { @readonly = "readonly" })
                                        @Html.Hidden("dokMunicipalList[" + i + "].NationalDokStatus", Model[i].NationalDokStatus, new { @readonly = "readonly" })

                                        <td style="background-color:rgb(234, 234, 234)" title="Temagruppe for @Model[i].Name: @Model[i].Themegroup">
                                            @Model[i].Themegroup

                                        </td>
                                        <td style="background-color:rgb(234, 234, 234)" title="Datasett: @Model[i].Name">
                                            @Model[i].Name
                                            @Html.Hidden("dokMunicipalList[" + i + "].Name", Model[i].Name, new { @readonly = "readonly" })
                                        </td>

                                        <td style="background-color:rgb(234, 234, 234)"><a href="#" class="badge toggle" onclick="InfoText('@i')" style="background-color: #337ab7">i</a></td>

                                        <td style="text-align: center" title="Hak av de data som en bekreftelse på data som skal være kommunes DOK">
                                            <span id="@i" class="hidden">@HtmlHelperExtensions.cbChecked(Model[i].Confirmed)</span>
                                            <span class="custom-checkbox custom-checkbox-0">
                                                @Html.CheckBox("dokMunicipalList[" + i + "].Confirmed", Model[i].Confirmed, new { @readonly = "readonly", @onclick = "cbConfirmdChecked(" + i + ")", @class = "cb" + i + "", @datatoggle = "tooltip", dataplacement = "bottom", title = "Bekrefte", @id = "dokMunicipalList[" + i + "].Confirmed" })
                                                <label for="dokMunicipalList[@i].Confirmed" class="checkbox-icon"></label>
                                            </span>
                                        </td>
                                        <td style="text-align: center" title="@DataSet.DOK_Coverage_Municipality">
                                            @if (Model[i].Coverage.HasValue && Model[i].Coverage.Value == true)
                                            {
                                                <span>@Shared.Yes</span>
                                            }
                                            else
                                            {
                                                <span>@Shared.No</span>
                                            }
                                        </td>
                                        <td title="@DataSet.SuitabilityNoteTitle">
                                            @Html.TextArea("dokMunicipalList[" + i + "].Note", Model[i].Note, 1, 10, new { @style = "min-height:0px" })
                                        </td>
                                        <td id="cbDelete">
                                            @if (Model[i].IsMunicipalDataset())
                                            {
                                                @Html.CheckBox("dokMunicipalList[" + i + "].Delete", Model[i].Delete)<label></label>
                                            }
                                        </td>
                                    </tr>

                                    <tr class="tablesorter-childRow infoTxtDataset-@i infoTxt" style="background-color:#F4F4F4">
                                        <td colspan="3" style="padding:0px">
                                            <label class="label-info label auto-width" style="height:100%; background-color:#F4F4F4">
                                                <b>@Registers.Etat:</b> @Model[i].Owner<br />
                                                <b>DOK status:</b> @Model[i].NationalDokStatus
                                            </label>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                    @* SUITABILITY *@
                    <div class="tab-pane" style="margin-top:0px" id="suitability">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="btn-default btn" id="suitabitityHelpTextBtn" onclick="changeText(this)">@DataSet.SuitabitityHelpTextBtn</div>
                                <div id="suitabitityHelpText">
                                    @Html.Raw(DataSet.SuitabitityHelpText)
                                </div>
                            </div>
                            <div class="col-md-4">
                                <span class="custom-checkbox custom-checkbox-default pull-right">
                                    <input id="cbBackgroundColor" type="checkbox" checked>
                                    <label for="cbBackgroundColor" class="checkbox-icon"></label>
                                    <label for="cbBackgroundColor">@DataSet.BackgroundColor </label>
                                </span>
                            </div>
                        </div>

                        <table id="myTable" class="tablesorter table-responsive table tableSuitability" style="width:100%">
                            <thead>
                                <tr>
                                    <th><a href="#" data-toggle="tooltip" title="@DataSet.DOK_Temagruppe">@DataSet.DOK_Temagruppe</a></th>
                                    <th colspan="2"><a href="#" data-toggle="tooltip" title="@Shared.Title">@Shared.Title</a></th>
                                    <th class="text-center"><a data-toggle="tooltip" title="@DataSet.SuitabilityRegionsplanleggingTitle">@DataSet.SuitabilityRegionsplanleggingText</a></th>
                                    <th class="text-center"><a data-toggle="tooltip" title="@DataSet.SuitabilitySamfunnTitle">@DataSet.SuitabilitySamfunnText</a></th>
                                    <th class="text-center"><a data-toggle="tooltip" title="@DataSet.SuitabilityArealTitle">@DataSet.SuitabilityArealText</a></th>
                                    <th class="text-center"><a data-toggle="tooltip" title="@DataSet.SuitabilityOmraadeTitle">@DataSet.SuitabilityOmraadeText</a></th>
                                    <th class="text-center"><a data-toggle="tooltip" title="@DataSet.SuitabilityDetaljreguleringTitle">@DataSet.SuitabilityDetaljreguleringText</a></th>
                                    <th class="text-center"><a data-toggle="tooltip" title="@DataSet.SuitabilityByggesakTitle">@DataSet.SuitabilityByggesakText</a></th>
                                    <th class="text-center"><a data-toggle="tooltip" title="@DataSet.SuitabilityFradelingTitle">@DataSet.SuitabilityFradelingText</a></th>
                                    <th class="text-center"><a data-toggle="tooltip" title="@DataSet.SuitabilityKUTitle">@DataSet.SuitabilityKUText</a></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.Count; i++)
                                {
                                    if (Model[i].Confirmed)
                                    {
                                        <tr class="mother">
                                            <td style="background-color:rgb(234, 234, 234)" title="Temagruppe for @Model[i].Name: @Model[i].Themegroup">@Model[i].Themegroup</td>
                                            <td style="background-color:rgb(234, 234, 234)" title="Datasett: @Model[i].Name">
                                                @Model[i].Name
                                                @Html.Hidden("dokMunicipalList[" + i + "].Name", Model[i].Name, new { @readonly = "readonly" })
                                            </td>
                                            <td style="background-color:rgb(234, 234, 234)"><a href="#" class="badge toggle" onclick="InfoText('@i')" style="background-color: #337ab7">i</a></td>
                                            <td class="text-center"><span class="hidden">@Model[i].NationalAssessmentRegionalPlan</span>
                                                <span id="regionalPlan-@i" class="hidden">@HtmlHelperExtensions.cbChecked(Model[i].RegionalPlan)</span>
                                                <span data-toggle="tooltip" data-placement="bottom" title="Regionplan" class="custom-checkbox custom-checkbox-@Model[i].NationalAssessmentRegionalPlan">
                                                    @Html.CheckBox("dokMunicipalList[" + i + "].RegionalPlan", Model[i].RegionalPlan, new { @readonly = "readonly", @id = "dokMunicipalList[" + i + "].RegionalPlan" })
                                                    <label for="dokMunicipalList[@i].RegionalPlan" class="checkbox-icon"></label>
                                                </span>
                                            </td>
                                            <td class="text-center"><span class="hidden">@Model[i].NationalAssessmentMunicipalSocialPlan</span>
                                                <span id="municipalSocialPlan-@i" class="hidden">@HtmlHelperExtensions.cbChecked(Model[i].MunicipalSocialPlan)</span>
                                                <span data-toggle="tooltip" data-placement="bottom" title="kommuneplanens samfunnsdel" class="custom-checkbox custom-checkbox-@Model[i].NationalAssessmentMunicipalSocialPlan">
                                                    @Html.CheckBox("dokMunicipalList[" + i + "].MunicipalSocialPlan", Model[i].MunicipalSocialPlan, new { @readonly = "readonly", @id = "dokMunicipalList[" + i + "].MunicipalSocialPlan" })
                                                    <label for="dokMunicipalList[@i].MunicipalSocialPlan" class="checkbox-icon"></label>
                                                </span>
                                            </td>
                                            <td class="text-center"><span class="hidden">@Model[i].NationalAssessmentMunicipalLandUseElementPlan</span>
                                                <span id="municipalLandUseElementPlan-@i" class="hidden">@HtmlHelperExtensions.cbChecked(Model[i].MunicipalLandUseElementPlan)</span>
                                                <span data-toggle="tooltip" data-placement="bottom" title="kommuneplanens arealdel" class="custom-checkbox custom-checkbox-@Model[i].NationalAssessmentMunicipalLandUseElementPlan">
                                                    @Html.CheckBox("dokMunicipalList[" + i + "].MunicipalLandUseElementPlan", Model[i].MunicipalLandUseElementPlan, new { @readonly = "readonly", @id = "dokMunicipalList[" + i + "].MunicipalLandUseElementPlan" })
                                                    <label for="dokMunicipalList[@i].MunicipalLandUseElementPlan" class="checkbox-icon"></label>
                                                </span>
                                            </td>
                                            <td class="text-center"><span class="hidden">@Model[i].NationalAssessmentZoningPlanArea</span>
                                                <span id="zoningPlanArea-@i" class="hidden">@HtmlHelperExtensions.cbChecked(Model[i].ZoningPlanArea)</span>
                                                <span data-toggle="tooltip" data-placement="bottom" title="Reguleringsplan område" class="custom-checkbox custom-checkbox-@Model[i].NationalAssessmentZoningPlanArea">
                                                    @Html.CheckBox("dokMunicipalList[" + i + "].ZoningPlanArea", Model[i].ZoningPlanArea, new { @readonly = "readonly", @id = "dokMunicipalList[" + i + "].ZoningPlanArea" })
                                                    <label for="dokMunicipalList[@i].ZoningPlanArea" class="checkbox-icon"></label>
                                                </span>
                                            </td>
                                            <td class="text-center"><span class="hidden">@Model[i].NationalAssessmentZoningPlanDetails</span>
                                                <span id="zoningPlanDetails-@i" class="hidden">@HtmlHelperExtensions.cbChecked(Model[i].ZoningPlanDetails)</span>
                                                <span data-toggle="tooltip" data-placement="bottom" title="Reguleringsplan detalj" class="custom-checkbox custom-checkbox-@Model[i].NationalAssessmentZoningPlanDetails">
                                                    @Html.CheckBox("dokMunicipalList[" + i + "].ZoningPlanDetails", Model[i].ZoningPlanDetails, new { @readonly = "readonly", @id = "dokMunicipalList[" + i + "].ZoningPlanDetails" })
                                                    <label for="dokMunicipalList[@i].ZoningPlanDetails" class="checkbox-icon"></label>
                                                </span>
                                            </td>
                                            <td class="text-center"><span class="hidden">@Model[i].NationalAssessmentBuildingMatter</span>
                                                <span id="buildingMatter-@i" class="hidden">@HtmlHelperExtensions.cbChecked(Model[i].BuildingMatter)</span>
                                                <span data-toggle="tooltip" data-placement="bottom" title="Byggesak" class="custom-checkbox custom-checkbox-@Model[i].NationalAssessmentBuildingMatter">
                                                    @Html.CheckBox("dokMunicipalList[" + i + "].BuildingMatter", Model[i].BuildingMatter, new { @readonly = "readonly", @id = "dokMunicipalList[" + i + "].BuildingMatter" })
                                                    <label for="dokMunicipalList[@i].BuildingMatter" class="checkbox-icon"></label>
                                                </span>
                                            </td>
                                            <td class="text-center"><span class="hidden">@Model[i].NationalAssessmentPartitionOff</span>
                                                <span id="partitionOff-@i" class="hidden">@HtmlHelperExtensions.cbChecked(Model[i].PartitionOff)</span>
                                                <span data-toggle="tooltip" data-placement="bottom" title="Fradeling" class="custom-checkbox custom-checkbox-@Model[i].NationalAssessmentPartitionOff">
                                                    @Html.CheckBox("dokMunicipalList[" + i + "].PartitionOff", Model[i].PartitionOff, new { @readonly = "readonly", @id = "dokMunicipalList[" + i + "].PartitionOff" })
                                                    <label for="dokMunicipalList[@i].PartitionOff" class="checkbox-icon"></label>
                                                </span>
                                            </td>
                                            <td class="text-center"><span class="hidden">@Model[i].NationalAssessmentEnvironmentalImpactAssessment</span>
                                                <span id="environmentalImpactAssessment-@i" class="hidden">@HtmlHelperExtensions.cbChecked(Model[i].EnvironmentalImpactAssessment)</span>
                                                <span data-toggle="tooltip" data-placement="bottom" title="KU og ROS for pbl-planer" class="custom-checkbox custom-checkbox-@Model[i].NationalAssessmentEnvironmentalImpactAssessment">
                                                    @Html.CheckBox("dokMunicipalList[" + i + "].EnvironmentalImpactAssessment", Model[i].EnvironmentalImpactAssessment, new { @readonly = "readonly", @id = "dokMunicipalList[" + i + "].EenvironmentalImpactAssessment" })
                                                    <label for="dokMunicipalList[@i].EenvironmentalImpactAssessment" class="checkbox-icon"></label>
                                                </span>
                                            </td>

                                            <td>
                                                <span id="modalBtn-@i" type="button" class="fa-pencil-square fa" data-toggle="modal" data-target="#myModal-@i" title="@Shared.Text" style="font-size:20px; cursor: pointer; color:#337ab7; vertical-align: middle"></span>
                                                <!-- Modal -->
                                                <div class="modal fade" id="myModal-@i" role="textbox">
                                                    <div class="modal-dialog">
                                                        <!-- Modal content-->
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                <h3 class="modal-title">@DataSet.DOK_SuitabilityRating - @Model[i].Name</h3>
                                                                <p>@DataSet.SuitabilityText</p>
                                                            </div>
                                                            <div class="modal-body">
                                                                @Html.TextArea("dokMunicipalList[" + i + "].SuitabilityAssessmentText", Model[i].SuitabilityAssessmentText, 3, 10, new { @style = "min-height:0px", @id = "txtArea-" + i })
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button id="saveSuitabilityText" type="button" class="btn btn-default" data-dismiss="modal" onclick="changeBtnColor(@i)">@Shared.Save</button>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="tablesorter-childRow infoTxtDataset-@i infoTxt" style="background-color:#F4F4F4">
                                            <td colspan="3" style="padding:0px">
                                                <label class="label-info label auto-width" style="height:100%; background-color:#F4F4F4">
                                                    <b>@Registers.Etat:</b> @Model[i].Owner<br />
                                                    <b>DOK status:</b> @Model[i].NationalDokStatus
                                                </label>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <a href="/register/det-offentlige-kartgrunnlaget-kommunalt">@Shared.Back</a>
            </div>
            <div class="col-sm-10 text-right">
                <a href="/register/det-offentlige-kartgrunnlaget-kommunalt?municipality=@ViewBag.selectedMunicipalityCode" class="btn btn-default">@Shared.Cancel</a>
                <input type="submit" value="@Shared.Save" data-loading-message="@Registers.SavingContentMessage" class="btn btn-default show-loading-animation" />
            </div>
        </div>
    }
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/jquery.tablesorter.min.js"></script>
