@using Kartverket.Register.Models.ViewModels
@using Resources
@model List<DokMunicipalEdit>

@{
    string selectedMunicipal = ViewBag.selectedMunicipality;
}

@section breadcrumb {
    <li><a href="/register/det-offentlige-kartgrunnlaget-kommunalt">Det offentlige kartgrunnlaget - Kommunalt</a></li>
    <li>Rediger liste</li>
}
@section Scripts {
    <script>
        $(document).ready(function () {
            $(".tableSuitability").tablesorter({
                headers: {
                    2: { sorter: false },
                    3: { sorter: false },
                    4: { sorter: false },
                    5: { sorter: false },
                    6: { sorter: false },
                    7: { sorter: false },
                    8: { sorter: false },
                    9: { sorter: false }
                }
            });

            $(".tableCoverage").tablesorter({
                headers: {
                    4: { sorter: false },
                    5: { sorter: false }
                }
            });
        });

        function cbChecked(id) {
            var className = "cb" + id;
            var element = document.getElementsByClassName(className);
            var checked = element.item(0).checked;

            if (checked) {
                document.getElementById(id).innerHTML = '1';
            } else {
                document.getElementById(id).innerHTML = '0';
            }
        }

        $(document).ready(function () {
            $(".infoTxt").hide()
            $("#suitabitityHelpText").hide()
            $("#suitabitityHelpTextBtn").click(function () {
                $("#suitabitityHelpText").toggle(500);
            });
        });

        function changeText(element) {
            if (element.innerText == "Vis veiledning om registrering") {
                element.innerHTML = "Skjul tekst";
            }
            else {
                element.innerHTML = "Vis veiledning om registrering";
            }
        }

        function InfoText(id) {
            var className = ".infoTxtDataset-" + id;
            $(className).toggle(200);
        }
    </script>

}

@using (Html.BeginForm("EditDokMunicipal", "Registers", FormMethod.Post))
{
    <input type="submit" value="Lagre" data-loading-message="Lagrer innhold" class="btn btn-default pull-right show-loading-animation" />
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-8">
            <h2>@selectedMunicipal</h2>
        </div>
        <div class="col-md-4" style="margin-top: 25px;">
            <label>Kommunal bekreftelse:</label>
            <div class="no-padding-bottom">
                <div class="custom-select">
                    @Html.DropDownList("statusDOKMunicipal", null, "-- sett status --", htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs nav-tabs-topp" style="display:block; padding-bottom:0px;">
                <li class="tab pull-right" data-loading-message="Laster Egnethetsvurdering"><a aria-expanded="false" href="#suitability" id="suitabilityLink" data-toggle="tab">Egnethetsvurdering</a></li>
                <li class="tab active pull-right" data-loading-message="Laster Bekrefte DOK"><a aria-expanded="false" href="#coverage" id="coverageLink" data-toggle="tab">Bekrefte DOK</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="tab-content">

                @* COVERAGE*@
                <div class="tab-pane active" style="margin-top:0px" id="coverage">
                    <table id="myTable" class="tablesorter table-responsive table tableCoverage" style="width:100%">
                        <thead>
                            <tr>
                                <th style="width:10%"><a href="#" data-toggle="tooltip" data-placement="bottom" title="@UI.DOK_Temagruppe">Temagruppe</a></th>
                                <th style="width:10%" colspan="2"><a href="#" data-toggle="tooltip" data-placement="bottom" title="@UI.DOK_Tittel">Tittel</a></th>
                                <th class="text-center"><a href="#" data-toggle="tooltip" title="@UI.DOK_Bekreftet_Kommune">Bekreft</a></th>
                                <th class="text-center"><a href="#" data-toggle="tooltip" title="@UI.DOK_Coverage_Municipality">Dekning</a></th>
                                <th><span data-toggle="tooltip" class="link-unstyled" title="@UI.DOK_Kommentar">Merknad</span></th>
                                <th class="text-center">Slett</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Count; i++)
                            {
                                <tr>
                                    @Html.Hidden("dokMunicipalList[" + i + "].Id", Model[i].Id, new { @readonly = "readonly" })
                                    @Html.Hidden("dokMunicipalList[" + i + "].OwnerId", Model[i].OwnerId, new { @readonly = "readonly" })
                                    @Html.Hidden("dokMunicipalList[" + i + "].MunicipalityId", Model[i].MunicipalityId, new { @readonly = "readonly" })
                                    @Html.Hidden("dokMunicipalList[" + i + "].Owner", Model[i].Owner, new { @readonly = "readonly" })
                                    @Html.Hidden("dokMunicipalList[" + i + "].NationalDokStatus", Model[i].NationalDokStatus, new { @readonly = "readonly" })
                                    @Html.Hidden("dokMunicipalList[" + i + "].Type", Model[i].Type, new { @readonly = "readonly" })
                                    @Html.Hidden("dokMunicipalList[" + i + "].NationalDokStatus", Model[i].NationalDokStatus, new { @readonly = "readonly" })

                                    <td style="background-color:rgb(234, 234, 234)" title="Temagruppe for @Model[i].Name: @Model[i].Themegroup">
                                        @Model[i].Themegroup

                                    </td>
                                    <td style="background-color:rgb(234, 234, 234)" title="Datasett: @Model[i].Name">
                                        @Model[i].Name
                                        @Html.Hidden("dokMunicipalList[" + i + "].Name", Model[i].Name, new { @readonly = "readonly" })
                                    </td>

                                    <td style="background-color:rgb(234, 234, 234)"><a href="#" class="badge help-text-toggle" onclick="InfoText('@i')">i</a></td>


                                    <td style="text-align: center" title="Hak av de data som en bekreftelse på data som skal være kommunes DOK">
                                        @if (Model[i].Confirmed)
                                        {
                                            <span id="@i" class="hidden">1</span>
                                        }
                                        else {
                                            <span id="@i" class="hidden">0</span>
                                        }
                                        <span class="custom-checkbox custom-checkbox-default">
                                            @Html.CheckBox("dokMunicipalList[" + i + "].Confirmed", Model[i].Confirmed, new { @readonly = "readonly", @onclick = "cbChecked(" + i + ")", @class = "cb" + i + "", @datatoggle = "tooltip", dataplacement = "bottom", title = "Bekrefte" })
                                        </span>
                                    </td>
                                    <td style="text-align: center" title="@UI.DOK_Coverage_Municipality">
                                        @if (Model[i].Coverage)
                                        {
                                            <span>JA</span>
                                        }
                                        else
                                        {
                                            <span>NEI</span>
                                        }
                                    </td>
                                    <td title="Må legges inn på data en velger ikke å ta med, kan brukes også for andre datasett">
                                        @Html.TextArea("dokMunicipalList[" + i + "].Note", Model[i].Note, 1, 10, new { @style = "min-height:0px" })
                                    </td>
                                    <td id="cbDelete">
                                        @if (Model[i].IsMunicipalDataset())
                                        {
                                            @Html.CheckBox("dokMunicipalList[" + i + "].Delete", Model[i].Delete)<label></label>
                                        }
                                    </td>
                                </tr>

                                <tr class="infoTxtDataset-@i infoTxt" style="background-color:#F4F4F4">
                                    <td class="hidden">@Model[i].Themegroup</td>
                                    <td class="hidden">@Model[i].Name hidden</td>
                                    <td colspan="3" style="padding:0px">
                                        <label class="label-info label auto-width" style="height:100%; background-color:#F4F4F4">
                                            <b>Etat:</b> @Model[i].Owner<br />
                                            <b>DOK status:</b> @Model[i].NationalDokStatus
                                        </label>
                                    </td>
                                    <td class="hidden">3</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                @* SUITABILITY *@
                <div class="tab-pane" style="margin-top:0px" id="suitability">
                    <div class="btn-default btn" id="suitabitityHelpTextBtn" onclick="changeText(this)">Vis veiledning om registrering</div>
                    <div id="suitabitityHelpText">
                        <b>Kommunalt forslag til bruk ut fra egnethet</b><br />
                        Her kan du angi kommunens vurdering av egnethet for hvert av datasettene. Ulike kommuner har ulike utfordringer og dette kan påvirke vurderingen av egnethet. Registreringen er ikke obligatorisk, men er frivillig å bruke, det skal være et verktøy for kommunens eget arbeid med DOK.
                        Det er lagt inn overordnede nasjonale forslag. Dette forslaget er kun ment som grovt veiledende ut fra fagpersoners kjennskap til datasettet og kjennskap til de oppgaver og prosesser som skal løses etter plan- og bygningsloven.
                        Ettersom et datasetts kvalitet og dekning kan variere betydelig fra en kommune til en annen og en landsdel til en annen, må kommunene selv vurdere egnethet ut fra tilgjengelige data for sin kommune. Egnethetsvurderingen kan gjøres for bruk i disse prosessene:
                        <ul>
                            <li>Regionplanlegging</li>
                            <li>Prosesser knyttet til kommuneplanens samfunnsdel</li>
                            <li>Prosesser knyttet til kommuneplanens arealdel</li>
                            <li>Reguleringsplanlegging – områderegulering</li>
                            <li>Reguleringsplanlegging - detaljregulering</li>
                            <li>Byggesak</li>
                            <li>Fradeling</li>
                            <li>KU - konsekvensutredninger i forbindelse med arealplaner</li>
                        </ul>
                        Kryss av for type oppgaver der dere bruker, eller kan bruke, datasettet.
                    </div>


                    <table id="myTable" class="tablesorter table-responsive table tableSuitability" style="width:100%">
                        <thead>
                            <tr>
                                <th><a href="#" data-toggle="tooltip" data-placement="bottom" title="@UI.DOK_Temagruppe">Temagruppe</a></th>
                                <th colspan="2"><a href="#" data-toggle="tooltip" title="@UI.DOK_Tittel">Tittel</a></th>
                                <th class="text-center"><span data-toggle="tooltip" title="TOODO">Region-plan</span></th>
                                <th class="text-center"><span data-toggle="tooltip" title="TODO">Kommune-planens samfunns-del</span></th>
                                <th class="text-center"><span data-toggle="tooltip" title="TODO">Kommune-planens areal-del</span></th>
                                <th class="text-center"><span data-toggle="tooltip" title="TODO">Regulerings-plan-område</span></th>
                                <th class="text-center"><span data-toggle="tooltip" title="TODO">Regulerings-plan–detalj</span></th>
                                <th class="text-center"><span data-toggle="tooltip" title="TODO">Byggesak</span></th>
                                <th class="text-center"><span data-toggle="tooltip" title="TODO">Fradeling</span></th>
                                <th class="text-center"><span data-toggle="tooltip" title="TODO">KU og ROS for pbl-planer</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Count; i++)
                            {
                                if (Model[i].Confirmed)
                                {
                                    <tr>
                                        <td style="background-color:rgb(234, 234, 234)" title="Temagruppe for @Model[i].Name: @Model[i].Themegroup">@Model[i].Themegroup</td>
                                        <td style="background-color:rgb(234, 234, 234)" title="Datasett: @Model[i].Name">
                                            @Model[i].Name
                                            @Html.Hidden("dokMunicipalList[" + i + "].Name", Model[i].Name, new { @readonly = "readonly" })
                                        </td>
                                        <td style="background-color:rgb(234, 234, 234)"><a href="#" class="badge help-text-toggle" onclick="InfoText('@i')">i</a></td>
                                        <td class="text-center">
                                            <span data-toggle="tooltip" data-placement="bottom" title="Regionplan" class="custom-checkbox custom-checkbox-@Model[i].NationalAssessmentRegionalPlan">
                                                @Html.CheckBox("dokMunicipalList[" + i + "].RegionalPlan", Model[i].RegionalPlan, new { @readonly = "readonly", @onclick = "cbChecked(" + i + ")", @class = "cb" + i + "" })
                                            </span>
                                        </td>
                                        <td class="text-center">
                                            <span data-toggle="tooltip" data-placement="bottom" title="kommuneplanens samfunnsdel" class="custom-checkbox custom-checkbox-@Model[i].NationalAssessmentMunicipalSocialPlan">
                                                @Html.CheckBox("dokMunicipalList[" + i + "].MunicipalSocialPlan", Model[i].MunicipalSocialPlan, new { @readonly = "readonly", @onclick = "cbChecked(" + i + ")", @class = "cb" + i + "" })
                                            </span>
                                        </td>
                                        <td class="text-center">
                                            <span data-toggle="tooltip" data-placement="bottom" title="kommuneplanens arealdel" class="custom-checkbox custom-checkbox-@Model[i].NationalAssessmentMunicipalLandUseElementPlan">
                                                @Html.CheckBox("dokMunicipalList[" + i + "].MunicipalLandUseElementPlan", Model[i].MunicipalLandUseElementPlan, new { @readonly = "readonly", @onclick = "cbChecked(" + i + ")", @class = "cb" + i + "" })
                                            </span>
                                        </td>
                                        <td class="text-center">
                                            <span data-toggle="tooltip" data-placement="bottom" title="Reguleringsplan område" class="custom-checkbox custom-checkbox-@Model[i].NationalAssessmentZoningPlanArea">
                                                @Html.CheckBox("dokMunicipalList[" + i + "].ZoningPlanArea", Model[i].ZoningPlanArea, new { @readonly = "readonly", @onclick = "cbChecked(" + i + ")", @class = "cb" + i + "" })
                                            </span>
                                        </td>
                                        <td class="text-center">
                                            <span data-toggle="tooltip" data-placement="bottom" title="Reguleringsplan detalj" class="custom-checkbox custom-checkbox-@Model[i].NationalAssessmentZoningPlanDetails">
                                                @Html.CheckBox("dokMunicipalList[" + i + "].ZoningPlanDetails", Model[i].ZoningPlanDetails, new { @readonly = "readonly", @onclick = "cbChecked(" + i + ")", @class = "cb" + i + "" })
                                            </span>
                                        </td>
                                        <td class="text-center">
                                            <span data-toggle="tooltip" data-placement="bottom" title="Byggesak" class="custom-checkbox custom-checkbox-@Model[i].NationalAssessmentBuildingMatter">
                                                @Html.CheckBox("dokMunicipalList[" + i + "].BuildingMatter", Model[i].BuildingMatter, new { @readonly = "readonly", @onclick = "cbChecked(" + i + ")", @class = "cb" + i + "" })
                                            </span>
                                        </td>
                                        <td class="text-center">
                                            <span data-toggle="tooltip" data-placement="bottom" title="Fradeling" class="custom-checkbox custom-checkbox-@Model[i].NationalAssessmentPartitionOff">
                                                @Html.CheckBox("dokMunicipalList[" + i + "].PartitionOff", Model[i].PartitionOff, new { @readonly = "readonly", @onclick = "cbChecked(" + i + ")", @class = "cb" + i + "" })
                                            </span>
                                        </td>
                                        <td class="text-center">
                                            <span data-toggle="tooltip" data-placement="bottom" title="KU og ROS for pbl-planer" class="custom-checkbox custom-checkbox-@Model[i].NationalAssessmentEnvironmentalImpactAssessment">
                                                @Html.CheckBox("dokMunicipalList[" + i + "].EenvironmentalImpactAssessment", Model[i].EnvironmentalImpactAssessment, new { @readonly = "readonly", @onclick = "cbChecked(" + i + ")", @class = "cb" + i + "" })
                                            </span>
                                        </td>

                                        <td>
                                            <div class="container">
                                                <span type="button" class="fa-pencil-square fa" data-toggle="modal" data-target="#myModal" title="Tekst" style="font-size:20px; vertical-align: -webkit-baseline-middle"></span>
                                                <!-- Modal -->
                                                <div class="modal fade" id="myModal" role="textbox">
                                                    <div class="modal-dialog">
                                                        <!-- Modal content-->
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" data-keyboard="true" class="close" data-dismiss="modal">&times;</button>
                                                                <h3 class="modal-title">Egnethetsvurdering - @Model[i].Name</h3>
                                                                <p>Tekst om egnethet, tips til bruk eller andre kommentarer</p>
                                                            </div>
                                                            <div class="modal-body">
                                                                @Html.TextArea("dokMunicipalList[" + i + "].Note", Model[i].Note, 3, 10, new { @style = "min-height:0px" })
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-default" data-dismiss="modal">Lagre</button>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                        </td>

                                    </tr>
                                    <tr class="infoTxtDataset-@i infoTxt" style="background-color:#F4F4F4">
                                        <td class="hidden">@Model[i].Themegroup</td>
                                        <td class="hidden">@Model[i].Name hidden</td>
                                        <td colspan="3" style="padding:0px">
                                            <label class="label-info label auto-width" style="height:100%; background-color:#F4F4F4">
                                                <b>Etat:</b> @Model[i].Owner<br />
                                                <b>DOK status:</b> @Model[i].NationalDokStatus
                                            </label>
                                        </td>
                                        <td class="hidden">3</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <a href="/register/det-offentlige-kartgrunnlaget-kommunalt">Tilbake</a>
        </div>
        <div class="col-sm-10 text-right">
            <a href="/register/det-offentlige-kartgrunnlaget-kommunalt?municipality=@ViewBag.selectedMunicipalityCode" class="btn btn-default">Avbryt</a>
            <input type="submit" value="Lagre" data-loading-message="Lagrer innhold" class="btn btn-default show-loading-animation" />
        </div>
    </div>
}
