@model Kartverket.Register.Models.Register
﻿@using Kartverket.Register.Helpers

@{
    ViewBag.Title = "Rediger " + Model.name;
}

@section breadcrumb {

    <li><a href="/register/@Model.seoname">@Html.DisplayFor(model => model.name)</a></li>
    <li class="active">Rediger</li>
}

<h2>Rediger</h2>
<h4>@Model.name</h4>
<hr />

@using (Html.BeginForm("Edit", "Registers", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.systemId)
        @Html.HiddenFor(model => Model.containedItemClass)

        <div class="form-group">
            @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessage("ErrorMessage")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.statusId, "Status", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("statusId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.statusId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.owner, "Eier", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ownerId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.statusId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.parentRegister, "Parent register", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("parentRegisterId", null, "Ingen", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.parentRegisterId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                @Html.LabelFor(model => model.accessId, "Tilgang til registeret")
                <br /><small>Gjelder tilgang til å foreslå, endre- og slette egne registeroppføringer. Admin har alltid full tilgang </small> <br /><br />
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5">
                @if (Model.accessId == 1)
                {
                    @Html.RadioButton("accessId", 1, htmlAttributes: new { @id = "admin", @title = "Administrator har full tilgang", @checked = "checked", @class = "col-md-1", })
                }
                else
                {
                    @Html.RadioButton("accessId", 1, htmlAttributes: new { @id = "admin", @title = "Administrator har full tilgang", @class = "col-md-1", })
                }
                <label class="col-md-4" for=" admin">Admin</label>

                @if (Model.accessId == 2)
                {
                    @Html.RadioButton("accessId", 2, htmlAttributes: new { @id = "editor", @title = "Administrator har full tilgang og Editor kan foreslå, endre og slette egne oppføringer", @checked = "checked", @class = "col-md-1" })                    
                }
                else{
                    @Html.RadioButton("accessId", 2, htmlAttributes: new { @id = "editor", @title = "Administrator har full tilgang og Editor kan foreslå, endre og slette egne oppføringer", @class = "col-md-1" })
                }
                <label class="col-md-4" for="editor">Admin + Editor</label>
            </div>
        </div>
        
        


    </div>
    <div class="form-group">
        <hr />
        <input type="submit" value="Lagre" class="btn btn-default pull-right" />
        <a href="/register/@Model.seoname">Tilbake</a>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
