﻿@using Kartverket.Register.Helpers
@model IEnumerable<Kartverket.Register.Models.Register>

@{
    ViewBag.Title = "Registrene";
}


    <div class="page-header">
        <h2 class="h-md">Registrene</h2>
        <hr>
    </div>



    <table class="table">
        <tr>
            <th>
                Navn
            </th>
            <th>
                Innhold
            </th>
            <th>
                Eier
            </th>
            @*<th>
                Status
            </th>*@
        </tr>
        <tr>
            <td>
                <b><a href="@Html.DokRegisterUrl()">Det offentlige kartgrunnlaget</a></b>
            </td>
            <td>
                Det offentlige kartgrunnlaget beskrives i plan- og bygningslovens paragraf 2-1 og kart- og planforskriften og skal være er en samling geografiske kvalitetsdata, såkalt offentlige autoritative data. Disse skal være valgt ut og tilrettelagt for å være et egnet kunnskapsgrunnlag for de mest vesentlige behovene som følger av plan- og bygningsloven.
            </td>
            <td></td>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <b><a href="/register/@Html.ToUrl(item.name)">@item.name</a></b>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>

                <td>
                    @if (item.owner == null)
                    {
                        <span>Ikke angitt</span>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.owner.name)
                    }
                </td>
                @*<td>
                    @if (item.statusId == null)
                    {
                        <span>Ikke angitt</span>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.status.description)
                    }
                </td>*@

            </tr>
        
        
        }

        

    </table>
