@using Kartverket.Register.Helpers
@model Kartverket.Register.Models.ViewModels.RegisterViewModel

@{
    ViewBag.Title = "Registrene";
}
@Html.Partial("_SearchBarPartial")

<section class="heading">
    <div class="row">
        <div class="col-sm-12">
            <h1>
                @Shared.Heading
            </h1>
        </div>
        <div class="col-sm-12">
            <span class="separator-lg"></span>
        </div>
    </div>
</section>
<div class="row">
    <div class="col-sm-12">
        <table class="table table-responsive">
            <tr>
                <th>
                    @Registers.Name
                </th>
                <th>
                    @Registers.Content
                </th>
                <th>
                    @Registers.Owner
                </th>
            </tr>
            <tr>
                <td>
                    <p><a href="@Html.ObjektkatalogUrl()" data-loading-message="@Registers.LoadingMessage" class="show-loading-animation">@Registers.Objektregisteret</a></p>
                </td>
                <td>
                    @Registers.ObjektregisteretContent
                </td>
                <td>

                </td>

            </tr>
            <tr>
                <td>
                    <p><a href="/register/kartografi" data-loading-message="@Registers.LoadingMessage" class="show-loading-animation">@Registers.Kartografi</a></p>
                </td>
                <td>
                    @Registers.KartografiContent
                </td>
                <td></td>

            </tr>
            <tr>
                <td>
                    <p><a href="/register/symbol" data-loading-message="@Registers.LoadingMessage" class="show-loading-animation">Symbol</a></p>
                </td>
                <td>
                    @Registers.SymbolContent
                </td>
                <td></td>

            </tr>
            <tr>
                <td>
                    <p><a href="/register/det-offentlige-kartgrunnlaget/dekning" data-loading-message="@Registers.LoadingMessage" class="show-loading-animation">Det offentlige kartgrunnlaget - dekningskart</a></p>
                </td>
                <td>
                    @Registers.SymbolContent
                </td>
                <td>Kartverket</td>
            </tr>
            @foreach (var item in Model.Items)
            {
                if (string.IsNullOrEmpty(item.ParentRegisterId))
                {
                    <tr>
                        <td>
                            <p><a href="/register/@item.Seoname" data-loading-message="@Registers.LoadingMessage" class="show-loading-animation">@item.Name</a></p>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>

                        <td title="Eier: @item.Owner">
                            @if (string.IsNullOrEmpty(item.Owner))
                            {
                                <span>@Registers.NotSet</span>
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.Owner)
                            }
                        </td>

                    </tr>
                }
            }


        </table>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            @if (Request.IsAuthenticated)
            {
                if (HtmlHelperExtensions.IsAdmin())
                {
                    @*<a class="btn btn-default pull-right" href="/ny">Nytt register</a>*@
                }
            }
        </div>
    </div>
</div>
