@model IEnumerable<Kartverket.Register.Models.Register>

@{
    ViewBag.Title = "Index";
}


<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateSubmitted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateAccepted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.containedItemClass)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="/registers/@item.name/@item.systemId">@item.name</a>          
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateSubmitted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.modified)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateAccepted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.containedItemClass)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.systemId }) |
            @Html.ActionLink("Details", "Details", new { id=item.systemId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.systemId })
        </td>
    </tr>
}

</table>
