@using Kartverket.Register.Helpers
@model Kartverket.Register.Models.ViewModels.RegisterGrouped
@{
    ViewBag.Title = "Register";
}
@Html.Partial("_SearchBarPartial")

<section>
    <div class="row">
        <div class="col-sm-12">
            <h1>
                @Shared.Heading
            </h1>
        </div>
        <div class="col-sm-12">
            <span class="separator-lg"></span>
        </div>
    </div>
</section>
<div class="row">
    <div class="col-sm-12">
        <p>@Shared.HeadingText</p>
    </div>
</div>


@foreach (var group in Model.Items)
{
    <div class="resultItemRow col-md-12 ">
        <div class="col-md-12">
            <h2>@group.Name</h2>
        </div>
    </div>
    foreach (var item in group.Items)
    {
        if (!item.IsGeodatalovStatusRegister() || HtmlHelperExtensions.IsAdmin())
        {
            <div class="resultItemRow col-md-12 ">
                <div class="col-md-12">
                    <a href="@item.GetObjectUrl()">@item.NameTranslated()</a>
                </div>
                <div class="col-md-12">
                    <p>@item.DescriptionTranslated()</p>
                </div>
            </div>
        }
    }
}
