@using Kartverket.Register.Helpers
@model IEnumerable<Kartverket.Register.Models.Register>
@{
    ViewBag.Title = "Register";
}
@Html.Partial("_SearchBarPartial")

<section>
    <div class="row">
        <div class="col-sm-12">
            <h1>
                @Shared.Heading
            </h1>
        </div>
        <div class="col-sm-12">
            <span class="separator-lg"></span>
        </div>
    </div>
</section>


<div class="table-heading col-md-12">
    <div class="col-md-4 col-sm-12 col"><strong>@Registers.Name</strong></div>
    <div class="col-md-8 col-sm-12 col"><strong>@Registers.Content</strong></div>
</div>

@*Objektregister*@
<div class="resultItemRow col-md-12 ">
    <div class="col-md-4 col-sm-12 col">
        <a href="@Html.ObjektkatalogUrl()" data-loading-message="@Registers.LoadingMessage" class="show-loading-animation">@Registers.Objektregisteret</a>
    </div>
    <div class="col-md-8 col-sm-12 col">
        <p>@Registers.ObjektregisteretContent</p>
    </div>
</div>

@*Kartografiregister*@
<div class="resultItemRow col-md-12 ">
    <div class="col-md-4 col-sm-12 col">
        <a href="/register/kartografi" data-loading-message="@Registers.LoadingMessage" class="show-loading-animation">@Registers.Kartografi</a>
    </div>
    <div class="col-md-8 col-sm-12 col">
        <p>@Registers.KartografiContent</p>
    </div>
</div>

@*Symbolregister*@
<div class="resultItemRow col-md-12 ">
    <div class="col-md-4 col-sm-12 col">
        <a href="/register/symbol" data-loading-message="@Registers.LoadingMessage" class="show-loading-animation">Symbol</a>
    </div>
    <div class="col-md-8 col-sm-12 col">
        <p>@Registers.SymbolContent</p>
    </div>
</div>

@*Dekningskart*@
<div class="resultItemRow col-md-12 ">
    <div class="col-md-4 col-sm-12 col">
        <a href="/register/det-offentlige-kartgrunnlaget/dekning" data-loading-message="@Registers.LoadingMessage" class="show-loading-animation">Det offentlige kartgrunnlaget - dekningskart</a>
    </div>
    <div class="col-md-8 col-sm-12 col">
        <p>@Registers.SymbolContent</p>
    </div>
</div>


@foreach (var item in Model)
{
    if (!item.IsInspireStatusRegister() && !item.IsGeodatalovStatusRegister() || HtmlHelperExtensions.IsAdmin())
    {
        <div class="resultItemRow col-md-12 ">
            <div class="col-md-4 col-sm-12 col">
                <a href="@item.GetObjectUrl()">@item.NameTranslated()</a>
            </div>
            <div class="col-md-8 col-sm-12 col">
                <p>@item.DescriptionTranslated()</p>
            </div>
        </div>
    }
}
