﻿@using Kartverket.Register.Helpers
@model PagedList<Kartverket.Register.Models.EPSG>
@using Kartverket.Register.Models
@using PagedList;
@using PagedList.Mvc;


@{
    ViewBag.Title = Model.ElementAt(0).register.name;

}

@section breadcrumb {

}

<script>
    function SortBy(sort) {
        var sort = document.getElementById("sorting");
        var selected = sort.options[sort.selectedIndex].text;
        document.sortering.submit();
        localStorage['SortingType'] = selected;
    }
</script>



<div class="page-header">
    <h2 class="h-md">@Html.DisplayFor(model => Model.ElementAt(0).register.name)</h2>
    <hr>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-no-padding-xs col-xs-12 col-sm-9 col-md-9 col-lg-9">
        ID <br />
        Beskrivelse
    </div>

    <div class="col-no-padding-xs col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <span class="small">Registrert: @Html.DisplayFor(model => model.ElementAt(0).register.dateSubmitted)</span><br />
        <span class="small">Oppdatert: @Html.DisplayFor(model => model.ElementAt(0).register.modified)</span>

    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="page-header">
            <hr>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                @Html.PagedListPager(Model, page => Url.Action("Details", new { page, sorting = ViewBag.SortOrder }))
                <br /><br />
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                Registere viser @Model.FirstItemOnPage - @Model.LastItemOnPage av @Model.TotalItemCount
            </div>


            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="">
                    <ul class="nav nav-pills text-center">
                        <li><a onclick="listView()" id="button-listView" name="liste" class="active"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Liste</a></li>
                        <li><a onclick="galleryView()" id="button-galleryView" name="galleri" class=""><span class="glyphicon glyphicon-th" aria-hidden="true"></span> Galleri</a></li>
                        <li><a onclick="tableView()" id="button-tableView" name="tabell" class=""><span class="glyphicon glyphicon-list" aria-hidden="true"></span> Tabell</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="pagination pagination-sm pull-right">
                    <form action="/register/@Model.ElementAt(0).register.seoname/dataset/" name="sortering" method="get">
                        <div class="pull-right" onchange="SortBy()">
                            Sorter: @Html.DropDownList("sorting", "Navn a-å")
                        </div>
                    </form>
                </div>
            </div>


            <br />

            <br /><br />

            <hr />
        </div>

        <div class="document search-results">
            @*lage egne stiler for dataset*@
            @foreach (EPSG item in Model)
            {
                <div class="row result-row metadata">
                    <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12" style="height: auto; border: medium none; box-shadow: none;">
                        <div class="col-title col-xs-5 col-sm-5 col-md-5 col-lg-5 ">
                            <a class="" href="/register/@Html.ToUrl(item.register.name)/@Html.ToUrl(item.submitter.name)/@Html.ToUrl(item.name)/">
                                <h4 class="role-button" role="button" style="font-size: 18px;">
                                    @item.name
                                </h4>
                            </a>
                            <p>
                                @item.description
                            </p>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-actions ">
                            <p>@Html.DisplayFor(modelItem => item.epsgcode)</p>
                            <p>Sosi referansesystem: @Html.DisplayFor(modelItem => item.sosiReferencesystem)</p>
                            <p>ekstern referanse: <a href="@item.externalReference">Vis</a></p>
                        </div>
                        <div class="col-no-padding-xs col-actions col-md-4 col-lg-4">
                            @if (item.inspireRequirement == null)
                            {
                                <p>Inspire krav: Ikke angitt</p>
                            }
                            else
                            {
                                <p>Inspire krav: @Html.DisplayFor(modelItem => item.inspireRequirement.description)</p>
                            }
                                
                            @if (item.nationalRequirement == null)
                            {
                                <p>Nasjonale krav: Ikke angitt</p>
                            }
                            else
                            {
                                <p>Nasjonale krav: @Html.DisplayFor(modelItem => item.nationalRequirement.description)</p>
                            }
                                
                            @if (item.nationalSeasRequirement == null)
                            {
                                <p>Nasjonale krav for havområder: Ikke angitt</p>
                            }
                            else
                            {
                                <p>Nasjonale krav for havområder: @Html.DisplayFor(modelItem => item.nationalSeasRequirement.description)</p>
                            }
                        </div>
                    </div>

                </div>
                <hr />
            }


        </div>
    </div>
</div>


<hr />
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

    <div class="col-img col-xs-12 col-sm-6 col-md-6 col-lg-6">
        Registere viser @Model.FirstItemOnPage - @Model.LastItemOnPage av @Model.TotalItemCount
    </div>
    <div class="col-img col-xs-12 col-sm-6 col-md-6 col-lg-6">
        @Html.PagedListPager(Model, page => Url.Action("Details", new { page, sorting = ViewBag.SortOrder }))
    </div>
    <p>
        <a href="/register/@Html.ToUrl(Model.ElementAt(0).register.name)/">Tilbake</a>
    </p>
</div>





