@model Kartverket.Register.Models.Document
﻿@using Kartverket.Register.Helpers
@using System.Web.Configuration

@{
    ViewBag.Title = Shared.Edit + " " + Model.name;
}
@section Scripts {
<script>
    //$(document).ready(function () {
    //    $('.date').datepicker({ dateFormat: "dd/mm/yy" });
    //});

    window.onload = function () {
        if (document.getElementById('accepted').checked == true) {
            document.getElementById('cbRetired').hidden = false;
            enable();
        }
        if (document.getElementById('not-accepted').checked == true) {
            document.getElementById('cbRetired').hidden = false;
            disable();
        }
        if (document.getElementById('accepted').checked == false && document.getElementById('not-accepted').checked == false) {
            document.getElementById('cbRetired').hidden = true;
            disable();
        }

        if ((document.getElementById('accepted').checked == true || document.getElementById('not-accepted').checked == true) && @Model.statusId != "Superseded") {
            document.getElementById('cbRetired').hidden = false;
        }

        if (@Model.statusId == "Retired" || @Model.statusId == "Superseded") {
            document.getElementById('accepted').disabled == true;
            document.getElementById('not-accepted').disabled == true;
        }
    }

    function disable() {
        document.getElementById('approvalDate').hidden = true;
        document.getElementById('approvalDoc').hidden = true;
        document.getElementById('approvalRef').hidden = true;
        if (document.getElementById('accepted').checked == false && document.getElementById('not-accepted').checked == false) {
            document.getElementById('NotAcceptedate').hidden = true;
        }
        else{
            document.getElementById('NotAcceptedate').hidden = false;
        }
        document.getElementById('sosiinfo').hidden = true;
    }

    function enable() {
        document.getElementById('approvalDate').hidden = false;
        document.getElementById('approvalDoc').hidden = false;
        document.getElementById('approvalRef').hidden = false;
        document.getElementById('NotAcceptedate').hidden = true;
        document.getElementById('cbRetired').hidden = false;
        document.getElementById('sosiinfo').hidden = false;
    }


</script>
}

@section breadcrumb {

    @foreach (var register in HtmlHelperExtensions.registers(Model.register))
    {
        <li><a href="@register.GetObjectUrl()">@register.name</a></li>
    }
    <li><a href="@Model.register.GetObjectUrl()">@Html.DisplayFor(model => model.register.name)</a></li>
    <li><a href="@Model.GetObjectUrl()">@Html.DisplayFor(model => model.name)</a></li>
    <li>@Shared.Edit</li>
}
<section class="heading">
    <div class="row">
        <div class="col-sm-12">
            <h2>
                @Shared.Edit @Model.name
            </h2>
        </div>
        <div class="col-sm-12">
            <span class="separator-lg"></span>
        </div>
    </div>
</section>
<p id="registerName">Register: @Model.register.name</p>
<p>Versjons id: @Model.versionNumber</p>

<form action="@Request.Url.LocalPath" method="post" enctype="multipart/form-data">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.systemId)
    @Html.HiddenFor(model => model.registerId)
    @Html.HiddenFor(model => model.versionNumber)
    @Html.HiddenFor(model => model.versioningId)
    @Html.HiddenFor(model => model.submitterId)
    @Html.HiddenFor(model => model.statusId)

    <div class="form-horizontal">
        @if (Request.IsAuthenticated)
        {
            if (Model.statusId == "Submitted" || Model.statusId == "Draft")
            {
                <div class="form-group">
                    @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessage("ErrorMessage")
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.versionName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.versionName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.versionName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.submitterId, "Innsender:", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("submitterId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.submitterId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.documentownerId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("documentownerId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.documentownerId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.documentUrl, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="file" name="documentfile" />@Model.documentUrl
                        @Html.ValidationMessageFor(model => model.documentUrl, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.thumbnail, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="file" name="thumbnail" />@Model.thumbnail
                        @Html.ValidationMessageFor(model => model.thumbnail, "", new { @class = "text-danger" })
                    </div>
                </div>

                <hr />

            }
            else {
                @Html.HiddenFor(model => model.name)
                @Html.HiddenFor(model => model.description)
                @Html.HiddenFor(model => model.versionName)
                @Html.HiddenFor(model => model.documentownerId)
                @Html.HiddenFor(model => model.thumbnail)
                @Html.HiddenFor(model => model.documentUrl)
            }
            if (HtmlHelperExtensions.IsAdmin())
            {
                @Html.HiddenFor(model => model.documentownerId)
                <br />
                <h3>Dokumentgodkjenning</h3>

                <div class="form-group">
                    @Html.LabelFor(model => model.Accepted, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-1">
                        @Html.RadioButtonFor(m => m.Accepted, "true", htmlAttributes: new { @onclick = "enable()", @id = "accepted" }) Ja
                    </div>
                    <div class="col-md-1">
                        @Html.RadioButtonFor(m => m.Accepted, "false", htmlAttributes: new { @onclick = "disable()", @id = "not-accepted" }) Nei
                    </div>
                    <div class="col-md-2" id="cbRetired">
                        <b>Men</b><span class="pull-right">@Html.CheckBox("retired", false, new { htmlAttributes = new { @class = "pull-right" } }) Utgått</span>
                    </div>
                </div>
                if (Model.register.name == "Tegneregler")
                {
                <div class="form-group" id="approvalCartographyFile">
                    @Html.LabelFor(model => model.CartographyFile, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <select id="CartographyFile" name="CartographyFile" class="form-control" onchange="CheckOfficial(this.value);"></select>
                        @Html.ValidationMessageFor(model => model.CartographyFile, "", new { @class = "text-danger" })
                    </div>
                </div>
                }
                    if (Model.register.name == "Produktspesifikasjoner")
                    {
                    <div class="form-group" id="sosiinfo">
                        @Html.Label("SOSI godkjent", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.CheckBox("sosi", HtmlHelperExtensions.SosiIsChecked(Model.statusId), new
                       {
                           htmlAttributes = new
                           {
                               @class = "form-control",
                               @id = "cbSosi",
                               @onload = "checksosi()"
                           }
                       }) SOSI godkjent
                            @Html.ValidationMessageFor(model => model.dateAccepted, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group" id="approvalApplicationSchema">
                        @Html.LabelFor(model => model.ApplicationSchema, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ApplicationSchema, new { htmlAttributes = new { @class = "form-control", @onchange= "GetGMLApplicationSchema();" } })
                            @Html.ValidationMessageFor(model => model.ApplicationSchema, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group" id="approvalGMLApplicationSchema">
                        @Html.LabelFor(model => model.GMLApplicationSchema, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.GMLApplicationSchema, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.GMLApplicationSchema, "", new { @class = "text-danger" })
                        </div>
                    </div>
                }
                else
                {
                    @Html.Hidden("sosi", HtmlHelperExtensions.SosiIsChecked(Model.statusId))
                }

                <div class="form-group" id="approvalDate">
                    @Html.LabelFor(model => model.dateAccepted, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.dateAccepted, new { cssClass = "date" })
                        @Html.ValidationMessageFor(model => model.dateAccepted, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" id="NotAcceptedate">
                    @Html.LabelFor(model => model.dateNotAccepted, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.dateNotAccepted, new { cssClass = "date" })
                        @Html.ValidationMessageFor(model => model.dateNotAccepted, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" id="approvalDoc">
                    @Html.LabelFor(model => model.approvalDocument, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.approvalDocument, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.approvalDocument, "", new { @class = "text-danger" })
                    </div>
                </div>

                    <div class="form-group" id="approvalRef">
                        @Html.LabelFor(model => model.approvalReference, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.approvalReference, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.approvalReference, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
            }
        }

    </div>
    <div class="form-group">
        <input type="submit" value="@Shared.Save" class="btn btn-default pull-right" />
        <a href="@Model.GetObjectUrl()">@Shared.Back</a>
    </div>
</form>
<script>
    function GetGMLApplicationSchema()
    {
        $.getJSON($("#ApplicationSchema").val(), function(result){
            console.log(result);
            $("#GMLApplicationSchema").val(result.pakke.targetNamespace + '/' + result.pakke.xsdDocument)
        });
    }

    var selectedCartograhyUrl = '@Model.CartographyFile';

    var cartographyFiles;

    function GetCartographyFiles()
    {
        $.getJSON("@WebConfigurationManager.AppSettings["RegistryCartographyUrl"]api/kartografi", function(result){

            cartographyFiles = result;

            $('#CartographyFile').append(new Option("Vennligst velg", "" ));

            $.each(cartographyFiles, function(i, obj) {
                var dataText = obj.DatasetName + ': ' + obj.Name;
                var dataValue = obj.FileUrl;
                var selected = false;
                if(dataValue == selectedCartograhyUrl)
                    selected = true;
                $('#CartographyFile').append(new Option(dataText, dataValue, false, selected ));
            });

        });
    }

    function CheckOfficial(value)
    {
        console.log(value);
        selectedCartograhyUrl = value;

        var checkedFile = false;

        $.each(cartographyFiles, function(i, obj) {

            if(obj.FileUrl == selectedCartograhyUrl)
            {
                if(obj.OfficialStatus){  
                    console.log("Official")
                    $('#not-accepted').prop('checked', false);
                    $('#accepted').prop('checked', true);
                    checkedFile = true;
                }
            }
            
        });

        if(!checkedFile){
            console.log("not official");
            $('#accepted').prop('checked', false);
            $('#not-accepted').prop('checked', true);
        }
    }

    GetCartographyFiles();
</script>

