@model Kartverket.Register.Models.GeodatalovDataset

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>GeodatalovDataset</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Owner.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Register.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Register.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Submitter.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Submitter.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Versioning.containedItemClass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Versioning.containedItemClass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seoname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seoname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateSubmitted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateSubmitted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateAccepted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAccepted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateNotAccepted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateNotAccepted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateSuperseded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateSuperseded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateRetired)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateRetired)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VersionNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VersionNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VersionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VersionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Uuid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Uuid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpecificUsage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpecificUsage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductSheetUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductSheetUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PresentationRulesUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PresentationRulesUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductSpecificationUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductSpecificationUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MetadataUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MetadataUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DistributionFormat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DistributionFormat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DistributionUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DistributionUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DistributionArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DistributionArea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WmsUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WmsUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatasetThumbnail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatasetThumbnail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DokStatusDateAccepted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DokStatusDateAccepted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UuidService)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UuidService)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DokStatus.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DokStatus.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Theme.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Theme.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InspireTheme)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InspireTheme)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dok)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dok)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NationalDataset)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NationalDataset)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Geodatalov)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Geodatalov)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AtomFeedStatus.StatusId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AtomFeedStatus.StatusId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommonStatus.StatusId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommonStatus.StatusId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GmlDataStatus.StatusId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GmlDataStatus.StatusId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MetadataStatus.StatusId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MetadataStatus.StatusId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductSpesificationStatus.StatusId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductSpesificationStatus.StatusId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SosiDataStatus.StatusId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SosiDataStatus.StatusId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WfsStatus.StatusId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WfsStatus.StatusId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WmsStatus.StatusId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WmsStatus.StatusId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
